section.sdk-solutions-a-team {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  .content {
    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
      }
    }

    small {
      display: block;
      font-size: 14px;
      font-weight: 500;
      padding-top: 16px;

      @media (min-width: 992px) {
        padding-top: 32px;
        font-size: 16px;
      }
    }
  }

  .sdk-solutions-a-team-visual {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 76px;
    }

    .sdk-code-snippet-title {
      padding-top: 8px;
      font-weight: 700;

      @media (min-width: 992px) {
        padding-top: 16px;
      }
    }

    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (min-width: 992px) {
        justify-content: flex-start;
      }
    }

    .sdk-solutions-a-team-example {
      width: 49%;

      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        transition: transform 0.2s ease-out;

        &:hover {
          transform: scale(1.03);
        }
      }
    }

    .sdk-solutions-a-team-example-custom {
      @media (min-width: 992px) {
        width: 440px;
        padding-right: 24px;
      }

      @media (min-width: 1200px) {
        width: 560px;
      }
    }

    .sdk-solutions-a-team-example-material-ui {
      @media (min-width: 992px) {
        width: 360px;
        align-self: flex-end;
      }

      @media (min-width: 1200px) {
        width: 480px;
      }

      img {
        border: 1px solid $background-medium;
      }
    }

    .sdk-solutions-a-team-example-fluent-ui {
      padding-top: 8px;

      @media (min-width: 768px) {
        padding-top: 16px;
      }

      @media (min-width: 992px) {
        width: 340px;
        padding-top: 24px;
        padding-right: 24px;
      }

      @media (min-width: 1200px) {
        width: 400px;
      }

      img {
        border: 1px solid $background-medium;
      }
    }

    .sdk-solutions-a-team-example-bootstrap {
      padding-top: 8px;

      @media (min-width: 768px) {
        padding-top: 16px;
      }

      @media (min-width: 992px) {
        width: 240px;
        padding-top: 24px;
      }

      @media (min-width: 1200px) {
        width: 320px;
      }

      img {
        border: 1px solid $background-medium;
      }
    }

    .sdk-solutions-a-team-payoff {
      font-family: $font-secondary;
      letter-spacing: -1.5px;
      color: $palette-red;
      font-size: 24px;
      padding-top: 24px;
      line-height: 0.8em;

      @media (min-width: 992px) {
        width: 200px;
        padding-left: 24px;
      }

      @media (min-width: 1200px) {
        width: 240px;
        font-size: 30px;
      }
    }
  }

  .sdk-solutions-a-team-fortune-500 {
    padding-top: 48px;

    @media (min-width: 992px) {
      padding-top: 96px;
    }

    .frame {
      p {
        @media (min-width: 992px) {
          width: 68%;
        }

        @media (min-width: 1200px) {
          width: 55%;
        }
      }
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }
}
