section.sdk-solutions-custom {
  .container {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
    }
  }

  p {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 48px;
    }
  }

  .sdk-solutions-custom-visual {
    padding-top: 48px;

    @media (min-width: 992px) {
      padding-top: 92px;
    }

    .sdk-code-snippet {
      margin-bottom: 24px;
    }

    .sdk-table-title {
      margin-top: 24px;
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }
}
