section.sdk-solutions-intro {
  .container-intro {
    @media (min-width: 576px) {
      background-image: url(../images/sdk-solutions/intro.svg);
      background-size: 160px auto;
      background-position: right 12px bottom;
      background-repeat: no-repeat;

    }

    @media (min-width: 768px) {
      background-size: 200px auto;
    }

    @media (min-width: 992px) {
      background-size: 340px auto;
    }

    @media (min-width: 1200px) {
      background-size: 580px auto;
      background-position: right 24px bottom;
    }
  }

  h1 {
    @media (min-width: 768px) {
      font-size: 40px;
      width: 90%;
    }

    @media (min-width: 992px) {
      width: 100%;
      font-size: 72px;
      letter-spacing: -4px;
    }

    @media (min-width: 1200px) {
      font-size: 80px;
    }
  }

  p {
    @media (min-width: 992px) {
      width: 90%;
    }
  }

  .container-anchors {
    display: none;
    padding-top: 40px;

    @media (min-width: 768px) {
      display: block;
      padding-top: 56px;
    }

    .row {
      text-align: center;
      display: flex;
      justify-content: center;

      ul.anchors-icons {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
