section.sdk-solutions-standard {
  .container {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
    }
  }
/*
  h2 {
    @media (min-width: 992px) {
      width: 90%;
    }

    @media (min-width: 1200px) {
      width: 95%;
    }
  }
*/
  p {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 48px;
      width: 96%;
    }
  }

  .sdk-solutions-standard-visual {
    padding-top: 48px;

    @media (min-width: 992px) {
      padding-top: 92px;
    }

    .sdk-code-snippet {
      margin-bottom: 24px;
    }

    .sdk-table-title {
      margin-top: 24px;
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }
}
