section.sdk-alternative-surveyjs-intro {
  h1 {
    @media (min-width: 992px) and (max-width: 1199px) {
      width: 95%;
    }
  }

  p {
    @media (min-width: 576px) {
      width: 93%;
    }

    @media (min-width: 768px) {
      width: 86%;
    }

    @media (min-width: 992px) {
      width: 87%;
    }

    @media (min-width: 1200px) {
      width: 85%;
    }
  }
}
