section.studio-pricing-free {
  .jumbo-footer {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 80px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .jumbo-row {
    @media (max-width: 767px) {
      margin-left: 0px;
      margin-right: 0px;
    }

    @media (min-width: 1300px) {
      margin-left: -80px;
      margin-right: -80px;
    }
  }

  .jumbo-col {
    padding: 20px 15px;
    border-radius: 8px;
    background-color: $palette-studio;
    color: #fff;

    li,
    small {
      a {
        color: #fff;
      }
    }

    @media (min-width: 768px) {
      background-image: url(../images/studio-pricing/free.svg);
      background-repeat: no-repeat;
      background-size: auto 220px;
      background-position: 40px bottom;
    }

    @media (min-width: 1200px) {
      padding: 32px 15px;
      background-size: auto 296px;
    }

    @media (min-width: 1300px) {
      padding: 48px 80px;
      background-position: 120px bottom;
    }
  }

  .jumbo-content {
    display: flex;
    align-items: stretch;

    .jumbo-content-left {
      padding-top: 4px;
      padding-bottom: 16px;

      @media (min-width: 768px) {
        padding-left: 24px;
        padding-right: 24px;
        border-right: 1px solid rgba(223, 228, 234, 0.08);
        min-height: 600px;
      }

      @media (min-width: 992px) {
        padding-top: 16px;
      }

      @media (min-width: 1200px) {
        padding-top: 20px;
        padding-bottom: 24px;
        min-height: 648px;
      }

      @media (min-width: 1300px) {
        padding-right: 32px;
        padding-left: 15px;
      }

      span {
        font-size: 16px;
        font-weight: 500;
        opacity: 0.64;
        line-height: 1em;

        @media (min-width: 992px) {
          font-size: 18px;
        }
      }

      h2 {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 1em;
        padding-top: 4px;

        @media (min-width: 768px) {
          font-size: 64px;
          letter-spacing: -2px;
        }

        @media (min-width: 992px) {
          font-size: 80px;
          letter-spacing: -4px;
        }
      }

      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5em;
        padding-top: 24px;

        @media (min-width: 768px) {
          font-size: 20px;
        }

        @media (min-width: 992px) {
          font-size: 24px;
          padding-top: 36px;
          font-weight: 600;
        }

        @media (min-width: 1200px) {
          width: 96%;
        }

        a {
          color: $text-link;
        }
      }
    }

    .jumbo-content-right {
      padding-top: 24px;
      padding-bottom: 24px;
      display: flex;
      flex-direction: column;
      align-self: center;

      @media (min-width: 768px) {
        padding-left: 24px;
        padding-right: 24px;
      }

      @media (min-width: 1300px) {
        padding-left: 64px;
        padding-right: 0px;
      }

      div.pricing-features-primary {
        padding-top: 16px;

        @media (min-width: 992px) {
          padding-top: 32px;
        }
      }

      div.pricing-features-secondary {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid rgba(223, 228, 234, 0.08);
      }

      small.pricing-footer {
        display: block;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        padding-top: 16px;
        opacity: 0.48;

        @media (min-width: 992px) {
          font-size: 13px;
        }
      }

      .button {
        margin-top: 32px;
      }
    }
  }

  .jumbo-footer {
    padding-top: 12px;

    @media (min-width: 768px) {
      text-align: center;
    }

    @media (min-width: 992px) {
      padding-top: 20px;
    }
  }
}
