section.studio-pricing-hero {
  h1 {
    padding-bottom: 32px;

    @media (min-width: 768px) {
      padding-bottom: 60px;
    }

    @media (min-width: 992px) {
      padding-bottom: 100px;
    }

    @media (min-width: 1200px) {
      padding-bottom: 120px;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(40px, -10%, 35%, auto, auto);
      @include shape-md(48px, -10%, 35%, auto, auto);
      @include shape-lg(64px, -10%, 35%, auto, auto);
      @include shape-xl(64px, -10%, 20%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-blue);
      @include shape-xs(80px, auto, auto, -60px, 20%);
      @include shape-sm(80px, auto, auto, -60px, 20%);
      @include shape-md(80px, auto, auto, -60px, 20%);
      @include shape-lg(140px, auto, auto, -100px, 20%);
      @include shape-xl(160px, auto, auto, -110px, 20%);
    }
  }
}
