section.studio-pricing-upgrades {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 56px;
    padding-bottom: 56px;

    @media (min-width: 992px) {
      padding-top: 72px;
    }

    @media (min-width: 1200px) {
      padding-top: 120px;
      padding-bottom: 96px;
    }

    .studio-pricing-upgrades-intro {
      h2 {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 1em;

        @media (min-width: 768px) {
          font-size: 40px;
          letter-spacing: -2px;
        }

        @media (min-width: 992px) {
          font-size: 48px;
          letter-spacing: -2px;
        }
      }

      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5em;
        padding-top: 16px;

        @media (min-width: 768px) {
          font-size: 20px;
        }

        @media (min-width: 992px) {
          font-size: 24px;
          letter-spacing: -1px;
          padding-top: 30px;
          font-weight: 600;
          width: 95%;
        }

        @media (min-width: 1200px) {
          width: 88%;
        }

        a {
          color: $text-link;
        }
      }
    }

    .studio-pricing-upgrades-overview {
      padding-top: 32px;

      @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-between;
      }

      @media (min-width: 992px) {
        padding-top: 64px;
      }

      @media (min-width: 1200px) {
        justify-content: flex-start;
        padding-top: 72px;
      }

      > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 32px;

        @media (min-width: 768px) {
          width: 49%;
        }

        @media (min-width: 992px) {
          width: 48%;
        }

        @media (min-width: 1200px) {
          width: 480px;
          margin-right: 64px;
        }

        .studio-pricing-upgrade-plan {
          background-color: $background-light;
          flex-grow: 1;
          border-radius: 8px;
          padding: 24px 16px 16px 16px;

          @media (min-width: 992px) {
            padding: 32px 24px 24px 24px;
          }

          @media (min-width: 1200px) {
            padding: 52px 48px 36px 48px;
          }

          .studio-pricing-upgrade-plan-intro {
            padding-bottom: 24px;
            border-bottom: 1px solid $splitter-medium;

            @media (min-width: 992px) {
              padding-bottom: 48px;
            }

            span {
              font-size: 16px;
              font-weight: 500;
              opacity: 0.64;
              line-height: 1em;

              @media (min-width: 992px) {
                font-size: 18px;
              }
            }

            h3 {
              font-size: 32px;
              font-weight: 700;
              letter-spacing: -1px;
              line-height: 1em;
              padding-top: 4px;

              @media (min-width: 768px) {
                font-size: 40px;
                letter-spacing: -2px;
              }

              @media (min-width: 992px) {
                font-size: 48px;
                letter-spacing: -2px;
              }
            }

            p {
              font-size: 16px;
              font-weight: 500;
              line-height: 1.8em;
              padding-top: 24px;

              @media (min-width: 768px) and (max-width: 991px) {
                width: 92%;
              }

              @media (min-width: 992px) {
                font-size: 18px;
                padding-top: 32px;
              }

              a {
                color: $text-link;
              }
            }
          }

          .studio-pricing-upgrade-plan-details {
            padding-top: 20px;

            @media (min-width: 992px) {
              padding-top: 36px;
            }

            h4 {
              font-size: 15px;
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: 0px;
            }

            ul.pricing-features {
              padding-top: 16px;
              padding-bottom: 16px;

              @media (min-width: 992px) {
                padding-top: 20px;
                padding-bottom: 20px;
              }
            }

            .button {
              margin-top: 10px;
            }
          }
        }

        .studio-pricing-upgrade-footer {
          padding-top: 12px;

          @media (min-width: 768px) {
            text-align: center;
          }

          @media (min-width: 992px) {
            padding-top: 20px;
          }
        }
      }
    }
  }
}
