section.sdk-usage-intro {
  .container {
    @media (min-width: 576px) {
      background-image: url(../images/sdk-usage/plainjs.svg);
      background-size: 72px auto;
      background-position: right 24px bottom 24px;
      background-repeat: no-repeat;
    }

    @media (min-width: 768px) {
      background-size: 148px auto;
      background-position: right 24px bottom 40px;
    }

    @media (min-width: 992px) {
      background-size: 280px auto;
      background-position: right 8px bottom 80px;
    }

    @media (min-width: 1200px) {
      background-size: 400px auto;
    }
  }

  h1 {
    span {
      color: $palette-sdk-plainjs;
    }
  }

  p {
    @media (min-width: 1200px) {
      width: 97%;
    }
  }

  .button-plainjs {
    background-color: $palette-sdk-plainjs;
    border-color: $palette-sdk-plainjs;
    color: $text-dark;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(240, 217, 79, 0.35);
    }

    &:hover {
      background-color: lighten($palette-sdk-plainjs, 2%);
    }
  }
}
