section.sdk-usage-runners {
  .content {
    p {
      @media (min-width: 992px) {
        width: 98%;
      }

      @media (min-width: 1200px) {
        width: 96%;
      }
    }
  }
}
