<nav class="breadcrumb-navigation block-first">
    <div class="container">
        <div class="row">
            <div class="col">
                <ol>
                    <li><a href="{{ page.base }}compare/">Compare</a></li>
                    <li class="dropdown">
                        <span role="button" class="dropdown-button active" id="compareBreadcrumbAlternatives" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"><span>Tripetto vs. {{ include.selected }}</span></span>
                        <div class="dropdown-menu" aria-labelledby="compareBreadcrumbAlternatives">
                            <a class="dropdown-item" href="{{ page.base }}typeform-alternative/">
                                <div><img src="{{ page.base }}images/alternatives/typeform.png" width="320" height="320" alt="Logo of Typeform" class="icon-alternative" /></div>
                                <div>Tripetto vs. Typeform</div>
                            </a>
                            <a class="dropdown-item" href="{{ page.base }}surveymonkey-alternative/">
                                <div><img src="{{ page.base }}images/alternatives/surveymonkey.png" width="320" height="320" alt="Logo of SurveyMonkey" class="icon-alternative" /></div>
                                <div>Tripetto vs. SurveyMonkey</div>
                            </a>
                            <a class="dropdown-item" href="{{ page.base }}googleforms-alternative/">
                                <div><img src="{{ page.base }}images/alternatives/googleforms.png" width="320" height="320" alt="Logo of Google Forms" class="icon-alternative" /></div>
                                <div>Tripetto vs. Google Forms</div>
                            </a>
                            <a class="dropdown-item" href="{{ page.base }}tally-alternative/">
                                <div><img src="{{ page.base }}images/alternatives/tally.png" width="320" height="320" alt="Logo of Tally" class="icon-alternative" /></div>
                                <div>Tripetto vs. Tally</div>
                            </a>
                            <a class="dropdown-item" href="{{ page.base }}landbot-alternative/">
                                <div><img src="{{ page.base }}images/alternatives/landbot.png" width="320" height="320" alt="Logo of Landbot" class="icon-alternative" /></div>
                                <div>Tripetto vs. Landbot</div>
                            </a>
                            <a class="dropdown-item" href="{{ page.base }}wpforms-alternative/">
                                <div><img src="{{ page.base }}images/alternatives/wpforms.png" width="320" height="320" alt="Logo of WPForms" class="icon-alternative" /></div>
                                <div>Tripetto vs. WPForms</div>
                            </a>
                            <a class="dropdown-item" href="{{ page.base }}contactform7-alternative/">
                                <div><img src="{{ page.base }}images/alternatives/contactform7.png" width="320" height="320" alt="Logo of Contact Form 7" class="icon-alternative" /></div>
                                <div>Tripetto vs. Contact Form 7</div>
                            </a>
                            <a class="dropdown-item" href="{{ page.base }}gravityforms-alternative/">
                                <div><img src="{{ page.base }}images/alternatives/gravityforms.png" width="320" height="320" alt="Logo of Gravity Forms" class="icon-alternative" /></div>
                                <div>Tripetto vs. Gravity Forms</div>
                            </a>
                            <a class="dropdown-item" href="{{ page.base }}jotform-alternative/">
                                <div><img src="{{ page.base }}images/alternatives/jotform.png" width="320" height="320" alt="Logo of JotForm" class="icon-alternative" /></div>
                                <div>Tripetto vs. JotForm</div>
                            </a>
                            <a class="dropdown-item" href="{{ page.base }}ninjaforms-alternative/">
                                <div><img src="{{ page.base }}images/alternatives/ninjaforms.png" width="320" height="320" alt="Logo of Ninja Forms" class="icon-alternative" /></div>
                                <div>Tripetto vs. Ninja Forms</div>
                            </a>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</nav>
