{% if page.attention == true %}
<a href="{{ page.base }}black-friday-sale/" class="attention">
    <strong>Up to <u>50% OFF</u> on Tripetto Pro.</strong><span>🚀</span>Get the Black Friday discount before it's gone!
</a>
{% endif %}
