
<div class="automations-visual">
    <a href="{{ page.base }}help/articles/how-to-automate-slack-notifications-for-each-new-result/" class="automation-bubble automation-slack"><img src="{{ page.base }}images/automations-services/automation-slack.svg" width="256" height="256" alt="Logo of Slack" title="Receive notifications in Slack" loading="lazy" /></a>
    <a href="{{ page.base }}help/articles/how-to-automate-email-notifications-for-each-new-result/" class="automation-bubble automation-email"><img src="{{ page.base }}images/automations-services/automation-email.svg" width="256" height="256" alt="Icon representing email" title="Receive notifications in email" loading="lazy" /></a>
    <a href="{{ page.base }}help/articles/how-to-automate-a-webhook-to-connect-to-other-services-for-each-new-result/" class="automation-bubble automation-webhooks"><img src="{{ page.base }}images/automations-services/automation-webhook.svg" width="63" height="59" alt="Icon representing webhooks" title="Connect to other services with webhhooks" loading="lazy" /></a>
    <a href="{{ page.base }}help/articles/how-to-connect-to-other-services-with-zapier/" class="automation-bubble automation-zapier"><img src="{{ page.base }}images/automations-services/automation-zapier.svg" width="256" height="256" alt="Logo of Zapier" title="Connect to other services with Zapier" loading="lazy" /></a>
    <a href="{{ page.base }}help/articles/how-to-connect-to-other-services-with-make/" class="automation-bubble automation-make"><img src="{{ page.base }}images/automations-services/automation-make.png" width="256" height="256" alt="Logo of Make" title="Connect to other services with Make" loading="lazy" /></a>
    <a href="{{ page.base }}help/articles/how-to-track-form-activity-with-google-analytics/" class="automation-bubble automation-google-analytics"><img src="{{ page.base }}images/automations-services/automation-google-analytics.svg" width="256" height="256" alt="Logo of Google Analytics" title="Track form activity with Google Analytics" loading="lazy" /></a>
    <a href="{{ page.base }}help/articles/how-to-track-form-activity-with-facebook-pixel/" class="automation-bubble automation-facebook-pixel"><img src="{{ page.base }}images/automations-services/automation-facebook-pixel.png" width="256" height="256" alt="Logo of Facebook Pixel" title="Track form activity with Facebook Pixel" loading="lazy" /></a>
    <a href="{{ page.base }}help/articles/how-to-track-form-activity-with-google-tag-manager/" class="automation-bubble automation-google-tag-manager"><img src="{{ page.base }}images/automations-services/automation-google-tag-manager.svg" width="256" height="256" alt="Logo of Google Tag Manager" title="Track form activity with Google Tag Manager" loading="lazy" /></a>
  </div>
