<div class="article-side">
    <div class="article-side-splitter">
        <span class="article-side-title">Filter articles</span>
        <ul class="article-table-of-contents">
            <li class="level-1"><span>By category</span></li>
            <li class="level-2{% if page.filter_id=="category-product" %} active{% endif %}"><a href="{{ page.base }}blog/product/">Product</a></li>
            <li class="level-2{% if page.filter_id=="category-guides" %} active{% endif %}"><a href="{{ page.base }}blog/guides/">Guides</a></li>
            <li class="level-2{% if page.filter_id=="category-comparisons" %} active{% endif %}"><a href="{{ page.base }}blog/comparisons/">Comparisons</a></li>
            <li class="level-2{% if page.filter_id=="category-tips-tricks" %} active{% endif %}"><a href="{{ page.base }}blog/tips-tricks/">Tips & tricks</a></li>
            <li class="level-2{% if page.filter_id=="category-coding-tutorials" %} active{% endif %}"><a href="{{ page.base }}blog/coding-tutorials/">Coding tutorials</a></li>
            <li class="level-1"><span>By Tripetto product</span></li>
            <li class="level-2{% if page.filter_id=="product-studio" %} active{% endif %}"><a href="{{ page.base }}blog/studio/">Studio</a></li>
            <li class="level-2{% if page.filter_id=="product-wordpress" %} active{% endif %}"><a href="{{ page.base }}blog/wordpress/">WordPress plugin</a></li>
            <li class="level-2{% if page.filter_id=="product-sdk" %} active{% endif %}"><a href="{{ page.base }}blog/sdk/">FormBuilder SDK</a></li>
            <li class="level-1"><span>By year</span></li>
            <li class="level-2{% if page.filter_id=="year-2024" %} active{% endif %}"><a href="{{ page.base }}blog/2024/">2024</a></li>
            <li class="level-2{% if page.filter_id=="year-2023" %} active{% endif %}"><a href="{{ page.base }}blog/2023/">2023</a></li>
            <li class="level-2{% if page.filter_id=="year-2022" %} active{% endif %}"><a href="{{ page.base }}blog/2022/">2022</a></li>
            <li class="level-2{% if page.filter_id=="year-2021" %} active{% endif %}"><a href="{{ page.base }}blog/2021/">2021</a></li>
            <li class="level-2{% if page.filter_id=="year-2020" %} active{% endif %}"><a href="{{ page.base }}blog/2020/">2020</a></li>
            <li class="level-2{% if page.filter_id=="year-2019" %} active{% endif %}"><a href="{{ page.base }}blog/2019/">2019</a></li>
            <li class="level-2{% if page.filter_id=="year-2018" %} active{% endif %}"><a href="{{ page.base }}blog/2018/">2018</a></li>
            <li class="level-2{% if page.filter_id=="year-2017" %} active{% endif %}"><a href="{{ page.base }}blog/2017/">2017</a></li>
        </ul>
    </div>
</div>
