<footer{% if page.color == "dark" %} class="template-dark"{% endif %}>
    <div class="container">
        <div class="row footer-navigation footer-navigation-versions">
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-6 col-md-3 footer-branding">
                        <div>
                            <img src="{{ page.base }}images/tripetto-logo{% if page.color == "dark" %}-white{% endif %}.svg" width="32" height="32" alt="Logo Tripetto" class="logo"/>
                            <h6>Tripetto</h6>
                        </div>
                        <small>The plug-and-play form solution for your site or app.</small>
                        <a href="{{ page.base }}subscribe/">Receive product news</a>
                    </div>
                    <div class="col-6 col-md-3 footer-menu">
                        <small>In the cloud</small>
                        <h6>Studio</h6>
                        <ul>
                            <li><a href="{{ page.base }}studio/">Product</a></li>
                            <li><a href="{{ page.base }}studio/features/">Features</a></li>
                            <li><a href="{{ page.base }}studio/pricing/">Studio Pricing</a></li>
                            <li><a href="{{ page.base }}studio/help/">Help Center</a></li>
                            <li><a href="{{ page.base }}studio/help/video-tutorials/">Video Tutorials</a></li>
                            <li><a href="{{ site.url_app }}" target="_blank">Start For Free</a></li>
                            <li><a href="{{ site.url_app }}" target="_blank">Sign In</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 footer-menu">
                        <small>Inside WordPress</small>
                        <h6>WordPress Plugin</h6>
                        <ul>
                            <li><a href="{{ page.base }}wordpress/">Plugin</a></li>
                            <li><a href="{{ page.base }}wordpress/features/">Features</a></li>
                            <li><a href="{{ page.base }}wordpress/pricing/">Plugin Pricing</a></li>
                            <li><a href="{{ page.base }}wordpress/help/">Help Center</a></li>
                            <li><a href="{{ page.base }}wordpress/help/video-tutorials/">Video Tutorials</a></li>
                            <li><a href="{{ site.url_wordpress_plugin }}" target="_blank">Download Free Plugin</a></li>
                            <li><a href="{{ page.base }}wordpress/pricing/">Upgrade To Pro</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 footer-menu">
                        <small>In your app</small>
                        <h6>FormBuilder SDK</h6>
                        <ul>
                            <li><a href="{{ page.base }}sdk/">Development Kit</a></li>
                            <li><a href="{{ page.base }}sdk/how-it-works/">How It Works</a></li>
                            <li><a href="{{ page.base }}sdk/components/">Components</a></li>
                            <li><a href="{{ page.base }}sdk/solutions/">Setup Solutions</a></li>
                            <li><a href="{{ page.base }}sdk/self-hosting/">Self-Hosting</a></li>
                            <li><a href="{{ page.base }}sdk/docs/">Documentation</a></li>
                            <li><a href="{{ page.base }}sdk/pricing/">SDK Pricing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12"><hr /></div>
        </div>
        <div class="row footer-navigation footer-navigation-global">
            <div class="col-6 col-sm-4 col-lg-2 footer-menu">
                <h6>Versions</h6>
                <ul>
                    <li><a href="{{ page.base }}studio/">Studio</a></li>
                    <li><a href="{{ page.base }}wordpress/">WordPress Plugin</a></li>
                    <li><a href="{{ page.base }}sdk/">FormBuilder SDK</a></li>
                    <li><a href="{{ page.base }}versions/">Version Picker</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 footer-menu">
                <h6>Resources</h6>
                <ul>
                    <li><a href="{{ page.base }}examples/">Examples</a></li>
                    <li><a href="{{ page.base }}help/">Help Center</a></li>
                    <li><a href="{{ page.base }}support/">Support</a></li>
                    <li><a href="{{ page.base }}reviews/">User Reviews</a></li>
                    <li><a href="{{ page.base }}changelog/">Changelog</a></li>
                    <li><a href="{{ page.base }}roadmap/">Roadmap</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 footer-menu">
                <h6>Spotlight</h6>
                <ul>
                    <li><a href="{{ page.base }}form-layouts/">Form Layouts</a></li>
                    <li><a href="{{ page.base }}magnetic-form-builder/">Magnetic Builder</a></li>
                    <li><a href="{{ page.base }}hosting-freedom/">Hosting Freedom</a></li>
                    <li><a href="{{ page.base }}data-automations/">Data Automations</a></li>
                    <li><a href="{{ page.base }}question-types/">Question Types</a></li>
                    <li><a href="{{ page.base }}logic-types/">Logic Types</a></li>
                    <li><a href="{{ page.base }}calculator/">Calculator</a></li>
                    <li><a href="{{ page.base }}no-code-vs-code/">No-code vs. code</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 footer-menu">
                <h6>Company</h6>
                <ul>
                    <li><a href="{{ page.base }}contact/">Team</a></li>
                    <li><a href="{{ page.base }}blog/">Blog</a></li>
                    <li><a href="{{ page.base }}contact/">Contact</a></li>
                    <li><a href="{{ page.base }}others-about-us/">Others About Us</a></li>
                    <li><a href="{{ page.base }}partner-with-us/">Partner With Us</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 footer-menu">
                <h6>Compare</h6>
                <ul>
                    <li><a href="{{ page.base }}typeform-alternative/">Typeform</a></li>
                    <li><a href="{{ page.base }}surveymonkey-alternative/">SurveyMonkey</a></li>
                    <li><a href="{{ page.base }}googleforms-alternative/">Google Forms</a></li>
                    <li><a href="{{ page.base }}wpforms-alternative/">WPForms</a></li>
                    <li><a href="{{ page.base }}gravityforms-alternative/">Gravity Forms</a></li>
                    <li><a href="{{ page.base }}contactform7-alternative/">Contact Form 7</a></li>
                    <li><a href="{{ page.base }}compare/">All Comparisons</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-notes">
            <div class="col-12 order-sm-1"><hr /></div>
            <div class="col-sm-6 order-sm-3 footer-socials">
                <a href="https://x.com/tripetto" target="_blank" rel="noopener noreferrer" class="social x-twitter"><i class="fab fa-x-twitter fa-fw" title="Tripetto on X"></i></a>
                <a href="https://www.facebook.com/tripetto" target="_blank" rel="noopener noreferrer" class="social facebook"><i class="fab fa-facebook-f fa-fw" title="Tripetto on Facebook"></i></a>
                <a href="https://www.linkedin.com/company/tripetto" target="_blank" rel="noopener noreferrer" class="social linkedin"><i class="fab fa-linkedin-in fa-fw" title="Tripetto on LinkedIn"></i></a>
                <a href="https://www.youtube.com/channel/UC_OBWRmc5A-R0QkIglEqAyg" target="_blank" rel="noopener noreferrer" class="social youtube"><i class="fab fa-youtube fa-fw" title="Tripetto on YouTube"></i></a>
                <a href="https://medium.com/tripetto" target="_blank" rel="noopener noreferrer" class="social medium"><i class="fab fa-medium-m fa-fw" title="Tripetto on Medium"></i></a>
            </div>
            <div class="col-sm-6 order-sm-2 footer-copyright">Copyright © 2014-{{ "now" | date: "%Y" }} Tripetto</div>
        </div>
    </div>
</footer>
