<li>
    <div id="nav{{ include.position }}Products" class="dropdown{% if page.menu == "products" %} active{% endif %}"><span role="button" aria-controls="menu{{ include.position }}Products" aria-haspopup="true" aria-expanded="false">Products</span>{% if include.position == "Vertical" %}<i class="fas fa-chevron-down dropdown-mobile"></i>{% endif %}
    {% include header-navigation-menu.html id='Products' position=include.position studio='Tripetto in the cloud' studio_url='studio/' wordpress='Tripetto inside WordPress' wordpress_url='wordpress/' sdk='Tripetto in your app or site' sdk_url='sdk/' -%}
    </div>
</li>
<li><a href="{{ page.base }}examples/"{% if page.menu == "examples" or layout.menu == "examples" %} class="active"{% endif %}><span>Examples</span></a></li>
<li class="header-nav-split">
    <div id="nav{{ include.position }}Pricing" class="dropdown{% if page.menu == "pricing" %} active{% endif %}"><span role="button" aria-controls="menu{{ include.position }}Pricing" aria-haspopup="true" aria-expanded="false">Pricing</span>{% if include.position == "Vertical" %}<i class="fas fa-chevron-down dropdown-mobile"></i>{% endif %}
    {% include header-navigation-menu.html id='Pricing' position=include.position studio='Free plan, optional paid upgrades' studio_url='studio/pricing/' wordpress='Free plugin, optional paid subscriptions' wordpress_url='wordpress/pricing/' sdk='Free development, paid production licenses' sdk_url='sdk/pricing/' -%}
    </div>
</li>
<li class="header-nav-secondary">
    <div id="nav{{ include.position }}Help" class="dropdown{% if page.menu == "help" or layout.menu == "help" %} active{% endif %}"><span role="button" aria-controls="menu{{ include.position }}Help" aria-haspopup="true" aria-expanded="false">Help Center</span>{% if include.position == "Vertical" %}<i class="fas fa-chevron-down dropdown-mobile"></i>{% endif %}
    {% include header-navigation-menu.html id='Help' position=include.position align='right' studio='Help articles, videos etc.' studio_url='studio/help/' wordpress='Help articles, videos etc.' wordpress_url='wordpress/help/' sdk='Guides, developer docs etc.' sdk_url='sdk/docs/' hide_versions=true -%}
    </div>
</li>
<li class="header-nav-secondary">
    <div id="nav{{ include.position }}SignIn" class="dropdown"><span role="button" aria-controls="menu{{ include.position }}SignIn" aria-haspopup="true" aria-expanded="false">Sign In</span>{% if include.position == "Vertical" %}<i class="fas fa-chevron-down dropdown-mobile"></i>{% endif %}
    {% include header-navigation-menu.html id='SignIn' position=include.position align='right' studio='Sign in to your studio account' studio_launch=true wordpress='Sign in to your own WP Admin' wordpress_url='help/articles/how-to-install-the-wordpress-plugin/' hide_versions=true -%}
    </div>
</li>
{% if page.hide_cta != true -%}<li class="header-nav-cta"><a href="{{ page.base }}versions/" class="button button-small"><span>Get Started</span></a></li>{% endif -%}
