<header id="header"{% if page.color == "dark" %} class="template-dark"{% endif %}{% if page.color == "hero-dark" %} class="hero-dark"{% endif %}{% if page.notification %} class="header-notification"{% endif %}>
    <div class="container">
        <div class="row header-horizontal">
            <div>
                <a href="{{ page.base }}" class="logo{% if page.menu == "index" %} active{% endif %}"><img src="{{ page.base }}images/tripetto-logo{% if page.color == "dark" %}-white{% endif %}.svg" width="24" height="24" alt="Logo Tripetto" /><span>Tripetto</span></a>
                <nav class="d-none d-lg-inline-block">
                    <ul>{% include header-navigation.html position='Horizontal' %}</ul>
                </nav>
            </div>
            <div>
                <div class="d-lg-none hamburger" role="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block d-lg-none">
        <div class="header-mobile-overlay" id="navOverlay">
            <div class="container">
                <div class="row header-vertical">
                    <div class="col">
                        <nav>
                            <ul>{% include header-navigation.html position='Vertical' %}</ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
