
<div id="menu{{ include.position }}{{ include.id }}" role="menu" aria-labelledby="nav{{ include.position }}{{ include.id }}" class="dropdown-menu{% if include.align == "right" %} dropdown-menu-lg-right{% endif %}">
    {% if include.studio %}
    <a href="{% if include.studio_launch == true %}{{ site.url_app }}{% else %}{{ page.base | append: include.studio_url }}{% endif %}"{% if include.studio_launch == true %} target="_blank"{% endif %} class="dropdown-menu-primary">
        <div>{% include icon-product.html product='studio' name='Tripetto studio' width='46' height='39' %}</div>
        <div>
            <span><span>Studio</span></span>
            <span>{{ include.studio }}</span>
        </div>
    </a>
    {% endif %}
    {% if include.wordpress %}
    <a href="{{ page.base | append: include.wordpress_url }}" class="dropdown-menu-primary">
        <div>{% include icon-product.html product='wordpress' name='Tripetto WordPress plugin' width='48' height='39' %}</div>
        <div>
            <span><span>WordPress plugin</span></span>
            <span>{{ include.wordpress }}</span>
        </div>
    </a>
    {% endif %}
    {% if include.sdk %}
    <a href="{{ page.base | append: include.sdk_url }}" class="dropdown-menu-primary" target="_blank">
        <div><img src="{{ page.base }}images/icons-products/sdk.svg" width="48" height="48" alt="Tripetto FormBuilder SDK" /></div>
        <div>
            <span><span>FormBuilder SDK</span></span>
            <span>{{ include.sdk }}</span>
        </div>
    </a>
    {% endif %}
    {% if include.hide_versions != true %}<a href="{{ page.base }}versions/" class="dropdown-menu-secondary"><i class="fas fa-chevron-right"></i><span>Which version do I need?</span></a>{% endif %}
</div>
