{% assign data_author = site.data.authors[include.author] %}

<div class="article-info">
    <div class="article-info-avatar">
        <img src="{{ page.base }}images/team/{{ data_author.avatar }}" width="60" height="64" alt="{{ data_author.name }} ({{ data_author.role }})" class="img-fluid" />
    </div>
    <div class="article-info-content">
        <div>{{ data_author.name }}</div>
        <small>{{ data_author.role }}</small>
    </div>
</div>
