<section class="help-videos-chapter">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="help-videos-chapter-title"><h2>Tripetto basics</h2></div>
          {% assign video_basics = site.data.help-videos['build-simple-form'] %}
          <a data-toggle="modal" data-target="#videoModal" data-video="{{ video_basics.youtube }}" class="help-video-quickstart"><img src="{{ page.base }}images/help-videos-thumbnails/quickstart.png" width="1072" height="360" alt="Visual thumbnail for the video '{{ video_basics.name }}'" /></a>
          {% if page.videos %}
          <ul class="help-videos">
            {% for video in include.videos %}
            {% assign video_item = site.data.help-videos[video] %}
            <li><a data-toggle="modal" data-target="#videoModal" data-video="{{ video_item.youtube }}"><img src="{{ page.base }}images/help-videos-thumbnails/{{ video_item.thumbnail }}" width="256" height="144" alt="Visual thumbnail for the video '{{ video_item.name }}'" /></a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col help-videos-chapter-anchors">
          <ul>
            <li>
              <a href="#build" class="anchor">
                <img src="{{ page.base }}images/help-videos/chapter-build.png" width="192" height="192" alt="Visual anchor to videos about building" />
                <span>Build</span>
              </a>
            </li>
            <li>
              <a href="#logic" class="anchor">
                <img src="{{ page.base }}images/help-videos/chapter-logic.png" width="192" height="192" alt="Visual anchor to videos about logic" />
                <span>Vitalize</span>
              </a>
            </li>
            <li>
              <a href="#customization" class="anchor">
                <img src="{{ page.base }}images/help-videos/chapter-customization.png" width="192" height="192" alt="Visual anchor to videos about customization" />
                <span>Customize</span>
              </a>
            </li>
            <li>
              <a href="#automations" class="anchor">
                <img src="{{ page.base }}images/help-videos/chapter-automations.png" width="192" height="192" alt="Visual anchor to videos about automations" />
                <span>Automate</span>
              </a>
            </li>
            <li>
              <a href="#sharing" class="anchor help-videos-chapter-anchors-offset">
                <img src="{{ page.base }}images/help-videos/chapter-sharing.png" width="192" height="192" alt="Visual anchor to videos about sharing" />
                <span>Share</span>
              </a>
            </li>
            <li>
              <a href="#hosting" class="anchor">
                <img src="{{ page.base }}images/help-videos/chapter-hosting.png" width="192" height="192" alt="Visual anchor to videos about data storage" />
                <span>Store</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr />
        </div>
      </div>
    </div>
  </section>
