<section class="help-videos-chapter">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="help-videos-chapter-title" id="{{ include.category }}">
            <div>{% include icon-chapter.html chapter=include.category size='normal' name=include.title %}</div>
            <h2>{{ include.title }}</h2>
          </div>
          <ul class="help-videos">
            {% assign videos = site.data.help-videos | where_exp: "item", "item.category == include.video_category" %}
            {% for video in videos %}
            <li><a data-toggle="modal" data-target="#videoModal" data-video="{{ video.youtube }}"><img src="{{ page.base }}images/help-videos-thumbnails/{{ video.thumbnail }}" width="256" height="144" alt="Visual thumbnail for the video '{{ video.name }}'" /></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col help-videos-chapter-footer">
          <a href="{{ page.base }}{{ include.url }}" class="hyperlink palette-{{ include.category }}"><span>{{ include.link }}</span><i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
      {% if include.category != 'hosting' %}
      <div class="row">
        <div class="col">
          <hr />
        </div>
      </div>
      {% endif %}
    </div>
  </section>
