<nav class="breadcrumb-navigation block-first" aria-label="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col">
        <ol>
          <li><a href="{{ page.base }}{{include.area_url}}/">{{include.area_name}}</a></li>
          <li><a href="{{ page.base }}{{include.area_url}}/help/">Help Center</a></li>
          <li><span>Videos</span></li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<section class="help-videos-intro intro intro-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-9 shape-before">
          <h1>{% if include.area == 'studio' %}Studio{% else %}Plugin{% endif %} Videos</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-8 col-xl-8 shape-after">
          <p>Because Tripetto takes things to the next level in so many different ways, we’ve packed all the {% if include.area == 'studio' %}studio{% else %}plugin{% endif %} basics in <strong>step-by-step video tutorials</strong>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr />
        </div>
      </div>
    </div>
  </section>
