<div class="icon-face icon-face-{{ include.face }} icon-face-{{ include.size }}{% if include.template == "background" or include.template == "sdk" %} icon-face-background{% endif %}{% if include.template == "sdk" %} icon-face-sdk{% endif %}{% if include.radius == "medium" %} icon-face-radius-medium{% endif %}{% if include.radius == "large" %} icon-face-radius-large{% endif %}">
  {% if include.template == "label" %}<span>{{ include.name }}</span>{% endif %}
  <img src="{{ page.base }}images/{% if include.template == "sdk" %}sdk-{% endif %}icons-faces/{{ include.face }}.svg" alt="Illustration representing {{ include.name }}" />
</div>
