<li>
  <div class="palette-{{ include.category_id }}" onclick="window.location='{{ include.url }}';">
    <a href="{{ include.url }}"><h3>{{ include.title }}</h3></a>
    <p>{{ include.description }}</p>
  </div>
</li>
