{% if page.notification %}
<section class="notification">
    <div class="container">
        <div class="row">
            <div class="col">
                <div><span>Not a WordPress user?</span></div>
                <div>{% if page.notification == "studio-pricing" %}<a href="{{ page.base }}studio/pricing/" class="notification-secondary">{% elsif page.notification == "studio-help" %}<a href="{{ page.base }}studio/help/" class="notification-secondary">{% else %}<a href="{{ page.base }}studio/" class="notification-secondary">{% endif %}Find other Tripetto versions.</a></div>
            </div>
        </div>
    </div>
</section>
{% endif %}
