<section class="ranked{% if include.template %} {{ include.template }}{% endif %}">
    <div class="container">
    <div class="row">
      <div class="col-12 ranked-content">
        <h2>Proudly Ranked</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 ranked-content">
        <div class="ranked-rating">
          {% for i in (1..5) -%}
          <i class="fas fa-star"></i>
          {% endfor -%}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="tiles-logo tiles-logo-three">
          {% include tile-ranked.html url='https://wordpress.org/support/plugin/tripetto/reviews/' logo='wordpress.png' name='WP.org' %}
          {% include tile-ranked.html url='https://www.g2.com/products/tripetto/reviews' logo='g2.png' name='G2' %}
          {% include tile-ranked.html url='https://www.producthunt.com/products/tripetto' logo='producthunt.png' name='Product Hunt' %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>
  </div>
</section>
