<div class="sdk-icon-component sdk-icon-component-{{ include.component }} sdk-icon-component-{{ include.size }}{% if include.radius == "medium" %} sdk-icon-component-radius-medium{% endif %}{% if include.radius == "large" %} sdk-icon-component-radius-large{% endif %}">
  {% if include.template == "label" %}<span>{{ include.name }}</span>{% endif %}
  <img src="{{ page.base }}images/sdk-icons-components/{{ include.component }}.svg" alt="Illustration representing {{ include.name }}" />
</div>
