
<div class="sdk-storage">
    <div class="sdk-storage-security">
      <img src="{{ page.base }}images/sdk-storage/lock.svg" width="160" height="210" alt="Icon of a lock" loading="lazy" />
      {% if include.layout == "arrow" %}
      <i class="fas fa-arrow-down sdk-demo-arrow"></i>
      {% else %}
      <p><strong>Run and store everything where you want</strong> and without any dependencies on unwanted infrastructure.</p>
      {% endif %}
    </div>
    <div class="ticker-holder ticker-connections">
      <div>
        <ul class="ticker-blocks ticker-sdk-storage-hosts">
          {% assign hosts = site.data.sdk-storage-hosts %}
          {% for item in hosts %}
          <li>
            <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ page.base }}images/sdk-storage-hosts/{{ item.logo }}" width="64" height="64" alt="Logo of {{ item.name }}" loading="lazy" />
            <span>{{ item.name }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
        <ul class="ticker-blocks ticker-sdk-storage-databases">
          {% assign databases = site.data.sdk-storage-databases %}
          {% for item in databases %}
          <li>
            <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ page.base }}images/sdk-storage-databases/{{ item.logo }}" width="64" height="64" alt="Logo of {{ item.name }}" loading="lazy" />
            <span>{{ item.name }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
        <ul class="ticker-blocks ticker-sdk-storage-services">
          {% assign services = site.data.sdk-storage-services %}
          {% for item in services %}
          <li>
            <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ page.base }}images/sdk-storage-services/{{ item.logo }}" width="64" height="64" alt="Logo of {{ item.name }}" loading="lazy" />
            <span>{{ item.name }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
