<div class="sdk-code-snippet{% if include.class %} {{ include.class }}{% endif %}">
    <ul class="nav nav-tabs nav-fill sdk-code-snippet-nav" role="tablist">
        <li class="nav-item"><a class="nav-link active" id="nav-{{ include.id }}-javascript" data-toggle="tab" href="#{{ include.id }}-javascript" role="tab" aria-controls="{{ include.id }}-javascript" aria-selected="true" title="Implement the chat runner with JavaScript">{% include icons/javascript.html %}</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-{{ include.id }}-react" data-toggle="tab" href="#{{ include.id }}-react" role="tab" aria-controls="{{ include.id }}-react" aria-selected="false" title="Implement the chat runner with React">{% include icons/react.html %}</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-{{ include.id }}-angular" data-toggle="tab" href="#{{ include.id }}-angular" role="tab" aria-controls="{{ include.id }}-angular" aria-selected="false" title="Implement the chat runner with Angular">{% include icons/angular.html %}</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-{{ include.id }}-html5" data-toggle="tab" href="#{{ include.id }}-html5" role="tab" aria-controls="{{ include.id }}-html5" aria-selected="false" title="Implement the chat runner with HTML5">{% include icons/html5.html %}</a></li>
    </ul>
    <div class="tab-content sdk-code-snippet-content">
        <div class="tab-pane fade show active" id="{{ include.id }}-javascript" role="tabpanel" aria-labelledby="nav-{{ include.id }}-javascript">
        {% include sdk-code-snippet-pane.html active=true code="runners-javascript.html" face="chat" face-name="Chat" language="javascript" palette="runners" url-run="https://codesandbox.io/s/tripetto-sdk-runner-chat-handling-response-data-ju5rv?file=/src/index.ts" url-docs="https://tripetto.com/sdk/docs/runner/stock/quickstart/plain-js/" %}
        </div>
        <div class="tab-pane fade" id="{{ include.id }}-react" role="tabpanel" aria-labelledby="nav-{{ include.id }}-react">
        {% include sdk-code-snippet-pane.html active=false code="runners-react.html" face="chat" face-name="Chat" language="jsx" palette="runners" url-run="https://codesandbox.io/s/tripetto-sdk-runner-chat-react-handling-response-data-1xq9h?file=/src/index.js" url-docs="https://tripetto.com/sdk/docs/runner/stock/quickstart/react/" %}
        </div>
        <div class="tab-pane fade" id="{{ include.id }}-angular" role="tabpanel" aria-labelledby="nav-{{ include.id }}-angular">
        {% include sdk-code-snippet-pane.html active=false code="runners-angular.html" face="chat" face-name="Chat" language="javascript" palette="runners" url-run="https://codesandbox.io/s/tripetto-sdk-runner-chat-angular-collecting-response-data-elxd2?file=/src/app/app.component.html" url-docs="https://tripetto.com/sdk/docs/runner/stock/quickstart/angular/" %}
        </div>
        <div class="tab-pane fade" id="{{ include.id }}-html5" role="tabpanel" aria-labelledby="nav-{{ include.id }}-html5">
            <ul class="nav nav-tabs sdk-code-snippet-subnav" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="nav-{{ include.id }}-html5-jsdelivr" data-toggle="tab" href="#{{ include.id }}-html5-jsdelivr" role="tab" aria-controls="{{ include.id }}-html5-jsdelivr" aria-selected="true">jsDelivr</a></li>
                <li class="nav-item"><a class="nav-link" id="nav-{{ include.id }}-html5-unpkg" data-toggle="tab" href="#{{ include.id }}-html5-unpkg" role="tab" aria-controls="{{ include.id }}-html5-unpkg" aria-selected="false">unpkg</a></li>
            </ul>
            <div class="tab-content sdk-code-snippet-subcontent" id="{{ include.id }}-html5-content">
                <div class="tab-pane fade show active" id="{{ include.id }}-html5-jsdelivr" role="tabpanel" aria-labelledby="nav-{{ include.id }}-html5-jsdelivr">
                {% include sdk-code-snippet-pane.html active=true code="runners-html5-jsdelivr.html" face="chat" face-name="Chat" language="html" palette="runners" url-run="https://codepen.io/tripetto/pen/eb46c1463dd72556c2dd219150dd80fa" url-docs="https://tripetto.com/sdk/docs/runner/stock/quickstart/html/" %}
                </div>
                <div class="tab-pane fade" id="{{ include.id }}-html5-unpkg" role="tabpanel" aria-labelledby="nav-{{ include.id }}-html5-unpkg">
                {% include sdk-code-snippet-pane.html active=false code="runners-html5-unpkg.html" face="chat" face-name="Chat" language="html" palette="runners" url-run="https://codepen.io/tripetto/pen/e26cc00e6d71f8d8e02d8641633ca97c" url-docs="https://tripetto.com/sdk/docs/runner/stock/quickstart/html/" %}
                </div>
            </div>
        </div>
    </div>
</div>
