
<div class="sdk-code-snippet">
    <ul class="nav nav-tabs nav-fill sdk-code-snippet-nav sdk-code-snippet-nav-single" role="tablist">
        <li class="nav-item"><a class="nav-link active" id="nav-{{ include.id }}-typescript" data-toggle="tab" href="#{{ include.id }}-typescript" role="tab" aria-controls="{{ include.id }}-typescript" aria-selected="true" title="Develop custom blocks with TypeScript">{% include icons/typescript.html %}</a></li>
    </ul>
    <div class="tab-content sdk-code-snippet-content">
        <div class="tab-content sdk-code-snippet-content" id="{{ include.id }}-typescript-content">
            <div class="tab-pane fade show active" id="{{ include.id }}-typescript" role="tabpanel" aria-labelledby="nav-{{ include.id }}-typescript">
                {% include sdk-code-snippet-pane.html active=false code="block-runner.html" language="typescript" palette="custom" url-run="https://codesandbox.io/s/tripetto-sdk-blocks-visual-block-text-input-example-runner-part-1itmzb?file=/src/text-input-block.tsx" url-docs="https://tripetto.com/sdk/docs/blocks/custom/implement/visual/#runner-part" %}
            </div>
        </div>
    </div>
</div>
