<script src="{{ page.base }}vendors/jquery.js?v={{ site.cache_version }}"></script>
<script src="{{ page.base }}vendors/popper.js?v={{ site.cache_version }}"></script>
<script src="{{ page.base }}vendors/bootstrap.js?v={{ site.cache_version }}"></script>
<script src="{{ page.base }}js/redirect.js?v={{ site.cache_version }}"></script>
<script src="{{ page.base }}js/header.js?v={{ site.cache_version }}"></script>
{% for script in layout.scripts -%}
<script src="{{ page.base }}js/{{ script }}.js?v={{ site.cache_version }}" defer></script>
{% endfor -%}
{% for script in page.scripts -%}
<script src="{{ page.base }}js/{{ script }}.js?v={{ site.cache_version }}" defer></script>
{% endfor -%}
{% for vendor in page.vendors -%}
<script src="{{ page.base }}sdk-demo/vendors/{{ vendor }}.js?v={{ site.cache_version }}"></script>
{% endfor -%}
{% if page.attention == true %}<script src="{{ page.base }}js/attention.js"></script>{% endif %}
