<header id="header"{% if page.color == "dark" %} class="template-dark"{% endif %}{% if page.notification %} class="header-notification"{% endif %}>
    <div class="container">
        <div class="row header-horizontal">
            <div>
                <a href="{{ page.base }}sdk/" class="logo{% if page.menu == "sdk-index" %} active{% endif %}"><img src="{{ page.base }}images/tripetto-logo.svg" width="24" height="24" alt="Logo Tripetto FormBuilder SDK" /><span>FormBuilder SDK</span></a>
                <nav class="d-none d-lg-inline-block">
                    <ul>{% include sdk-header-navigation.html %}</ul>
                </nav>
            </div>
            <div>
                <div class="d-lg-none hamburger" role="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block d-lg-none">
        <div class="header-mobile-overlay" id="navOverlay">
            <div class="container">
                <div class="row header-vertical">
                    <div class="col">
                        <nav>
                            <ul>{% include sdk-header-navigation.html %}</ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="container header-mobile-cta header-mobile-cta-sdk">
                <div class="row">
                    <div class="col"><img src="{{ page.base }}images/menu-sdk.svg" width="64" height="100" alt="Human sitting on the Get Started button."/></div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{{ page.base }}sdk/solutions/" class="button">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
