<div class="sdk-code-snippet{% if include.class %} {{ include.class }}{% endif %}">
    <ul class="nav nav-tabs nav-fill sdk-code-snippet-nav sdk-code-snippet-nav-single" role="tablist">
        <li class="nav-item"><a class="nav-link active" id="nav-{{ include.id }}-typescript" data-toggle="tab" href="#{{ include.id }}-typescript" role="tab" aria-controls="{{ include.id }}-typescript" aria-selected="true" title="Develop custom blocks with TypeScript">{% include icons/typescript.html %}</a></li>
    </ul>
    <div class="tab-content sdk-code-snippet-content">
        <div class="tab-pane fade show active" id="{{ include.id }}-typescript" role="tabpanel" aria-labelledby="nav-{{ include.id }}-typescript">
            <ul class="nav nav-tabs sdk-code-snippet-subnav" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="nav-{{ include.id }}-typescript-builder" data-toggle="tab" href="#{{ include.id }}-typescript-builder" role="tab" aria-controls="{{ include.id }}-typescript-builder" aria-selected="true">Builder</a></li>
                <li class="nav-item"><a class="nav-link" id="nav-{{ include.id }}-typescript-runner" data-toggle="tab" href="#{{ include.id }}-typescript-runner" role="tab" aria-controls="{{ include.id }}-typescript-runner" aria-selected="false">Runner</a></li>
            </ul>
            <div class="tab-content sdk-code-snippet-subcontent" id="{{ include.id }}-typescript-content">
                <div class="tab-pane fade show active" id="{{ include.id }}-typescript-builder" role="tabpanel" aria-labelledby="nav-{{ include.id }}-typescript-builder">
                {% include sdk-code-snippet-pane.html active=true code="block-builder.html" language="typescript" palette="custom" url-run="https://codesandbox.io/s/tripetto-sdk-blocks-visual-block-text-input-example-builder-part-dimmp8?file=/src/text-input-block.ts" url-docs="https://tripetto.com/sdk/docs/blocks/custom/implement/visual/#builder-part" %}
                </div>
                <div class="tab-pane fade" id="{{ include.id }}-typescript-runner" role="tabpanel" aria-labelledby="nav-{{ include.id }}-typescript-runner">
                {% include sdk-code-snippet-pane.html active=false code="block-runner.html" language="typescript" palette="custom" url-run="https://codesandbox.io/s/tripetto-sdk-blocks-visual-block-text-input-example-runner-part-1itmzb?file=/src/text-input-block.tsx" url-docs="https://tripetto.com/sdk/docs/blocks/custom/implement/visual/#runner-part" %}
                </div>
            </div>
        </div>
    </div>
</div>
