<div class="row sdk-features">
    <div class="col-6 col-lg-3 sdk-features-column">
      <div>
        <i class="fas fa-masks-theater palette-sdk-runners"></i>
        <h3>Form faces</h3>
        <p>Pick the Typeform-like, chat, or classic form experience, and then fully customize it for the optimal fit with your audience.</p>
        <a href="{{ page.base }}sdk/docs/runner/stock/faces/" class="hyperlink hyperlink-small palette-sdk-runners"><span>About convertible form faces</span></a>
      </div>
    </div>
    <div class="col-6 col-lg-3 sdk-features-column">
      <div>
        <i class="fas fa-paintbrush palette-sdk-runners"></i>
        <h3>Styling included</h3>
        <p>Tailor things with customizable fonts, colors, buttons, labels, backgrounds, input controls, and much more.</p>
        <a href="{{ page.base }}sdk/docs/runner/stock/guides/styles/" class="hyperlink hyperlink-small palette-sdk-runners"><span>How to style things</span></a>
      </div>
    </div>
    <div class="col-6 col-lg-3 sdk-features-column">
      <div>
        <i class="fas fa-truck-fast palette-sdk-runners"></i>
        <h3>Finite state machine</h3>
        <p>The runner is a finite state machine that handles form logic and response collection during form execution.</p>
        <a href="{{ page.base }}sdk/docs/runner/introduction/" class="hyperlink hyperlink-small palette-sdk-runners"><span>About the runner engine</span></a>
      </div>
    </div>
    <div class="col-6 col-lg-3 sdk-features-column">
      <div>
        <i class="fas fa-wand-magic-sparkles palette-sdk-runners"></i>
        <h3>Custom runners</h3>
        <p>The runner engine is headless and built for developers to develop their own custom UI and UX layers on top of.</p>
        <a href="{{ page.base }}sdk/docs/runner/custom/introduction/" class="hyperlink hyperlink-small palette-sdk-runners"><span>How to build a runner</span></a>
      </div>
    </div>
  </div>
