<li><a href="{{ page.base }}sdk/how-it-works/"{% if page.menu == "sdk-demo" %} class="active"{% endif %}><span>How It Works</span></a></li>
<li><a href="{{ page.base }}sdk/components/"{% if page.menu == "sdk-components" %} class="active"{% endif %}><span>Components</span></a></li>
<li><a href="{{ page.base }}sdk/solutions/"{% if page.menu == "sdk-solutions" %} class="active"{% endif %}><span>Solutions</span></a></li>
<li><a href="{{ page.base }}sdk/docs/"{% if page.menu == "sdk-docs" %} class="active"{% endif %}><span>Docs</span></a></li>
<li class="header-nav-split"><a href="{{ page.base }}sdk/pricing/"{% if page.menu == "sdk-pricing" %} class="active"{% endif %}><span>Pricing</span></a></li>
<li class="header-nav-secondary"><a href="{{ page.base }}sdk/support/"{% if page.menu == "sdk-support" %} class="active"{% endif %}><span>Support</span></a></li>
<li class="header-nav-secondary d-none d-lg-inline-block"><a href="https://gitlab.com/tripetto" class="header-icon" target="_blank" rel="noopener noreferrer"><img src="{{ page.base }}images/sdk/gitlab.svg" width="24" height="24" alt="Logo GitLab - Tripetto on GitLab" /></a></li>
