{% if page.notification %}
<section class="notification">
    <div class="container">
        <div class="row">
            <div class="col">
                <div><span>Not a developer?</span></div>
                <div><a href="{{ page.base }}" class="notification-secondary" target="_blank">Find other Tripetto versions.</a></div>
            </div>
        </div>
    </div>
</section>
{% endif %}
