<div class="sdk-code-snippet-pane-code"><pre class="line-numbers"><code class="language-{{ include.language }}">{% include sdk-code-snippets/{{ include.code }} face=include.face face-name=include.face-name %}</code></pre></div>
<div class="sdk-code-snippet-pane-buttons">
    <ul class="buttons">
        <li><a href="{{ include.url-docs }}" class="button button-small button-{{ include.palette }}" rel="noopener noreferrer"><i class="fas fa-book-open"></i><span>Read Docs</span></a></li>
        <li><a href="{{ include.url-run }}" class="button button-small button-white" target="_blank" rel="noopener noreferrer"><i class="fab fa-codepen"></i><span>Code Demo</span></a></li>
    </ul>
</div>
