
<div class="row">
    <div class="col sdk-overview sdk-overview-contact">
        <div class="sdk-overview-contact-quote">
            <div>
                <div>
                    <h3>Get a license quote instantly.</h3>
                    <p>Whether you need a paid license, and which license is required, depends on multiple factors. Run through the form to see what you need and <strong>get an instant quote for your FormBuilder SDK license.</strong></p>
                </div>
                <a href="{{ page.base }}sdk/get-quote/" class="button button-full button-small anchor"><span>Calculate License</span><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="sdk-overview-contact-chat">
            <div>
                <div>
                    <h3>Kickstart things in a free live chat.</h3>
                    <p>We’ve bundled everything there is to know into extensive docs with live examples, guides, and API’s. But if you want to kickstart things, <strong>reach out to us directly in a live introductory chat, free of charge.</strong></p>
                </div>
                <a href="{{ page.base }}sdk/chat-live/" class="button button-red button-full button-small anchor"><span>Chat Live Now</span><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="sdk-overview-contact-call">
            <div>
                <div>
                    <h3>Schedule a free call with a dev.</h3>
                    <p>If you don’t have just one or two quick questions, but want to dive a little deeper into how best to use the FormBuilder SDK in your app, <strong>schedule an introductory call with a developer, free of charge.</strong></p>
                </div>
                <a href="{{ page.base }}sdk/schedule-call/" class="button button-full button-small anchor"><span>Schedule A Call</span><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
