<footer{% if page.color == "dark" %} class="template-dark"{% endif %}>
    <div class="container">
        <div class="row footer-navigation">
            <div class="col-6 col-md-4 col-lg-2 footer-branding">
                <div>
                    <img src="{{ page.base }}images/tripetto-logo.svg" width="32" height="32" alt="Logo Tripetto" class="logo"/>
                    <h6>Tripetto</h6>
                </div>
                <small>The plug-and-play form solution for your site or app.</small>
                <a href="{{ page.base }}subscribe/" target="_blank">Receive product news</a>
            </div>
            <div class="col-6 col-md-4 col-lg-2 footer-menu">
                <h6>FormBuilder SDK</h6>
                <ul>
                    <li><a href="{{ page.base }}sdk/how-it-works/">How It Works</a></li>
                    <li><a href="{{ page.base }}sdk/components/">Components</a></li>
                    <li><a href="{{ page.base }}sdk/solutions/">Solutions</a></li>
                    <li><a href="{{ page.base }}sdk/self-hosting/">Self-Hosting</a></li>
                    <li><a href="{{ page.base }}sdk/pricing/">Pricing</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-2 footer-menu">
                <h6>Resources</h6>
                <ul>
                    <li><a href="{{ page.base }}sdk/docs/">Documentation</a></li>
                    <li><a href="{{ site.url_npm }}" target="_blank" rel="noopener noreferrer">npm Packages</a></li>
                    <li><a href="{{ site.url_gitlab }}" target="_blank" rel="noopener noreferrer">GitLab Repos</a></li>
                    <li><a href="{{ page.base }}sdk/support/">Support</a></li>
                    <li><a href="{{ page.base }}sdk/blog/">Blog</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-2 footer-menu">
                <h6>Get Started</h6>
                <ul>
                    <li><a href="{{ page.base }}sdk/chat-live/">Chat Live</a></li>
                    <li><a href="{{ page.base }}sdk/schedule-call/">Schedule Call</a></li>
                    <li><a href="{{ page.base }}sdk/get-quote/">Calculate License</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-2 footer-menu">
                <h6>Built For</h6>
                <ul>
                    <li><a href="{{ page.base }}sdk/react/" class="footer-menu-logo footer-menu-logo-react">React</a></li>
                    <li><a href="{{ page.base }}sdk/angular/" class="footer-menu-logo footer-menu-logo-angular">Angular</a></li>
                    <li><a href="{{ page.base }}sdk/plain-js/" class="footer-menu-logo footer-menu-logo-javascript">JavaScript</a></li>
                    <li><a href="{{ page.base }}sdk/html/" class="footer-menu-logo footer-menu-logo-html">HTML</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-2 footer-menu">
                <h6>Compare</h6>
                <ul>
                    <li><a href="{{ page.base }}sdk/surveyjs-alternative/">SurveyJS</a></li>
                    <li><a href="{{ page.base }}sdk/formio-alternative/">Form.io</a></li>
                    <li><a href="{{ page.base }}sdk/joyfill-alternative/">Joyfill</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-notes">
            <div class="col-12 order-sm-1"><hr /></div>
            <div class="col-sm-6 order-sm-3 footer-socials">
                <a href="https://x.com/tripetto" target="_blank" rel="noopener noreferrer" class="social x-twitter"><i class="fab fa-x-twitter fa-fw" title="Tripetto on X"></i></a>
                <a href="https://www.facebook.com/tripetto" target="_blank" rel="noopener noreferrer" class="social facebook"><i class="fab fa-facebook-f fa-fw" title="Tripetto on Facebook"></i></a>
                <a href="https://www.linkedin.com/company/tripetto" target="_blank" rel="noopener noreferrer" class="social linkedin"><i class="fab fa-linkedin-in fa-fw" title="Tripetto on LinkedIn"></i></a>
                <a href="https://www.youtube.com/channel/UC_OBWRmc5A-R0QkIglEqAyg" target="_blank" rel="noopener noreferrer" class="social youtube"><i class="fab fa-youtube fa-fw" title="Tripetto on YouTube"></i></a>
                <a href="https://medium.com/tripetto" target="_blank" rel="noopener noreferrer" class="social medium"><i class="fab fa-medium-m fa-fw" title="Tripetto on Medium"></i></a>
            </div>
            <div class="col-sm-6 order-sm-2 footer-copyright">Copyright © 2014-{{ "now" | date: "%Y" }} Tripetto</div>
        </div>
    </div>
</footer>
