<nav class="breadcrumb-navigation block-first">
    <div class="container">
        <div class="row">
            <div class="col">
                <ol>
                    <li><a href="{{ page.base }}sdk/">Tripetto FormBuilder SDK</a></li>
                    <li class="dropdown">
                        <span role="button" class="dropdown-button active" id="compareBreadcrumbAlternatives" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"><span>Compare with {{ include.selected }}</span></span>
                        <div class="dropdown-menu" aria-labelledby="compareBreadcrumbAlternatives">
                            <a class="dropdown-item" href="{{ page.base }}sdk/surveyjs-alternative/">
                                <div><img src="{{ page.base }}images/sdk-alternatives/surveyjs.png" width="64" height="64" alt="Logo of SurveyJS" class="icon-alternative" /></div>
                                <div>Tripetto vs. SurveyJS</div>
                            </a>
                            <a class="dropdown-item" href="{{ page.base }}sdk/formio-alternative/">
                                <div><img src="{{ page.base }}images/sdk-alternatives/formio.png" width="64" height="64" alt="Logo of Form.io" class="icon-alternative" /></div>
                                <div>Tripetto vs. Form.io</div>
                            </a>
                            <a class="dropdown-item" href="{{ page.base }}sdk/joyfill-alternative/">
                                <div><img src="{{ page.base }}images/sdk-alternatives/joyfill.png" width="64" height="64" alt="Logo of Joyfill" class="icon-alternative" /></div>
                                <div>Tripetto vs. Joyfill</div>
                            </a>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</nav>
