<div class="sdk-code-snippet{% if include.class %} {{ include.class }}{% endif %}">
    <ul class="nav nav-tabs nav-fill sdk-code-snippet-nav" role="tablist">
        <li class="nav-item"><a class="nav-link active" id="nav-{{ include.id }}-javascript" data-toggle="tab" href="#{{ include.id }}-javascript" role="tab" aria-controls="{{ include.id }}-javascript" aria-selected="true" title="Implement the autoscroll runner with JavaScript">{% include icons/javascript.html %}</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-{{ include.id }}-react" data-toggle="tab" href="#{{ include.id }}-react" role="tab" aria-controls="{{ include.id }}-react" aria-selected="false" title="Implement the autoscroll runner with React">{% include icons/react.html %}</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-{{ include.id }}-angular" data-toggle="tab" href="#{{ include.id }}-angular" role="tab" aria-controls="{{ include.id }}-angular" aria-selected="false" title="Implement the autoscroll runner with Angular">{% include icons/angular.html %}</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-{{ include.id }}-html5" data-toggle="tab" href="#{{ include.id }}-html5" role="tab" aria-controls="{{ include.id }}-html5" aria-selected="false" title="Implement the autoscroll runner with HTML5">{% include icons/html5.html %}</a></li>
    </ul>
    <div class="tab-content sdk-code-snippet-content">
        <div class="tab-pane fade show active" id="{{ include.id }}-javascript" role="tabpanel" aria-labelledby="nav-{{ include.id }}-javascript">
        {% include sdk-code-snippet-pane.html active=true code="runners-javascript.html" face="autoscroll" face-name="Autoscroll" language="javascript" palette="runners" url-run="https://codesandbox.io/s/tripetto-sdk-runner-autoscroll-handling-response-data-60cti?file=/src/index.ts" url-docs="https://tripetto.com/sdk/docs/runner/stock/quickstart/plain-js/" %}
        </div>
        <div class="tab-pane fade" id="{{ include.id }}-react" role="tabpanel" aria-labelledby="nav-{{ include.id }}-react">
        {% include sdk-code-snippet-pane.html active=false code="runners-react.html" face="autoscroll" face-name="Autoscroll" language="jsx" palette="runners" url-run="https://codesandbox.io/s/tripetto-sdk-runner-autoscroll-react-handling-response-data-mvj4n?file=/src/index.js" url-docs="https://tripetto.com/sdk/docs/runner/stock/quickstart/react/" %}
        </div>
        <div class="tab-pane fade" id="{{ include.id }}-angular" role="tabpanel" aria-labelledby="nav-{{ include.id }}-angular">
        {% include sdk-code-snippet-pane.html active=false code="runners-angular.html" face="autoscroll" face-name="Autoscroll" language="javascript" palette="runners" url-run="https://codesandbox.io/s/tripetto-sdk-runner-autoscroll-angular-collecting-response-data-4p70v?file=/src/app/app.component.html" url-docs="https://tripetto.com/sdk/docs/runner/stock/quickstart/angular/" %}
        </div>
        <div class="tab-pane fade" id="{{ include.id }}-html5" role="tabpanel" aria-labelledby="nav-{{ include.id }}-html5">
            <ul class="nav nav-tabs sdk-code-snippet-subnav" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="nav-{{ include.id }}-html5-jsdelivr" data-toggle="tab" href="#{{ include.id }}-html5-jsdelivr" role="tab" aria-controls="{{ include.id }}-html5-jsdelivr" aria-selected="true">jsDelivr</a></li>
                <li class="nav-item"><a class="nav-link" id="nav-{{ include.id }}-html5-unpkg" data-toggle="tab" href="#{{ include.id }}-html5-unpkg" role="tab" aria-controls="{{ include.id }}-html5-unpkg" aria-selected="false">unpkg</a></li>
            </ul>
            <div class="tab-content sdk-code-snippet-subcontent" id="{{ include.id }}-html5-content">
                <div class="tab-pane fade show active" id="{{ include.id }}-html5-jsdelivr" role="tabpanel" aria-labelledby="nav-{{ include.id }}-html5-jsdelivr">
                {% include sdk-code-snippet-pane.html active=true code="runners-html5-jsdelivr.html" face="autoscroll" face-name="Autoscroll" language="html" palette="runners" url-run="https://codepen.io/tripetto/pen/c7f98c3e434562462e700342fd3401c9" url-docs="https://tripetto.com/sdk/docs/runner/stock/quickstart/html/" %}
                </div>
                <div class="tab-pane fade" id="{{ include.id }}-html5-unpkg" role="tabpanel" aria-labelledby="nav-{{ include.id }}-html5-unpkg">
                {% include sdk-code-snippet-pane.html active=false code="runners-html5-unpkg.html" face="autoscroll" face-name="Autoscroll" language="html" palette="runners" url-run="https://codepen.io/tripetto/pen/835cfff322900f55cd0ac54b2851100e" url-docs="https://tripetto.com/sdk/docs/runner/stock/quickstart/html/" %}
                </div>
            </div>
        </div>
    </div>
</div>
