<div class="sdk-code-snippet{% if include.class %} {{ include.class }}{% endif %}">
    <ul class="nav nav-tabs nav-fill sdk-code-snippet-nav" role="tablist">
        <li class="nav-item"><a class="nav-link active" id="nav-{{ include.id }}-javascript" data-toggle="tab" href="#{{ include.id }}-javascript" role="tab" aria-controls="{{ include.id }}-javascript" aria-selected="true" title="Implement the builder with JavaScript">{% include icons/javascript.html %}</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-{{ include.id }}-react" data-toggle="tab" href="#{{ include.id }}-react" role="tab" aria-controls="{{ include.id }}-react" aria-selected="false" title="Implement the builder with React">{% include icons/react.html %}</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-{{ include.id }}-angular" data-toggle="tab" href="#{{ include.id }}-angular" role="tab" aria-controls="{{ include.id }}-angular" aria-selected="false" title="Implement the builder with Angular">{% include icons/angular.html %}</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-{{ include.id }}-html5" data-toggle="tab" href="#{{ include.id }}-html5" role="tab" aria-controls="{{ include.id }}-html5" aria-selected="false" title="Implement the builder with HTML5">{% include icons/html5.html %}</a></li>
    </ul>
    <div class="tab-content sdk-code-snippet-content">
        <div class="tab-pane fade show active" id="{{ include.id }}-javascript" role="tabpanel" aria-labelledby="nav-{{ include.id }}-javascript">
        {% include sdk-code-snippet-pane.html active=true code="builder-javascript.html" language="javascript" palette="builder" url-run="https://codepen.io/tripetto/pen/ZEJrQxB/8b40f4c95c105914df766aa523a0b5eb" url-docs="https://tripetto.com/sdk/docs/builder/integrate/quickstart/plain-js/" %}
        </div>
        <div class="tab-pane fade" id="{{ include.id }}-react" role="tabpanel" aria-labelledby="nav-{{ include.id }}-react">
        {% include sdk-code-snippet-pane.html active=false code="builder-react.html" language="jsx" palette="builder" url-run="https://codesandbox.io/s/tripetto-sdk-builder-react-loading-blocks-6tigtu" url-docs="https://tripetto.com/sdk/docs/builder/integrate/quickstart/react/" %}
        </div>
        <div class="tab-pane fade" id="{{ include.id }}-angular" role="tabpanel" aria-labelledby="nav-{{ include.id }}-angular">
        {% include sdk-code-snippet-pane.html active=false code="builder-angular.html" language="javascript" palette="builder" url-run="https://codesandbox.io/s/tripetto-sdk-builder-angular-loading-blocks-y1ws5" url-docs="https://tripetto.com/sdk/docs/builder/integrate/quickstart/angular/" %}
        </div>
        <div class="tab-pane fade" id="{{ include.id }}-html5" role="tabpanel" aria-labelledby="nav-{{ include.id }}-html5">
            <ul class="nav nav-tabs sdk-code-snippet-subnav" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="nav-{{ include.id }}-html5-jsdelivr" data-toggle="tab" href="#{{ include.id }}-html5-jsdelivr" role="tab" aria-controls="{{ include.id }}-html5-jsdelivr" aria-selected="true">jsDelivr</a></li>
                <li class="nav-item"><a class="nav-link" id="nav-{{ include.id }}-html5-unpkg" data-toggle="tab" href="#{{ include.id }}-html5-unpkg" role="tab" aria-controls="{{ include.id }}-html5-unpkg" aria-selected="false">unpkg</a></li>
            </ul>
            <div class="tab-content sdk-code-snippet-subcontent" id="{{ include.id }}-html5-content">
                <div class="tab-pane fade show active" id="{{ include.id }}-html5-jsdelivr" role="tabpanel" aria-labelledby="nav-{{ include.id }}-html5-jsdelivr">
                {% include sdk-code-snippet-pane.html active=true code="builder-html5-jsdelivr.html" language="html" palette="builder" url-run="https://codepen.io/tripetto/pen/2ff6822853f92be911c62605e68955b7" url-docs="https://tripetto.com/sdk/docs/builder/integrate/quickstart/html/" %}
                </div>
                <div class="tab-pane fade" id="{{ include.id }}-html5-unpkg" role="tabpanel" aria-labelledby="nav-{{ include.id }}-html5-unpkg">
                {% include sdk-code-snippet-pane.html active=false code="builder-html5-unpkg.html" language="html" palette="builder" url-run="https://codepen.io/tripetto/pen/4de58f7369cace52dd68137aac0f7523" url-docs="https://tripetto.com/sdk/docs/builder/integrate/quickstart/html/" %}
                </div>
            </div>
        </div>
    </div>
</div>
