<div class="row sdk-features">
    <div class="col-6 col-lg-3 sdk-features-column">
      <div>
        <i class="fas fa-pen-ruler palette-sdk-builder"></i>
        <h3>Visual storyboard</h3>
        <p>Build forms like flowcharts. The magnetic storyboard shows you what goes where and actively aligns your flow.</p>
        <a href="{{ page.base }}sdk/docs/builder/concepts/" class="hyperlink hyperlink-small palette-sdk-builder"><span>About the visual builder</span></a>
      </div>
    </div>
    <div class="col-6 col-lg-3 sdk-features-column">
      <div>
        <i class="fas fa-hand-sparkles palette-sdk-builder"></i>
        <h3>Drag and drop</h3>
        <p>Drag and drop any part where you need it on the magnetic storyboard, which will visibly guide you along the way.</p>
        <a href="{{ page.base }}sdk/docs/builder/concepts/" class="hyperlink hyperlink-small palette-sdk-builder"><span>How to arrange things</span></a>
      </div>
    </div>
    <div class="col-6 col-lg-3 sdk-features-column">
      <div>
        <i class="fas fa-cubes palette-sdk-builder"></i>
        <h3>Versatile blocks</h3>
        <p>Comes with all question types you need for forms, surveys, quizzes and more. Including real-time, automatic actions.</p>
        <a href="{{ page.base }}sdk/docs/blocks/stock/" class="hyperlink hyperlink-small palette-sdk-builder"><span>About question blocks</span></a>
      </div>
    </div>
    <div class="col-6 col-lg-3 sdk-features-column">
      <div>
        <i class="fas fa-code-merge palette-sdk-builder"></i>
        <h3>Advanced logic</h3>
        <p>Use powerful logic features and get conversational to increase completion rates and reduce drop-offs. Better data!</p>
        <a href="{{ page.base }}sdk/docs/builder/concepts/" class="hyperlink hyperlink-small palette-sdk-builder"><span>About conversational logic</span></a>
      </div>
    </div>
  </div>
