
<section class="cta">
  <div class="container">
    <div class="row cta-row">
      <div class="col-sm-9 col-md-8 col-lg-9">
        <small>Give life to forms and surveys</small>
        <h2><span>Try Tripetto for free.</span>Get your insights sorted right.</h2>
        <div><a href="{{ page.base }}studio/pricing/" class="button button-wide">Start For Free</a></div>
      </div>
    </div>
  </div>
</section>
