<link rel="stylesheet" type="text/css" href="{{ page.base }}css/fonts.css?v={{ site.cache_version }}" />
<link rel="stylesheet" type="text/css" href="{{ page.base }}css/core.css?v={{ site.cache_version }}" />
{% for stylesheet in layout.stylesheets -%}
<link rel="stylesheet" type="text/css" href="{{ page.base }}css/{{ stylesheet }}.css?v={{ site.cache_version }}" />
{% endfor -%}
{% for stylesheet in page.stylesheets -%}
<link rel="stylesheet" type="text/css" href="{{ page.base }}css/{{ stylesheet }}.css?v={{ site.cache_version }}" />
{% endfor -%}
{% if page.attention == true %}<link rel="stylesheet" type="text/css" href="{{ page.base }}css/attention.css?v={{ site.cache_version }}" />{% endif %}
