<button id="support-bubble" aria-label="Need help?"></button>
<div id="support-popup" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="support-popup-help">
    <div class="support-popup-title">Need help?</div>
    <p>Our <a href="{{ page.base }}help/">help center</a> is packed with how-to’s on every aspect of Tripetto. Most articles come with <strong>step-by-step guides and short videos</strong>.</p>
    <form action="{{ page.base }}help/search/" method="get" class="">
      <label class="sr-only" for="support-popup-search-input">Type what you need help with...</label>
      <input type="text" name="q" class="form-input form-input-small" id="support-popup-search-input" placeholder="Type what you need help with..." />
      <button class="button button-tiny"><i class="fas fa-search"></i><span>Search</span></button>
    </form>
  </div>
  <div class="support-popup-request">
    <a href="{{ page.base }}support/" class="hyperlink hyperlink-tiny"><span>Request support</span><i class="fas fa-arrow-right"></i></a>
  </div>
</div>
