<li>
    <img src="{{ page.base }}images/media/{{ include.logo }}" width="160" height="160" alt="Logo of {{ include.name }}" />
    <a href="{{ include.url }}" target="_blank" rel="noopener noreferrer"><h3>Reviews<span> on {{ include.name }}</span></h3></a>
</li>
