<script src="{{ page.base }}vendors/tripetto-runner.js?v={{ site.cache_version }}"></script>
<script src="{{ page.base }}vendors/tripetto-runner-autoscroll.js?v={{ site.cache_version }}"></script>
<script src="{{ page.base }}vendors/tripetto-studio.js?v={{ site.cache_version }}"></script>
<script>
TripettoStudio.form({
    runner: TripettoAutoscroll,
    token: "{{ include.token }}",
    element: "TripettoRunner",
    customCSS: "[data-block='@tripetto/block-multiple-choice'] { h2 { letter-spacing: -1px; } } [data-block='@tripetto/block-yes-no'] { h2 { letter-spacing: -1px; } } [data-block='@tripetto/block-text'] { h2 { letter-spacing: -1px; } input { min-height: 56px; } } [data-block='@tripetto/block-email'] { h2 { letter-spacing: -1px; } input { min-height: 56px; } } [data-block='@tripetto/block-url'] { h2 { letter-spacing: -1px; } input { min-height: 56px; } } [data-block='@tripetto/block-textarea'] { h2 { letter-spacing: -1px; } } [data-block='@tripetto/block-stop'] { h2 { letter-spacing: -1px; } } [data-block='@tripetto/block-paragraph'] { h2 { letter-spacing: -1px; } } [data-block='@tripetto/block-number'] { h2 { letter-spacing: -1px; } input { min-height: 56px; } }"
});
</script>
