
<section class="cta">
  <div class="container">
    <div class="row cta-row">
      <div class="col-md-9 col-lg-11 col-xl-10">
        <small>Give life to forms and surveys</small>
        <h2><span>Tripetto for WordPress.</span>Have your forms done right, self-hosted.</h2>
        <div><a href="{{ page.base }}wordpress/pricing/" class="button button-wide">Download Free Plugin</a></div>
      </div>
    </div>
  </div>
</section>
