section.wordpress-checkout-confirmation-hero {
  .container {
    padding-bottom: 80px;
  }

  p {
    padding-bottom: 0px !important;

    @media (min-width: 768px) {
      width: 93.5%;
    }

    @media (min-width: 992px) {
      width: 94.5%;
    }

    @media (min-width: 1200px) {
      font-size: 28px;
      padding-bottom: 104px;
      width: 93%;
    }
  }

  ul.list-arrows {
    margin-top: 24px;

    @media (min-width: 992px) {
      margin-top: 48px;
    }
  }
}
