section.coding-custom-code {
  padding-top: 64px;
  padding-bottom: 64px;
  color: $text-black;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container-intro {
    h2 {
      @media (min-width: 768px) {
        width: 92%;
      }

      @media (min-width: 992px) {
        width: 92%;
      }

      @media (min-width: 1200px) {
        width: 96%;
      }
    }

    p {
      padding-top: 24px;
      padding-bottom: 24px;

      @media (min-width: 576px) {
        width: 97%;
      }

      @media (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
      }

      @media (min-width: 992px) {
        padding-top: 48px;
        padding-bottom: 48px;
      }

      @media (min-width: 1200px) {
        width: 94%;
      }
    }

    .button {
      color: $text-black;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 40px;
    margin-bottom: 0px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .container-visual {
    @media (min-width: 992px) {
      padding-top: 16px;
    }

    .sdk-carousel-components-buttons {
      display: flex;
      justify-content: center;
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
      }
    }

    .carousel-slides {
      padding-top: 32px;
      padding-bottom: 16px;

      @media (min-width: 992px) {
        padding-top: 64px;
        padding-bottom: 32px;
      }
    }
  }

  .container-content {
    .coding-custom-code-block {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      p {
        padding-top: 32px;
        padding-bottom: 8px;
        margin-bottom: auto;

        a {
          color: $text-black;
        }

        @media (min-width: 768px) {
          padding-bottom: 16px;
        }

        @media (min-width: 992px) {
          padding-bottom: 32px;
        }
      }

      &.coding-custom-code-block-components {
        p {
          @media (min-width: 768px) {
            width: 91%;
          }

          @media (min-width: 992px) {
            width: 93%;
          }

          @media (min-width: 1200px) {
            width: 91%;
          }
        }
      }

      &.coding-custom-code-block-hosting {
        p {
          @media (min-width: 768px) {
            width: 94%;
          }

          @media (min-width: 992px) {
            width: 98%;
          }

          @media (min-width: 1200px) {
            width: 93%;
          }
        }
      }

      &.coding-custom-code-block-usage {
        p {
          @media (min-width: 768px) {
            width: 91%;
          }

          @media (min-width: 1200px) {
            width: 88%;
          }
        }
      }
    }
  }
}
