section.coding-intro {
  padding-top: $header-height-mobile;
  background-image: url(../images/coding/intro-lights.svg);
  background-repeat: no-repeat;
  background-size: 160px;
  background-position: center top;

  @media (min-width: 768px) {
    background-size: 200px;
  }

  @media (min-width: 992px) {
    padding-top: $header-height-desktop;
    background-size: 280px;
  }

  @media (min-width: 1200px) {
    background-size: 380px;
  }

  .container {
    background-image: url(../images/coding/intro.svg);
    background-repeat: no-repeat;
    background-size: 260px;
    background-position: right 16px bottom;

    @media (min-width: 768px) {
      background-size: 380px;
    }

    @media (min-width: 992px) {
      background-size: 460px;
      background-position: right 16px bottom;
    }

    @media (min-width: 1200px) {
      background-size: 560px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.7em;
    padding-top: 32px;
    padding-bottom: 16px;

    @media (min-width: 768px) {
      padding-bottom: 24px;
      width: 91%;
    }

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 48px;
      padding-bottom: 48px;
    }

    @media (min-width: 1200px) {
      font-size: 28px;
      width: 89%;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 80px;
    margin-bottom: 0px;

    @media (min-width: 992px) {
      margin-top: 100px;
    }

    @media (min-width: 1200px) {
      margin-top: 160px;
    }
  }
}
