section.coding-low-code {
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid $splitter;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container-intro {
    h2 {
      @media (min-width: 576px) {
        width: 91%;
      }

      @media (min-width: 768px) {
        width: 98%;
      }

      @media (min-width: 992px) {
        width: 91%;
      }

      @media (min-width: 1200px) {
        width: 93%;
      }
    }

    p {
      padding-top: 24px;
      padding-bottom: 24px;

      @media (min-width: 576px) {
        width: 98%;
      }

      @media (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
      }

      @media (min-width: 992px) {
        padding-top: 48px;
        padding-bottom: 48px;
      }
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 40px;
    margin-bottom: 0px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .container-fluid {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 48px;
      padding-bottom: 16px;
    }
  }

  .container-content {
    .coding-low-code-block {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      p {
        padding-top: 32px;
        padding-bottom: 8px;
        margin-bottom: auto;

        @media (min-width: 768px) {
          padding-bottom: 16px;
        }

        @media (min-width: 992px) {
          padding-bottom: 32px;
        }
      }

      &.coding-low-code-block-notifications {
        p {
          @media (min-width: 992px) {
            width: 95%;
          }

          @media (min-width: 1200px) {
            width: 91%;
          }
        }
      }

      &.coding-low-code-block-connections {
        p {
          @media (min-width: 768px) {
            width: 88%;
          }

          @media (min-width: 992px) {
            width: 86%;
          }

          @media (min-width: 1200px) {
            width: 83%;
          }
        }
      }

      &.coding-low-code-block-tracking {
        p {
          @media (min-width: 992px) {
            width: 93%;
          }

          @media (min-width: 992px) {
            width: 100%;
          }
        }
      }
    }
  }
}
