section.coding-no-code {
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid $splitter;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container-intro {
    h2 {
      @media (min-width: 992px) {
        width: 92%;
      }

      @media (min-width: 1200px) {
        width: 96%;
      }
    }

    p {
      padding-top: 24px;
      padding-bottom: 24px;

      @media (min-width: 576px) {
        width: 95%;
      }

      @media (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
      }

      @media (min-width: 992px) {
        padding-top: 48px;
        padding-bottom: 48px;
      }
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 40px;
    margin-bottom: 0px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .container-visual {
    .row {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 64px;
      }

      @media (min-width: 1300px) {
        margin-left: -80px;
        margin-right: -80px;
      }

      small {
        display: block;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.3px;
        color: $text-grey;
        padding-bottom: 16px;

        a {
          color: $text-link;
          text-decoration: underline;
        }

        @media (min-width: 768px) {
          font-size: 13px;
        }

        @media (min-width: 992px) {
          padding-bottom: 24px;
        }
      }

      .col-visual {
        @media (min-width: 768px) {
          display: flex;
          justify-content: space-between;
        }

        > img {
          width: 100%;
          height: auto;

          @media (min-width: 768px) {
            display: none;
          }
        }
      }

      .coding-no-code-visual-block {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        p {
          padding-top: 32px;
          padding-bottom: 8px;

          @media (min-width: 768px) {
            padding-bottom: 16px;
          }

          @media (min-width: 992px) {
            padding-bottom: 32px;
          }
        }

        &.coding-no-code-visual-builder {
          width: 100%;

          @media (min-width: 768px) {
            width: 455px;
          }

          @media (min-width: 992px) {
            width: 616px;
          }

          @media (min-width: 1200px) {
            width: 756px;
          }

          @media (min-width: 1300px) {
            width: 823px;
          }

          img {
            display: none;

            @media (min-width: 768px) {
              display: block;
              max-width: 100%;
              height: auto;
            }
          }
        }

        &.coding-no-code-visual-preview {
          width: 100%;

          @media (min-width: 768px) {
            width: 235px;
            padding-left: 9px;
          }

          @media (min-width: 992px) {
            width: 314px;
            padding-left: 8px;
          }

          @media (min-width: 1200px) {
            width: 384px;
          }

          @media (min-width: 1300px) {
            width: 417px;
          }

          img {
            display: none;

            @media (min-width: 768px) {
              display: block;
              max-width: 100%;
              height: auto;
            }
          }
        }

        &.coding-no-code-visual-explanation {
          width: 100%;

          @media (min-width: 768px) {
            width: 226px;
          }

          @media (min-width: 992px) {
            width: 306px;
          }

          @media (min-width: 1200px) {
            width: 366px;
          }

          @media (min-width: 1300px) {
            width: 409px;
          }
        }

        &.coding-no-code-visual-build {
          p {
            @media (min-width: 768px) {
              width: 80%;
            }

            @media (min-width: 992px) {
              width: 90%;
            }

            @media (min-width: 1200px) {
              width: 86%;
            }

            @media (min-width: 1300px) {
              width: 76%;
            }
          }
        }

        &.coding-no-code-visual-actions {
          p {
            @media (min-width: 768px) {
              width: 90%;
            }

            @media (min-width: 992px) {
              width: 93%;
            }

            @media (min-width: 1300px) {
              width: 80%;
            }
          }
        }

        &.coding-no-code-visual-styling {
          p {
            @media (min-width: 768px) {
              width: 92%;
            }

            @media (min-width: 992px) {
              width: 86%;
            }

            @media (min-width: 1200px) {
              width: 86%;
            }

            @media (min-width: 1300px) {
              width: 78%;
            }
          }
        }
      }
    }
  }
}
