.logic-example {
  background-color: $background-light;
  padding: 32px 16px;
  border-radius: 8px;

  @media (min-width: 768px) {
    padding: 24px;
  }

  @media (min-width: 992px) {
    padding: 32px;
    border-radius: 16px;
  }

  @media (min-width: 1200px) {
    padding: 64px;
  }

  h3 {
    font-size: 26px;
    letter-spacing: -1.5px;
    line-height: 1em;
    padding-bottom: 16px;

    @media (min-width: 768px) {
      font-size: 32px;
      letter-spacing: -2px;
    }

    @media (min-width: 992px) {
      font-size: 44px;
      padding-bottom: 24px;
    }

    @media (min-width: 1200px) {
      font-size: 48px;
    }
  }

  p {
    font-size: 18px;
    letter-spacing: -0.5px;
    line-height: 1.8em;
    padding-bottom: 16px;

    @media (min-width: 992px) {
      width: 95%;
      padding-bottom: 24px;
    }
  }
}
