section.logic-intro {
  .container {
    padding-top: 40px;

    @media (min-width: 576px) {
      background-image: url(../images/logic/intro.svg);
      background-repeat: no-repeat;
      background-size: 150px;
      background-position: right bottom;
    }

    @media (min-width: 768px) {
      background-size: 220px;
    }

    @media (min-width: 992px) {
      padding-top: 60px;
      background-size: 360px;
      background-position: right bottom;
    }

    @media (min-width: 1200px) {
      padding-top: 92px;
      background-size: 440px;
    }
  }

  h1 {
    font-size: 40px;
    line-height: 1em;
    letter-spacing: -2px;

    @media (min-width: 992px) {
      font-size: 72px;
      letter-spacing: -4px;
    }

    @media (min-width: 1200px) {
      font-size: 80px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.7em;
    padding-top: 32px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
      padding-bottom: 80px;
      width: 95%;
    }

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 48px;
      padding-bottom: 120px;
    }

    @media (min-width: 1200px) {
      font-size: 28px;
      padding-bottom: 160px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
