section.logic-jump {
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid $splitter;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .logic-jump-intro {
    padding-bottom: 32px;

    @media (min-width: 768px) {
      justify-content: center;
      text-align: center;
      padding-bottom: 40px;
    }

    @media (min-width: 992px) {
      padding-bottom: 64px;
    }

    h2 {
      padding-bottom: 24px;

      @media (min-width: 992px) {
        padding-bottom: 48px;
      }
    }

    p {
      padding-bottom: 24px;

      @media (min-width: 992px) {
        padding-bottom: 40px;
      }
    }

    small {
      display: block;
      font-size: 16px;
      line-height: 1.5em;
      letter-spacing: -0.5px;
    }
  }

  div.logic-jump-example {
    padding-bottom: 32px;

    @media (min-width: 992px) {
      padding-bottom: 48px;
    }

    hr {
      border-color: $splitter;
      margin-top: 0px;
      margin-bottom: 40px;

      @media (min-width: 992px) {
        margin-bottom: 64px;
      }
    }

    .logic-example {
      @media (min-width: 992px) {
        background-image: url(../images/logic/example-right.svg);
        background-repeat: no-repeat;
        background-size: 100px;
        background-position: right bottom;
      }

      @media (min-width: 1200px) {
        background-size: 120px;
      }
    }
  }

  .logic-jump-help-videos {
    justify-content: center;
    text-align: center;
  }

  ul.help-videos {
    li {
      @media (min-width: 992px) {
        width: 45%;
      }
    }
  }

  .logic-jump-help-articles {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 64px;
    }
  }
}
