section.logic-pipe {
  padding-top: 64px;
  padding-bottom: 64px;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .logic-pipe-intro {
    padding-bottom: 32px;

    @media (min-width: 768px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    @media (min-width: 1200px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    h2 {
      padding-bottom: 24px;

      @media (min-width: 992px) {
        padding-bottom: 48px;
      }
    }

    p {
      padding-bottom: 32px;

      @media (min-width: 992px) {
        padding-bottom: 64px;
      }
    }

    small {
      display: block;
      font-size: 16px;
      line-height: 1.5em;
      letter-spacing: -0.5px;
      padding-top: 8px;

      @media (min-width: 992px) {
        width: 90%;
      }
    }

    ul.help-videos {
      li {
        @media (min-width: 992px) {
          width: 45%;
        }
      }
    }
  }

  div.logic-pipe-example {
    .logic-example {
      height: 100%;

      @media (min-width: 992px) {
        background-image: url(../images/logic/example-right.svg);
        background-repeat: no-repeat;
        background-size: 120px;
        background-position: right bottom;
      }

      @media (min-width: 1200px) {
        background-size: 200px;
      }
    }
  }

  .logic-pipe-help-articles {
    padding-top: 64px;

    @media (min-width: 992px) {
      padding-top: 80px;
    }
  }
}
