section.media-featured {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 40px 0px 40px 0px;

    @media (min-width: 992px) {
      padding: 64px 0px 80px 0px;
    }

    li {
      padding-bottom: 32px;

      @media (min-width: 992px) {
        padding-bottom: 48px;
      }

      &:last-child {
        padding-bottom: 0;
      }

      > div {
        cursor: pointer;
        transition: transform 0.2s ease-out;
        display: flex;
        justify-content: flex-start;

        @media (min-width: 992px) {
          align-items: center;
        }

        &:hover {
          transform: scale(1.01);

          > div > a {
            text-decoration: underline;
          }
        }

        > div {
          > img {
            max-width: 60px;
            height: auto;
            margin-right: 16px;

            @media (min-width: 992px) {
              max-width: 96px;
              margin-left: 16px;
              margin-right: 40px;
            }
          }

          > a {
            color: $text-dark;

            h3 {
              font-size: 16px;
              font-weight: 600;
              padding-top: 2px;

              @media (min-width: 992px) {
                font-size: 18px;
                padding-top: 6px;
              }
            }
          }

          > p {
            color: $text-dark-72;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.55em;
            margin-top: 8px;
            margin-bottom: 8px;

            @media (min-width: 992px) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
