section.media-form {
  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 104px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8em;
    padding-top: 8px;

    @media (min-width: 992px) {
      padding-top: 16px;
    }
  }

  #TripettoRunner {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 56px;
    }
  }
}
