section.media-intro {
  .container {
    @media (min-width: 768px) {
      background-image: url(../images/media/intro.svg);
      background-repeat: no-repeat;
      background-size: 280px;
      background-position: right bottom 16px;
    }

    @media (min-width: 992px) {
      background-size: 440px;
    }

    @media (min-width: 1200px) {
      background-size: 480px;
      background-position: right 48px bottom 24px;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-green);
      @include shape-xs(40px, -40px, 15%, auto, auto);
      @include shape-md(80px, 0px, -15%, auto, auto);
      @include shape-lg(104px, -20px, -15%, auto, auto);
      @include shape-xl(128px, -20px, -15%, auto, auto);
    }
  }

  p {
    padding-bottom: 64px;

    @media (min-width: 992px) {
      padding-bottom: 104px;
      width: 87%;
    }

    @media (min-width: 1200px) {
      width: 100%;
      padding-bottom: 128px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
