section.media-mentioned {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 40px 0px 40px 0px;

    @media (min-width: 992px) {
      padding: 64px 0px 80px 0px;
    }

    li {
      padding-bottom: 16px;

      @media (min-width: 992px) {
        padding-bottom: 32px;
      }

      &:last-child {
        padding-bottom: 0;
      }

      > div {
        padding: 0px 16px;
        cursor: pointer;
        border-left: 3px solid $palette-basics;
        transition: transform 0.2s ease-out;

        @media (min-width: 992px) {
          padding: 0px 24px;
        }

        > h3 {
          font-size: 16px;
          font-weight: 600;
          padding-top: 2px;

          @media (min-width: 992px) {
            font-size: 18px;
            padding-top: 6px;
          }
        }

        > a {
          display: inline-block;
          color: $text-link;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.55em;
          margin-top: 8px;

          @media (min-width: 992px) {
            font-size: 16px;
          }
        }

        &:hover {
          transform: scale(1.01);

          > a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
