section.media-reviews {
  .container-fluid {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
    }
  }

  .container {
    padding-top: 24px;

    a {
      margin-bottom: 64px;

      @media (min-width: 992px) {
        margin-bottom: 108px;
      }
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
