section.media-wpmayor {
  .container {
    padding-top: 64px;

    @media (min-width: 992px) {
      padding-top: 96px;
    }

    .media-wpmayor-quote {
      justify-content: center;

      img {
        display: block;
        width: 104px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;

        @media (min-width: 992px) {
          width: 160px;
          margin-bottom: 48px;
        }
      }

      h2 {
        font-size: 30px;
        letter-spacing: -2px;
        line-height: 1.2em;
        text-align: center;

        @media (min-width: 768px) {
          font-size: 48px;
        }

        @media (min-width: 992px) {
          font-size: 64px;
          letter-spacing: -3px;
        }
      }

      p {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5em;
        padding-top: 24px;
        padding-bottom: 40px;
        text-align: center;

        @media (min-width: 992px) {
          font-size: 22px;
          padding-top: 32px;
          padding-bottom: 48px;
        }

        @media (min-width: 1200px) {
          padding-top: 40px;
          font-size: 24px;
        }
      }
    }

    .media-wpmayor-articles {
      display: flex;
      justify-content: center;
    }
  }
}
