.button {
  display: inline-block;
  padding: 10px 14px;
  background-color: $palette-main;
  border: 2px solid $palette-main;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-decoration: none !important;
  outline: none !important;
  transition: background-color 0.2s ease-out, opacity 0.2s ease-out;
  text-align: center;
  cursor: pointer;

  @media (min-width: 768px) {
    padding: 13px 21px;
    font-size: 20px;
  }

  &.button-outline {
    background-color: transparent;
    color: $palette-main;
  }

  &.button-wide {
    @media (min-width: 768px) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &.button-full {
    display: inline-block;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  &.button-tiny {
    font-size: 16px;
    letter-spacing: -0.4px;
    padding: 10px 18px;
  }

  &.button-small {
    font-size: 18px;
    letter-spacing: -0.4px;
    padding: 10px 20px;
  }

  &.button-big {
    @media (min-width: 992px) {
      font-size: 22px;
      letter-spacing: -0.55px;
      padding: 18px 31px 17px 31px;
    }
  }

  &.button-large {
    @media (min-width: 992px) {
      font-size: 24px;
      letter-spacing: -0.4px;
      padding: 16px 31px 16px 31px;
    }
  }

  &.button-margin {
    margin: 4px;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(143, 104, 251, 0.35);
  }

  &:hover {
    background-color: lighten($palette-main, 2%);
    color: #fff;
  }

  i {
    font-size: 88%;
  }

  i + span,
  span + i {
    margin-left: 12px;
  }

  i.fa-search + span {
    margin-left: 6px;
  }

  &.button-red {
    background-color: $palette-red;
    border-color: $palette-red;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(250, 58, 105, 0.35);
    }

    &:hover {
      background-color: lighten($palette-red, 5%);
    }
  }

  &.button-green {
    background-color: $palette-green;
    border-color: $palette-green;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(48, 202, 137, 0.35);
    }

    &:hover {
      background-color: lighten($palette-green, 5%);
    }
  }

  &.button-yellow {
    background-color: $palette-yellow;
    border-color: $palette-yellow;
    color: $text-dark;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(254, 202, 47, 0.35);
    }

    &:hover {
      background-color: lighten($palette-yellow, 5%);
    }
  }

  &.button-orange {
    background-color: $palette-sdk-custom;
    border-color: $palette-sdk-custom;
    color: $text-dark;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(253, 182, 43, 0.35);
    }

    &:hover {
      background-color: lighten($palette-sdk-custom, 2%);
    }
  }

  &.button-white {
    background-color: $palette-white;
    border-color: $palette-white;
    color: $text-dark;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.35);
    }
  }

  &.button-light {
    background-color: $palette-light;
    border-color: $palette-light;
    color: $text-dark;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(239, 242, 246, 0.35);
    }

    &:hover {
      background-color: lighten($palette-light, 2%);
    }
  }

  &.button-dark {
    background-color: $palette-dark;
    border-color: $palette-dark;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(6, 6, 16, 0.35);
    }

    &:hover {
      background-color: lighten($palette-dark, 5%);
    }
  }

  &.button-disabled {
    opacity: 0.4;
    cursor: default;

    &:active,
    &:focus {
      box-shadow: none;
    }
  }
}

ul.buttons {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    display: inline-block;
  }

  li + li {
    padding-left: 4px;

    @media (min-width: 768px) {
      padding-left: 8px;
    }

    @media (min-width: 992px) {
      padding-left: 16px;
    }
  }

  a.button {
    @media (max-width: 575px) {
      i {
        display: none;
      }

      i + span,
      span + i {
        margin-left: 0px;
      }
    }
  }
}
