footer {
  border-top: 1px solid $splitter;
  padding-top: 48px;

  @media (min-width: 992px) {
    padding-top: 54px;
  }

  * {
    color: $text-dark;
  }

  .footer-navigation {
    .footer-branding {
      padding-top: 9px;
      padding-bottom: 40px;

      img {
        width: 24px;
        margin-bottom: 6px;
      }

      h6 {
        display: block;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.4px;
        padding-top: 0px;
      }

      > small {
        display: inline-block;
        padding-top: 12px;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        width: 125px;

        @media (min-width: 992px) {
          width: 175px;
        }
      }

      > a {
        display: inline-block;
        padding: 4px 0px;
        margin-top: 8px;
        font-size: 13px;
        font-weight: 500;
        color: $text-link;
        text-decoration: underline;

        &:hover {
          color: lighten($text-link, 2%);
        }
      }
    }

    .footer-menu {
      padding-top: 4px;
      padding-bottom: 40px;

      @media (min-width: 992px) {
        padding-bottom: 0px;
      }

      small {
        display: inline-block;
        font-size: 11px;
        color: $text-dark-64;
        letter-spacing: 0.2px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1em;
        padding-bottom: 24px;
      }

      h6 {
        font-size: 16px;
        font-weight: 600;
      }

      ul {
        list-style: none;
        padding-left: 0;
        padding-top: 8px;
        margin: 0;

        li {
          padding: 0px;

          a {
            display: inline-block;
            padding: 4px 0px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.2px;
          }
        }
      }
    }

    &.footer-navigation-versions {
      hr {
        border-color: $splitter;
        margin-top: 24px;
        margin-bottom: 64px;

        @media (min-width: 992px) {
          margin-top: 58px;
        }
      }
    }

    &.footer-navigation-global {
      @media (min-width: 992px) {
        justify-content: center;
      }

      .footer-menu {
        h6 {
          font-size: 15px;
          text-transform: uppercase;
        }

        ul {
          li {
            a {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .footer-notes {
    display: flex;
    align-items: center;

    hr {
      border-color: $splitter;
      margin-top: 48px;
      margin-bottom: 0px;
    }

    .footer-copyright {
      font-size: 15px;
      font-weight: 500;
      padding-top: 16px;
      padding-bottom: 32px;
      text-align: center;

      @media (min-width: 576px) {
        text-align: left;
        padding-top: 32px;
      }
    }

    .footer-socials {
      padding-top: 32px;
      padding-bottom: 16px;
      text-align: center;

      @media (min-width: 576px) {
        text-align: right;
        padding-bottom: 32px;
      }

      a {
        display: inline-block;
        font-size: 22px;
        color: $text-dark;

        i {
          width: 38px;
          transition: transform 0.2s ease-out;
        }

        &:hover {
          text-decoration: none;

          i {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &.template-dark {
    border-color: $splitter-dark;

    * {
      color: #fff;
    }

    .footer-notes,.footer-navigation {
      hr {
        border-color: $splitter-dark;
      }
    }
  }
}
