form {
  .form-input {
    background-color: #eff2f6;
    border: 1px solid #eff2f6;
    border-radius: 8px;
    color: $text-dark !important;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.55px;
    height: 51px;
    outline: none !important;
    padding-left: 16px;
    appearance: none;
    -webkit-appearance: none;
    transition: box-shadow 0.2s ease-out;

    @media (min-width: 768px) {
      height: 60px;
    }

    &::placeholder {
      color: $text-dark-48;
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(16, 33, 77, 0.1);
    }

    &.form-input-small {
      font-size: 15px;
      height: 48px;
      padding-left: 16px;
    }

    &.form-input-big {
      @media (min-width: 992px) {
        font-size: 22px;
        height: 72px;
        padding-left: 24px;
      }
    }

    &.form-input-placeholder {
      &::placeholder {
        opacity: 1;
      }
    }
  }
}
