$hamburger-layer-width: 20px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 4px !default;

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1001;
  height: $header-height-mobile;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  display: flex;
  align-items: center;

  @media (min-width: 992px) {
    height: $header-height-desktop;
  }

  &.header-notification {
    position: absolute;
    top: $notification-height;

    .header-mobile-overlay {
      nav {
        ul {
          margin-top: 88px;
        }
      }
    }
  }

  &.background {
    background-color: rgba(#fff, 0.98);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px 2px;

    &.header-notification {
      position: fixed;
      top: 0;

      .header-mobile-overlay {
        top: 0;
      }
    }
  }

  .header-horizontal {
    display: flex;
    justify-content: space-between;

    > div {
      padding-left: 15px;
      padding-right: 15px;
      z-index: 999;
      display: flex;
      align-items: center;

      @media (min-width: 992px) {
        width: 100%;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 13px 0px;
    color: $text-dark;

    @media (min-width: 992px) {
      padding: 13px 10px 13px 0px;
    }

    &:hover {
      text-decoration: underline;

      @media (min-width: 992px) {
        text-decoration: none;

        > img {
          transform: scale(1.05);
        }

        > span {
          &:after {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }

    &.active {
      color: $palette-main;

      > span {
        &:after {
          background-color: $palette-main;
        }
      }
    }

    > img {
      width: 24px;
      height: auto;
      transition: transform 0.2s ease-out;
    }

    > span {
      position: relative;
      margin-left: 8px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.4px;
      white-space: nowrap;

      &:after {
        content: "";
        position: absolute;
        width: 0px;
        left: 0;
        bottom: 2px;
        height: 2px;
        transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
        background-color: $text-dark;
      }
    }
  }

  .button-inline {
    margin-right: 24px;
    font-size: 16px;
    font-weight: 600;
    color: $text-link;
    letter-spacing: -0.4px;
  }

  nav {
    width: 100%;

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      margin-top: 16px;

      @media (min-width: 992px) {
        display: flex;
        margin-left: 24px;
        margin-top: 0px;
      }

      li {
        padding: 0px;
        border-bottom: 1px solid $splitter;

        @media (min-width: 992px) {
          display: inline-block;
          padding: 0px 10px;
          border-bottom: none;
        }

        &.header-nav-split {
          margin-right: auto;
        }

        &.header-nav-secondary {
          @media (min-width: 992px) {
            padding: 0px 4px;
          }
        }

        &.header-nav-cta {
          display: none;

          @media (min-width: 992px) {
            display: inline-block;
            padding: 0px 0px 0px 14px;
          }
        }

        > a,
        > div {
          &:not(.button) {
            position: relative;
            display: block;
            cursor: pointer;
            color: $text-dark !important;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: -0.4px;
            padding: 13px 0px;

            @media (min-width: 992px) {
              display: inline-block;
              padding: 13px 10px;
              font-size: 16px;
            }

            &.header-icon {
              padding: 13px 4px;
            }

            span {
              position: relative;

              &:after {
                content: "";
                position: absolute;
                width: 0px;
                left: 0;
                bottom: 2px;
                height: 2px;
                transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
                opacity: 0;
                background-color: $text-dark;
              }
            }

            i.dropdown-mobile {
              float: right;
              position: relative;
              top: 6px;
              right: 14px;
              transition: transform 0.3s ease-in-out;

              &.dropdown-mobile-active {
                transform: rotate(-180deg);
              }
            }

            &:hover {
              text-decoration: underline;

              @media (min-width: 992px) {
                text-decoration: none;

                > span {
                  &:after {
                    width: 100%;
                    opacity: 1;
                  }
                }

                > img {
                  opacity: 0.8;
                }
              }
            }

            &.active {
              color: $palette-main !important;

              > span {
                &:after {
                  background-color: $palette-main !important;
                }
              }
            }
          }

          .dropdown-menu {
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 0px;
            border: none;
            font-weight: normal;
            cursor: default;
            width: 100%;
            background-color: transparent;
            border-bottom: 1px solid $splitter;
            border-radius: 0px;
            padding: 10px 0px;

            @media (min-width: 992px) {
              position: absolute;
              margin-top: 0px;
              margin-bottom: 0px;
              background-color: #fff;
              box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
              width: auto;
              border-bottom: none;
              border-radius: 4px;
              padding: 10px 32px;
            }

            a.dropdown-menu-primary {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding: 12px 8px;

              &:hover {
                text-decoration: none;

                > div {
                  > .icon-product,
                  > img {
                    transform: scale(1.05);
                  }

                  > span {
                    > span {
                      text-decoration: underline;

                      @media (min-width: 992px) {
                        text-decoration: none;

                        &:after {
                          width: 100%;
                          opacity: 1;
                        }
                      }
                    }
                  }
                }
              }

              > div {
                &:first-child {
                  margin-right: 16px;

                  > .icon-product,
                  > img {
                    transition: transform 0.2s ease-out;
                  }
                }

                > span {
                  display: block;

                  &:first-child {
                    white-space: nowrap;
                    font-size: 15px;
                    font-weight: 600;
                  }

                  &:last-child {
                    white-space: nowrap;
                    font-size: 13px;
                    font-weight: 500;
                  }

                  > span {
                    position: relative;

                    &:after {
                      content: "";
                      position: absolute;
                      width: 0px;
                      left: 0;
                      bottom: 2px;
                      height: 2px;
                      transition: width 0.3s ease-in-out,
                        opacity 0.3s ease-in-out;
                      opacity: 0;
                      background-color: $text-dark;
                    }
                  }
                }
              }
            }

            a.dropdown-menu-secondary {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding: 8px;
              margin: 6px 0px;

              > i {
                font-size: 8px;
                margin-right: 4px;
              }

              > span {
                font-size: 13px;
                font-weight: 500;
              }

              &:hover {
                text-decoration: none;
                > span {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }

  .hamburger {
    display: inline-block;
    transition-property: opacity, filter;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    cursor: pointer;
    padding: 5px;
    margin-top: 4px;

    .hamburger-box {
      width: $hamburger-layer-width;
      height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
      display: inline-block;
      position: relative;
    }

    .hamburger-inner {
      display: block;
      top: $hamburger-layer-height / 2;
      margin-top: $hamburger-layer-height / -2;

      &,
      &::before,
      &::after {
        width: $hamburger-layer-width;
        height: $hamburger-layer-height;
        background-color: $text-dark;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease;
      }

      &::before,
      &::after {
        content: "";
        display: block;
      }

      &::before {
        top: $hamburger-layer-height + $hamburger-layer-spacing;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 0.5s;
      }

      &::after {
        top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
      }
    }

    &.opened {
      .hamburger-inner {
        $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;

        transform: translate3d(0, $y-offset, 0) rotate(45deg);

        &::before {
          transform: rotate(-45deg)
            translate3d(
              $hamburger-layer-width / -7,
              $hamburger-layer-spacing * -1,
              0
            );
          opacity: 0;
        }

        &::after {
          transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
        }
      }
    }
  }

  .header-mobile-overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgba(#fff, 0.98);
    z-index: 998;
    height: 0px;
    opacity: 0;
    overflow: hidden;

    &.opened {
      height: 100%;
      opacity: 1;
      padding-top: 60px;
    }

    .header-mobile-cta {
      margin-top: auto;
      padding-bottom: 24px;

      img {
        width: 80px;
        float: right;
        position: relative;
        bottom: -32px;
        z-index: 1;
      }

      a {
        display: block;
        margin-bottom: 16px;
      }

      &.header-mobile-cta-sdk {
        img {
          width: 64px;
          bottom: -36px;
          right: 24px;
        }
      }
    }
  }

  &.hero-dark {
    &:not(.background) {
      &:not(.opened) {
        .logo {
          color: #fff !important;

          span {
            &:after {
              background-color: #fff;
            }
          }
        }

        nav {
          ul {
            li {
              > a,
              > div {
                &:not(.active) {
                  color: #fff !important;

                  > span {
                    &:after {
                      background-color: #fff;
                    }
                  }
                }
              }
            }
          }
        }

        .hamburger-inner {
          &,
          &::before,
          &::after {
            background-color: #fff;
          }
        }
      }
    }
  }

  &.template-dark {
    &.background {
      background-color: rgba($background-dark, 0.98);
    }

    .logo {
      &:not(.active) {
        color: #fff !important;

        span {
          &:after {
            background-color: #fff;
          }
        }
      }
    }

    nav {
      ul {
        li {
          border-color: $splitter-dark;

          > a,
          > div {
            &:not(.active) {
              color: #fff !important;

              > span {
                &:after {
                  background-color: #fff;
                }
              }
            }
          }
        }
      }
    }

    .hamburger-inner {
      &,
      &::before,
      &::after {
        background-color: #fff;
      }
    }

    .header-mobile-overlay {
      background-color: rgba($background-dark, 0.98);

      @media (max-width: 991px) {
        .dropdown-menu {
          border-color: $splitter-dark !important;

          * {
            color: #fff;
            border-color: $splitter-dark !important;
          }
        }
      }
    }
  }
}
