.button {
  &.button-white {
    background-color: $palette-white;
    border-color: $palette-white;
    color: $text-dark;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.35);
    }

    &:hover {
      background-color: lighten($palette-lighter, 2%);
    }
  }

  &.button-light {
    background-color: $palette-light;
    border-color: $palette-light;
    color: $text-dark;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(239, 242, 246, 0.35);
    }

    &:hover {
      background-color: lighten($palette-light, 1%);
    }
  }

  &.button-builder {
    background-color: $palette-sdk-builder;
    border-color: $palette-sdk-builder;
    color: $text-white;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(143, 104, 251, 0.35);
    }

    &:hover {
      background-color: lighten($palette-sdk-builder, 2%);
    }
  }

  &.button-runners {
    background-color: $palette-sdk-runners;
    border-color: $palette-sdk-runners;
    color: $text-dark;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(254, 202, 47, 0.35);
    }

    &:hover {
      background-color: lighten($palette-sdk-runners, 2%);
    }
  }

  &.button-custom {
    background-color: $palette-sdk-custom;
    border-color: $palette-sdk-custom;
    color: $text-dark;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 165, 56, 0.35);
    }

    &:hover {
      background-color: lighten($palette-sdk-custom, 2%);
    }
  }

  &.button-black {
    background-color: $palette-black;
    border-color: $palette-black;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.35);
    }

    &:hover {
      background-color: lighten($palette-black, 5%);
    }
  }
}
