footer {
  border-top: 1px solid $splitter;
  padding-top: 48px;

  @media (min-width: 992px) {
    padding-top: 54px;
  }

  * {
    color: $text-dark;
  }

  .footer-navigation {
    .footer-branding {
      padding-top: 10px;
      padding-bottom: 40px;

      @media (min-width: 992px) {
        padding-top: 8px;
      }

      img {
        width: 24px;
        margin-bottom: 6px;
      }

      h6 {
        display: block;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.4px;
        padding-top: 0px;
      }

      > small {
        display: inline-block;
        padding-top: 12px;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        width: 125px;
      }

      > a {
        display: inline-block;
        padding: 4px 0px;
        margin-top: 8px;
        font-size: 13px;
        font-weight: 500;
        color: $text-link;
        text-decoration: underline;
        white-space: nowrap;

        &:hover {
          color: lighten($text-link, 2%);
        }
      }
    }

    .footer-menu {
      padding-top: 14px;
      padding-bottom: 32px;

      @media (min-width: 992px) {
        padding-bottom: 0px;
      }

      h6 {
        font-size: 16px;
        font-weight: 600;
      }

      ul {
        list-style: none;
        padding-left: 0;
        padding-top: 8px;
        margin: 0;

        li {
          padding: 0px;

          a {
            display: inline-block;
            padding: 4px 0px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.2px;

            &.footer-menu-logo {
              padding-left: 24px;
              background-position: center left;
              background-size: 16px;
              background-repeat: no-repeat;

              &.footer-menu-logo-react {
                background-image: url(../images/sdk-usage/react.svg);
              }

              &.footer-menu-logo-angular {
                background-image: url(../images/sdk-usage/angular.svg);
              }

              &.footer-menu-logo-javascript {
                background-image: url(../images/sdk-usage/plainjs.svg);
              }

              &.footer-menu-logo-html {
                background-image: url(../images/sdk-usage/html.svg);
              }
            }
          }
        }
      }
    }
  }

  .footer-notes {
    display: flex;
    align-items: center;

    hr {
      border-color: $splitter;
      margin-top: 48px;
      margin-bottom: 0px;
    }

    .footer-copyright {
      font-size: 15px;
      font-weight: 500;
      padding-top: 16px;
      padding-bottom: 32px;
      text-align: center;

      @media (min-width: 576px) {
        text-align: left;
        padding-top: 32px;
      }
    }

    .footer-socials {
      padding-top: 32px;
      padding-bottom: 16px;
      text-align: center;

      @media (min-width: 576px) {
        text-align: right;
        padding-bottom: 32px;
      }

      a {
        display: inline-block;
        font-size: 22px;
        color: $text-dark;

        i {
          width: 38px;
          transition: transform 0.2s ease-out;
        }

        &:hover {
          text-decoration: none;

          i {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &.template-dark {
    border-color: $splitter-dark;

    * {
      color: #fff;
    }

    .footer-notes,.footer-navigation {
      hr {
        border-color: $splitter-dark;
      }
    }
  }
}
