$font-primary: "Poppins", Arial, Helvetica, sans-serif;
$font-secondary: "Nanum Pen Script", "Brush Script MT", cursive;

$header-height-mobile: 60px;
$header-height-desktop: 82px;
$notification-height: 56px;

$background-dark: #18214d;
$background-anthracite: #292e3e;
$background-medium: #dfe4ea;
$background-light: #eff2f6;

$splitter: #eff2f6;
$splitter-medium: #dfe4ea;
$splitter-dark: #2a335b;

$text-white: #fff;
$text-light: #dfe4ea;
$text-dark: #18214d;
$text-black: #000;
$text-dark-72: #585f7f;
$text-dark-64: #6b718d;
$text-dark-48: #9095aa;
$text-grey: #3e4462;
$text-red: #fa3a69;
$text-link: #8f68fb;

$palette-white: #fff;
$palette-light: #eff2f6;
$palette-lighter: #f2f2f2;
$palette-dark: #18214d;
$palette-black: #000;
$palette-main: #8f68fb;

$palette-basics: #18214d;
$palette-build: #855ffb;
$palette-logic: #189dfb;
$palette-customization: #2bcdfd;
$palette-automations: #30ca89;
$palette-sharing: #feca2f;
$palette-hosting: #fa3a69;

$palette-autoscroll: #43dcdb;
$palette-chat: #fdba2c;
$palette-classic: #fa6198;

$palette-studio: #18214d;
$palette-wordpress: #f2f2f2;
$palette-sdk: #000;

$palette-wordpress-light: #f2f2f2;
$palette-wordpress-medium: #dde3e9;
$palette-wordpress-dark: #c5cfd6;
$palette-wordpress-darkest: #afb9c5;

$palette-sdk-builder: #855ffb;
$palette-sdk-runners: #feca2f;
$palette-sdk-blocks: #fdb62b;
$palette-sdk-hybrid: #feca2f;
$palette-sdk-standard: #855ffb;
$palette-sdk-custom: #ffa336;
$palette-sdk-a-team: #30ca89;

$palette-purple: #8f68fb;
$palette-blue: #189dfb;
$palette-turquoise: #2bcdfd;
$palette-green: #30ca89;
$palette-yellow: #feca2f;
$palette-red: #fa3a69;

$palette-producthunt: #da552f;
$palette-producthunt-modern: #ff6154;

$twitter: #1da1f2;
$x-twitter: #000;
$facebook: #3b5998;
$linkedin: #007bb5;
$whatsapp: #25d366;
$youtube: #ff0000;
$medium: #02b875;
$gitlab: #e65328;
$npm: #cb3837;
