section.help-articles-all {
  .container {
    padding-bottom: 56px;

    @media (min-width: 992px) {
      padding-bottom: 104px;
    }

    h2 {
      margin-top: 64px;
      margin-bottom: 8px;

      @media (min-width: 992px) {
        font-size: 30px;
        margin-top: 56px;
      }
    }

    div.category-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 40px;
      padding-bottom: 24px;

      > div {
        margin-right: 16px;
      }

      > h3 {
        font-size: 20px;
        font-weight: 600;

        @media (min-width: 768px) {
          font-size: 22px;
        }
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      margin-bottom: 16px;

      li {
        > div {
          padding: 2px 16px 0px 0px;
          cursor: pointer;
          transition: transform 0.2s ease-out;

          @media (min-width: 992px) {
            padding: 4px 24px 0px 0px;
          }

          > a {
            color: $text-dark;

            h4 {
              font-size: 16px;
              font-weight: 500;

              @media (min-width: 992px) {
                font-size: 18px;
              }
            }
          }

          &:hover {
            transform: scale(1.01);

            > a {
              text-decoration: underline;
            }
          }
        }

        hr {
          border-color: $splitter;
          margin-top: 16px;
          margin-bottom: 16px;
        }

        &:last-child {
          hr {
            display: none;
          }
        }
      }
    }
  }
}
