.help-article-blocks-switcher {
  background-color: $background-light;
  padding: 0px 16px 16px 16px;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    margin-left: -16px;
    margin-right: -16px;
  }

  .dropdown {
    display: inline-block;

    .dropdown-button {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 4px 6px;
        margin-left: 4px;
        text-decoration: none !important;
        outline: none !important;
        color: $text-dark;

        @media (min-width: 768px) {
          padding: 8px 14px;
        }

        &:active,
        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(24, 33, 77, 0.25);
        }

        i {
            font-size: 14px;
            color: $text-dark;
            margin-left: 6px;

            @media (min-width: 768px) {
              margin-left: 24px;
            }
        }
    }

    .dropdown-menu {
      padding: 8px 16px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;

      .dropdown-item {
        color: $text-dark !important;
        padding: 8px 4px 8px 0px;
        line-height: 1.2em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid $splitter;
        font-weight: 600;

        &:last-child {
          border-bottom: none;
        }

        svg {
          width: 24px;
          height: 24px;
          transition: transform 0.2s ease-out;
          margin-right: 12px;
        }

        &:hover,
        &:active {
          background-color: transparent;
          text-decoration: none !important;
          color: $text-dark;

          svg {
            transform: scale(1.05);
          }
        }
      }

      .dropdown-title {
        font-size: 20px;
        color: $text-dark;
        display: block;
        white-space: nowrap;
        padding: 8px 8px 8px 0px;
        font-weight: 700;
        border-bottom: 1px solid $splitter;

        &.dropdown-title-padding {
            padding-top: 32px;
        }
      }
    }
  }
}
