section.help-chapters {
  .container {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  h2 {
    font-size: 24px;

    @media (min-width: 768px) {
      font-size: 32px;
    }

    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  ul.help-chapters {
    padding-top: 32px;
    padding-bottom: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
