section.help-article-form {
  .container {
    padding-top: 48px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 80px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h2 {
    padding-top: 48px;

    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
      padding-top: 64px;
    }
  }

  #TripettoRunner {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 56px;
    }
  }
}
