section.help-global {
  .container {
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-bottom: 70px;
    }

    @media (min-width: 1200px) {
      padding-bottom: 132px;
    }
  }

  h1 {
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-bottom: 80px;
    }

    @media (min-width: 1200px) {
      padding-bottom: 128px;
    }
  }

  .help-global-search {
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-bottom: 80px;
    }

    @media (min-width: 1200px) {
      padding-bottom: 128px;
    }

    small {
      display: inline-block;
      padding-top: 16px;
      font-size: 16px;
      color: $text-dark-64;
      letter-spacing: -0.2px;
    }
  }
}
