section.help-videos-intro {
  .container {
    @media (min-width: 992px) {
      background-image: url(../images/help-videos/intro.svg);
      background-repeat: no-repeat;
      background-size: 380px;
      background-position: right bottom;
    }

    @media (min-width: 1200px) {
      background-size: 440px;
    }
  }

  p {
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-bottom: 164px;
      width: 90%;
    }

    @media (min-width: 1200px) {
      width: 88%;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(32px, 0px, 10%, auto, auto);
      @include shape-sm(32px, 0px, 10%, auto, auto);
      @include shape-md(32px, 0px, -10%, auto, auto);
      @include shape-lg(64px, 0px, -10%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-blue);
      @include shape-xs(64px, auto, auto, 10px, 10%);
      @include shape-sm(64px, auto, auto, 10px, 10%);
      @include shape-md(64px, auto, auto, 10px, 10%);
      @include shape-lg(128px, auto, auto, 30px, 15%);
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

section.help-videos-chapter {
  .container {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  h2 {
    font-size: 24px;

    @media (min-width: 768px) {
      font-size: 32px;
    }

    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  div.help-videos-chapter-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 32px;

    @media (min-width: 992px) {
      padding-bottom: 64px;
    }

    > div {
      margin-right: 16px;
    }
  }

  .help-videos-chapter-footer {
    padding-top: 16px;
    padding-bottom: 58px;

    @media (min-width: 992px) {
      padding-bottom: 88px;
    }
  }

  .help-videos-chapter-anchors {
    padding-bottom: 58px;

    @media (min-width: 992px) {
      padding-top: 16px;
      padding-bottom: 88px;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      display: none;

      @media (min-width: 992px) {
        display: inline-block;
      }

      > li {
        display: inline-block;
        margin-right: 12px;
        vertical-align: top;
        text-align: center;

        a {
          img {
            width: 96px;
            height: 96px;
            transition: transform 0.2s ease-out;
          }

          span {
            display: block;
            font-size: 15px;
            font-weight: 600;
            padding-top: 8px;
            color: $text-dark;
          }

          &.help-videos-chapter-anchors-offset {
            img {
              height: 100px;
            }

            span {
              padding-top: 4px;
            }
          }

          &:hover {
            text-decoration: none;

            img {
              transform: scale(1.02);
            }
          }
        }
      }

      &:after {
        display: inline-block;
        content: "and many more in depth videos";
        position: absolute;
        top: 40px;
        font-family: $font-secondary;
        color: $palette-red;
        font-size: 24px;
        letter-spacing: -1px;
        line-height: 0.8em;
        transform: rotate(16deg);
        width: 160px;
        height: 40px;
        background-image: url(../images/help-videos/hint.svg);
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center left;
        padding-left: 30px;

        @media (min-width: 1200px) {
          font-size: 30px;
          width: 180px;
          height: 50px;
          top: 50px;
        }
      }
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
