section.studio-feature-list-intro {
  .container {
    @media (min-width: 768px) {
      background-image: url(../images/studio-feature-list/intro.svg);
      background-repeat: no-repeat;
      background-size: 220px;
      background-position: right 40px bottom;
    }

    @media (min-width: 992px) {
      background-size: 300px;
      background-position: right 60px bottom;
    }

    @media (min-width: 1200px) {
      background-size: 360px;
      background-position: right 100px bottom;
    }
  }

  p {
    @media (min-width: 768px) {
      width: 91%;
    }

    @media (min-width: 992px) {
      width: 93%;
    }

    @media (min-width: 1200px) {
      width: 91%;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(32px, -3%, 5%, auto, auto);
      @include shape-md(32px, -15%, 15%, auto, auto);
      @include shape-lg(64px, -20%, 10%, auto, auto);
      @include shape-xl(64px, -20%, 15%, auto, auto);
    }
  }
}
