section.sdk-alternative-builder {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }

    .content {
      .sdk-alternative-builder-title {
        @media (min-width: 768px) {
          display: flex;
          justify-content: center;

          h2 {
            text-align: center;
          }
        }
      }

      .sdk-alternative-builder-left {
        @media (min-width: 768px) {
          display: flex;
          align-items: flex-end;
          flex-direction: column;
        }
      }

      p {
        @media (min-width: 768px) {
          text-align: right;
        }
      }

      a.hyperlink {
        @media (max-width: 991px) {
          display: none;
        }

        margin-top: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 15px;
        display: inline-flex;
        align-items: center;

        @media (min-width: 1200px) {
          margin-top: 24px;
        }

        i {
          font-size: 24px;
          margin-left: 0px;
          margin-right: 6px;
        }
      }
    }
  }

  .sdk-features {
    padding-bottom: 48px;

    @media (min-width: 992px) {
      padding-bottom: 64px;
    }
  }
}
