section.sdk-alternative-customizations {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }

    .sdk-alternative-customizations-intro {
      p {
        padding-top: 32px;
        padding-bottom: 24px;

        @media (min-width: 992px) {
          padding-top: 48px;
          padding-bottom: 48px;
        }
      }
    }

    hr {
      border-color: $splitter;
      margin-top: 40px;
      margin-bottom: 0px;

      @media (min-width: 992px) {
        margin-top: 64px;
      }
    }

    .sdk-alternative-customizations-stock-runners {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      @media (min-width: 992px) {
        margin-top: 64px;
      }

      h3 {
        margin-top: 0px;
      }

      .sdk-alternative-customizations-stock-runners-buttons {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        @media (min-width: 768px) {
          align-items: flex-end;
        }

        @media (min-width: 1200px) {
          padding-right: 40px;
        }

        ul {
          list-style: none;
          padding-left: 0;
          margin: 0;

          @media (max-width: 767px) {
            display: flex;
          }

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid $palette-light;
            border-radius: 8px;
            padding: 8px;
            cursor: pointer;
            transition: transform 0.2s ease-out,
              background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
            margin-right: 8px;
            width: 100px;
            min-height: 100px;

            @media (min-width: 768px) {
              padding: 15px 17px;
              border-radius: 16px;
              flex-direction: row;
              justify-content: flex-start;
              width: 272px;
              min-height: auto;
              margin-right: 0px;
              margin-bottom: 8px;
            }

            @media (min-width: 992px) {
              margin-bottom: 16px;
            }

            &:last-child {
              margin-right: 0px;
              margin-bottom: 0px;
            }

            &:hover {
              transform: scale(1.02);
            }

            div + div {
              padding-top: 8px;

              @media (min-width: 768px) {
                padding-top: 0px;
                padding-left: 14px;
              }
            }

            .icon-face {
              transition: background-color 0.3s ease-in-out;
            }

            h4 {
              font-size: 14px;
              font-weight: 700;
              letter-spacing: -0.25px;
              text-align: center;

              @media (min-width: 768px) {
                font-size: 16px;
                text-align: left;
              }

              > span {
                display: none;

                @media (min-width: 768px) {
                  display: inline;
                }
              }
            }

            p {
              font-size: 13px;
              font-weight: 600;
              line-height: 1.5em;
              color: $text-grey;
              padding-top: 2px;
              display: none;
              width: 95%;

              @media (min-width: 768px) {
                display: block;
              }
            }

            &.active {
              &.palette-autoscroll {
                border-color: $palette-autoscroll;
                background-color: $palette-autoscroll;

                .icon-face {
                  background-color: #7fe7e7;
                }
              }

              &.palette-chat {
                border-color: $palette-chat;
                background-color: $palette-chat;

                .icon-face {
                  background-color: #fed070;
                }
              }

              &.palette-classic {
                border-color: $palette-classic;
                background-color: $palette-classic;

                .icon-face {
                  background-color: #fc94b9;
                }
              }
            }
          }
        }
      }

      .sdk-alternative-customizations-stock-runners-content {
        margin-top: 16px;

        @media (min-width: 768px) {
          margin-top: 0px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    .sdk-alternative-customizations-columns {
      display: flex;
      justify-content: center;
    }

    .sdk-alternative-customizations-column {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 40px;

      @media (min-width: 768px) {
        justify-content: center;
      }

      @media (min-width: 992px) {
        margin-top: 64px;
      }

      p {
        @media (min-width: 992px) {
          width: 98%;
        }

        @media (min-width: 1200px) {
          width: 91%;
        }
      }
    }

    .sdk-alternative-customizations-columns-splitter {
      @media (min-width: 768px) {
        display: none;
      }
    }

    .sdk-alternative-customizations-custom-blocks {
      img {
        width: auto;
        max-width: 100%;
        height: 80px;

        @media (min-width: 992px) {
          height: 128px;
        }
      }

      @media (min-width: 768px) {
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        h3,
        p {
          text-align: right;
        }
      }

      @media (min-width: 992px) {
        padding-right: 48px;
      }

      @media (min-width: 1200px) {
        padding-right: 64px;
      }
    }

    .sdk-alternative-customizations-custom-runners {
      @media (min-width: 768px) {
        border-left: 1px solid $splitter;
      }

      @media (min-width: 992px) {
        padding-left: 48px;
      }

      @media (min-width: 1200px) {
        padding-left: 64px;
      }
    }

    .sdk-alternative-customizations-typescript {
      padding-top: 48px;

      @media (min-width: 992px) {
        padding-top: 96px;
      }
    }
  }
}
