section.sdk-alternative-intro {
  .container {
    @media (min-width: 576px) {
      background-image: url(../images/sdk-alternative/intro.svg);
      background-size: 124px auto;
      background-position: right 16px bottom;
      background-repeat: no-repeat;

    }

    @media (min-width: 768px) {
      background-size: 220px auto;
    }

    @media (min-width: 992px) {
      background-size: 380px auto;
    }

    @media (min-width: 1200px) {
      background-size: 400px auto;
      background-position: right 80px bottom;
    }
  }

  h1 {
    @media (min-width: 768px) {
      font-size: 40px;
    }

    @media (min-width: 992px) {
      font-size: 72px;
      letter-spacing: -4px;
    }

    @media (min-width: 1200px) {
      font-size: 80px;
    }
  }

  .sdk-logos {
    padding-top: 48px;
    padding-bottom: 24px;

    @media (min-width: 992px) {
      padding-top: 96px;
      padding-bottom: 32px;
    }
  }

  hr {
    margin-top: 0px !important;
  }
}
