section.landing-overview {
  div.landing-overview-anchors {
    padding-top: 0px;
  }

  .landing-overview-hyperlink {
    padding-top: 16px;
    text-align: center;

    @media (min-width: 992px) {
      padding-top: 32px;
    }

    .hyperlink {
      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  }
}
