section.index-automations {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @media (min-width: 1200px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }

    h2 {
      padding-bottom: 24px;

      @media (min-width: 768px) {
        padding-bottom: 0px;

        span {
          display: inline;
        }
      }
    }

    p {
      padding-bottom: 16px;

      @media (min-width: 992px) {
        padding-bottom: 32px;
      }
    }
  }
}
