section.index-builder {
  border-bottom: 1px solid $splitter;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    background-image: url(../images/index/builder.webp);
    background-repeat: no-repeat;
    background-size: auto 500px;
    background-position: right 52vw center;
  }

  @media (min-width: 992px) {
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: auto 740px;
  }

  @media (min-width: 1200px) {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  .row {
    @media (min-width: 768px) {
      height: 500px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    @media (min-width: 992px) {
      height: 740px;
    }

    .index-builder-visual {
      padding-bottom: 32px;

      @media (min-width: 768px) {
        display: none;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    h2 {
      padding-bottom: 24px;

      @media (min-width: 768px) and (max-width: 991px) {
        width: 80%;
      }

      @media (min-width: 992px) {
        padding-bottom: 48px;
      }
    }

    p {
      padding-bottom: 16px;

      @media (min-width: 992px) {
        padding-bottom: 32px;
      }

      @media (min-width: 1200px) {
        width: 97%;
      }
    }
  }
}
