section.index-form-faces {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @media (min-width: 1200px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  .index-form-faces-title {
    justify-content: center;
    text-align: center;
  }

  .carousel-form-faces-buttons {
    display: flex;
    justify-content: center;
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .carousel-slides {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    .carousel-item {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .index-form-faces-suffix {
    justify-content: center;
    text-align: center;
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    p {
      padding-bottom: 16px;

      @media (min-width: 992px) {
        padding-bottom: 32px;
      }
    }
  }
}
