section.index-hero {
  border-bottom: 1px solid $splitter;

  .row-hero {
    padding-top: 40px;
    background-image: url(../images/index/hero.svg);
    background-position: right 32px bottom;
    background-repeat: no-repeat;
    background-size: 80px;

    @media (min-width: 576px) {
      background-size: 140px;
      background-position: right 10px bottom;
    }

    @media (min-width: 768px) {
      background-size: 200px;
      background-position: right 20px bottom;
    }

    @media (min-width: 992px) {
      padding-top: 60px;
      background-size: 380px;
    }

    @media (min-width: 1200px) {
      background-size: 550px;
    }

    .col-hero {
      h1 {
        font-size: 60px;
        line-height: 0.95em;
        font-weight: 700;
        letter-spacing: -3px;

        @media (min-width: 576px) {
          font-size: 80px;
        }

        @media (min-width: 768px) {
          font-size: 96px;
        }

        @media (min-width: 992px) {
          font-size: 120px;
          letter-spacing: -5px;
        }

        @media (min-width: 1200px) {
          width: 90%;
          font-size: 144px;
          letter-spacing: -6px;
        }
      }

      p {
        padding-top: 24px;
        padding-bottom: 32px;
        font-size: 20px;
        letter-spacing: -1px;
        line-height: 1.5em;

        @media (min-width: 576px) {
          font-size: 22px;
        }

        @media (min-width: 992px) {
          width: 90%;
          padding-top: 32px;
          padding-bottom: 64px;
          font-size: 24px;
          font-weight: 600;
        }

        @media (min-width: 1200px) {
          width: 86%;
        }
      }

      small {
        display: block;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.3px;
        color: $text-grey;
        padding-top: 40px;
        padding-bottom: 24px;
        width: 66%;

        @media (min-width: 576px) {
          width: 60%;
        }

        @media (min-width: 768px) {
          width: 60%;
        }

        @media (min-width: 992px) {
          width: 100%;
          padding-top: 60px;
          padding-bottom: 32px;
        }

        @media (min-width: 1200px) {
          padding-top: 120px;
        }
      }
    }
  }
}
