section.index-hosting {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @media (min-width: 1200px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  .index-hosting-title {
    justify-content: center;
    text-align: center;

    h2 {
      padding-bottom: 24px;

      @media (min-width: 992px) {
        padding-bottom: 64px;
      }
    }
  }

  .index-hosting-visual {
    @media (min-width: 768px) {
      position: relative;
      height: 540px;
    }

    @media (min-width: 992px) {
      height: 668px;
    }

    @media (min-width: 1200px) {
      height: 770px;
    }

    .index-hosting-block {
      position: relative;

      @media (min-width: 768px) {
        position: absolute;
        display: inline-block;
      }
    }
  }

  .index-hosting-content {
    justify-content: center;
    text-align: center;
    padding-bottom: 32px;

    @media (min-width: 768px) {
      justify-content: flex-start;
      text-align: left;
      padding-top: 16px;
      left: 52%;
    }

    @media (min-width: 992px) {
      padding-bottom: 48px;
    }

    p {
      padding-bottom: 16px;

      @media (min-width: 992px) {
        padding-bottom: 32px;
        width: 90%;
      }
    }
  }

  .index-hosting-option {
    background-color: $palette-hosting;
    position: relative;
    margin-bottom: 4px;
    padding: 24px;
    color: #fff;
    width: 100%;

    @media (min-width: 992px) {
      padding: 48px;
    }

    h3 {
      font-size: 28px;
      line-height: 1em;

      @media (min-width: 768px) {
        font-size: 36px;
      }

      @media (min-width: 992px) {
        font-size: 48px;
        letter-spacing: -2px;
      }
    }

    p {
      position: relative;
      font-size: 16px;
      line-height: 1.8em;
      font-weight: 500;
      padding-top: 16px;
      z-index: 2;

      a {
        color: #fff;
        text-decoration: underline;
      }

      @media (min-width: 992px) {
        font-size: 18px;
      }
    }

    &.index-hosting-option-we {
      border-radius: 12px 12px 0px 0px;

      p {
        width: 75%;
      }

      img {
        position: absolute;
        max-width: 100%;
        z-index: 1;
        width: auto;
        height: 100px;
        bottom: -3px;
        right: 4px;
      }

      @media (min-width: 768px) {
        right: 52%;
        width: 46%;
        border-radius: 4px 32px 32px 32px;

        img {
          height: 120px;
          bottom: -3px;
          right: 8px;
        }
      }

      @media (min-width: 992px) {
        width: 380px;
        height: 530px;
        border-radius: 8px 48px 48px 48px;
        margin-bottom: 0px;

        p {
          width: 100%;
        }

        img {
          height: 200px;
          bottom: -5px;
          right: 105px;
        }
      }

      @media (min-width: 1200px) {
        width: 432px;
        height: 603px;

        img {
          height: 290px;
          bottom: -7px;
          right: 80px;
        }
      }
    }

    &.index-hosting-option-self {
      border-radius: 0px 0px 12px 12px;

      p {
        width: 75%;
      }

      img {
        position: absolute;
        max-width: 100%;
        z-index: 1;
        width: auto;
        height: 100px;
        bottom: -14px;
        right: 4px;
      }

      @media (min-width: 768px) {
        left: 52%;
        top: 224px;
        width: 46%;
        border-radius: 24px 4px 24px 24px;

        img {
          height: 100px;
          bottom: -14px;
          right: 8px;
        }
      }

      @media (min-width: 992px) {
        width: 446px;
        height: 360px;
        top: 280px;
        border-radius: 32px 8px 32px 32px;
        margin-bottom: 0px;

        p {
          width: 83%;
        }

        img {
          height: 200px;
          bottom: -28px;
          right: 0px;
        }
      }

      @media (min-width: 1200px) {
        width: 520px;
        height: 416px;
        top: 330px;

        p {
          width: 66%;
        }

        img {
          height: 320px;
          bottom: -44px;
          right: -16px;
        }
      }
    }
  }
}
