section.index-logic {
  border-bottom: 1px solid $splitter;

  .container-top {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 80px;
    }

    @media (min-width: 1200px) {
      padding-top: 128px;
    }

    .row {
      padding-bottom: 32px;

      @media (min-width: 992px) {
        padding-bottom: 48px;
      }
    }
  }

  .container-bottom {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 80px;
    }

    @media (min-width: 1200px) {
      padding-bottom: 128px;
    }

    .row {
      padding-top: 24px;

      @media (min-width: 992px) {
        padding-top: 48px;
      }

      p {
        padding-bottom: 16px;

        @media (min-width: 992px) {
          padding-bottom: 32px;
        }
      }
    }
  }
}
