section.index-products {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @media (min-width: 1200px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  .index-products-title {
    justify-content: center;
    text-align: center;

    h2 {
      font-size: 60px;
      line-height: 1em;
      font-weight: 800;
      letter-spacing: -3px;
      padding-bottom: 24px;

      @media (min-width: 768px) {
        font-size: 80px;
      }

      @media (min-width: 992px) {
        font-size: 100px;
        letter-spacing: -6px;
        padding-bottom: 64px;
      }

      @media (min-width: 1200px) {
        font-size: 136px;
        line-height: 0.95em;
        padding-bottom: 96px;
      }
    }
  }

  .index-products-content {
    @media (min-width: 768px) and (max-width: 991px) {
      justify-content: center;
    }
  }

  .index-products-text {
    justify-content: center;
    text-align: center;
    padding-bottom: 32px;

    @media (min-width: 992px) {
      max-width: 28%;
      flex: 0 0 28%;
      justify-content: flex-end;
      text-align: right;
      padding-bottom: 48px;
    }

    @media (min-width: 1200px) {
      max-width: 30%;
      flex: 0 0 30%;
    }

    p {
      padding-bottom: 16px;

      @media (min-width: 1200px) {
        padding-bottom: 32px;
      }
    }
  }

  .index-products-version {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      margin-bottom: 0px;
    }

    @media (min-width: 992px) {
      max-width: 36%;
      flex: 0 0 36%;
    }

    @media (min-width: 1200px) {
      max-width: 35%;
      flex: 0 0 35%;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      height: 100%;
      padding: 32px;
      border-radius: 8px;
      margin-bottom: 16px;
      text-align: center;

      &.palette-studio {
        background-color: $palette-studio;
        color: #fff;
      }

      &.palette-wordpress {
        background-color: $palette-wordpress;
      }

      h3 {
        font-size: 48px;
        letter-spacing: -2px;
        line-height: 1.2em;

        @media (min-width: 992px) {
          font-size: 64px;
          letter-spacing: -3px;
        }
      }

      p {
        opacity: 0.64;
        font-weight: 600;
      }

      ul {
        list-style: none;
        padding-top: 40px;
        padding-left: 0;
        margin: 0;

        li {
          display: block;
          padding-top: 7px;
          padding-bottom: 7px;
          font-size: 18px;
          font-weight: 500;
          line-height: 1em;
          letter-spacing: -0.5px;
        }
      }

      img {
        max-width: 100%;
        margin-top: 40px;

        @media (min-width: 768px) {
          max-height: 120px;
        }

        @media (min-width: 992px) {
          max-height: 132px;
        }

        @media (min-width: 1200px) {
          max-height: 168px;
        }
      }
    }
  }
}
