section.index-social-proof {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 80px;
    }
  }

  .index-social-proof-frames {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: 1200px) {
      justify-content: space-around;
    }

    .frame {
      @media (min-width: 768px) {
        width: 49%;
      }

      @media (min-width: 1200px) {
        width: 43%;
      }

      &:first-child {
        @media (max-width: 767px) {
          margin-bottom: 16px;
        }
      }
    }
  }
}
