section.examples-article-intro {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 60px;
    }

    @media (min-width: 1200px) {
      padding-top: 80px;
    }
  }

  h1 {
    font-weight: normal;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1.15em;
    padding-top: 24px;
    padding-bottom: 16px;

    @media (min-width: 768px) {
      font-size: 64px;
      letter-spacing: -3px;
    }

    @media (min-width: 992px) {
      padding-top: 48px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    padding-bottom: 64px;

    @media (min-width: 768px) {
      font-size: 24px;
    }

    a {
      color: $text-link;

      &:hover {
        color: $text-link;
      }
    }
  }

  .example-preview {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 80px;
    }

    .example-holder {
      iframe {
        width: 100%;
        height: 600px;
        margin-bottom: 24px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
        border-radius: 8px;
        border: 0;
      }
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

section.examples-article-details {
  .container {
    padding-top: 48px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  .example-info {
    h3 {
      font-size: 24px;
      letter-spacing: -1px;
      padding-top: 32px;
      padding-bottom: 20px;

      @media (min-width: 768px) {
        font-size: 26px;
        padding-top: 64px;
      }
    }

    h4 {
      padding-top: 0px;
      padding-bottom: 16px;
      font-size: 13px;
      font-weight: 600;
      color: $text-grey;
      letter-spacing: -0.3px;

      &:last-of-type {
        border-top: 1px solid $splitter;
        margin-top: 8px;
        padding-top: 16px;

        @media (min-width: 992px) {
          margin-top: 24px;
          padding-top: 32px;
        }
      }
    }

    p {
      padding: 0px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.8em;
      padding-bottom: 32px;

      a {
        color: $text-link;

        &:hover {
          color: $text-link;
        }
      }
    }
  }

  .example-info-padding {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 80px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

section.examples-article-padding {
  padding-bottom: 60px;

  @media (min-width: 992px) {
    padding-bottom: 96px;
  }
}
