section.form-builder-blocks {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @media (min-width: 1200px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  .form-builder-blocks-intro {
    justify-content: center;
    text-align: center;

    h2 {
      padding-bottom: 24px;

      @media (min-width: 992px) {
        padding-bottom: 48px;
      }
    }

    p {
      @media (min-width: 768px) and (max-width: 1199px) {
        padding-left: 36px;
        padding-right: 36px;
      }
    }
  }

  .form-builder-blocks-columns {
    display: flex;
    justify-content: center;
  }

  .form-builder-blocks-column {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }

    > div {
      > div {
        display: flex;
        align-items: center;

        .form-builder-blocks-title {
          padding-left: 16px;

          @media (min-width: 992px) {
            padding-left: 24px;
          }

          h3 {
            font-size: 24px;
            letter-spacing: -1px;

            @media (min-width: 992px) {
              font-size: 40px;
              letter-spacing: -2px;
            }

            @media (min-width: 1200px) {
              font-size: 48px;
            }
          }
        }
      }
    }

    p {
      padding-top: 16px;

      @media (min-width: 992px) {
        padding-top: 32px;
        width: 90%;
      }
    }

    .hyperlink {
      margin-top: 16px;

      @media (min-width: 992px) {
        margin-top: 32px;
      }
    }
  }

  .form-builder-blocks-questions {
    @media (min-width: 992px) {
      padding-right: 48px;
    }

    @media (min-width: 1200px) {
      padding-right: 64px;
    }
  }

  .form-builder-blocks-actions {
    @media (min-width: 768px) {
      border-left: 1px solid $splitter;
    }

    @media (min-width: 992px) {
      padding-left: 48px;
    }

    @media (min-width: 1200px) {
      padding-left: 64px;
    }
  }
}
