section.form-builder-intro {
  padding-top: 40px;

  @media (min-width: 768px) {
    padding-top: 0px;
    margin-top: 96px;
  }

  @media (min-width: 992px) {
    margin-top: 104px;
  }

  @media (min-width: 1200px) {
    margin-top: 120px;
  }

  .container {
    .row {
      @media (min-width: 768px) {
        height: 400px;
        display: flex;
        align-items: center;
      }

      @media (min-width: 992px) {
        height: 600px;
      }

      @media (min-width: 1200px) {
        height: 740px;
      }
    }
  }

  h1 {
    font-size: 40px;
    line-height: 1em;
    letter-spacing: -2px;

    @media (min-width: 768px) {
      width: 72%;
    }

    @media (min-width: 992px) {
      font-size: 72px;
      letter-spacing: -4px;
      width: 100%;
    }

    @media (min-width: 1200px) {
      font-size: 80px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.7em;
    padding-top: 32px;
    padding-bottom: 24px;

    @media (min-width: 576px) {
      width: 95%;
    }

    @media (min-width: 768px) {
      width: 92%;
      padding-bottom: 0px;
    }

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 48px;
      width: 82%;
    }

    @media (min-width: 1200px) {
      font-size: 28px;
      width: 95%;
    }
  }

  .form-builder-intro-tutorial-small {
    padding-bottom: 32px;

    @media (min-width: 768px) {
      display: none;
    }

    img {
      width: 100%;
      height: auto;
      transition: transform 0.2s ease-out;

      &:hover {
        transform: scale(1.01);
      }
    }
  }

  .form-builder-intro-tutorial-large {
    display: none;

    @media (min-width: 768px) {
      display: block;
      position: absolute;
      height: 400px;
      top: 96px;
      left: 52vw;
      right: 0px;
      background-image: url(../images/form-builder/tutorial-large.webp);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: top left;
    }

    @media (min-width: 992px) {
      top: 104px;
      height: 600px;
    }

    @media (min-width: 1200px) {
      top: 120px;
      height: 740px;
      max-width: 1078px;
    }
  }
}
