section.form-builder-logic {
  padding-top: 64px;
  padding-bottom: 64px;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container-intro {
    p {
      padding-top: 32px;

      @media (min-width: 1200px) {
        padding-top: 56px;
      }
    }
  }

  .container-help {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    hr {
      border-color: $splitter;
      margin-top: 40px;
      margin-bottom: 0px;

      @media (min-width: 992px) {
        margin-top: 64px;
      }
    }
  }

  .container-content {
    .form-builder-logic-column {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;

      p {
        padding-top: 40px;

        @media (min-width: 992px) {
          padding-top: 48px;
          width: 94%;
        }
      }

      .hyperlink {
        margin-top: 16px;

        @media (min-width: 992px) {
          margin-top: 32px;
        }
      }
    }
  }

  .container-fluid {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 48px;
    }
  }
}
