section.form-builder-storyboard {
  margin-top: 40px;

  @media (min-width: 768px) {
    background-image: url(../images/form-builder/storyboard.webp);
    background-repeat: no-repeat;
    background-size: auto 500px;
    background-position: right 52vw center;
  }

  @media (min-width: 992px) {
    margin-top: 80px;
    background-size: auto 740px;
  }

  @media (min-width: 1200px) {
    margin-top: 128px;
  }

  .row {
    @media (min-width: 768px) {
      height: 500px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    @media (min-width: 992px) {
      height: 740px;
    }

    .form-builder-storyboard-visual {
      padding-bottom: 32px;

      @media (min-width: 768px) {
        display: none;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    h2 {
      padding-bottom: 24px;

      @media (min-width: 768px) and (max-width: 991px) {
        width: 80%;
      }

      @media (min-width: 992px) {
        padding-bottom: 48px;
      }
    }

    p {
      padding-bottom: 32px;

      @media (min-width: 992px) {
        padding-bottom: 64px;
      }
    }

    ul.help-videos {
      li {
        @media (min-width: 992px) {
          width: 45%;
        }
      }
    }
  }
}

section.form-builder-storyboard-columns {
  border-bottom: 1px solid $splitter;

  .container {
    padding-bottom: 64px;

    @media (min-width: 992px) {
      padding-bottom: 120px;
    }
  }

  .form-builder-storyboard-column {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    p {
      padding-top: 40px;
      margin-bottom: auto;

      @media (min-width: 992px) {
        padding-top: 64px;
        width: 90%;
      }
    }

    .hyperlink {
      margin-top: 16px;

      @media (min-width: 992px) {
        margin-top: 32px;
      }
    }
  }
}
