section.pricing-faq-reviews {
  .container {
    padding-top: 32px;
    padding-bottom: 64px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 96px;
    }
  }
}
