section.wordpress-pricing-guarantee {
  .container {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 64px;
    }
  }

  .pricing-guarantee {
    border: 1px solid $palette-light;
    border-radius: 8px;
    padding: 16px;

    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: start;
      padding: 24px;
    }

    @media (min-width: 992px) {
      align-items: center;
      padding: 28px 36px;
    }
  }

  .pricing-guarantee-badge {
    background-color: $palette-yellow;
    width: 64px;
    height: 60px;
    border-radius: 8px;
    transform: rotate(-4deg);
    text-align: center;
    padding: 4px;
    margin-bottom: 12px;

    @media (min-width: 768px) {
      width: 98px;
      height: 88px;
      border-radius: 16px;
      padding: 12px;
      margin-bottom: 0px;
      margin-right: 24px;
    }

    @media (min-width: 992px) {
      width: 118px;
      height: 106px;
      margin-right: 36px;
    }

    .pricing-guarantee-badge-title {
      padding-top: 1px;
      padding-bottom: 1px;
      display: block;
      font-size: 12px;
      font-weight: 800;
      letter-spacing: -0.5px;
      color: $text-dark;
      width: 100%;
      border-bottom: 2px solid rgba(24, 33, 77, 0.08);

      @media (min-width: 768px) {
        font-size: 16px;
      }

      @media (min-width: 992px) {
        font-size: 20px;
      }
    }

    .pricing-guarantee-badge-subtitle {
      display: block;
      font-size: 8px;
      font-weight: 700;
      letter-spacing: -0.2px;
      line-height: 1.4em;
      color: $text-grey;
      padding-top: 4px;

      @media (min-width: 768px) {
        font-size: 12px;
      }

      @media (min-width: 992px) {
        font-size: 14px;
      }
    }
  }

  h2 {
    font-size: 18px;
    letter-spacing: -1px;
    padding-bottom: 8px;

    @media (min-width: 768px) {
      font-size: 20px;
    }

    @media (min-width: 992px) {
      font-size: 26px;
    }
  }

  p {
    font-weight: 500;
    line-height: 1.6em;

    @media (min-width: 992px) {
      width: 95%;
    }

    @media (min-width: 1200px) {
      width: 76%;
    }
  }
}
