section.wordpress-pricing-hero {
  .container {
    padding-bottom: 60px;

    p {
      padding-top: 16px !important;
      padding-bottom: 0px !important;
    }

    @media (min-width: 768px) {
      background-image: url(../images/wordpress-pricing/hero.svg);
      background-repeat: no-repeat;
      background-position: right 40px bottom;
      background-size: 140px;

    }

    @media (min-width: 992px) {
      background-size: 240px;
      padding-bottom: 128px;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(40px, -30%, 35%, auto, auto);
      @include shape-md(48px, -30%, 0%, auto, auto);
      @include shape-lg(64px, -30%, 0%, auto, auto);
      @include shape-xl(64px, -30%, -10%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-blue);
      @include shape-xs(80px, auto, 50%, -100px, auto);
      @include shape-sm(80px, auto, 40%, -100px, auto);
      @include shape-md(80px, auto, 20%, -100px, auto);
      @include shape-lg(140px, auto, -2%, -110px, auto);
      @include shape-xl(160px, auto, -2%, -110px, auto);
    }
  }
}

