section.wordpress-pricing-plans {
  color: $text-dark;

  .container {
    @media (min-width: 992px) {
      padding-bottom: 24px;
    }
  }

  .pricing-plan-column {
    @media (min-width: 1200px) {
      &:first-child {
        padding-right: 30px;
      }

      &:last-child {
        padding-left: 30px;
      }
    }
  }

  .pricing-plan {
    background-color: $background-light;
    border-radius: 8px;
    padding: 40px 15px 32px 15px;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      padding: 48px 30px 32px 30px;
    }

    @media (min-width: 1200px) {
      padding: 48px 44px 32px 44px;
    }

    .pricing-plan-badge {
      position: absolute;
      right: 40px;
      top: -26px;
      background-color: $palette-yellow;
      width: 98px;
      height: 88px;
      border-radius: 16px;
      transform: rotate(8deg);
      text-align: center;
      padding: 12px;
      transition: transform 0.2s ease-out;

      &:hover {
        text-decoration: none;

        @media (min-width: 992px) {
          transform: rotate(8deg) scale(1.02);
        }
      }

      @media (min-width: 1200px) {
        right: 60px;
      }

      .pricing-plan-badge-title {
        padding-top: 1px;
        padding-bottom: 1px;
        display: block;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: -0.5px;
        width: 100%;
        border-bottom: 2px solid rgba(24, 33, 77, 0.08);
      }

      .pricing-plan-badge-subtitle {
        display: block;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: -0.2px;
        line-height: 1.4em;
        color: $text-grey;
        padding-top: 4px;
      }
    }

    h2 {
      font-size: 32px;
      font-weight: 400;
      letter-spacing: -1px;
      padding-bottom: 4px;

      @media (min-width: 992px) {
        font-size: 48px;
        letter-spacing: -2px;
      }
    }

    .pricing-price {
      padding-bottom: 34px;
    }

    .pricing-availability {
      display: block;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.5px;
      margin-bottom: 8px;
    }

    .pricing-dropdown {
      display: flex;
      flex-wrap: nowrap;

      .dropdown-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        width: auto;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 13px 10px 13px 16px;
        margin-right: 8px;
        text-align: left;
        outline: none !important;

        @media (min-width: 768px) {
          margin-right: 16px;
          padding: 13px 30px 13px 21px;
        }

        &:active,
        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(24, 33, 77, 0.25);
        }

        span {
          font-size: 20px;
          font-weight: 500;
          letter-spacing: -0.5px;
          color: $text-dark;
          text-decoration: none !important;
        }

        i {
          font-size: 18px;
          color: $text-dark;
          margin-left: 6px;

          @media (min-width: 768px) {
            margin-left: 24px;
          }
        }
      }

      .dropdown-menu {
        padding: 8px 24px;
        border-radius: 8px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
        max-width: 340px;

        .dropdown-item {
          color: $text-dark !important;
          padding: 16px 0px 16px 0px;
          line-height: 1em;
          display: flex;
          justify-content: flex-start;
          border-bottom: 1px solid $splitter;
          font-weight: 600;
          cursor: pointer;
          white-space: normal;
          position: relative;

          &:last-child {
            border-bottom: none;
          }

          img {
            transition: transform 0.2s ease-out;
            margin-right: 16px;
          }

          span {
            display: block;
            padding-top: 5px;
            padding-bottom: 6px;
          }

          small {
            display: block;
            font-weight: 500;
            letter-spacing: -0.3px;
            line-height: 1.5em;
          }

          &:hover,
          &:active {
            background-color: transparent;
            text-decoration: none !important;
            color: $text-dark;

            img {
              transform: scale(1.05);
            }

            span > strong {
              text-decoration: underline;
            }
          }
        }

        .dropdown-title {
          font-size: 20px;
          color: $text-dark;
          display: block;
          white-space: nowrap;
          padding: 8px 8px 8px 0px;
          font-weight: 700;
          border-bottom: 1px solid $splitter;

          &.dropdown-title-padding {
            padding-top: 32px;
          }
        }
      }

      .button {
        padding-top: 13px;
      }
    }

    div.pricing-description {
      border-top: 1px solid $splitter-medium;
      margin-top: 24px;

      @media (min-width: 992px) {
        margin-top: 48px;
      }

      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.8em;
        letter-spacing: -0.5px;
        padding-top: 24px;
        padding-bottom: 16px;

        @media (min-width: 992px) {
          padding-top: 48px;
        }

        &.pricing-description-free {
          @media (min-width: 768px) {
            width: 96%;
          }
        }
      }
    }

    .hyperlink {
      margin-top: 16px;

      @media (min-width: 992px) {
        margin-top: 36px;
      }

      i {
        transition: transform 0.2s ease-out;
        transform: rotate(0deg);
      }

      &.collapsed {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
}
