:root {
  --ifm-color-primary: #007bff;
  --ifm-color-primary-dark: #006fe6;
  --ifm-color-primary-darker: #0069d9;
  --ifm-color-primary-darkest: #0056b3;
  --ifm-color-primary-light: #1a88ff;
  --ifm-color-primary-lighter: #268fff;
  --ifm-color-primary-lightest: #4da3ff;
  --ifm-code-font-size: 95%;
  --doc-sidebar-width: 340px !important;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --ifm-color-primary: #3dabff;
  --ifm-color-primary-dark: #1d9dff;
  --ifm-color-primary-darker: #0e96ff;
  --ifm-color-primary-darkest: #007ddd;
  --ifm-color-primary-light: #5db9ff;
  --ifm-color-primary-lighter: #6cc0ff;
  --ifm-color-primary-lightest: #9cd4ff;
}

.navbar__link_internal > svg {
  display: none;
}

.header-gitlab-link:before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../../static/img/logo-gitlab.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  display: flex;
}

.header-gitlab-link:hover {
  opacity: 0.8;
}

span.overview-bullet {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 2px 8px;
  margin-right: 4px;
}

a.overview-link {
  font-size: 11px;
  background-color: rgb(72, 77, 91);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 4px 6px;
  white-space: nowrap;
  text-transform: uppercase;
  position: relative;
  top: 6px;
  margin-right: 2px;
}

a.overview-link:hover {
  text-decoration: none;
  opacity: 0.8;
}

div.youtube-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

div.youtube-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
