section.sdk-alternative-joyfill-intro {
  h1 {
    @media (min-width: 992px) and (max-width: 1199px) {
      width: 95%;
    }
  }

  p {
    @media (min-width: 768px) {
      width: 96%;
    }

    @media (min-width: 992px) {
      width: 98%;
    }

    @media (min-width: 1200px) {
      width: 96%;
    }
  }
}
