section.producthunt-jumbo {
  .jumbo-holder {
    cursor: pointer;

    @media (min-width: 992px) {
      transition: transform 0.2s ease-out;

      &:hover {
        transform: scale(1.01);
      }
    }

    &.palette-producthunt {
      background-color: $palette-producthunt;
      color: #fff;

      @media (min-width: 768px) {
        background-image: url(../images/producthunt/product-hunt.png);
        background-size: auto 180px;
        background-position: right 30px bottom 60px;
      }

      @media (min-width: 992px) {
        background-size: auto 320px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1200px) {
        padding: 64px 30px;
        background-size: auto 420px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1300px) {
        padding: 96px;
        background-position: right 60px bottom 60px;
      }

      .jumbo-content {
        width: 100%;

        @media (min-width: 768px) {
          h1 {
            width: 80%;
          }

          p {
            width: 65%;
          }

          form {
            width: 65%;
          }
        }

        @media (min-width: 992px) {
          h1 {
            width: 72%;
          }

          p {
            width: 60%;
          }

          form {
            width: 58%;
          }
        }

        @media (min-width: 1200px) {
          p {
            width: 50%;
          }

          form {
            width: 55%;
          }
        }

        form {
          @media (min-width: 576px) {
            display: flex;
            flex-wrap: nowrap;
          }

          .form-input {
            width: 100%;
            margin-bottom: 8px;

            @media (min-width: 576px) {
              width: auto;
              flex-grow: 1;
              margin-bottom: 0px;
              margin-right: 8px;
            }

            @media (min-width: 992px) {
              margin-right: 16px;
            }
          }

          .button {
            margin-top: 0px;
            margin-right: 0px;

            @media (max-width: 575px) {
              width: 100%;
            }
          }
        }
      }
    }

    &.palette-producthunt-launch {
      background-color: $palette-producthunt;
      color: #fff;

      @media (min-width: 768px) {
        background-image: url(../images/producthunt/product-hunt.png);
        background-size: auto 240px;
        background-position: right 30px bottom 30px;
      }

      @media (min-width: 992px) {
        background-size: auto 380px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1200px) {
        padding: 64px 30px;
        background-size: auto 480px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1300px) {
        padding: 96px;
        background-size: auto 520px;
        background-position: right 60px bottom 60px;
      }

      .jumbo-content {
        width: 100%;

        h1 {
          font-size: 40px;
          letter-spacing: -2px;

          @media (min-width: 768px) {
            font-size: 60px;
            letter-spacing: -3px;
          }

          @media (min-width: 992px) {
            font-size: 72px;
          }

          @media (min-width: 1200px) {
            font-size: 80px;
            letter-spacing: -4px;
          }
        }

        @media (min-width: 768px) {
          h1 {
            width: 96%;
          }

          p {
            width: 60%;
          }
        }

        @media (min-width: 992px) {
          h1 {
            width: 70%;
          }

          p {
            width: 55%;
          }
        }

        @media (min-width: 1200px) {
          h1 {
            width: 60%;
          }

          p {
            width: 46%;
          }
        }
      }
    }

    &.palette-producthunt-after {
      background-color: $palette-producthunt;
      color: #fff;

      @media (min-width: 768px) {
        background-image: url(../images/producthunt/product-hunt.png);
        background-size: auto 200px;
        background-position: right 30px bottom 30px;
      }

      @media (min-width: 992px) {
        background-size: auto 300px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1200px) {
        padding: 64px 30px;
        background-size: auto 400px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1300px) {
        padding: 96px;
        background-size: auto 400px;
        background-position: right 60px bottom 60px;
      }

      .jumbo-content {
        width: 100%;

        h1 {
          font-size: 40px;
          letter-spacing: -2px;

          @media (min-width: 768px) {
            font-size: 60px;
            letter-spacing: -3px;
          }

          @media (min-width: 992px) {
            font-size: 72px;
          }

          @media (min-width: 1200px) {
            font-size: 80px;
            letter-spacing: -4px;
          }
        }

        @media (min-width: 768px) {
          h1 {
            width: 82%;
          }

          p {
            width: 68%;
          }
        }

        @media (min-width: 992px) {
          h1 {
            width: 70%;
          }

          p {
            width: 62%;
          }
        }

        @media (min-width: 1200px) {
          h1 {
            width: 63%;
          }

          p {
            width: 54%;
          }
        }
      }
    }
  }

  .jumbo-footer {
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-bottom: 160px;
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(64px, auto, auto, -140px, 10%);
      @include shape-md(64px, auto, auto, -120px, 15%);
      @include shape-lg(96px, auto, auto, -150px, 25%);
      @include shape-xl(96px, auto, auto, -160px, 35%);
    }
  }
}
