section.sdk-usage-intro {
  .container {
    @media (min-width: 576px) {
      background-image: url(../images/sdk-usage/react.svg);
      background-size: 100px auto;
      background-position: right 24px bottom 24px;
      background-repeat: no-repeat;
    }

    @media (min-width: 768px) {
      background-size: 200px auto;
      background-position: right 24px bottom 40px;
    }

    @media (min-width: 992px) {
      background-size: 360px auto;
      background-position: right 8px bottom 80px;
    }

    @media (min-width: 1200px) {
      background-size: 480px auto;
    }
  }

  h1 {
    span {
      color: $palette-sdk-react;
    }
  }

  p {
    @media (min-width: 768px) {
      width: 94%;
    }

    @media (min-width: 1200px) {
      width: 90%;
    }
  }

  .button-react {
    background-color: $palette-sdk-react;
    border-color: $palette-sdk-react;
    color: $text-dark;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(96, 217, 251, 0.35);
    }

    &:hover {
      background-color: lighten($palette-sdk-react, 2%);
    }
  }
}
