section.sdk-quote-form {
  .container {
    padding-top: 48px;
    padding-bottom: 32px;
    min-height: 460px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 60px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  p {
    padding-top: 16px;
    font-size: 18px;
    line-height: 1.9em;

    @media (min-width: 992px) {
      width: 95%;
    }

    @media (min-width: 1200px) {
      width: 91%;
    }
  }

  #TripettoRunner {
    padding-top: 24px;

    @media (min-width: 992px) {
      padding-top: 32px;
    }
  }

  small {
    display: block;
    padding-bottom: 24px;
    font-size: 13px;
    line-height: 1.6em;
    border-bottom: 1px solid $splitter;
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 56px;
    }

    @media (min-width: 1200px) {
      width: 90%;
    }
  }

  .sdk-pricing-form-outcome {
    padding-top: 24px;

    .sdk-pricing-form-price {
      padding-bottom: 16px;

      .amount {
        font-size: 56px;
        font-weight: 600;
        letter-spacing: -4px;
        padding-left: 0px;

        @media (min-width: 992px) {
          font-size: 72px;
        }
      }
    }

    .sdk-pricing-form-license {
      font-size: 26px;
      font-weight: 600;
      letter-spacing: -1px;
      line-height: 1em;
      padding-bottom: 8px;
    }

    .sdk-pricing-form-license-type {
      font-size: 18px;
      letter-spacing: -0.5px;
      line-height: 1em;
      padding-bottom: 8px;
    }

    .sdk-pricing-form-users {
      font-size: 13px;
      letter-spacing: -0.3px;
      line-height: 1em;
      padding-bottom: 8px;
    }
  }
}
