section.sdk-quote-intro {
  .container {
    @media (min-width: 768px) {
      background-image: url(../images/sdk-quote/intro.svg);
      background-size: 180px auto;
      background-position: right 12px bottom;
      background-repeat: no-repeat;
    }

    @media (min-width: 992px) {
      background-size: 280px auto;
      background-position: right 48px bottom;
    }

    @media (min-width: 1200px) {
      background-size: 400px auto;
      background-position: right 80px bottom;
    }
  }

  p {
    @media (min-width: 1200px) {
      width: 91%;
    }
  }
}
