---
layout: default
stylesheets: [blog-filter]
scripts: [sticky]
---

<nav class="breadcrumb-navigation block-first" aria-label="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col">
        <ol>
          <li><a href="{{ page.base }}blog/">Blog</a></li>
          <li><span>{{ page.filter_name }}</span></li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<section class="blog-filter intro intro-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col shape-before shape-after">
        <h1>Blog<span>{{ page.filter_title }}</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>
  </div>
</section>

<section class="blog-list">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xl-8">
        <ul class="blog-list">
          {% assign articles = site.articles_blog | where_exp: "item", page.filter %}
          {% for article in articles reversed %}
          {% assign data_category = site.data.blog-categories[article.category] %}
          <li>
            <div onclick="window.location='{{ article.url }}';">
              <a href="{{ article.url }}"><h2>{{ article.article_title }}</h2></a>
              <p>{{ article.description }}</p>
              <small class="pills">
                <span class="pill-splitter pill-splitter-after">{{ data_category.name }}</span>{% if article.time > 0 %}<span><i class="fas fa-file-alt"></i>{{ article.time }} Min.</span>{% endif %}{% if article.time_video > 0 %}<span><i class="fas fa-video"></i>{{ article.time_video }} Min.</span>{% endif %}
              </small>
              {% include blog-article-info.html date=article.date author=article.author %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-3 col-xl-4">
        {% include blog-filters.html %}
      </div>
    </div>
  </div>
</section>
