---
layout: default
stylesheets: [blog-article]
scripts: [article-progress,article-youtube,sticky,tiles]
---
{% assign data_category = site.data.blog-categories[page.category] %}

<nav class="breadcrumb-navigation block-first">
  <div class="container">
    <div class="row">
      <div class="col">
        <ol>
          <li><a href="{{ page.base }}blog/">Blog</a></li>
          <li><a href="{{ page.base }}blog/{{ data_category.url }}/">{{ data_category.filter_name }}</a></li>
          <li><span>{{ page.article_slug }}</span></li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<section class="article-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xl-8">
        <div class="row article-preface">
          <div class="col-12">
            {% if page.article_image %}
              <figure>
                <img src="{{ page.base }}images/blog/{{ page.article_folder }}/{{ page.article_image }}" width="{{ page.article_image_width }}" height="{{ page.article_image_height }}" alt="Intro image by blog article {{ page.article_title }}" />
                {% if page.article_image_caption %}
                <figcaption>{{ page.article_image_caption }}</figcaption>
                {% endif %}
              </figure>
            {% endif %}
            <small class="pills">
              <span class="pill-splitter pill-splitter-after">{{ page.category_name }}</span>{% if page.time > 0 %}<span><i class="fas fa-file-alt"></i>{{ page.time }} Min.</span>{% endif %}{% if page.time_video > 0 %}<span><i class="fas fa-video"></i>{{ page.time_video }} Min.</span>{% endif %}
            </small>
            <h1>{{ page.article_title }}</h1>
            {{ page.excerpt }}
            <div class="author">{% include blog-article-info.html author=page.author date=page.date %}</div>
            <hr />
          </div>
        </div>
        <div class="row ">
          <div class="col-12{% if page.common_content_core != true %} article-content-core{% endif %}">{{ page.content | remove: page.excerpt }}</div>
        </div>
      </div>
      <div class="col-lg-3 col-xl-4">
        <div class="article-side">
          <div class="article-side-splitter">
            <span class="article-side-title">Share this article</span>
            {% assign share_url = site.url | append: page.url %}
            <a href="https://api.whatsapp.com/send?text={{ page.article_title | url_encode }}%20{{ share_url | url_encode }}" class="share whatsapp" target="_blank" rel="noopener noreferrer" title="Share this blog on Whatsapp"><i class="fab fa-square-whatsapp"></i></a>
            <a href="https://x.com/intent/post?url={{ share_url | url_encode }}&text={{ page.article_title | url_encode }}" class="share x-twitter" target="_blank" rel="noopener noreferrer" title="Share this blog on X"><i class="fab fa-square-x-twitter"></i></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url | url_encode }}&t={{ page.article_title | url_encode }}" class="share facebook" target="_blank" rel="noopener noreferrer" title="Share this blog on Facebook"><i class="fab fa-square-facebook"></i></a>
            <a href="https://www.linkedin.com/shareArticle?url={{ share_url | url_encode }}" class="share linkedin" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin" title="Share this blog on LinkedIn"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% assign related_posts = site.articles_blog | where: "tags", page.category %}
{% assign related_posts_count = 0 %}

{% for article in related_posts reversed %}
  {% if article.url != page.url %}
    {% if related_posts_count == 0 %}
<section class="blog-related">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <hr />
        <h2>You might also be interested in...</h2>
        <ul class="tiles">
    {% endif %}
    {% include tile.html url=article.url title=article.article_title palette-top='dark' time=article.time time_video=article.time_video type=article.category_name %}
    {% assign related_posts_count = related_posts_count | plus: 1 %}
    {% if related_posts_count == 2 %}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if related_posts_count > 0 %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endif %}

<div class="article-progress-container" id="articleProgress">
  <div class="article-progress-bar" id="articleProgressBar"></div>
</div>
