<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="google" content="notranslate" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ page.base }}icons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ page.base }}icons/favicon-16x16.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ page.base }}icons/apple-touch-icon.png" />
        <link rel="manifest" href="{{ page.base }}manifest.json" />
        {% include styles.html -%}
        {% seo -%}
        {% include gtm.html -%}
    </head>
    <body{% if page.color == "dark" %} class="template-dark"{% endif %}>
        {% include gtm-ns.html -%}
        {% include notification.html -%}
        {% if page.header %}{% include {{ page.header }} %}{% else %}{% include header.html %}{% endif %}
        {{ content -}}
        {% if page.footer %}{% include {{ page.footer }} %}{% else %}{% include footer.html %}{% endif %}
        {% include attention.html -%}
        {% include support.html -%}
        {% include scripts.html -%}
    </body>
</html>
