---
layout: default
menu: examples
stylesheets: [example]
---
<nav class="breadcrumb-navigation block-first">
  <div class="container">
    <div class="row">
      <div class="col">
        <ol>
          <li><a href="{{ page.base }}examples/">Examples</a></li>
          <li class="dropdown">
            <span role="button" class="dropdown-button active" id="examplesBreadcrumb" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"><span>{{ page.article_breadcrumb }}</span></span>
            <div class="dropdown-menu" aria-labelledby="examplesBreadcrumb">
              {% assign articles = site.articles_examples | where_exp: "item", "item.status != 'hidden'" %}
              {% for article in articles %}
              <a class="dropdown-item" href="{{ article.url }}">
                  <div>{% include icon-face.html face=article.example_face name=article.example_face_name size='xs' template='background' %}</div>
                  <div>{{ article.article_breadcrumb }}<small>{{ article.example_face_name }} form</small></div>
              </a>
              {% endfor %}
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<section class="examples-article-intro">
  <div class="container">
    <div class="row">
      <div class="col-xl-11">
        {% include icon-face.html face=page.example_face size='xl' name=page.example_face_name template='background' %}
        <h1>{{ page.article_title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <p>{{ page.article_description }}</p>
      </div>
    </div>
    <div class="row example-preview">
      <div class="col-12">
        <div class="example-holder"><iframe src="{{ page.url_runner }}"></iframe></div>
      </div>
      <div class="col-12">
        <ul class="hyperlinks">
          <li><a href="{{ page.url_runner }}" class="hyperlink hyperlink-small" target="_blank" rel="noopener noreferrer"><span>Show fullscreen version</span><i class="fas fa-arrow-right"></i></a></li>
          <li><a href="{{ page.url_template }}" class="hyperlink hyperlink-small" target="_blank" rel="noopener noreferrer"><span>Open in the studio</span><i class="fas fa-arrow-right"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
  </div>
</section>

<section class="examples-article-details">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>In this example</h2>
      </div>
    </div>
    <div class="row example-info">
      <div class="col-md-9 col-lg-7 col-xl-6">
        <h3>Question types</h3>
        <p>Tripetto offers a wide range of question blocks. Use the builder to compose forms and surveys out of as many questions as you like into as many flows as you want.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-properties">
          {% if page.example_questions contains "checkbox" %}<a href="{{ page.base }}help/articles/how-to-use-the-checkbox-single-block/" class="form-property palette-build">{% include icons/checkbox.html %}Checkbox</a>{% endif %}
          {% if page.example_questions contains "checkboxes" %}<a href="{{ page.base }}help/articles/how-to-use-the-checkboxes-block/" class="form-property palette-build">{% include icons/checkboxes.html %}Checkboxes</a>{% endif %}
          {% if page.example_questions contains "date" %}<a href="{{ page.base }}help/articles/how-to-use-the-date-and-time-block/" class="form-property palette-build">{% include icons/date.html %}Date</a>{% endif %}
          {% if page.example_questions contains "dropdown" %}<a href="{{ page.base }}help/articles/how-to-use-the-dropdown-block/" class="form-property palette-build">{% include icons/dropdown.html %}Dropdown</a>{% endif %}
          {% if page.example_questions contains "dropdown-multi-select" %}<a href="{{ page.base }}help/articles/how-to-use-the-dropdown-multi-select-block/" class="form-property palette-build">{% include icons/dropdown-multi-select.html %}Dropdown (multi-select)</a>{% endif %}
          {% if page.example_questions contains "email-address" %}<a href="{{ page.base }}help/articles/how-to-use-the-email-address-block/" class="form-property palette-build">{% include icons/email-address.html %}Email address</a>{% endif %}
          {% if page.example_questions contains "file-upload" %}<a href="{{ page.base }}help/articles/how-to-use-the-file-upload-block/" class="form-property palette-build">{% include icons/file-upload.html %}File upload</a>{% endif %}
          {% if page.example_questions contains "matrix" %}<a href="{{ page.base }}help/articles/how-to-use-the-matrix-block/" class="form-property palette-build">{% include icons/matrix.html %}Matrix</a>{% endif %}
          {% if page.example_questions contains "multiple-choice" %}<a href="{{ page.base }}help/articles/how-to-use-the-multiple-choice-block/" class="form-property palette-build">{% include icons/multiple-choice.html %}Multiple choice</a>{% endif %}
          {% if page.example_questions contains "number" %}<a href="{{ page.base }}help/articles/how-to-use-the-number-block/" class="form-property palette-build">{% include icons/number.html %}Number</a>{% endif %}
          {% if page.example_questions contains "paragraph" %}<a href="{{ page.base }}help/articles/how-to-use-the-paragraph-block/" class="form-property palette-build">{% include icons/paragraph.html %}Paragraph</a>{% endif %}
          {% if page.example_questions contains "password" %}<a href="{{ page.base }}help/articles/how-to-use-the-password-block/" class="form-property palette-build">{% include icons/password.html %}Password</a>{% endif %}
          {% if page.example_questions contains "phone-number" %}<a href="{{ page.base }}help/articles/how-to-use-the-phone-number-block/" class="form-property palette-build">{% include icons/phone-number.html %}Phone number</a>{% endif %}
          {% if page.example_questions contains "picture-choice" %}<a href="{{ page.base }}help/articles/how-to-use-the-picture-choice-block/" class="form-property palette-build">{% include icons/picture-choice.html %}Picture choice</a>{% endif %}
          {% if page.example_questions contains "radio-buttons" %}<a href="{{ page.base }}help/articles/how-to-use-the-radio-buttons-block/" class="form-property palette-build">{% include icons/radio-buttons.html %}Radio buttons</a>{% endif %}
          {% if page.example_questions contains "ranking" %}<a href="{{ page.base }}help/articles/how-to-use-the-ranking-block/" class="form-property palette-build">{% include icons/ranking.html %}Ranking</a>{% endif %}
          {% if page.example_questions contains "rating" %}<a href="{{ page.base }}help/articles/how-to-use-the-rating-block/" class="form-property palette-build">{% include icons/rating.html %}Rating</a>{% endif %}
          {% if page.example_questions contains "scale" %}<a href="{{ page.base }}help/articles/how-to-use-the-scale-block/" class="form-property palette-build">{% include icons/scale.html %}Scale</a>{% endif %}
          {% if page.example_questions contains "signature" %}<a href="{{ page.base }}help/articles/how-to-use-the-signature-block/" class="form-property palette-build">{% include icons/signature.html %}Signature</a>{% endif %}
          {% if page.example_questions contains "statement" %}<a href="{{ page.base }}help/articles/how-to-use-the-statement-block/" class="form-property palette-build">{% include icons/statement.html %}Statement</a>{% endif %}
          {% if page.example_questions contains "text-single" %}<a href="{{ page.base }}help/articles/how-to-use-the-text-single-line-block/" class="form-property palette-build">{% include icons/text-single.html %}Text - Single line</a>{% endif %}
          {% if page.example_questions contains "text-multiple" %}<a href="{{ page.base }}help/articles/how-to-use-the-text-multiple-lines-block/" class="form-property palette-build">{% include icons/text-multiple.html %}Text - Multiple lines</a>{% endif %}
          {% if page.example_questions contains "url" %}<a href="{{ page.base }}help/articles/how-to-use-the-url-block/" class="form-property palette-build">{% include icons/url.html %}URL</a>{% endif %}
          {% if page.example_questions contains "yes-no" %}<a href="{{ page.base }}help/articles/how-to-use-the-yes-no-block/" class="form-property palette-build">{% include icons/yes-no.html %}Yes/No</a>{% endif %}
        </div>
      </div>
    </div>
    <div class="row example-info">
      <div class="col-md-10 col-lg-7 col-xl-6">
        <h3>Logic types</h3>
        <p>Tripetto’s numerous logic features let you build highly personable and smart form and surveys. Using the right logic increases completion rates and gives you better insights altogether. It’s the secret sauce for truly conversational forms.</p>
      </div>
    </div>
    <div class="row example-info-padding">
      <div class="col-12">
        <div class="form-properties">
          {% if page.example_logic contains "branch" %}<a href="{{ page.base }}help/articles/discover-the-power-of-branches-for-your-logic/" class="form-property palette-logic">{% include icons/branch.html %}Branch logic</a>{% endif %}
          {% if page.example_logic contains "iteration" %}<a href="{{ page.base }}help/articles/how-to-repeat-follow-up-for-multiple-selected-options/" class="form-property palette-logic">{% include icons/iteration.html %}Iteration logic</a>{% endif %}
          {% if page.example_logic contains "piping" %}<a href="{{ page.base }}help/articles/how-to-show-respondents-answers-in-your-form-using-piping-logic/" class="form-property palette-logic">{% include icons/pipe.html %}Piping logic (recall values)</a>{% endif %}
          {% if page.example_logic contains "jump" %}<a href="{{ page.base }}help/articles/learn-about-different-types-of-branch-endings-for-your-logic/" class="form-property palette-logic">{% include icons/jump.html %}Jump logic</a>{% endif %}
          {% if page.example_logic contains "password-match" %}<a href="{{ page.base }}help/articles/how-to-verify-passwords-with-password-match/" class="form-property palette-logic">{% include icons/password-match.html %}Password match</a>{% endif %}
          {% if page.example_logic contains "calculator" %}<a href="{{ page.base }}help/articles/how-to-use-the-calculator-block/" class="form-property palette-logic">{% include icons/calculator.html %}Calculator</a>{% endif %}
          {% if page.example_logic contains "hidden-field" %}<a href="{{ page.base }}help/articles/how-to-use-the-hidden-field-block/" class="form-property palette-logic">{% include icons/hidden-field.html %}Hidden field</a>{% endif %}
          {% if page.example_logic contains "custom-variable" %}<a href="{{ page.base }}help/articles/how-to-use-the-custom-variable-block/" class="form-property palette-logic">{% include icons/custom-variable.html %}Custom variable</a>{% endif %}
          {% if page.example_logic contains "set-value" %}<a href="{{ page.base }}help/articles/how-to-use-the-set-value-block/" class="form-property palette-logic">{% include icons/set-value.html %}Set value</a>{% endif %}
          {% if page.example_logic contains "force-stop" %}<a href="{{ page.base }}help/articles/how-to-use-the-force-stop-block/" class="form-property palette-logic">{% include icons/force-stop.html %}Force stop</a>{% endif %}
          {% if page.example_logic contains "raise-error" %}<a href="{{ page.base }}help/articles/how-to-use-the-raise-error-block/" class="form-property palette-logic">{% include icons/raise-error.html %}Raise error</a>{% endif %}
          {% if page.example_logic contains "send-email" %}<a href="{{ page.base }}help/articles/how-to-use-the-send-email-block/" class="form-property palette-logic">{% include icons/send-email.html %}Send email</a>{% endif %}
          {% if page.example_logic contains "endings" %}<a href="{{ page.base }}help/articles/how-to-add-one-or-multiple-closing-messages/" class="form-property palette-logic">{% include icons/endings.html %}Flexible endings</a>{% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
  </div>
</section>

<section class="examples-article-details examples-article-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Other settings</h2>
      </div>
    </div>
    <div class="row example-info">
      <div class="col-md-6">
        <div class="row">
          <div class="col-xl-9">
            <h3>Sharing methods</h3>
            <p>Tripetto forms can be shared using different methods. They’re either embedded in a page, or presented fullscreen at a shareable URL.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h4>Form sharing from <a href="{{ page.base }}studio/">Tripetto studio</a></h4>
            <div class="form-properties">
              <a href="{{ page.base }}help/articles/how-to-share-a-link-to-your-form-from-the-studio/" class="form-property palette-sharing">{% include icons/shareable-link.html %}Shareable URL</a>
              <a href="{{ page.base }}help/articles/how-to-embed-a-form-from-the-studio-into-your-website/" class="form-property palette-sharing">{% include icons/embed.html %}HTML embed</a>
              <a href="{{ page.base }}help/articles/how-to-integrate-a-form-form-the-studio-into-your-website-or-application/" class="form-property palette-sharing">{% include icons/api-integration.html %}App integration</a>
            </div>
            <h4>Form sharing from <a href="{{ page.base }}wordpress/">Tripetto WordPress plugin</a></h4>
            <div class="form-properties">
              <a href="{{ page.base }}help/articles/how-to-share-a-link-to-your-form-in-your-wordpress-site/" class="form-property palette-sharing">{% include icons/shareable-link.html %}Shareable URL</a>
              <a href="{{ page.base }}help/articles/how-to-embed-your-form-in-your-wordpress-site-using-the-shortcode/" class="form-property palette-sharing">{% include icons/embed.html %}Shortcode</a>
              <a href="{{ page.base }}help/articles/how-to-embed-your-form-in-your-wordpress-site-using-the-gutenberg-block/" class="form-property palette-sharing">{% include icons/wordpress.html %}Gutenberg block</a>
              <a href="{{ page.base }}help/articles/how-to-embed-your-form-in-your-wordpress-site-using-the-elementor-widget/" class="form-property palette-sharing">{% include icons/elementor.html %}Elementor widget</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-xl-9">
            <h3>Storage setups</h3>
            <p>Everything you build and collect is stored where you want. Nothing touches any other platform unless you hook things up.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h4>Data storage in <a href="{{ page.base }}studio/">Tripetto studio</a></h4>
            <div class="form-properties">
              <a href="{{ page.base }}help/articles/how-to-get-your-results-from-the-studio/" class="form-property palette-hosting">{% include icons/cloud.html %}Tripetto cloud</a>
              <a href="{{ page.base }}help/articles/how-to-take-control-over-your-data-from-the-studio/" class="form-property palette-hosting">{% include icons/self-host.html %}Self-hosted</a>
            </div>
            <h4>Data storage in <a href="{{ page.base }}wordpress/">Tripetto WordPress plugin</a></h4>
            <div class="form-properties">
              <a href="{{ page.base }}help/articles/how-to-get-your-results-from-the-wordpress-plugin/" class="form-property palette-hosting">{% include icons/wordpress.html %}Self-hosted in your WordPress</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
