---
layout: default
menu: help
stylesheets: [help-category]
scripts: [sticky,scroll]
---
{% assign data_category = site.data.help-categories[page.category_id] %}

{% if page.category_area == "studio" %}
{% assign area_name = "Tripetto studio" %}
{% assign area_name_inline = "studio" %}
{% assign area_url = "studio" %}
{% assign categories = site.page_studio_help_categories | where_exp: "item", "item.category_type == 'chapter'" %}
{% endif %}

{% if page.category_area == "wordpress" %}
{% assign area_name = "Tripetto WordPress plugin" %}
{% assign area_name_inline = "plugin" %}
{% assign area_url = "wordpress" %}
{% assign categories = site.page_wordpress_help_categories | where_exp: "item", "item.category_type == 'chapter'" %}
{% endif %}

<nav class="breadcrumb-navigation block-first" aria-label="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col">
        <ol>
          <li><a href="{{ page.base }}{{ area_url }}/">{{ area_name }}</a></li>
          <li><a href="{{ page.base }}{{ area_url }}/help/">Help Center</a></li>
          {% if page.category_type == "basics" %}
          <li><span class="palette-{{ page.category_id }}">{{ data_category.name }}</span></li>
          {% else %}
          <li class="dropdown">
            <span role="button" class="dropdown-button palette-{{ page.category_id }}" id="helpBreadcrumbCategories" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"><span>{{ data_category.name }}</span></span>
            <div class="dropdown-menu" aria-labelledby="helpBreadcrumbCategories">
              {% for category in categories %}
              {% assign data_category_menu = site.data.help-categories[category.category_id] %}
              <a href="{{ category.url }}" class="dropdown-item">
                <div>{% include icon-chapter.html chapter=category.category_id size='small' name=data_category_menu.name %}</div>
                <div>{{ data_category_menu.name }}</div>
              </a>
              {% endfor %}
            </div>
          </li>
          {% endif %}
        </ol>
      </div>
    </div>
  </div>
</nav>

<section class="help-intro">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ data_category.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-xl-8">
        <form action="{{ page.base }}{{ area_url }}/help/search/" method="get" class="help-search form-inline">
          <label class="sr-only" for="search-input">Search help articles for the {{ area_name_inline }}</label>
          <input type="text" name="q" class="form-input form-input-big" id="search-input" placeholder="Search help articles for the {{ area_name_inline }}" />
          <button class="button button-big"><i class="fas fa-search"></i><span>Search</span></button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>
  </div>
</section>

{% if page.category_videos %}
<section class="help-videos-featured">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Featured Video Tutorials</h2>
        <ul class="help-videos">
          {% for video in page.category_videos %}
          {% assign video_item = site.data.help-videos[video] %}
          <li><a href="{{ page.base | append: video_item.url }}"><img src="{{ page.base }}images/help-videos-thumbnails/{{ video_item.thumbnail }}" width="256" height="144" alt="Visual thumbnail for the video '{{ video_item.name }}'" /></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col help-videos-featured-footer">
        <a href="{{ page.base }}{{ area_url }}/help/video-tutorials/" class="hyperlink palette-{{ page.category_id }}"><span>Show all video tutorials</span><i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="help-list">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xl-8">
        <h2>Available Articles</h2>
        <ul class="help-list">
          {% assign subcategory = "" %}
          {% assign articles = site.articles_help | where_exp: "item", "item.areas contains page.category_area and item.category_id == page.category_id" %}
          {% for article in articles %}
            {% if subcategory != article.subcategory %}
            {% assign subcategory = article.subcategory %}
            {% assign subcategory_item = site.data.help-subcategories[article.subcategory] %}
            <li class="help-list-subtitle"><h3 id="{{ subcategory_item.anchor }}">{{ subcategory_item.title }}</h3></li>
            {% endif %}
          <li>
            <div class="palette-{{ article.category_id }}" onclick="window.location='{{ article.url }}';">
              {% if article.article_video %}
              {% assign article_video = site.data.help-videos[article.article_video] %}
              <img src="{{ page.base }}images/help-videos-thumbnails/{{ article_video.thumbnail }}" width="256" height="144" alt="Visual thumbnail for the video '{{ article_video.name }}'" />
              {% endif %}
              <a href="{{ article.url }}"><h3>{{ article.article_title }}</h3></a>
              <p>{{ article.description }}</p>
              <small class="pills">
                <span class="palette-{{ article.category_id }} pill-splitter pill-splitter-after">{{ data_category.pill }}</span>{% if article.time > 0 %}<span><i class="fas fa-file-alt"></i>{{ article.time }} Min.</span>{% endif %}{% if article.time_video > 0 %}<span><i class="fas fa-video"></i>{{ article.time_video }} Min.</span>{% endif %}
              </small>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-3 col-xl-4">
        <div class="article-side">
          <div class="article-side-splitter">
            <span class="article-side-title">In this chapter</span>
            <ul class="article-table-of-contents">
              {% assign subcategory = "" %}
              {% assign articles = site.articles_help | where_exp: "item", "item.areas contains page.category_area and item.category_id == page.category_id" %}
              {% for article in articles %}
                {% if subcategory != article.subcategory %}
                {% assign subcategory = article.subcategory %}
                {% assign subcategory_item = site.data.help-subcategories[article.subcategory] %}
                <li class="level-{{ subcategory_item.level }}"><a href="#{{ subcategory_item.anchor }}">{{ subcategory_item.label }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>window.localStorage.setItem("tripetto_help_area", "{{ page.category_area }}");</script>
