---
layout: default
menu: help
stylesheets: [help-article]
scripts: [article-breadcrumb,article-table-of-contents,article-youtube,sticky,scroll,tiles]
---
{% if page.areas.size == 1 %}
  {% if page.areas contains "studio" %}
    {% assign area_name = "Studio" %}
    <script>window.localStorage.setItem("tripetto_help_area", "studio");</script>
  {% endif %}
  {% if page.areas contains "wordpress" %}
    {% assign area_name = "WordPress plugin" %}
    <script>window.localStorage.setItem("tripetto_help_area", "wordpress");</script>
  {% endif %}
{% endif %}

{% assign data_category = site.data.help-categories[page.category_id] %}

<nav class="breadcrumb-navigation block-first" aria-label="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col">
        <ol>
          <li class="d-none" id="help_breadcrumb_area_item"><a href="{{ page.base }}" id="help_breadcrumb_area_link"></a></li>
          <li><a href="{{ page.base }}help/" id="help_breadcrumb_help">Help Center</a></li>
          <li><span class="palette-{{ page.category_id }}">{{ data_category.name }}</span></li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<section class="article-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xl-8">
        <div class="row article-preface">
          <div class="col-12">
            {% if page.article_image %}
              <figure>
                <img src="{{ page.base }}images/help/{{ page.article_folder }}/{{ page.article_image }}" alt="Article intro image" loading="lazy" />
                {% if page.article_image_caption %}
                <figcaption>{{ page.article_image_caption }}</figcaption>
                {% endif %}
              </figure>
            {% endif %}
            {% if page.article_video %}
            {% assign video = site.data.help-videos[page.article_video] %}
              <figure>
                <div class="youtube-player" data-id="{{ video.youtube }}"></div>
                {% if video.caption %}
                <figcaption>{{ video.caption }}</figcaption>
                {% endif %}
              </figure>
            {% endif %}
            <small class="pills">
              <span class="palette-{{ page.category_id }} pill-splitter pill-splitter-after">{{ data_category.pill }}</span>{% if page.time > 0 %}<span><i class="fas fa-file-alt"></i>{{ page.time }} Min.</span>{% endif %}{% if page.time_video > 0 %}<span><i class="fas fa-video"></i>{{ page.time_video }} Min.</span>{% endif %}
            </small>
            <h1>{{ page.article_title }}</h1>
            {{ page.excerpt }}
            <div class="author">{% include help-article-info.html author=page.author %}</div>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-12{% if page.common_content_core != true %} article-content-core{% endif %}">{{ page.content | remove: page.excerpt }}</div>
        </div>
      </div>
      <div class="col-lg-3 col-xl-4">
        <div class="article-side">
          <div class="article-side-splitter">
            <span class="article-side-title">In this article</span>
            <ul class="article-table-of-contents"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="help-article-form">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <h2>Help us improve</h2>
        <div id="TripettoRunner" class="runner-autoscroll-horizontal"></div>
      </div>
    </div>
  </div>
</section>
{% include tripetto-form.html token='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoibFV6Q2ROWXVWYnEvcmZSRkxObERPQ25JcGtEV0VLbkRLUWlRUVNZSzRSMD0iLCJkZWZpbml0aW9uIjoiN1hmQWJiVXZqS05YdURnZ2ZWeUs1Qi9pblFZMEZQUXhDZWpNTDU2cDg3RT0iLCJ0eXBlIjoiY29sbGVjdCJ9.D8Sz-_pTg2t1ZRyycVglDrkWdz5KOS5pZ_HekO23lYI' %}
