<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="google" content="notranslate" />
        <meta name="robots" content="noindex,nofollow" />
        <link rel="stylesheet" type="text/css" href="{{ page.base }}css/studio-checkout.css?v={{ site.cache_version }}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ page.base }}icons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ page.base }}icons/favicon-16x16.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ page.base }}icons/apple-touch-icon.png" />
        <link rel="manifest" href="{{ page.base }}manifest.json" />
        {% if page.freemius %}
        <script src="{{ page.base }}vendors/jquery.js?v={{ site.cache_version }}"></script>
        <script src="https://checkout.freemius.com/js/v1/"></script>
        <script src="{{ page.base }}js/freemius-studio.js?v={{ site.cache_version }}"></script>
        {% endif %}
        {% seo %}
        {% include gtm.html %}
    </head>
    <body class="studio-checkout">
        {% include gtm-ns.html %}
        {{ content }}
    </body>
</html>
