---
layout: default
stylesheets: [tutorials-article]
scripts: [article-table-of-contents,sticky,scroll,tiles]
---

<nav class="breadcrumb-navigation block-first">
  <div class="container">
    <div class="row">
      <div class="col">
        <ol>
          <li><a href="{{ page.base }}tutorials/" class="back"><i class="fas fa-arrow-left"></i>Back to all tutorials</a></li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<section class="article-content tutorial-article">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xl-8">
        <div class="row article-preface">
          <div class="col-12">
            {% if page.article_image %}
              <figure>
                <img src="{{ page.base }}images/help/{{ page.article_folder }}/{{ page.article_image }}" alt="Article intro image" loading="lazy" />
                {% if page.article_image_caption %}
                <figcaption>{{ page.article_image_caption }}</figcaption>
                {% endif %}
              </figure>
            {% endif %}
            <small class="pills">
              <span class="pill-splitter pill-splitter-after">Tutorial</span>{% if page.time > 0 %}<span><i class="fas fa-file-alt"></i>{{ page.time }} Min.</span>{% endif %}{% if page.time_video > 0 %}<span><i class="fas fa-video"></i>{{ page.time_video }} Min.</span>{% endif %}
            </small>
            <h1>{{ page.article_title }}</h1>
            {{ page.excerpt }}
            <div class="author">{% include help-article-info.html author=page.author %}</div>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-12{% if page.common_content_core != true %} article-content-core{% endif %}">{{ page.content | remove: page.excerpt }}</div>
        </div>
      </div>
      <div class="col-lg-3 col-xl-4">
        <div class="article-side">
          <div class="article-side-splitter">
            <span class="article-side-title">In this article</span>
            <ul class="article-table-of-contents"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
