body.rw-context-contact {
  *:not([class*="fa"]) {
    font-family: "Poppins", sans-serif;
  }

  a {
    cursor: pointer;
    color: $palette-dark;
    text-decoration: underline;
  }

  button {
    &.btn-primary,
    &.btn-secondary,
    &.btn-tertiary {
      font-weight: 500;
      text-shadow: none;
      text-transform: none;
      border: none;

      i {
        margin-right: 4px;
      }
    }

    &.btn-primary {
      background: $palette-main;
      color: #fff;
      background-image: none !important;

      &:hover {
        background-color: lighten($palette-main, 2%);
        outline: none;
      }

      &:active,
      &:focus {
        background-color: lighten($palette-main, 2%);
        box-shadow: 0 0 0 0.2rem $palette-main-shadow;
        outline: none;
      }
    }

    &.btn-secondary,
    &.btn-tertiary {
      display: none;
    }
  }

  #header {
    background-color: $palette-dark !important;

    h3 {
      display: none;
    }
  }

  .rw-ui-section-container {
    &:before {
      content: "Good support is important to us. That’s why we made the help center with how-to’s on every aspect of Tripetto. If you can’t find the answer in the help center, please fill out the support request at tripetto.com/support and we’ll get back to you as soon as possible, normally within one business day. Our office hours are Monday-Friday, 9-17 CET (Amsterdam).";
      margin: 0 32px 24px 32px;
      font-size: 20px;
      line-height: 1.8em;
      color: $palette-dark;
    }

    > section {
      display: none;
    }
  }
}
