section.wordpress-checkout-confirmation-hero {
  .container {
    padding-bottom: 80px;
    background-image: url(../images/wordpress-checkout-confirmation/intro.svg);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: right 20px bottom -40px;

    @media (min-width: 768px) {
        background-size: 240px;
        background-position: right 20px bottom -64px;
      }

    @media (min-width: 992px) {
      background-size: 340px;
      background-position: right 64px bottom -88px;
    }

    @media (min-width: 1200px) {
      background-size: 430px;
      background-position: right 144px bottom -112px;
    }
  }

  p {
    padding-bottom: 0px !important;

    @media (min-width: 992px) {
      width: 93%;
    }
  }

  ul.list-arrows {
    margin-top: 24px;

    @media (min-width: 992px) {
      margin-top: 48px;
    }
  }
}
