section.versions-form {
  border-bottom: 1px solid $splitter;
  padding-top: 40px;
  padding-bottom: 20px;

  @media (min-width: 992px) {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  p {
    padding-top: 16px;
    font-size: 18px;
    line-height: 1.9em;
  }

  #TripettoRunner {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 56px;
    }
  }
}
