section.versions-intro {
  .container {
    background-image: url(../images/versions/intro.svg);
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: right 20px bottom;

    @media (min-width: 768px) {
      background-size: 280px;
    }

    @media (min-width: 992px) {
      background-size: 410px;
      background-position: right 40px bottom;
    }

    @media (min-width: 1200px) {
      background-size: 480px;
    }
  }

  p {
    padding-bottom: 40px;

    @media (min-width: 768px) {
      width: 92%;
    }

    @media (min-width: 992px) {
      padding-bottom: 48px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 60px;
    margin-bottom: 0px;

    @media (min-width: 992px) {
      margin-top: 80px;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(32px, -3%, 15%, auto, auto);
      @include shape-md(32px, -15%, 15%, auto, auto);
      @include shape-lg(64px, -20%, 25%, auto, auto);
      @include shape-xl(64px, -20%, 25%, auto, auto);
    }
  }
}
