section.versions-matrix {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 52px;
      padding-bottom: 80px;
    }

    table {
      @mixin features-area($background, $text) {
        background-color: $background;
        color: $text;

        span {
          color: $text;
        }

        small {
          color: rgba($text, 0.64);
        }
      }

      &.matrix-head {
        thead {
          th {
            padding-top: 20px;

            @media (min-width: 768px) {
              padding-top: 80px;
            }

            @media (min-width: 992px) {
              padding-top: 120px;
            }

            &.matrix-area {
              > div {
                > div {
                  &.palette-studio {
                    @include features-area($palette-studio, #fff);
                  }

                  &.palette-wordpress {
                    @include features-area($palette-wordpress, $text-dark);
                    position: relative;

                    &:before {
                      content: "Made especially for WordPressers";
                      text-align: left;
                      font-family: $font-secondary;
                      color: $palette-red;
                      font-size: 24px;
                      font-weight: 400;
                      letter-spacing: -1px;
                      line-height: 0.8em;
                      transform: rotate(5deg);
                      position: absolute;
                      background-image: url(../images/versions/hint.svg);
                      background-size: 40px;
                      background-repeat: no-repeat;
                      background-position: bottom right;
                      padding-right: 38px;
                      display: none;

                      @media (min-width: 768px) {
                        display: inline-block;
                        width: 170px;
                        height: 60px;
                        top: -70px;
                        right: 10px;
                      }

                      @media (min-width: 992px) {
                        font-size: 30px;
                        background-size: 60px;
                        padding-right: 48px;
                        width: 218px;
                        height: 90px;
                        top: -108px;
                        right: 20px;
                      }

                      @media (min-width: 1200px) {
                        font-size: 36px;
                        width: 258px;
                        height: 98px;
                        top: -112px;
                        right: 40px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .shape-before {
        &:before {
          @include shape(circle, $palette-blue);
          @include shape-xs(48px, 5%, auto, auto, 25%);
          @include shape-sm(48px, 5%, auto, auto, 25%);
          @include shape-md(48px, 10%, auto, auto, 45%);
          @include shape-lg(96px, 20%, auto, auto, 45%);
          @include shape-xl(96px, 20%, auto, auto, 45%);
        }
      }
    }
  }
}
