section.versions-sdk {
  padding-top: 40px;

  @media (min-width: 992px) {
    padding-top: 80px;
  }

  @media (min-width: 1200px) {
    padding-top: 96px;
  }

  .container {
    background-image: url(../images/sdk-components/hero.svg);
    background-size: 140px auto;
    background-position: right 16px bottom 40px;
    background-repeat: no-repeat;

    @media (min-width: 576px) {
      background-size: 160px auto;
    }

    @media (min-width: 768px) {
      background-size: 280px auto;
    }

    @media (min-width: 992px) {
      background-size: 400px auto;
      background-position: right 8px bottom 60px;
    }

    @media (min-width: 1200px) {
      background-size: 540px auto;
      background-position: right 8px bottom 128px;
    }
  }

  span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.5em;
    padding-bottom: 8px;

    @media (min-width: 992px) {
      font-size: 24px;
      padding-bottom: 16px;
    }
  }

  h2 {
    font-size: 40px;
    line-height: 1em;
    letter-spacing: -2px;

    @media (min-width: 768px) {
      font-size: 56px;
    }

    @media (min-width: 992px) {
      font-size: 80px;
      letter-spacing: -4px;
    }

    @media (min-width: 1200px) {
      font-size: 120px;
      letter-spacing: -6px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    padding-top: 24px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
      width: 96%;
    }

    @media (min-width: 992px) {
      font-size: 24px;
      letter-spacing: -1px;
      padding-top: 32px;
      padding-bottom: 64px;
      width: 84%;
    }

    @media (min-width: 1200px) {
      padding-bottom: 64px;
      width: 96%;
    }
  }

  small {
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: $text-dark-48;
    padding-top: 40px;
    padding-bottom: 24px;
    width: 54%;

    @media (min-width: 576px) {
      width: 60%;
    }

    @media (min-width: 768px) {
      width: 66%;
    }

    @media (min-width: 992px) {
      width: 100%;
      padding-top: 48px;
      padding-bottom: 32px;
    }

    @media (min-width: 1200px) {
      padding-top: 96px;
      padding-bottom: 48px;
    }

    a {
      color: $text-dark-48;
    }
  }
}
