:root {
  --fs-ds-typography-font-base: "Roboto", sans-serif;
  --fs-ds-theme-text-color: rgb(44,64,89);
  --fs-ds-theme-primary-accent-color: rgb(44,64,89);
  --fs-ds-theme-primary-accent-color-hover: rgb(44,64,89);

  #mode {
    #overlay {
      background: #fff !important;
    }

    #toolbar_container {
      display: none;
    }

    #content {
      max-width: 720px;
      margin: 20px auto !important;
      border-radius: 0px !important;
      box-shadow: none;
    }

    header {
      display: none;
    }

    #review_order {
      #eu_waive_right {
        &:after {
          content: "I agree and confirm my purchase.";
          padding-left: 6px;
          font-weight: normal;
        }

        span {
          display: none;
        }
      }
    }

    #checkout_form {
      #order_summary {
        .order-total {
          .amount {
            color: #0093ee;
          }
        }
      }

      #billing_details {
        .fs-payment-method-chooser__radio:checked+.fs-payment-method-chooser__container {
          color: #0093ee;
          border-color: #0093ee;
          outline-color: #0093ee;
        }
      }

      .fs-cta {
        background-color: #0093ee;
        border-color: #0093ee;

        &:active,
        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(0, 147, 238, 0.35);
        }

        &:hover {
          background-color: lighten(#0093ee, 5%);
        }
      }
    }

    .fs-fulfillment-badge {
      display: none;
    }
  }
}
