:root {
  --fs-ds-typography-font-base: "Poppins", sans-serif;
  --fs-ds-theme-text-color: #18214d;
  --fs-ds-theme-primary-accent-color: #18214d;
  --fs-ds-theme-primary-accent-color-hover: #18214d;
  --fs-ds-theme-background-accented: #f2f2f2;

  #mode {
    #overlay {
      #content {
        max-width: 720px;
      }
    }

    #header {
      .product-icon {
        display: none;
      }

      .product-header-body {
        flex: 0 0 100%;
        width: 100%;
        padding: 0 var(--fs-ds-appearance-gutter-one-and-half);

        h1 {
          display: none;
        }

        h2 {
          padding-bottom: 8px;
        }
      }
    }

    #checkout_form {
      #order_summary {
        .order-total {
          .amount {
            color: #8f68fb;
          }
        }
      }

      #billing_details {
        .fs-payment-method-chooser__radio:checked+.fs-payment-method-chooser__container {
          color: #8f68fb;
          border-color: #8f68fb;
          outline-color: #8f68fb;
        }
      }

      .fs-cta {
        background-color: #fa3a69;
        border-color: #fa3a69;

        &:active,
        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(250, 58, 105, 0.35);
        }

        &:hover {
          background-color: lighten(#fa3a69, 5%);
        }
      }
    }

    .fs-fulfillment-badge {
      @media screen and (max-width: 660px) {
        display: none;
      }

      a span {
        color: var(--fs-ds-theme-footer-text-color);
      }

      .fs-fulfillment-badge__custom {
        display: none;
      }
    }
  }
}
