section.runner-referral-hero {
  background-color: $palette-lighter;
  padding-top: $header-height-mobile;

  @media (min-width: 992px) {
    padding-top: $header-height-desktop;
  }

  .row-hero {
    padding-top: 40px;
    background-image: url(../images/runner-referral/hero.svg);
    background-position: right 10px bottom;
    background-repeat: no-repeat;
    background-size: 140px;

    @media (min-width: 576px) {
      background-size: 160px;
    }

    @media (min-width: 768px) {
      background-size: 240px;
      background-position: right 20px bottom;
    }

    @media (min-width: 992px) {
      padding-top: 80px;
      background-size: 400px;
    }

    @media (min-width: 1200px) {
      background-size: 560px;
    }

    .col-hero {
      h1 {
        font-size: 40px;
        line-height: 1em;
        font-weight: 700;
        letter-spacing: -2px;

        @media (min-width: 576px) {
          font-size: 60px;
          letter-spacing: -3px;
        }

        @media (min-width: 768px) {
          font-size: 64px;
        }

        @media (min-width: 992px) {
          font-size: 78px;
          letter-spacing: -4px;
        }

        @media (min-width: 1200px) {
          font-size: 80px;
        }
      }

      p {
        padding-top: 24px;
        padding-bottom: 32px;
        font-size: 20px;
        letter-spacing: -1px;
        line-height: 1.5em;

        @media (min-width: 576px) {
          font-size: 22px;
        }

        @media (min-width: 992px) {
          width: 80%;
          padding-top: 32px;
          padding-bottom: 64px;
          font-size: 24px;
          font-weight: 600;
        }
      }

      small {
        display: block;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.3px;
        color: $text-grey;
        padding-top: 40px;
        padding-bottom: 24px;
        width: 55%;

        @media (min-width: 576px) {
          width: 60%;
        }

        @media (min-width: 768px) {
          width: 70%;
        }

        @media (min-width: 992px) {
          width: 100%;
          padding-top: 60px;
          padding-bottom: 32px;
        }

        @media (min-width: 1200px) {
          padding-top: 120px;
        }
      }
    }
  }
}
