section.runner-referral-mosaic {
  .container-content {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 192px;
    }

    h2 {
      @media (min-width: 992px) {
        width: 96%;
      }
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
        width: 96%;
      }

      @media (min-width: 1200px) {
        width: 98%;
      }
    }
  }

  .container-mosaic {
    padding-top: 48px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 72px;
      padding-bottom: 104px;
    }
  }
}
