section.runner-referral-reviews {
  .container-fluid {
    padding-top: 96px;

    @media (min-width: 992px) {
      padding-top: 128px;
    }
  }

  .container {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 48px;
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-purple);
      @include shape-xs(120px, auto, 10%, -30px, auto);
      @include shape-lg(200px, auto, 10%, -80px, auto);
      @include shape-xl(280px, auto, 10%, -120px, auto);
    }
  }
}
