section.alternative-comparison-matrix {
  .container {
    padding-top: 40px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 52px;
      padding-bottom: 104px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    padding-top: 24px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 32px;
      padding-bottom: 48px;
    }
  }

  .compare {
    background-color: $background-light;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
    padding: 32px 16px;
    border-radius: 8px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 1.3em;
    margin-bottom: 24px;

    @media (min-width: 992px) {
      font-size: 18px;
      margin-left: -16px;
      margin-right: -16px;
    }

    div {
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
      }
    }

    .w-100 {
      margin-top: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid $splitter;
    }

    .column-title {
      font-weight: 800;
      font-size: 20px;

      @media (min-width: 768px) {
        font-size: 22px;
      }

      img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        position: relative;
        top: -2px;
      }

      span {
        display: block;
        font-size: 80%;
        font-weight: normal;
      }
    }

    .row-title {
      font-weight: 600;
      padding-bottom: 16px;

      @media (min-width: 768px) {
        padding-bottom: 0px;
      }
    }

    .compare-bold {
      font-weight: 600;
    }

    .compare-neutral {
      color: $palette-blue;
    }

    .compare-positive {
      color: $palette-green;
    }

    .compare-negative {
      color: $palette-red;
    }
  }
}
