section.alternative-comparison-text {
  .container {
    padding-top: 40px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 80px;
      padding-bottom: 104px;
    }

    @media (min-width: 1200px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  h3 {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1.2em;
    padding-top: 40px;
    padding-bottom: 16px;

    @media (min-width: 768px) {
      font-size: 26px;
    }
  }

  p.intro {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    padding-top: 24px;
    padding-bottom: 16px;

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 32px;
    }
  }

  .alternative-comparison-text-content {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8em;

    p {
      padding-bottom: 16px;
    }

    blockquote {
      font-size: 16px;
      line-height: 1.8em;
      margin: 16px 0 32px 0;
      padding: 16px;
      border-radius: 6px;
      background-color: $palette-lighter;
      border-left: 4px solid $text-dark-64;

      > h2,
      > h3,
      > h4 {
        font-size: 18px;
        line-height: 1.2em;
        padding-top: 10px;
        padding-bottom: 0px;

        i {
          margin-right: 6px;
        }
      }

      > p {
        padding-top: 10px;
        padding-bottom: 10px;

        > em {
          font-style: normal;
        }
      }

      > ul {
        padding: 0;
        padding-left: 24px;
        margin: 0;

        li {
          list-style: "✅ ";
          list-style-position: outside;
          padding-left: 4px;
        }
      }

      a {
        color: $text-link !important;
        text-decoration: none !important;

        &:hover {
          text-decoration: underline !important;
        }
      }
    }
  }
}
