section.alternative-intro {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 60px;
    }

    @media (min-width: 1200px) {
      padding-top: 80px;
    }
  }

  h1 {
    font-weight: normal;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1.15em;
    padding-bottom: 32px;

    @media (min-width: 992px) {
      font-size: 64px;
      letter-spacing: -3px;
    }
  }

  p.intro {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    padding-bottom: 32px;

    @media (min-width: 768px) {
      font-size: 24px;
    }

    a {
      color: $text-link;

      &:hover {
        color: $text-link;
      }
    }
  }

  p.description {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8em;
    padding-bottom: 40px;
  }

  a.button {
    margin-bottom: 40px;

    @media (min-width: 768px) {
      margin-bottom: 64px;
    }
  }

  ul.buttons {
    margin-bottom: 40px;

    @media (min-width: 768px) {
      margin-bottom: 64px;
    }

     a {
      margin-bottom: 0px;
     }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-green);
      @include shape-xs(80px, 0%, 5%, auto, auto);
      @include shape-md(80px, 0%, 15%, auto, auto);
      @include shape-lg(120px, 0%, 10%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-blue);
      @include shape-xs(64px, auto, auto, 15%, 10%);
      @include shape-sm(64px, auto, auto, 15%, 20%);
      @include shape-md(64px, auto, auto, 15%, 20%);
      @include shape-lg(160px, auto, auto, 15%, 20%);
      @include shape-xl(160px, auto, auto, 15%, 20%);
    }
  }
}
