section.sdk-support-help-center {
  background-color: $background-light;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }

  .row {
    display: flex;
    justify-content: center;
    text-align: center;

    h2 {
      font-size: 36px;
      letter-spacing: -2px;
      line-height: 1em;
      padding-bottom: 16px;

      @media (min-width: 992px) {
        font-size: 44px;
      }

      @media (min-width: 1200px) {
        font-size: 48px;
      }
    }

    p {
      font-size: 22px;
      font-weight: 700;
      letter-spacing: -1px;
      line-height: 1.2em;
      padding-bottom: 32px;

      @media (min-width: 992px) {
        font-size: 30px;
        padding-bottom: 64px;
      }
    }
  }
}
