section.sdk-support-intro {
  .container {
    @media (min-width: 576px) {
      background-image: url(../images/sdk-support/intro.svg);
      background-size: 140px auto;
      background-position: right 12px bottom;
      background-repeat: no-repeat;
    }

    @media (min-width: 768px) {
      background-size: 280px auto;
    }

    @media (min-width: 992px) {
      background-size: 380px auto;
      background-position: right 24px bottom;
    }

    @media (min-width: 1200px) {
      background-size: 540px auto;
    }
  }
}
