section.sdk-support-overview {
  @mixin sdk-support($color) {
    a {
      i {
        color: $color;
      }

      &:hover {
        color: $color;
      }
    }
  }

  .container {
    padding-top: 48px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  .sdk-overview {
    padding-top: 32px;
    padding-bottom: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    > div {
      > div {
        &:first-of-type {
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;

          @media (min-width: 992px) {
            height: 400px;
          }
        }
      }

      h4 {
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -0.5px;
        line-height: 1em;
        padding-top: 8px;
        padding-bottom: 16px;
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        padding-bottom: 8px;

        li {
          padding-top: 8px;
          padding-bottom: 8px;

          a {
            display: inline-block;
            font-weight: 600;
            transition: color 0.2s ease-out;
            display: flex;
            align-items: center;

            i {
              font-size: 24px;
              margin-right: 10px;
              transition: transform 0.1s ease-out;
            }

            &:hover {
              text-decoration: none;

              i {
                transform: scale(1.05);
              }
            }
          }
        }
      }

      &.sdk-overview-support-builder {
        > div {
          &:first-of-type {
            color: $text-white;
            background-color: $palette-sdk-builder;

            @media (min-width: 768px) {
              background-image: url(../images/sdk-support/builder.svg);
              background-size: auto 120px;
              background-position: right 12px bottom;
              background-repeat: no-repeat;
            }

            @media (min-width: 992px) {
              background-size: 120px auto;
              background-position: right 48px bottom;
            }

            h3 {
              @media (min-width: 992px) {
                width: 80%;
              }
            }

            p {
              @media (min-width: 768px) {
                width: 54%;
              }

              @media (min-width: 992px) {
                width: 76%;
              }

              @media (min-width: 1200px) {
                width: 69%;
              }
            }
          }
        }

        ul {
          @include sdk-support($palette-sdk-builder);
        }
      }

      &.sdk-overview-support-runners {
        > div {
          &:first-of-type {
            background-color: $palette-sdk-runners;

            @media (min-width: 768px) {
              background-image: url(../images/sdk-support/runners.svg);
              background-size: auto 160px;
              background-position: right bottom;
              background-repeat: no-repeat;
            }

            @media (min-width: 992px) {
              background-size: 160px auto;
            }

            h3 {
              @media (min-width: 992px) {
                width: 88%;
              }

              @media (min-width: 1200px) {
                width: 77%;
              }
            }

            p {
              @media (min-width: 768px) {
                width: 62%;
              }

              @media (min-width: 992px) {
                width: 70%;
              }

              @media (min-width: 1200px) {
                width: 59%;
              }
            }
          }
        }

        ul {
          @include sdk-support($palette-sdk-runners);
        }
      }

      &.sdk-overview-support-blocks {
        > div {
          &:first-of-type {
            background-color: $palette-sdk-blocks;

            @media (min-width: 768px) {
              background-image: url(../images/sdk-support/blocks.svg);
              background-size: auto 120px;
              background-position: right 12px bottom;
              background-repeat: no-repeat;
            }

            @media (min-width: 992px) {
              background-size: 136px auto;
              background-position: right 24px bottom;
            }

            h3 {
              @media (min-width: 992px) {
                width: 80%;
              }
            }

            p {
              @media (min-width: 768px) {
                width: 72%;
              }

              @media (min-width: 992px) {
                width: 92%;
              }

              @media (min-width: 1200px) {
                width: 80%;
              }
            }
          }
        }

        ul {
          @include sdk-support($palette-sdk-blocks);
        }
      }
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
