section.sdk-demo-builder {
  $height: 70vh;
  $max-height: 540px;

  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 16px;
    padding-bottom: 32px;

    @media (min-width: 992px) {
      padding-bottom: 64px;
    }

    p.sdk-demo-builder-intro {
      margin: auto;

      @media (min-width: 576px) {
        width: 98%;
      }

      @media (min-width: 768px) {
        width: 100%;
      }

      @media (min-width: 992px) {
        width: 92%;
      }

      @media (min-width: 1200px) {
        width: 89%;
      }
    }

    .flip {
      .flipper {
        height: $height;
        max-height: $max-height;
      }
    }

    #builderLoader {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: $height;
      max-height: $max-height;
      background-color: #edf5fd;
      border: 2px dashed $background-medium;
      border-radius: 16px;

      i {
        margin-right: 4px;
      }
    }

    .sdk-demo-builder-holder {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: $height;
      max-height: $max-height;
      background-color: #edf5fd;
      border-radius: 16px;
      border: 2px dashed $background-medium;

      #builder {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;

        * {
          letter-spacing: normal;
        }

        button {
          cursor: default;
        }
      }
    }

    .sdk-code-snippet {
      height: $height;
      max-height: $max-height;
      border-radius: 16px;
    }
  }
}

div[data-menu="yes"] {
  letter-spacing: normal;
  line-height: normal;
}
