.sdk-demo-content {
  justify-content: center;
  text-align: center;

  i.sdk-demo-arrow {
    margin-top: 16px;
    margin-bottom: 16px;
    color: $palette-red;
    font-size: 48px;

    @media (min-width: 992px) {
      margin-top: 48px;
      font-size: 72px;
    }

    @media (min-width: 1200px) {
      font-size: 96px;
    }
  }

  h2 {
    display: inline-block;
    font-family: $font-secondary;
    font-size: 36px;
    font-weight: 400;
    color: $palette-white;
    letter-spacing: -3px;
    line-height: 1em;
    background-color: $palette-red;
    border-radius: 8px;
    padding: 6px 12px;
    margin-bottom: 8px;
    white-space: nowrap;

    @media (min-width: 576px) {
      font-size: 44px;
    }

    @media (min-width: 768px) {
      font-size: 56px;
      letter-spacing: -4px;
      padding: 6px 16px;
    }

    @media (min-width: 992px) {
      font-size: 64px;
      padding: 8px 24px;
      margin-bottom: 16px;
    }

    @media (min-width: 1200px) {
      font-size: 72px;
      letter-spacing: -5px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.8em;
    padding-bottom: 16px;

    @media (min-width: 768px) {
      font-size: 18px;
      padding-bottom: 32px;
    }
  }
}

.sdk-demo-flip {
  .sdk-demo-flip-button {
    display: flex;
    justify-content: center;
    padding-top: 8px;

    .flip-button {
      display: inline-block;
      font-weight: 500;
      color: $palette-main;
      cursor: pointer;
      padding: 8px;

      i {
        margin-right: 4px;
      }

      &:hover {
        > span {
          text-decoration: underline;
        }
      }
    }
  }
}

.sdk-demo-json {
  $height: 70vh;
  $max-height: 540px;

  background-color: $background-light;
  padding: 16px;
  height: $height;
  max-height: $max-height;
  border-radius: 16px;

  .sdk-demo-json-empty {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: $height;
    max-height: $max-height;

    i {
      margin-right: 4px;
    }
  }

  pre {
    display: none;
    height: 100%;
    overflow: auto;
    margin: 0px;
  }
}
