.sdk-demo-intro {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 56px;
    }

    .row {
      justify-content: center;
      text-align: center;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    h1 {
      font-size: 40px;
      line-height: 1em;
      font-weight: 800;
      letter-spacing: -2px;

      @media (min-width: 576px) {
        font-size: 64px;
        letter-spacing: -3px;
      }

      @media (min-width: 768px) {
        font-size: 88px;
        letter-spacing: -4px;
      }

      @media (min-width: 992px) {
        font-size: 120px;
        letter-spacing: -6px;
      }
    }

    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.5em;
      padding-top: 8px;

      @media (min-width: 576px) {
        width: 95%;
      }

      @media (min-width: 768px) {
        width: 100%;
      }

      @media (min-width: 992px) {
        font-size: 24px;
        letter-spacing: -1px;
      }
    }

    ul {
      padding-top: 24px;

      @media (min-width: 992px) {
        padding-top: 48px;
      }
    }
  }
}
