section.sdk-demo-runners {
  $height: 70vh;
  $max-height: 540px;

  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 16px;
    padding-bottom: 32px;

    @media (min-width: 992px) {
      padding-bottom: 64px;
    }

    p.sdk-demo-runners-intro {
      margin: auto;

      @media (min-width: 992px) {
        width: 92%;
      }
    }

    .sdk-carousel-runners-buttons {
      display: flex;
      justify-content: center;
      padding-bottom: 16px;

      @media (min-width: 768px) {
        padding-bottom: 32px;
      }
    }

    .flip {
      .flipper {
        height: $height;
        max-height: $max-height;
      }
    }

    #runnerAutoscrollLoader,
    #runnerChatLoader,
    #runnerClassicLoader {
      position: relative;
      width: 100%;
      height: $height;
      max-height: $max-height;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 2px dashed $background-medium;
      border-radius: 16px;

      i {
        margin-right: 4px;
      }
    }

    #runnerAutoscroll,
    #runnerChat,
    #runnerClassic {
      height: $height;
      max-height: $max-height;
      overflow: hidden;
      border: 2px dashed $background-medium;
      border-radius: 16px;
    }

    .sdk-code-snippet {
      height: $height;
      max-height: $max-height;
      border-radius: 16px;
    }
  }
}
