section.sdk-demo-storage {
  .container {
    padding-top: 16px;
    padding-bottom: 32px;

    @media (min-width: 992px) {
      padding-bottom: 64px;
    }

    p.sdk-demo-storage-intro {
      margin: auto;

      @media (min-width: 992px) {
        width: 92%;
      }
    }
  }
}
