section.wordpress-ltd-instructions {
  .container {
    padding-top: 32px;
    padding-bottom: 64px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 96px;
    }
  }

  h2 {
    font-size: 24px;

    @media (min-width: 768px) {
      font-size: 32px;
    }

    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  ul.list-arrows {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .wordpress-ltd-instructions-license {
    margin-top: 24px;

    @media (min-width: 992px) {
      margin-top: 48px;
    }

    small {
      display: block;
      padding-bottom: 16px;
      font-size: 13px;
      font-weight: 500;
      color: $text-grey;
      letter-spacing: -0.3px;

      a {
        color: $text-grey;
        text-decoration: underline;

        &:hover {
          color: $text-black;
        }
      }
    }

    form {
      @media (min-width: 576px) {
        display: flex;
        flex-wrap: nowrap;
      }

      .form-input {
        width: 100%;
        margin-bottom: 8px;

        @media (min-width: 576px) {
          width: auto;
          flex-grow: 1;
          margin-bottom: 0px;
          margin-right: 10px;
        }

        @media (min-width: 992px) {
          margin-right: 20px;
        }
      }

      button {
        @media (max-width: 575px) {
          width: 100%;
        }
      }
    }

    .wordpress-ltd-instructions-license-validation {
      align-self: center;
      height: 60px;

      @media (min-width: 992px) {
        padding-left: 0px;
        height: auto;
      }

      #freemius-license-validation {
        display: block;
        font-size: 13px;
        font-weight: 600;
        color: $text-grey;
        letter-spacing: -0.3px;
        padding-top: 16px;

        @media (min-width: 992px) {
          padding-top: 0px;
        }

        &.wordpress-ltd-instructions-license-invalid {
          color: $palette-red;
        }

        &.wordpress-ltd-instructions-license-valid {
          color: $palette-green;
        }
      }
    }
  }
}
