section.wordpress-ltd-intro {
  .container {
    padding-top: 40px;

    @media (min-width: 576px) {
      background-image: url(../images/wordpress-ltd/intro.svg);
      background-repeat: no-repeat;
      background-size: 180px;
      background-position: right 8px bottom;
      background-size: 100px;
    }

    @media (min-width: 768px) {
      background-size: 200px;
    }

    @media (min-width: 992px) {
      background-size: 300px;
      background-position: right 16px bottom;
      padding-top: 56px;
    }

    @media (min-width: 1200px) {
      background-size: 375px;
      padding-top: 64px;
    }

    p {
      @media (min-width: 768px) {
        width: 97%;
      }

      @media (min-width: 992px) {
        width: 100%;
      }
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
