section.wordpress-ltd-plans {
  .pricing-guarantee {
    display: block;
    padding-top: 16px;
    padding-bottom: 32px;
    font-size: 13px;
    font-weight: 500;
    color: $text-grey;
    letter-spacing: -0.3px;
    text-align: center;
  }
}
