section.wordpress-form-faces {
  .container {
    padding-top: 40px;

    @media (min-width: 768px) {
      padding-top: 80px;
    }

    @media (min-width: 1200px) {
      padding-top: 120px;
    }
  }

  .wordpress-form-faces-intro {
    justify-content: center;
    text-align: center;

    h2 {
      font-size: 40px;
      line-height: 1em;
      letter-spacing: -2px;

      @media (min-width: 576px) {
        font-size: 54px;
      }

      @media (min-width: 768px) {
        font-size: 72px;
      }

      @media (min-width: 992px) {
        font-size: 80px;
        letter-spacing: -4px;
      }
    }

    small {
      display: block;
      font-family: $font-secondary;
      font-size: 16px;
      color: $text-red;
      line-height: 1em;
      transform: rotate(-1deg);
      margin-bottom: 8px;

      @media (min-width: 576px) {
        font-size: 20px;
      }

      @media (min-width: 768px) {
        font-size: 26px;
      }

      @media (min-width: 992px) {
        font-size: 30px;
        letter-spacing: -1.5px;
        margin-bottom: 16px;
      }
    }
  }

  .carousel-form-faces-buttons {
    display: flex;
    justify-content: center;
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 48px;
    }
  }

  .carousel-slides {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    .carousel-item {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .wordpress-form-faces-suffix {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 32px;

    small {
      display: inline-block;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: -0.3px;
      color: $text-grey;

      @media (min-width: 992px) {
        width: 90%;
      }

      @media (min-width: 1200px) {
        width: 98%;
      }
    }
  }
}
