section.wordpress-hero {
  padding-top: $header-height-mobile;
  background-color: $palette-wordpress;

  @media (min-width: 992px) {
    padding-top: $header-height-desktop;
  }

  .row-hero {
    padding-top: 40px;
    background-image: url(../images/wordpress/hero.svg);
    background-position: right 32px bottom;
    background-repeat: no-repeat;
    background-size: 80px;

    @media (min-width: 576px) {
      background-size: 140px;
      background-position: right 10px bottom;
    }

    @media (min-width: 768px) {
      background-size: 280px;
      background-position: right 20px bottom;
    }

    @media (min-width: 992px) {
      padding-top: 80px;
      background-size: 420px;
    }

    @media (min-width: 1200px) {
      background-size: 550px;
    }

    .col-hero {
      span {
        display: block;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 1.5em;
        padding-bottom: 8px;

        @media (min-width: 992px) {
          font-size: 24px;
          padding-bottom: 16px;
        }
      }

      h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 1em;
        letter-spacing: -2px;

        @media (min-width: 992px) {
          font-size: 72px;
          letter-spacing: -4px;
        }

        @media (min-width: 1200px) {
          font-size: 80px;
        }
      }

      p {
        padding-top: 24px;
        padding-bottom: 32px;
        font-size: 20px;
        letter-spacing: -1px;
        line-height: 1.5em;

        @media (min-width: 576px) {
          font-size: 22px;
          width: 80%;
        }

        @media (min-width: 768px) {
          width: 90%;
        }

        @media (min-width: 992px) {
          width: 72%;
          padding-top: 32px;
          padding-bottom: 64px;
          font-size: 24px;
          font-weight: 600;
        }

        @media (min-width: 1200px) {
          width: 60%;
        }
      }

      small {
        display: block;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.3px;
        padding-top: 40px;
        padding-bottom: 24px;
        width: 66%;

        @media (min-width: 768px) {
          width: 70%;
        }

        @media (min-width: 992px) {
          width: 100%;
          padding-top: 60px;
          padding-bottom: 32px;
        }

        @media (min-width: 1200px) {
          padding-top: 120px;
        }
      }
    }
  }
}
