section.wordpress-mosaic {
  .container-content {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 192px;
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
        width: 96%;
      }
    }

    .hyperlink {
      margin-top: 32px;

      @media (min-width: 992px) {
        margin-top: 48px;
      }
    }
  }

  .container-mosaic {
    padding-top: 48px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 72px;
      padding-bottom: 80px;
    }

    @media (min-width: 1200px) {
      padding-bottom: 128px;
    }
  }
}
