section.wordpress-reviews {
  .container-fluid {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 192px;
    }
  }

  .container {
    padding-top: 24px;
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-purple);
      @include shape-xs(80px, auto, 20%, -30px, auto);
      @include shape-lg(120px, auto, 20%, -140px, auto);
      @include shape-xl(160px, auto, 20%, -160px, auto);
    }
  }
}
