section.wordpress-stairs {
  .container {
    padding-top: 20px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 40px;
    }

    @media (min-width: 1200px) {
      padding-bottom: 128px;
    }
  }
}
