body.studio-checkout {
  font-family: "Roboto", sans-serif;
  margin: 32px 32px 0px;

  h1,
  h2 {
    color: rgb(44, 64, 89);
    font-size: 18px;
    font-weight: 300;
  }

  h2 {
    margin-top: 24px;
  }

  p {
    color: rgb(63, 83, 110);
    font-size: 15px;
    line-height: 22px;
  }
}
