section.calculator-articles {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 60px;
    }

    @media (min-width: 1200px) {
      padding-top: 112px;
    }
  }
}
