section.calculator-ticker {
  .ticker-hyperlink {
    padding-top: 16px;
    padding-bottom: 8px;

    @media (min-width: 992px) {
      padding-top: 48px;
      padding-bottom: 16px;
    }
  }
}
