section.studio-features-hosting {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
      padding-bottom: 140px;
    }
  }

  .icon-chapter {
    margin-bottom: 10px;

    @media (min-width: 992px) {
      display: none;
    }
  }

  h2 {
    @media (min-width: 768px) {
      width: 92%;
    }

    @media (min-width: 992px) {
      width: 100%;
    }
  }

  p {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .product-hosting-visual {
    padding-top: 32px;

    @media (min-width: 768px) {
      display: flex;
      align-items: flex-end;
      padding-top: 64px;
    }

    .product-hosting-option {
      background-color: $palette-hosting;
      padding: 24px;
      color: #fff;
      position: relative;
      width: 100%;

      h3 {
        font-size: 34px;
        letter-spacing: -2px;
        line-height: 1em;
      }

      p {
        position: relative;
        font-size: 16px;
        line-height: 1.7em;
        font-weight: 500;
        padding-top: 16px;
        z-index: 2;

        a {
          color: #fff;
          text-decoration: underline;

          @media (min-width: 992px) {
            display: inline-block;
          }
        }
      }

      img {
        position: absolute;
        max-width: 100%;
        z-index: 1;
      }

      @media (min-width: 992px) {
        padding: 48px;

        h3 {
          font-size: 48px;
        }

        p {
          font-size: 18px;
        }
      }

      &.product-hosting-cloud {
        border-radius: 12px 12px 0px 0px;
        margin-bottom: 4px;

        p {
          width: 70%;
        }

        img {
          height: 120px;
          bottom: -2px;
          right: 12px;
        }

        @media (min-width: 768px) {
          width: 280px;
          height: 373px;
          border-radius: 32px 32px 4px 32px;
          margin-bottom: 0px;
          margin-right: 16px;

          p {
            width: 100%;
          }

          img {
            height: 130px;
            left: 72px;
          }
        }

        @media (min-width: 992px) {
          width: 345px;
          height: 460px;
          border-radius: 48px 48px 8px 48px;

          img {
            height: 158px;
            bottom: -3px;
            left: 100px;
          }
        }

        @media (min-width: 1200px) {
          width: 432px;
          height: 576px;
          margin-right: 24px;

          img {
            height: 300px;
            left: 86px;
            bottom: -5px;
          }
        }
      }

      &.product-hosting-self {
        border-radius: 0px 0px 12px 12px;
        margin-bottom: 16px;

        p {
          width: 70%;
        }

        img {
          height: 100px;
          bottom: -14px;
          right: 0px;
        }

        @media (min-width: 768px) {
          width: 373px;
          height: 280px;
          border-radius: 24px 24px 24px 4px;
          margin-bottom: 0px;

          p {
            width: 64%;
          }

          img {
            height: 128px;
            bottom: -18px;
            right: 0px;
          }
        }

        @media (min-width: 992px) {
          width: 460px;
          height: 345px;
          border-radius: 32px 32px 32px 8px;

          p {
            width: 80%;
          }

          img {
            height: 168px;
            bottom: -23px;
          }
        }

        @media (min-width: 1200px) {
          width: 576px;
          height: 432px;

          p {
            width: 60%;
          }

          img {
            height: 330px;
            bottom: -45px;
          }
        }
      }
    }

    span {
      display: block;
      font-family: $font-secondary;
      font-size: 32px;
      line-height: 1em;
      letter-spacing: -2px;
      color: $palette-hosting;
      text-align: center;
      transform: rotate(-2deg);

      @media (min-width: 768px) {
        position: absolute;
        text-align: left;
        letter-spacing: -3px;
        bottom: 300px;
        transform: rotate(-3deg);
      }

      @media (min-width: 992px) {
        font-size: 40px;
        transform: rotate(-5deg);
        bottom: 366px;
      }

      @media (min-width: 1200px) {
        font-size: 48px;
        bottom: 460px;
      }
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (max-width: 575px) {
      width: 80%;
    }

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-yellow);
      @include shape-xs(100px, 10%, 10%, auto, auto);
      @include shape-lg(200px, -15%, 5%, auto, auto);
      @include shape-xl(300px, -15%, 5%, auto, auto);
    }
  }
}
