section.studio-features-intro {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 60px;
    }

    @media (min-width: 1200px) {
      padding-top: 80px;
    }
  }

  .row {
    justify-content: center;
    text-align: center;
  }

  small {
    display: block;
    font-family: $font-secondary;
    font-size: 16px;
    color: $text-red;
    line-height: 1em;
    transform: rotate(-1deg);
    margin-bottom: 8px;

    @media (min-width: 576px) {
      font-size: 20px;
    }

    @media (min-width: 768px) {
      font-size: 26px;
    }

    @media (min-width: 992px) {
      font-size: 30px;
      letter-spacing: -1.5px;
      margin-bottom: 16px;
    }
  }

  h1 {
    font-size: 40px;
    line-height: 1em;
    font-weight: 800;
    letter-spacing: -3px;

    @media (min-width: 768px) {
      font-size: 80px;
    }

    @media (min-width: 992px) {
      font-size: 96px;
      letter-spacing: -4px;
    }

    @media (min-width: 1200px) {
      font-size: 120px;
      letter-spacing: -6px;
    }
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      padding-top: 24px;
      line-height: 1.8em;

      @media (min-width: 768px) {
        width: 95%;
      }

      @media (min-width: 992px) {
        padding-top: 32px;
        width: 93%;
      }

      @media (min-width: 1200px) {
        padding-top: 48px;
        width: 91%;
      }
    }

    a {
      clear: both;
      margin-top: 16px;

      @media (min-width: 992px) {
        margin-top: 24px;
      }
    }
  }

  .features-anchors {
    display: none;

    @media (min-width: 992px) {
      display: flex;
      justify-content: center;
      padding-top: 92px;
    }

    ul.anchors-icons {
      display: flex;
      justify-content: space-between;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-purple);
      @include shape-xs(40px, -60%, auto, auto, 10%);
      @include shape-md(64px, 54px, auto, auto, -10%);
      @include shape-lg(80px, 60px, auto, auto, -10%);
      @include shape-xl(96px, 80px, auto, auto, -18%);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-green);
      @include shape-xs(40px, auto, 10%, -35%, auto);
      @include shape-md(64px, auto, -10%, -10%, auto);
      @include shape-lg(96px, auto, -17%, -10%, auto);
    }
  }
}
