section.studio-features-logic {
  .container {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
    }
  }

  .icon-chapter {
    margin-bottom: 10px;

    @media (min-width: 992px) {
      display: none;
    }
  }

  p {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .container-fluid {
    padding-top: 54px;
  }


  .container-bottom {
    padding-top: 0px;

    .col-md-4 {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    p {
      margin-bottom: auto;
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
      }

      @media (min-width: 1200px) {
        width: 90%;
      }
    }

    .hyperlink {
      margin-top: 16px;

      @media (min-width: 992px) {
        margin-top: 32px;
      }
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-red);
      @include shape-xs(32px, -0%, 40%, auto, auto);
      @include shape-lg(64px, -15%, 5%, auto, auto);
      @include shape-xl(64px, -15%, 5%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-yellow);
      @include shape-xs(80px, auto, 10%, 20%, auto);
      @include shape-md(120px, auto, 10%, 0%, auto);
      @include shape-lg(160px, auto, -5%, 0, auto);
      @include shape-xl(160px, auto, -10%, 0, auto);
    }
  }
}
