section.reviews-list {
  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 104px;
    }
  }

  .reviews-right {
    @media (min-width: 768px) {
      padding-top: 40px;
    }

    @media (min-width: 992px) {
      padding-top: 100px;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      display: inline-block;
      width: 100%;
      padding-bottom: 24px;

      @media (min-width: 768px) {
        padding-bottom: 30px;
      }

      > div {
        padding: 20px;
        border-radius: 12px;
        background-color: $background-light;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: transform 0.2s ease-out;

        @media (min-width: 992px) {
          padding: 24px 32px;
        }

        @media (min-width: 1200px) {
          border-radius: 16px;
          padding: 32px 40px;
        }

        &:hover {
          transform: scale(1.01);
        }

        .review-rating {
          padding-bottom: 10px;

          i.fa-star {
            font-size: 22px;
            color: #feca2f;
            margin-right: 8px;

            &:last-child {
              margin-right: 0;
            }

            @media (min-width: 992px) {
              font-size: 26px;
            }
          }
        }

        .review-meta {
          span {
            display: block;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: -0.55px;

            @media (min-width: 992px) {
              font-size: 18px;
            }
          }

          small {
            display: block;
            font-size: 15px;
            font-weight: 500;
            opacity: 0.9;
          }
        }

        a {
          text-decoration: none;

          h4 {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.25em;
            padding-top: 16px;
            padding-bottom: 12px;

            @media (min-width: 992px) {
              padding-top: 24px;
              font-size: 22px;
            }

            @media (min-width: 1200px) {
              font-size: 24px;
            }
          }
        }

        p {
          font-size: 16px;
          line-height: 1.5em;

          @media (min-width: 992px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
