section.reviews-ranked {
  .container {
    padding-top: 24px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 40px;
      padding-bottom: 80px;
    }
  }

  h2 {
    &:before {
      @include shape(circle, $palette-turquoise);
      @include shape-xs(60px, -120px, 10%, auto, auto);
      @include shape-md(100px, -100px, auto, auto, 10%);
      @include shape-lg(140px, -140px, auto, auto, 10%);
      @include shape-xl(200px, -160px, auto, auto, 10%);
    }
  }
}
