---
permalink: /surveymonkey-alternative/
base: ../
title: Tripetto - A free SurveyMonkey alternative
description: Tripetto gives life to forms and surveys. A formidable SurveyMonkey alternative with everything included out of the box.
stylesheets: [alternative-matrix]
---

{% include alternatives-breadcrumb.html selected='SurveyMonkey' %}
<section class="alternative-intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-10 shape-before">
                <h1>A formidable SurveyMonkey alternative with everything included out of the box.</h1>
                <p class="intro">SurveyMonkey’s free version doesn’t even include all the question types you may need, making it almost useless as a free tool 😟.</p>
                <p class="description shape-after">We admit Tripetto isn’t as extensive as SurveyMonkey yet for advanced reporting, but at least it offers all the question types out of the box and much more advanced logic. Plus, it’s free. We’re working really hard to make it the best form builder you can find. <strong>Why don’t you give Tripetto a try and tell us what you think?</strong></p>
                <a href="{{ page.base }}versions/" class="button button-wide">Get Started</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr />
            </div>
        </div>
    </div>
</section>

<section class="alternative-comparison-matrix" id="compare">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>SurveyMonkey&nbsp;&nbsp;⚔️&nbsp;&nbsp;Tripetto</h2>
                <p>A quick comparison of the free plans of SurveyMonkey and Tripetto.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="compare">
                    <div class="row">
                        <div class="col-6 col-md-3 offset-md-6 column-title">SurveyMonkey<span>Free plan</span></div>
                        <div class="col-6 col-md-3 column-title"><img src="{{ page.base }}images/tripetto-logo.svg" alt="Logo Tripetto"/>Tripetto<span>Free plan</span></div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Create conversational forms</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Share forms with a link</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Embed forms in website</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Style forms</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="fas fa-times-circle fa-fw"></i> No</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of forms</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="fas fa-check-circle fa-fw"></i> Unlimited</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of questions per form</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="fas fa-arrow-alt-circle-down fa-fw"></i> Only 10 max</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of logic jumps per form</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="fas fa-times-circle fa-fw"></i> None at all</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of closing messages per form</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="fas fa-times-circle fa-fw"></i> None at all</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of responses per form</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="fas fa-arrow-alt-circle-down fa-fw"></i> Only 40 usable</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                    </div>
                </div>
           </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="hyperlinks">
                    <li><a href="{{ page.base }}" class="hyperlink hyperlink-small"><span>Take the product tour</span><i class="fas fa-arrow-right"></i></a></li>
                    <li><a href="{{ page.base }}examples/" class="hyperlink hyperlink-small"><span>See example forms</span><i class="fas fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% include versions-cta.html %}
