---
permalink: /typeform-alternative/
base: ../
title: Tripetto - A free Typeform alternative
description: Tripetto is for making smart forms and surveys. A free Typeform alternative, but without the paywalls and restrictions that Typeform has nowadays.
stylesheets: [alternative-matrix]
---

{% include alternatives-breadcrumb.html selected='Typeform' %}
<section class="alternative-intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 shape-before">
                <h1>Meet Tripetto, a free Typeform alternative</h1>
                <p class="intro">Typeform's free version is so limited nowadays, it forces you to upgrade to an expensive paid plan for almost every meaningful feature 😟. It's time for a free Typeform alternative!</p>
                <p class="description shape-after">Tripetto lets you create conversational forms that look just like your beloved Typeforms, but with tons of free features. The biggest advantage of Tripetto over Typeform is the way you add logic to your forms. Conditional logic at Tripetto is a natural part of the form builder and above all: unlimited! Even in the free version of Tripetto 😍!<br/><br/>Talking about limits... <strong>Tripetto's free version barely has any limits at all! Unlimited forms, unlimited questions, unlimited logic, unlimited responses.</strong> Now compare that to Typeform's limit of 10 responses per month and it's obvious that Tripetto is an excellent Typeform alternative, right?! Give Tripetto a try to see for yourself!</p>
                <a href="{{ page.base }}versions/" class="button button-wide">Get Started</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr />
            </div>
        </div>
    </div>
</section>

<section class="alternative-comparison-matrix" id="compare">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Typeform&nbsp;&nbsp;⚔️&nbsp;&nbsp;Tripetto</h2>
                <p>A quick comparison of the free plans of Typeform and Tripetto.</p>
            </div>
        </div>
        <div class="row">
           <div class="col-12">
                <div class="compare">
                    <div class="row">
                        <div class="col-6 col-md-3 offset-md-6 column-title">Typeform<span>Free plan</span></div>
                        <div class="col-6 col-md-3 column-title"><img src="{{ page.base }}images/tripetto-logo.svg" alt="Logo Tripetto"/>Tripetto<span>Free plan</span></div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Create conversational forms</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Share forms with a link</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Embed forms in website</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of forms</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="fas fa-check-circle fa-fw"></i> Unlimited</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of questions per form</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="fas fa-arrow-alt-circle-down fa-fw"></i> 10/form</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of logic jumps per form</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="fas fa-arrow-alt-circle-down fa-fw"></i> None at all</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of responses per month</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="fas fa-arrow-alt-circle-down fa-fw"></i> 10/month</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                    </div>
                </div>
           </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="hyperlinks">
                    <li><a href="{{ page.base }}" class="hyperlink hyperlink-small"><span>Take the product tour</span><i class="fas fa-arrow-right"></i></a></li>
                    <li><a href="{{ page.base }}examples/" class="hyperlink hyperlink-small"><span>See example forms</span><i class="fas fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% include versions-cta.html %}
