---
permalink: /tally-alternative/
base: ../
title: Tripetto - A free Tally alternative
description: Tripetto is a free Tally alternative that lets your forms feel like real conversations.
stylesheets: [alternative-text]
---

{% include alternatives-breadcrumb.html selected='Tally' %}
<section class="alternative-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-11 col-md-12 col-lg-10 col-xl-8 shape-before">
                <h1>Meet Tripetto, a free Tally alternative</h1>
                <p class="intro">Are you using Tally to build your online forms, but you want to let your forms feel more like real conversations? Then Tripetto is the perfect Tally alternative for you!</p>
                <ul class="buttons">
                  <li><a href="{{ page.base }}versions/" class="button">Get Started</a></li>
                  <li><a href="{{ page.base }}examples/" class="button button-light">See Examples</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr />
            </div>
        </div>
    </div>
</section>

<section class="alternative-social-proof">
    <div class="container">
      <div class="row">
        <div class="col-12 alternative-social-proof-frames">
          <div class="frame">
            <div><a href="https://fortune.com/fortune500/" target="_blank" rel="noopener noreferrer">{% include icons/fortune-500.html %}</a></div>
            <div>
              <h3>Globally Trusted</h3>
              <p>You’re in good company. Tripetto products are <strong>used by Fortune 500 companies</strong> worldwide.</p>
            </div>
          </div>
          <div class="frame">
            <div><a href="{{ page.base }}reviews/">{% include icons/stars.html %}</a></div>
            <div>
              <h3>Proudly Ranked</h3>
              <p>Tripetto gets ranked as top-notch for its powerful features and versatility. <a href="{{ page.base }}reviews/">Read user reviews.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="alternative-comparison-text" id="compare">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-xl-8">
                <h2>Tally vs Tripetto</h2>
                <p class="intro">A comparison between the features of Tally and Tripetto.</p>
                <div class="alternative-comparison-text-content">
                  <blockquote>
                    <h3>👁‍🗨 TLDR</h3>
                    <p>Tally is an amazing form builder, but if you're looking for a more conversational layout where logic is at the core of your form, Tripetto is a better fit. The main differences are:</p>
                    <ul>
                      <li>Tripetto's <strong>form builder</strong> works like a storyboard, where you build your form like a flowchart.</li>
                      <li>Unique to Tripetto are the different <strong>form layouts</strong> that you can choose from.</li>
                      <li><strong>Logic</strong> in Tripetto is a core functionality of your form building process, making your forms really smart and boosting your form completion rates.</li>
                      <li>Tripetto's <strong>calculator block</strong> is one of the most advanced and flexible calculators you find among all form builder tools.</li>
                      <li>With Tripetto you can choose where you want to <strong>store your data</strong>: in the Tripetto cloud, or self-hosted.</li>
                    </ul>
                    <p>You can <a href="{{ page.base }}versions/">discover the different versions</a> of Tripetto and <a href="{{ page.base }}versions/">start for free</a> right now!</p>
                  </blockquote>
                  <h3>Form builder</h3>
                  <p>Tally's form builder is based on the well-known Notion interface. Therefore, it's very easy and intuitive to start building your forms, as you can just start typing to build up the content of your form. However, the downside is that it becomes a bit more difficult when you want to add logic to your forms, as you cannot see easily which logic gets applied in your form.</p>
                  <p>In Tripetto the form builder works like a storyboard, where you build your form like a flowchart. Although the learning curve of controlling the form builder is a bit steeper at the start, as soon as you know how it works, it unlocks very powerful tools to build conversational forms with logic as a core feature of your forms.</p>
                  <a href="{{ page.base }}magnetic-form-builder/" class="hyperlink hyperlink-content"><span>Learn more about Tripetto's form builder</span><i class="fas fa-arrow-right"></i></a>
                  <h3>Form layout</h3>
                  <p>Forms in Tally always have the same layout, based on the earlier mentioned Notion interface. That makes it all look very clean, but it also makes their forms feel like actual forms, instead of a more interactive way you might expect on the modern internet.</p>
                  <p>Unique to Tripetto are the different form layouts that you can choose from. You can display each form in any of the three different form layouts, including a one-by-one format like Typeform and a chat format. This makes your forms feel like actual conversations, which is a proven way to boost your form completion rates and reduce drop-offs.</p>
                  <a href="{{ page.base }}form-layouts/" class="hyperlink hyperlink-content"><span>See Tripetto's form layouts</span><i class="fas fa-arrow-right"></i></a>
                  <h3>Question types</h3>
                  <p>Overall, both Tally and Tripetto offer all the basic question types for data collection. Tally does have some question types that Tripetto does not include (yet), like a signature field. On the other hand, Tripetto offers some question types that Tally does not support, like a picture choice field. So, it depends largely on some specific question types you might need, which alternative is better for your case.</p>
                  <a href="{{ page.base }}question-types/" class="hyperlink hyperlink-content"><span>Check all Tripetto's question types</span><i class="fas fa-arrow-right"></i></a>
                  <h3>Logic</h3>
                  <p>Adding basic logic to your Tally forms is possible, for example to display/hide a certain question based on an earlier given answer. The problem with that is you don't have a clear overview of your form flows in the form builder.</p>
                  <p>In Tripetto all logic is visually shown and edited like a flowchart on the storyboard of the form builder. That way, you always have a clear overview of possible paths that a respondent can take, based on the given answers. Logic then becomes a core functionality of your form building process, making your forms really smart and boosting your form completion rates.</p>
                  <a href="{{ page.base }}logic-types/" class="hyperlink hyperlink-content"><span>Learn more about Tripetto's logic types</span><i class="fas fa-arrow-right"></i></a>
                  <h3>Calculations</h3>
                  <p>Calculations might not be the first subject you think about when it comes to forms, but it can be a very important part of your forms, for example to calculate scores or determine pricings. In Tally you can do such basic calculations, but if you're looking for more advanced calculations, this will be too limited in Tally.</p>
                  <p>Tripetto on the other hand includes a very advanced calculator block, which can do the basic stuff like scoring, but on top of that also supports formulas and advanced mathematical functions. This makes Tripetto's calculator block one of the most advanced and flexible calculators you find among all form builder tools.</p>
                  <a href="{{ page.base }}calculator/" class="hyperlink hyperlink-content"><span>Learn more about Tripetto's calculator</span><i class="fas fa-arrow-right"></i></a>
                  <h3>Hosting</h3>
                  <p>Hosting is a subject that makes Tripetto unique. Whereas with Tally you always store your collected data on their infrastructure, with Tripetto you can choose where you want to store your data: in the Tripetto cloud, or self-hosted. With self-hosting you get full control over your collected data, bypassing Tripetto storage entirely.</p>
                  <a href="{{ page.base }}hosting-freedom/" class="hyperlink hyperlink-content"><span>Learn more about Tripetto's hosting</span><i class="fas fa-arrow-right"></i></a>
                  <h3>Automations</h3>
                  <p>Tally offers direct integrations with the most used data tools, like Google Sheets and Airtable. Next to that you can use automation tools like Make and Zapier to connect your form responses to other online services.</p>
                  <p>Tripetto mainly focuses on using the webhook connection to connect your form responses to 1.000+ other services. With that webhook you can create automation flows using any automation tool, including Make and Zapier. It might take a little more time to do the initial setup, but once running, you can automate anything you want.</p>
                  <a href="{{ page.base }}data-automations/" class="hyperlink hyperlink-content"><span>Learn more about Tripetto's automations</span><i class="fas fa-arrow-right"></i></a>
                  <h3>Pricing</h3>
                  <p>In terms of pricing Tally is extremely generous. Most of their features are free to use, but once you need a paid feature, for example to hide their branding in your forms, the yearly price is $290.</p>
                  <p>Tripetto also has a very generous free tier. The pricing for upgrading depends on the Tripetto version you use. You can <a href="{{ page.base }}versions/">discover the different versions</a> of Tripetto and <a href="{{ page.base }}versions/">start for free</a> right now!</p>
                  <a href="{{ page.base }}versions/" class="hyperlink hyperlink-content"><span>Learn more about Tripetto's versions and pricing</span><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include versions-cta.html %}
