---
permalink: /subscribe/confirmation/
base: ../../
title: Subscription confirmed
description: Thanks for subscribing. We've added you to our mailinglist.
stylesheets: [subscribe]
sitemap: false
---

<section class="block-first intro mailinglist subscribe-confirmation">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-lg-7 shape-before shape-after">
        <h1>You're In</h1>
        <p><strong>You're now subscribed to Tripetto updates.</strong> We'll only reach out to you when we do significant releases or with important news.</p>
      </div>
    </div>
  </div>
</section>
