---
permalink: /subscribe/
base: ../
title: Stay tuned with Tripetto
description: Subscribe to our newsletter to get notified of important news and releases.
stylesheets: [subscribe]
scripts: [drip]
---

<section class="block-first intro mailinglist subscribe-form">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-9 shape-before shape-after">
        <h1>Stay Tuned</h1>
        <p>Subscribe to get notified about Tripetto updates. We’ll only reach out to you when we do significant releases or with important news. <strong>No spam, we promise.</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <div id="sn-3a02e3ea-e82b-4eb6-8a02-7f2decd26442"></div>
      </div>
    </div>
  </div>
</section>
