---
permalink: /unsubscribed/
base: ../
title: Unsubscribe confirmed
description: You've been unsubscribed from our mailinglist.
stylesheets: [subscribe]
sitemap: false
---

<section class="block-first intro mailinglist unsubscribed">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-9 shape-before shape-after">
        <h1>See You Later</h1>
        <p><strong>You’ve unsubscribed successfully.</strong> You will no longer receive updates and other important news. Please feel free to come back in the future.</p>
        <small>You can <a href="{{ page.base }}subscribe/">subscribe</a> again at any time.</small>
      </div>
    </div>
  </div>
</section>
