---
permalink: /subscribe/verify/
base: ../../
title: Verify your subscription
description: Thanks for subscribing. Confirm your subscription in your mailbox.
stylesheets: [subscribe]
sitemap: false
---

<section class="block-first intro mailinglist subscribe-confirmation">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-lg-7 shape-before shape-after">
        <h1>Almost Set</h1>
        <p><strong>Please confirm your subscription.</strong> Check out the mail we just sent you and click the confirmation link. We'll take it from there.</p>
      </div>
    </div>
  </div>
</section>
