---
permalink: /producthunt/
base: ../
title: Tripetto on Product Hunt
description: We celebrated the introduction of our brand new calculator feature on Product Hunt in 2021. Thanks for all your upvotes and kind messages.
stylesheets: [producthunt]
scripts: [ticker,producthunt-jumbo]
---

<section class="producthunt-jumbo block-first jumbo">
  <div class="container jumbo-container">
    <div class="row">
      <div class="col jumbo-holder palette-producthunt palette-producthunt-after shape-after">
        <div class="jumbo-content">
          <h1>We were featured on Product Hunt February 18<sup>th</sup> 2021.</h1>
          <p>We celebrated the introduction of our brand new calculator feature on Product Hunt in 2021. Thanks for all your upvotes and kind messages.</p>
          <div>
            <a href="https://www.producthunt.com/posts/tripetto-3-0?utm_source=badge-top-post-badge&utm_medium=badge&utm_souce=badge-tripetto-3-0" target="_blank" rel="noopener noreferrer"><img src="https://api.producthunt.com/widgets/embed-image/v1/top-post-badge.svg?post_id=284613&theme=light&period=daily" alt="Tripetto 3.0 - Free Typeform alternative with next-level calculations | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col jumbo-footer jumbo-footer-hyperlinks">
        <ul class="hyperlinks">
          <li><a href="{{ page.base }}" class="hyperlink hyperlink-small"><span>More about Tripetto</span><i class="fas fa-arrow-right"></i></a></li>
          <li><a href="{{ page.base }}versions/" class="hyperlink hyperlink-small"><span>Available as SaaS and WordPress plugin</span><i class="fas fa-arrow-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="calculator-ticker">
  <div class="container-fluid ticker-holder ticker-calculator">
    <div class="row">
      <ul class="ticker-blocks ticker-calculator-operations">
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-operations-in-the-calculator-block/" class="palette-dark">
            <img src="{{ page.base }}images/calculator/add.svg" alt="Icon representing an addition" />
            <span>Addition</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-operations-in-the-calculator-block/" class="palette-dark">
            <img src="{{ page.base }}images/calculator/subtract.svg" alt="Icon representing a subtraction" />
            <span>Subtraction</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-operations-in-the-calculator-block/" class="palette-dark">
            <img src="{{ page.base }}images/calculator/multiply.svg" alt="Icon representing a multiplication" />
            <span>Multiplication</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-operations-in-the-calculator-block/" class="palette-dark">
            <img src="{{ page.base }}images/calculator/divide.svg" alt="Icon representing a division" />
            <span>Division</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-operations-in-the-calculator-block/" class="palette-dark">
            <img src="{{ page.base }}images/calculator/equal.svg" alt="Icon representing an equation " />
            <span>Equation</span>
          </a>
        </li>
      </ul>
      <ul class="ticker-blocks ticker-calculator-values">
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-operations-in-the-calculator-block/" class="palette-red">
            {% include icons/numbers.html %}
            <span>Numbers</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-scores-in-your-calculations/" class="palette-red">
            {% include icons/scores.html %}
            <span>Scores</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-comparisons-in-your-calculations/" class="palette-red">
            {% include icons/comparisons.html %}
            <span>Comparisons</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-functions-and-constants-in-your-calculations/" class="palette-red">
            {% include icons/functions.html %}
            <span>Functions</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-functions-and-constants-in-your-calculations/" class="palette-red">
            {% include icons/constants.html %}
            <span>Constants</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-subcalculations-multistep-formulas-in-your-calculations/" class="palette-red">
            {% include icons/subcalculation.html %}
            <span>Subcalculation</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-given-answers-from-respondents-in-your-calculations/" class="palette-red">
            {% include icons/blocks.html %}
            <span>Blocks</span>
          </a>
        </li>
      </ul>
      <ul class="ticker-blocks ticker-calculator-mathematics">
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-functions-and-constants-in-your-calculations/" class="palette-yellow">
            <img src="{{ page.base }}images/calculator/roots.svg" alt="Icon representing mathematical roots" />
            <span>Roots</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-functions-and-constants-in-your-calculations/" class="palette-yellow">
            <img src="{{ page.base }}images/calculator/powers.svg" alt="Icon representing mathematical powers" />
            <span>Powers</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-functions-and-constants-in-your-calculations/" class="palette-yellow">
            <img src="{{ page.base }}images/calculator/functions.svg" alt="Icon representing mathematical functions" />
            <span>Functions</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-functions-and-constants-in-your-calculations/" class="palette-yellow">
            <img src="{{ page.base }}images/calculator/constants.svg" alt="Icon representing mathematical constants" />
            <span>Constants</span>
          </a>
        </li>
        <li>
          <a href="{{ page.base }}help/articles/how-to-use-functions-and-constants-in-your-calculations/" class="palette-yellow">
            <img src="{{ page.base }}images/calculator/angles.svg" alt="Icon representing mathematical radians" />
            <span>Radians</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="producthunt-showcase content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-11 col-xl-10 shape-before shape-after">
        <span class="caption caption-rotated">The calculator’s here</span>
        <h2 class="palette-logic">Make quizzes, order forms and more with <span>powerful calculations.</span></h2>
      </div>
    </div>
    <div class="row row-background">
      <div class="col-md-11 col-lg-10">
        <p>The calculator can add, subtract, multiply and divide, but also supports formulas and advanced mathematical functions. <strong>All without any coding.</strong> Plus, forms can handle multiple calculators.</p>
        <a href="{{ page.base }}calculator-features/" class="hyperlink palette-logic"><span>See all calculator features</span><i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>

<section class="producthunt-calculator calculator-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 calculator-features-left">
        <div class="calculator-feature-primary palette-dark">
          <h2>Plain calculations</h2>
          <p>A calculator can be inserted anywhere inside a form and <strong>supports straightforward operations for pretty much any purpose</strong> from counting inputs to scoring a test, for instance.</p>
          <ul><li><img src="{{ page.base }}images/calculator/add.svg" alt="Icon representing an addition" /><h3>Add</h3></li><li><img src="{{ page.base }}images/calculator/subtract.svg" alt="Icon representing a subtraction" /><h3>Subtract</h3></li><li><img src="{{ page.base }}images/calculator/multiply.svg" alt="Icon representing a multiplication" /><h3>Multiply</h3></li><li><img src="{{ page.base }}images/calculator/divide.svg" alt="Icon representing a division" /><h3>Divide</h3></li><li><img src="{{ page.base }}images/calculator/equal.svg" alt="Icon representing an equation" /><h3>Equal</h3></li></ul>
        </div>
        <div class="calculator-feature-secondary calculator-feature-secondary-visual size-medium">
          <img src="{{ page.base }}images/calculator/multiple-calculators.svg" alt="Icon representing multiple calculators" class="multiple-calculators" />
          <h2>Multiple calculators</h2>
          <p>Forms and surveys can handle as many calculations as you need, anywhere you need them. In fact, you can <strong>set up one calculator to use the outcome of another.</strong></p>
        </div>
        <div class="calculator-feature-primary palette-red">
          <h2>Subcalculations</h2>
          <p>Now here’s the magic part... <strong>The calculator can also handle calculations within calculations.</strong> Like formulas. Handy for calculating a shopping cart’s subtotal and VAT in a single calculator.</p>
          <ul class="visual-steps"><li><img src="{{ page.base }}images/calculator/divide.svg" alt="Icon representing a division in a formula" /></li><li><i class="fas fa-arrow-right"></i></li><li><img src="{{ page.base }}images/calculator/angles.svg" alt="Icon representing angles in a formula" /></li><li><i class="fas fa-arrow-right"></i></li><li><img src="{{ page.base }}images/calculator/placeholder.svg" alt="Icon representing a next step in a formula" /></li><li><i class="fas fa-arrow-right"></i></li></ul>
          <small>Every single calculation and subcalculation outcome is available as a reusable value throughout the form.</small>
        </div>
        <div class="calculator-feature-payoff">Imagine your powers when you put Tripetto’s mind to it ;)</div>
      </div>
      <div class="col-lg-6 calculator-features-right">
        <div class="calculator-feature-secondary calculator-feature-secondary-visual size-small">
          <img src="{{ page.base }}images/calculator/respondent-driven.svg" alt="Icon representing respondent driven" />
          <h2>Respondent driven</h2>
          <p>It almost goes without saying that you can <strong>select any respondent input for calculations.</strong> Actually, you may include as many inputs as you like in a single calculation.</p>
        </div>
        <div class="calculator-feature-primary palette-yellow">
          <h2>Mathematics</h2>
          <p>Beyond operations like adding, subtracting, multiplying and dividing, the calculator also supports advanced operations for <strong>more mathematically challenging use cases.</strong></p>
          <ul><li><img src="{{ page.base }}images/calculator/roots.svg" alt="Icon representing mathematical roots" /><h3>Roots</h3></li><li><img src="{{ page.base }}images/calculator/powers.svg" alt="Icon representing mathematical powers" /><h3>Powers</h3></li><li><img src="{{ page.base }}images/calculator/functions.svg" alt="Icon representing mathematical functions" /><h3>Functions</h3></li><li><img src="{{ page.base }}images/calculator/constants.svg" alt="Icon representing mathematical constants" /><h3>Constants</h3></li><li><img src="{{ page.base }}images/calculator/more.svg" alt="Icon representing more mathematical features" /><h3>More</h3></li></ul>
          <small>And much more for logarithms, advanced comparisons etc. to take your calculations into another dimension.</small>
        </div>
        <div class="calculator-feature-secondary size-medium">
          <h2>Logic just loves calculations</h2>
          <p><strong>Mindblowing things happen when logic and calculators come together.</strong></p>
          <p>Funnel respondents into any desired flow based on age, score, probability, height, BMI etc. or any combination of factors. The possibilities are endless.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="producthunt-mosaic content">
  <div class="container container-content">
    <div class="row">
      <div class="col-lg-10 col-xl-9 shape-before shape-after">
        <span class="caption caption-rotated">Giving life to forms</span>
        <h2><span>Enter Tripetto.</span> Wake-up call for form tool dinosaurs.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11 col-lg-10">
        <p>We merged the best of SurveyMonkey, Typeform and Landbot into a single conversational solution to let you build beautiful forms and surveys to <strong>boost completion rates for better insights</strong>.</p>
        <a href="{{ page.base }}" class="hyperlink"><span>More about Tripetto</span><i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
  <div class="container container-mosaic">
    <div class="row">
      <div class="col mosaic shape-before shape-after">
        <div class="mosaic-block mosaic-block-horizontal palette-build">
          <div>
            <h3>Magnetic Storyboard</h3>
            <p>Build smart forms and surveys like flowcharts, with drag-and-drop.</p>
          </div>
        </div>
        <div class="mosaic-block mosaic-block-horizontal palette-logic">
          <div>
            <h3>Conversational Logic Types</h3>
            <p>Build seriously conversational flows with logic, actions and calculations. <strong>All no-code!</strong></p>
          </div>
        </div>
        <div class="mosaic-block mosaic-block-horizontal palette-customization">
          <div>
            <h3>Convertible Form Faces</h3>
            <p>Pick a Typeform-like, a chat or a classic form layout. And switch instantly.</p>
          </div>
        </div>
        <div class="mosaic-block mosaic-block-vertical palette-automations">
          <div>
            <h3>Fast, No-Code Automations</h3>
            <p>Receive <strong>notifications</strong>, <strong>connect to 1.000+ services</strong> and <strong>track form activity</strong>.</p>
          </div>
        </div>
        <div class="mosaic-block mosaic-block-vertical palette-sharing">
          <div>
            <h3>Flexible Publication</h3>
            <p>Share a simple link or embed forms neatly on your page.</p>
          </div>
          <img src="{{ page.base }}images/chapters/sharing.svg" alt="Illustration representing flexible publication" />
        </div>
        <div class="mosaic-block mosaic-block-vertical palette-hosting">
          <div>
            <h3>Data Storage Autonomy</h3>
            <p>Store things at Tripetto or self-host wherever you prefer. <strong>Hello GDPR!</strong></p>
          </div>
          <img src="{{ page.base }}images/chapters/hosting.svg" alt="Illustration representing data storage freedom" />
        </div>
      </div>
    </div>
  </div>
</section>
