---
permalink: /studio/checkout-confirmation/
base: ../../
layout: studio-checkout
title: Tripetto studio form upgrade checkout - Confirmation
description: Confirmation of purchasing a form upgrade from the Tripetto studio.
sitemap: false
---
<h1>Thanks for your purchase</h1>
<p>We have sent you a confirmation mail of your purchase, including your invoice.</p>

<h2>🙋‍♂️ What's next...</h2>
<p>We will unlock the upgraded features for this form and let you know when that's done. This is a manual process for us. We always do our best to do this as soon as possible.</p>
