section.sdk-self-hosting-hero {
  color: $text-white;
  background: $palette-hosting;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 576px) {
      background-image: url(../images/sdk-self-hosting/hero.svg);
      background-size: 132px auto;
      background-position: right 8px bottom 40px;
      background-repeat: no-repeat;
    }

    @media (min-width: 768px) {
      background-size: 230px auto;
      background-position: right 24px bottom 40px;
    }

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 80px;
      background-size: 360px auto;
      background-position: right 16px bottom 64px;
    }

    @media (min-width: 1200px) {
      padding-top: 96px;
      padding-bottom: 100px;
      background-size: 520px auto;
      background-position: right 8px bottom 88px;
    }
  }

  h1 {
    font-size: 40px;
    line-height: 1em;
    letter-spacing: -2px;

    @media (min-width: 768px) {
      font-size: 56px;
    }

    @media (min-width: 992px) {
      font-size: 80px;
      letter-spacing: -4px;
    }

    @media (min-width: 1200px) {
      font-size: 120px;
      letter-spacing: -6px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    padding-top: 24px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 32px;
      padding-bottom: 64px;
    }

    @media (min-width: 1200px) {
      padding-top: 48px;
      padding-bottom: 64px;
    }
  }
}
