section.sdk-self-hosting-industries {
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid $splitter;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .content {
    justify-content: center;
    text-align: center;

    p {
      padding-top: 32px;
      margin: auto;

      @media (min-width: 768px) {
        width: 92%;
      }

      @media (min-width: 992px) {
        width: 93%;
      }

      @media (min-width: 1200px) {
        width: 91%;
      }
    }
  }

  .sdk-carousel-industries-buttons {
    display: flex;
    justify-content: center;
    padding-top: 48px;

    @media (min-width: 992px) {
      padding-top: 80px;
    }
  }

  .carousel-slides {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .sdk-carousel-industries-item {
    background-color: $palette-light;
    border-radius: 16px;
    padding: 24px;

    @media (min-width: 992px) {
      padding: 32px 40px;
    }

    @media (min-width: 1200px) {
      padding: 48px 52px;
    }

    .sdk-carousel-industries-item-summary {
      display: flex;
      flex-direction: row;

      @media (min-width: 768px) {
        flex-direction: column;
      }

      @media (min-width: 992px) and (max-width: 1199px)  {
        padding-right: 40px;
      }

      i {
        font-size: 60px;
        color: $palette-hosting;
        background: linear-gradient(72deg, #feca2f 10%, #fa3a69 60%, #ffa336 99%);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        margin-right: 12px;

        @media (min-width: 768px) {
          font-size: 80px;
          margin-right: 0px;
        }

        @media (min-width: 992px) {
          font-size: 120px;
        }

        @media (min-width: 1200px) {
          font-size: 160px;
        }
      }

      h3 {
        display: inline;
        font-size: 16px;
        font-weight: 700;

        @media (min-width: 768px) {
          display: block;
          padding-top: 8px;
        }

        @media (min-width: 992px) {
          font-size: 18px;
          padding-top: 12px;
        }
      }

      small {
        display: block;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.4px;
        color: $text-dark-64;
        line-height: 1.3em;

        @media (min-width: 768px) {
          padding-top: 4px;
        }

        @media (min-width: 992px) {
          font-size: 15px;
          line-height: 1.5em;
        }
      }
    }

    .sdk-carousel-industries-item-text {
      padding-top: 24px;

      @media (min-width: 768px) {
        padding-top: 0px;
      }

      @media (min-width: 1200px) {
        padding-left: 40px;
      }

      h4 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 1.3em;

        @media (min-width: 992px) {
          font-size: 22px;
          line-height: 1.5em;
        }

        @media (min-width: 1200px) {
          font-size: 24px;
        }
      }

      p {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.2px;
        line-height: 1.5em;
        padding-top: 8px;

        @media (min-width: 992px) {
          font-size: 18px;
          padding-top: 16px;
        }
      }
    }
  }
}
