section.sdk-self-hosting-solutions {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  .content {
    justify-content: center;
    text-align: center;

    p {
      padding-bottom: 16px;

      @media (min-width: 768px) {
        padding-top: 16px;
      }

      @media (min-width: 992px) {
        padding-top: 24px;
        padding-bottom: 32px;
      }

      @media (min-width: 1200px) {
        padding-top: 40px;
        width: 99%;
      }
    }

    small {
      display: block;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: -0.3px;
      padding-bottom: 16px;

      @media (min-width: 992px) {
        padding-bottom: 32px;
      }

      @media (min-width: 992px) {
        width: 96%;
      }
    }
  }

  .sdk-self-hosting-solutions-cards {
    justify-content: center;
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    .col-md-6 {
      margin-bottom: 24px;
    }
  }
}
