section.sdk-self-hosting-storage {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  .content {
    justify-content: center;
    text-align: center;

    p {
      padding-top: 32px;
      margin: auto;

      @media (min-width: 768px) {
        width: 93%;
      }

      @media (min-width: 992px) {
        padding-top: 48px;
      }
    }
  }

  .sdk-storage {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (max-width: 575px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }
}
