<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M18.5 19h-18c-0.2 0-0.3-0.1-0.4-0.2s-0.1-0.3 0-0.5l9-16c0.1-0.2 0.3-0.3 0.4-0.3s0.3 0.1 0.4 0.3l9 16c0.1 0.2 0.1 0.3 0 0.5s-0.3 0.2-0.4 0.2zM1.4 18h16.3l-8.1-14.5-8.1 14.5z"/><path d="M9.5 14c-0.3 0-0.5-0.2-0.5-0.5v-5c0-0.3 0.2-0.5 0.5-0.5s0.5 0.2 0.5 0.5v5c0 0.3-0.2 0.5-0.5 0.5z"/><path d="M9.5 17c-0.3 0-0.5-0.2-0.5-0.5v-1c0-0.3 0.2-0.5 0.5-0.5s0.5 0.2 0.5 0.5v1c0 0.3-0.2 0.5-0.5 0.5z"/></svg>
