<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M18.4 7.1l-3-3c-0.2-0.2-0.5-0.2-0.7 0s-0.2 0.5 0 0.7l2.1 2.1h-14.3c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5h14.3l-2.1 2.1c-0.2 0.2-0.2 0.5 0 0.7 0.1 0.1 0.2 0.1 0.4 0.1s0.3 0 0.4-0.1l3-3c0.2-0.2 0.2-0.5 0-0.7z"/><path d="M17.5 13h-14.3l2.1-2.1c0.2-0.2 0.2-0.5 0-0.7s-0.5-0.2-0.7 0l-3 3c-0.2 0.2-0.2 0.5 0 0.7l3 3c0.1 0.1 0.2 0.1 0.4 0.1s0.3 0 0.4-0.1c0.2-0.2 0.2-0.5 0-0.7l-2.1-2.1h14.3c0.3 0 0.5-0.2 0.5-0.5s-0.2-0.5-0.5-0.5z"/></svg>
