<svg width="128" height="89" viewBox="0 0 128 89" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M24 35.04L34.34 41.28C35.1 41.74 36.04 41.06 35.84 40.2L33.1 28.44L42.22 20.54C42.88 19.96 42.54 18.86 41.64 18.78L29.62 17.76L24.92 6.68C24.58 5.86 23.42 5.86 23.08 6.68L18.38 17.76L6.36 18.78C5.48 18.86 5.12 19.96 5.8 20.54L14.92 28.44L12.18 40.2C11.98 41.06 12.92 41.74 13.68 41.28L24 35.04Z" fill="#FECA2F"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M64 35.04L74.34 41.28C75.1 41.74 76.04 41.06 75.84 40.2L73.1 28.44L82.22 20.54C82.88 19.96 82.54 18.86 81.64 18.78L69.62 17.76L64.92 6.68C64.58 5.86 63.42 5.86 63.08 6.68L58.38 17.76L46.36 18.78C45.48 18.86 45.12 19.96 45.8 20.54L54.92 28.44L52.18 40.2C51.98 41.06 52.92 41.74 53.68 41.28L64 35.04Z" fill="#FECA2F"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M104 35.04L114.34 41.28C115.1 41.74 116.04 41.06 115.84 40.2L113.1 28.44L122.22 20.54C122.88 19.96 122.54 18.86 121.64 18.78L109.62 17.76L104.92 6.68C104.58 5.86 103.42 5.86 103.08 6.68L98.38 17.76L86.36 18.78C85.48 18.86 85.12 19.96 85.8 20.54L94.92 28.44L92.18 40.2C91.98 41.06 92.92 41.74 93.68 41.28L104 35.04Z" fill="#FECA2F"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M44 75.04L54.34 81.28C55.1 81.74 56.04 81.06 55.84 80.2L53.1 68.44L62.22 60.54C62.88 59.96 62.54 58.86 61.64 58.78L49.62 57.76L44.92 46.68C44.58 45.86 43.42 45.86 43.08 46.68L38.38 57.76L26.36 58.78C25.48 58.86 25.12 59.96 25.8 60.54L34.92 68.44L32.18 80.2C31.98 81.06 32.92 81.74 33.68 81.28L44 75.04Z" fill="#FECA2F"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M84 75.04L94.34 81.28C95.1 81.74 96.04 81.06 95.84 80.2L93.1 68.44L102.22 60.54C102.88 59.96 102.54 58.86 101.64 58.78L89.62 57.76L84.92 46.68C84.58 45.86 83.42 45.86 83.08 46.68L78.38 57.76L66.36 58.78C65.48 58.86 65.12 59.96 65.8 60.54L74.92 68.44L72.18 80.2C71.98 81.06 72.92 81.74 73.68 81.28L84 75.04Z" fill="#FECA2F"/>
</svg>
