section.question-types-intro {
  .container {
    @media (min-width: 768px) {
      background-image: url(../images/question-types/intro.svg);
      background-repeat: no-repeat;
      background-size: 200px;
      background-position: right 8px bottom;
    }

    @media (min-width: 992px) {
      background-size: 320px;
      background-position: right 16px bottom;
    }

    @media (min-width: 1200px) {
      background-size: 416px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.7em;
    padding-top: 32px;
    padding-bottom: 16px;

    @media (min-width: 768px) {
      padding-bottom: 80px;
    }

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 48px;
      padding-bottom: 120px;
    }

    @media (min-width: 1200px) {
      font-size: 28px;
      padding-bottom: 160px;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-green);
      @include shape-xs(40px, -40px, 40px, auto, auto);
      @include shape-lg(64px, 20px, 0px, auto, auto);
      @include shape-xl(64px, 20px, 0px, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-purple);
      @include shape-xs(40px, auto, auto, 0px, 40px);
      @include shape-md(64px, auto, auto, 0px, 40%);
      @include shape-lg(96px, auto, auto, 0px, 40%);
      @include shape-xl(128px, auto, auto, 0px, 40%);
    }
  }
}
