section.question-types {
  padding-bottom: 64px;

  @media (min-width: 992px) {
    padding-bottom: 120px;
  }

  &.question-types-questions {
    padding-top: 64px;

    @media (min-width: 992px) {
      padding-top: 120px;
    }

    .container-content {
      p {
        &:after {
          @include shape(circle, $palette-turquoise);
          @include shape-xs(60px, -40px, 40px, auto, auto);
          @include shape-md(120px, -40px, -120px, auto, auto);
          @include shape-lg(180px, -60px, -180px, auto, auto);
          @include shape-xl(240px, -100px, -240px, auto, auto);
        }

        @media (min-width: 1200px) {
          width: 98%;
        }
      }
    }
  }

  &.question-types-actions {
    .container-content {
      p {
        &:after {
          @include shape(circle, $palette-red);
          @include shape-xs(40px, auto, 40px, 0px, auto);
          @include shape-md(40px, auto, -40px, 20px, auto);
          @include shape-lg(56px, auto, -60px, 20px, auto);
          @include shape-xl(64px, auto, -100px, 20px, auto);
        }

        @media (min-width: 768px) {
          width: 90%;
        }
        @media (min-width: 992px) {
          width: 92%;
        }
        @media (min-width: 1200px) {
          width: 90%;
        }
      }
    }
  }

  .container-content {
    .question-types-intro {
      display: flex;
      align-items: center;

      .question-types-title {
        padding-left: 16px;

        @media (min-width: 992px) {
          padding-left: 32px;

          h2 {
            margin-top: 8px;
          }
        }
      }
    }

    p {
      padding-top: 32px;

      @media (min-width: 1200px) {
        padding-top: 56px;
      }
    }
  }

  ul {
    padding-top: 32px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 48%;
      margin-bottom: 16px;
      border-radius: 8px;
      transition: transform 0.2s ease-out;
      cursor: pointer;
      padding: 24px 16px 16px 16px;
      background-color: $background-light;

      @media (min-width: 768px) {
        width: 30%;
        margin-right: 16px;
      }

      @media (min-width: 992px) {
        width: 200px;
        margin-right: 24px;
        margin-bottom: 24px;
      }

      @media (min-width: 1200px) {
        margin-right: 32px;
        margin-bottom: 32px;
      }

      &:hover {
        transform: scale(1.05);
      }

      svg {
        display: block;
        width: 64px;
        height: 64px;

        @media (min-width: 992px) {
          width: 80px;
          height: 80px;
        }
      }

      a {
        display: block;
        text-decoration: none;
        margin-top: 24px;
        text-align: center;

        h3 {
          font-size: 15px;
          font-weight: 700;
          letter-spacing: -0.5px;
          line-height: 1.3em;
        }
      }
    }

    &.question-types-questions {
      li {
        svg {
          path {
            fill: $palette-build;
          }
        }
      }
    }

    &.question-types-actions {
      li {
        svg {
          path {
            fill: $palette-logic;
          }
        }
      }
    }
  }

  .hyperlink {
    margin-top: 32px;
  }
}
