#mode {
  #account_details {
    padding-top: 40px;
    background-color: $palette-light;
    border-top: 1px solid #e6eaeb;

    @media screen and (max-width: 450px) {
      padding: 25px 20px 10px !important;
    }
  }
}
