#mode {
  #billing_details {
    #payment_chooser {
      background-color: $palette-light;
      border-top: 1px solid #e6eaeb;

      .col {
        width: 100%;
        border-bottom: 1px solid #e7eaeb;
        position: relative;
        padding-left: 65px;
        background: #fff;
        padding-right: 40px;

        @media screen and (max-width: 450px) {
          padding-left: 45px;
          padding-right: 20px;
        }

        &:last-child {
          border-color: #e6eaeb;
        }

        label.ng-hide {
          display: inline-block !important;
          font-weight: 700;
          color: #666;
          margin: 0 10px 0 0;

          @media screen and (max-width: 450px) {
            display: none !important;
          }
        }

        input {
          position: absolute;
          top: 50%;
          left: 40px;
          margin: -6px 0 0;

          @media screen and (max-width: 450px) {
            left: 20px;
          }
        }

        .cards {
          transform: scale(0.75);
          transform-origin: center left;
          opacity: 0.75;
        }

        &.selected {
          border-color: #e7eaeb;
          background: #fff;
          box-shadow: none;

          label.ng-hide {
            color: #18214d;
          }

          .cards {
            opacity: 1;
          }

          &:last-child {
            border-color: #e6eaeb;
          }
        }
      }

      &.chosen {
        .col {
          padding-left: 40px;
          padding-right: 40px;

          @media screen and (max-width: 450px) {
            padding-left: 20px;
            padding-right: 20px;
          }

          label.ng-hide {
            display: none !important;
          }
        }

        .payment_methods .payment_method_cc .payment-details {
          padding-left: 0;
        }
        .payment-details .edit {
          top: 0;
        }
      }
    }
  }

  #cc_billing,
  #paypal_billing {
    background-color: $palette-light;
  }
}
