#mode {
  @media screen and (max-width: 450px) {
    #checkout_form {
      padding-bottom: 0 !important;
    }

    #account_details,
    #cc_billing,
    #paypal_billing,
    #review_order,
    #upsell,
    #post_upgrade_message {
      padding: 25px 20px;
    }
  }

  *:not([class*="fa"]) {
    font-family: "Poppins", sans-serif;
  }

  .tooltip {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
    color: $palette-dark;
    font-size: 12px;

    b {
      font-size: 12px !important;
      margin-bottom: 0px !important;
    }

    &.top {
      &:after {
        border-top-color: transparent !important;
      }
    }
  }

  a,
  a span {
    cursor: pointer;
    color: $palette-dark;
    text-decoration: underline;
  }

  button {
    &.button-primary,
    &.button-secondary {
      font-weight: 500;
      height: 52px;
      text-shadow: none;

      i {
        margin-right: 4px;
      }
    }

    &.button-primary {
      background: $palette-main;
      background-image: none !important;
      font-size: 18px;
      margin: 10px 0 5px;

      &:hover {
        background-color: lighten($palette-main, 2%);
        outline: none;
      }

      &:active,
      &:focus {
        background-color: lighten($palette-main, 2%);
        box-shadow: 0 0 0 0.2rem $palette-main-shadow;
        outline: none;
      }

      &:disabled {
        color: #fff;
      }
    }

    &.button-secondary {
      background: $palette-medium;
      background-image: none !important;
      text-transform: none;
      margin: 10px 0 5px;

      &:hover {
        background: lighten($palette-medium, 2%);
        outline: none;
      }


      &:active,
      &:focus {
        background-color: lighten($palette-medium, 2%);
        box-shadow: 0 0 0 0.2rem rgba(241, 237, 232, 0.35);
        outline: none;
      }
    }
  }

  textarea,
  select,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    border: 1px solid #d7dbdb;
    box-shadow: none;
    outline: none;

    &:hover {
      border-color: #afb6b6;
    }

    &:focus {
      border-color: $palette-main;
      box-shadow: 0 0 0 1px $palette-main;
    }
  }

  .secure-label,
  .fulfillment-badge {
    display: none !important;
  }
}
