#mode {
  #header {
    border: none;
    overflow: hidden;
    box-shadow: none;
    z-index: 10;
    position: relative;
    color: $palette-dark;

    .product-icon {
      display: none;

      &:after {
        display: none;
      }
    }

    .product-header-body {
      border-bottom: 1px solid #e6eaeb;
      padding: 22px 45px;
      margin: 0;
      text-align: center;
      background-color: $palette-light;
    }

    h1,
    h2,
    h3 {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
    }

    h1 {
      display: none;
    }

    h2 {
      font-weight: 700;
      margin-bottom: 6px;
    }

    h3 {
      line-height: 27px;
    }

    .close {
      box-shadow: none;
      border: none;
      top: 10px;
      right: 10px;
      text-shadow: none;
      background: #bcc0c4;
      opacity: 0.6;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
