#mode {
  #license_actions {
    padding: 15px 20px;
    border-top: none;
    border-bottom: 1px solid #e6eaeb;
    background-color: #fff;
    line-height: 28px;

    #license_key_container {
      text-align: center;

      input {
        height: 27px;
        padding: 4px 8px;
        line-height: 19px;
        margin: 0 4px;
        width: 145px;
      }
    }

    > ul > li {
      font-size: 14px;
    }
  }
}
