#mode.dashboard-mode {
  #content {
    border: 1px solid #fff;
    overflow: hidden;
    max-width: 720px;
    background-color: $palette-light;
    box-shadow: none;

    @media screen and (max-width: 450px) {
      margin-top: 0 !important;
    }
  }

  #header,
  #order_summary,
  #account_details,
  #billing_cycles,
  #license_actions,
  #billing_details,
  #review_order,
  .secure-label.desktop {
    border: none !important;
    margin-bottom: 0px !important;
  }

  #account_details {
    &:before {
      display: none;
    }
  }

  .product-header-body {
    background-color: $palette-dark !important;
    color: #fff;
  }

  .cookies-policy-consent--inner {
    button,a {
      text-transform: none;
    }

    button {
      background: $palette-main !important;
      border: none !important;
      background-image: none !important;
      font-size: 18px !important;
      margin: 10px 0 5px !important;
      border-radius: 4px;
      color: #fff !important;

      &:hover {
        background-color: lighten($palette-main, 2%) !important;
        outline: none !important;
      }

      &:active,
      &:focus {
        background-color: lighten($palette-main, 2%) !important;
        box-shadow: 0 0 0 0.2rem rgba(105, 85, 158, 0.35) !important;
        outline: none !important;
      }
    }

    a {
      border: none !important;
      color: #fff !important;
      font-weight: normal !important;
      font-size: 14px !important;
    }

  }
}
