#mode.dialog-mode {
  #overlay {
    background: rgba(36, 36, 45, 0.95);

    #content_container {
      bottom: auto !important;
    }

    #content {
      border: none;
      overflow: hidden;
      max-width: 720px;
      background-color: $palette-light;
      box-shadow: none;

      @media screen and (max-width: 450px) {
        margin-top: 0 !important;
      }
    }
  }
}
