#mode {
  #order_summary {
    border-top: none;
    padding: 20px 30px 0;
    border-color: #e6eaeb;
    background-color: #fff;

    #vat_country_selector {
      select {
        max-width: 200px;
      }
    }
    #vat_exemption {
      padding-bottom: 0;
      height: 27px;

      .vat-input {
        * {
          font-weight: normal;
        }
        var {
          color: #18214d;
          font-weight: bold;
          background: 0 0;
          border-radius: 4px 0 0 4px;
          border-color: #d8dbdb;
        }

        input {
          color: #18214d;
          border-radius: 0 4px 4px 0;
          border-color: #d8dbdb;
          cursor: text;

          &:hover,&:focus {
            border-color: #ccc;
            box-shadow: none;
            outline: none;
          }
        }

        a {
          margin: 0 0 0 5px;
          padding: 0;
          border: none;
          background: 0 0;
          line-height: 25px;
        }
      }

      .trigger {
        font-weight: 400;
        padding: 0;
        height: auto;
        background: #fff;
        border: none;
        line-height: inherit;
        vertical-align: inherit;
        border-radius: 0;
        font-size: inherit;
      }

      .inline-error {
        padding-left: 6px;
      }
    }

    .order-total {
      > div {
        background-color: #fff;
        margin: 0px -15px;
        margin-top: 28px;
        padding: 15px;
        border-top-color: #e8eaeb;
        border-bottom-color: #e6eaeb;
      }

      &:before {
        border-color: #e7eaeb;
      }
    }

    > ul > li {
      font-size: 14px;

      .amount var.ng-binding {
        color: $palette-main;
      }

      .amount {
        font-weight: 700;
      }

      .amount.discounted {
        text-decoration: none;
      }
    }

    .discount {
      color: #feca2f;

      var.amount {
        &:before {
          content: "-";
        }
      }
    }

    #promotional_code {
      display: none;
    }

    .todays-total {
      font-size: 20px !important;
    }

    @media screen and (max-width: 450px) {
      padding: 20px 20px 0;
    }
  }
}
