#mode {
  #review_order {
    background-color: $palette-light;
    border-top: 1px solid #e6eaeb;

    .checkbox-container {
      box-shadow: none;
      border-color: #e7eaeb;
      padding: 20px;
      color: #434649;
    }
  }
}
