section.sdk-usage-builder {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  p {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 48px;
    }
  }

  .sdk-usage-builder-visual {
    padding-top: 48px;

    @media (min-width: 992px) {
      padding-top: 92px;
    }
  }

  .sdk-features {
    padding-top: 24px;

    @media (min-width: 992px) {
      padding-top: 80px;
    }
  }
}
