section.sdk-pricing-intro {
  .container {
    @media (min-width: 768px) {
      background-image: url(../images/sdk-pricing/intro.svg);
      background-size: 200px auto;
      background-position: right 12px bottom;
      background-repeat: no-repeat;
    }

    @media (min-width: 992px) {
      background-size: 300px auto;
      background-position: right 48px bottom;
    }

    @media (min-width: 1200px) {
      background-size: 400px auto;
      background-position: right 80px bottom;
    }
  }
}
