section.sdk-pricing-overview {
  .container {
    padding-top: 16px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .sdk-overview {
    padding-top: 32px;
    padding-bottom: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    @media (min-width: 1200px) {
      padding-bottom: 96px;
    }

    > div {
      @media (min-width: 992px) {
        background-repeat: no-repeat;
        padding-bottom: 220px;
      }

      @media (min-width: 1200px) {
        padding-bottom: 240px;
      }

      > div {
        @media (min-width: 992px) {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      &.sdk-overview-pricing-builder {
        @media (min-width: 992px) {
          background-image: url(../images/sdk-pricing/builder.svg);
          background-size: 136px auto;
          background-position: center bottom;
        }

        .button {
          background-color: $palette-sdk-builder;
          border-color: $palette-sdk-builder;
          color: $text-white;

          &:active,
          &:focus {
            box-shadow: 0 0 0 0.2rem rgba(143, 104, 251, 0.35);
          }

          &:hover {
            background-color: lighten($palette-sdk-builder, 2%);
          }
        }
      }

      &.sdk-overview-pricing-runners {
        @media (min-width: 992px) {
          background-image: url(../images/sdk-pricing/runners.svg);
          background-size: 192px auto;
          background-position: right bottom;
        }

        .button {
          background-color: $palette-sdk-runners;
          border-color: $palette-sdk-runners;
          color: $text-dark;

          &:active,
          &:focus {
            box-shadow: 0 0 0 0.2rem rgba(254, 202, 47, 0.35);
          }

          &:hover {
            background-color: lighten($palette-sdk-runners, 2%);
          }
        }
      }

      &.sdk-overview-pricing-blocks {
        @media (min-width: 992px) {
          background-image: url(../images/sdk-pricing/blocks.svg);
          background-size: 172px auto;
          background-position: center bottom;
        }

        .button {
          background-color: $palette-sdk-blocks;
          border-color: $palette-sdk-blocks;
          color: $text-dark;

          &:active,
          &:focus {
            box-shadow: 0 0 0 0.2rem rgba(253, 182, 43, 0.35);
          }

          &:hover {
            background-color: lighten($palette-sdk-blocks, 2%);
          }
        }
      }
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
