section.wordpress-features-automations {
  .container {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
    }
  }

  .icon-chapter {
    margin-bottom: 10px;

    @media (min-width: 992px) {
      display: none;
    }
  }

  h2 {
    @media (min-width: 768px) {
      width: 98%;
    }

    @media (min-width: 992px) {
      width: 92%;
    }

    @media (min-width: 1200px) {
      width: 93%;
    }
  }

  p {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    @media (min-width: 1200px) {
      width: 96%;
    }
  }

  .container-bottom {
    padding-top: 0px;

    .col-md-4 {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    p {
      margin-bottom: auto;
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
      }

      @media (min-width: 1200px) {
        width: 90%;
      }
    }

    .hyperlink {
      margin-top: 16px;

      @media (min-width: 992px) {
        margin-top: 32px;
      }
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-purple);
      @include shape-xs(24px, -20%, auto, auto, 20%);
      @include shape-lg(64px, -25%, auto, auto, 25%);
      @include shape-xl(64px, -25%, auto, auto, 25%);
    }
  }
}
