section.wordpress-features-build {
  .container {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
    }
  }

  .icon-chapter {
    margin-bottom: 10px;

    @media (min-width: 992px) {
      display: none;
    }
  }

  h2 {
    @media (min-width: 992px) {
      width: 92%;
    }

    @media (min-width: 1200px) {
      width: 96%;
    }
  }

  p {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .row-visual {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    @media (min-width: 1300px) {
      margin-left: -80px;
      margin-right: -80px;
    }

    .col-visual {
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
      }

      > img {
        width: 100%;
        height: auto;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }

    .features-build-block {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      p {
        padding-top: 32px;
        padding-bottom: 16px;

        @media (min-width: 992px) {
          padding-bottom: 32px;
        }
      }

      &.features-build-builder {
        width: 100%;

        @media (min-width: 768px) {
          width: 455px;
        }

        @media (min-width: 992px) {
          width: 616px;
        }

        @media (min-width: 1200px) {
          width: 756px;
        }

        @media (min-width: 1300px) {
          width: 823px;
        }

        p {
          @media (min-width: 992px) {
            width: 90%;
          }

          @media (min-width: 1300px) {
            width: 80%;
          }
        }

        img {
          display: none;

          @media (min-width: 768px) {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
      }

      &.features-build-preview {
        width: 100%;

        @media (min-width: 768px) {
          width: 235px;
          padding-left: 9px;
        }

        @media (min-width: 992px) {
          width: 314px;
          padding-left: 8px;
        }

        @media (min-width: 1200px) {
          width: 384px;
          padding-left: 8px;
        }

        @media (min-width: 1300px) {
          width: 417px;
          padding-left: 8px;
        }

        p {
          @media (min-width: 1200px) {
            width: 86%;
          }

          @media (min-width: 1300px) {
            width: 78%;
          }
        }

        img {
          display: none;

          @media (min-width: 768px) {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .hyperlink {
    margin-top: auto;
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-purple);
      @include shape-xs(160px, -20%, 5%, auto, auto);
      @include shape-md(160px, -70%, 5%, auto, auto);
      @include shape-lg(240px, -70%, 5%, auto, auto);
      @include shape-xl(300px, -80%, 5%, auto, auto);
    }
  }
}
