section.wordpress-features-customization {
  .container-content {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
    }

    .icon-chapter {
      margin-bottom: 10px;

      @media (min-width: 992px) {
        display: none;
      }
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 64px;
        width: 92%;
      }
    }
  }

  .carousel-form-faces-buttons {
    display: flex;
    justify-content: flex-start;
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .carousel-slides {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (max-width: 575px) {
      width: 80%;
    }

    @media (min-width: 992px) {
      margin-top: 56px;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-green);
      @include shape-xs(120px, -0%, 10%, auto, auto);
      @include shape-lg(160px, -15%, 5%, auto, auto);
      @include shape-xl(200px, -15%, 5%, auto, auto);
    }
  }
}
