section.wordpress-features-hosting {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
      padding-bottom: 140px;
    }
  }

  .icon-chapter {
    margin-bottom: 10px;

    @media (min-width: 992px) {
      display: none;
    }
  }

  h2 {
    @media (min-width: 1200px) {
      width: 91%;
    }
  }

  p {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
      width: 90%;
    }
  }

  .features-hosting-visual {
    display: flex;
    align-items: flex-start;
    padding-top: 32px;
    flex-direction: column-reverse;

    @media (min-width: 576px) {
      flex-direction: row;
    }

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    .features-hosting-option {
      background-color: $palette-hosting;
      position: relative;
      margin-bottom: 4px;

      @media (min-width: 576px) {
        margin-bottom: 16px;
      }

      &.features-hosting-roles {
        padding: 24px;
        border-radius: 0px 0px 12px 12px;
        display: flex;
        flex-direction: column;
        width: 100%;

        @media (min-width: 576px) {
          width: 170px;
          margin-bottom: 16px;
          margin-right: 8px;
          border-radius: 16px 4px 16px 16px;
        }

        @media (min-width: 768px) {
          width: 230px;
          border-radius: 24px 4px 24px 24px;
        }

        @media (min-width: 992px) {
          width: 256px;
          padding: 32px;
          margin-right: 24px;
          border-radius: 32px 8px 32px 32px;
        }

        img {
          margin: 0px auto;
          width: 60px;
          height: 60px;

          @media (min-width: 576px) {
            width: 72px;
            height: 72px;
          }

          @media (min-width: 768px) {
            width: 100px;
            height: 100px;
          }

          @media (min-width: 992px) {
            width: 140px;
            height: 140px;
          }
        }

        p {
          font-size: 13px;
          font-weight: 500;
          color: #fff;
          line-height: 1.6em;
          padding-top: 20px;
          width: 100%;

          a {
            color: #fff;
            text-decoration: underline;
          }
        }
      }

      &.features-hosting-wordpress {
        padding: 24px;
        border-radius: 12px 12px 0px 0px;
        color: #fff;
        width: 100%;

        h3 {
          font-size: 34px;
          letter-spacing: -2px;
          line-height: 1em;
        }

        p {
          position: relative;
          font-size: 16px;
          line-height: 1.8em;
          font-weight: 500;
          padding-top: 16px;
          width: 70%;
          z-index: 2;

          a {
            color: #fff;
            text-decoration: underline;
          }
        }

        img {
          position: absolute;
          max-width: 100%;
          z-index: 1;
          height: 126px;
          bottom: -3px;
          right: 4px;
        }

        @media (min-width: 576px) {
          width: 320px;
          height: 420px;
          border-radius: 4px 24px 24px 24px;

          h3 {
            width: 90%;
          }
        }

        @media (min-width: 768px) {
          width: 440px;
          height: 400px;
          padding: 24px 32px;
          border-radius: 4px 32px 32px 32px;

          h3 {
            width: 70%;
            font-size: 40px;
          }

          p {
            width: 75%;
          }

          img {
            height: 180px;
            bottom: -4px;
            right: 8px;
          }
        }

        @media (min-width: 992px) {
          width: 640px;
          height: 416px;
          padding: 48px 64px;
          border-radius: 8px 64px 64px 64px;
          margin-bottom: 0px;

          h3 {
            width: 64%;
            font-size: 48px;
          }

          p {
            width: 70%;
            font-size: 18px;
          }

          img {
            height: 290px;
            bottom: -7px;
            right: 16px;
          }
        }
      }
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (max-width: 575px) {
      width: 80%;
    }

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-yellow);
      @include shape-xs(100px, 10%, 10%, auto, auto);
      @include shape-lg(200px, -15%, 5%, auto, auto);
      @include shape-xl(300px, -15%, 5%, auto, auto);
    }
  }
}
