section.wordpress-features-sharing {
  .container {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
    }
  }

  .icon-chapter {
    margin-bottom: 10px;

    @media (min-width: 992px) {
      display: none;
    }
  }

  h2 {
    @media (min-width: 1200px) {
      width: 92%;
    }
  }

  p {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    @media (min-width: 1200px) {
      width: 94%;
    }
  }

  .features-sharing-visual {
    padding-top: 32px;

    .features-sharing-visual-top {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin-bottom: 8px;

      @media (min-width: 768px) {
        margin-bottom: 16px;
      }

      @media (min-width: 992px) {
        margin-bottom: 24px;
        padding-top: 64px;
      }
    }

    .features-sharing-visual-bottom {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 20px;

      @media (min-width: 768px) {
        margin-left: 40px;
      }
    }

    .features-sharing-option {
      background-color: $palette-sharing;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.2s ease-out;
      padding: 24px;

      @media (min-width: 992px) {
        padding: 48px;
      }

      &:hover {
        transform: scale(1.03);
      }

      &.features-sharing-link {
        border-radius: 32px 32px 4px 32px;
        margin-right: 8px;

        @media (min-width: 768px) {
          border-radius: 64px 64px 8px 64px;
          margin-right: 16px;
        }

        @media (min-width: 992px) {
          margin-right: 24px;
        }

        svg {
          width: 100px;
          height: 100px;

          @media (min-width: 768px) {
            width: 180px;
            height: 180px;
          }

          @media (min-width: 992px) {
            width: 264px;
            height: 264px;
          }

          path {
            fill: #fff;
          }
        }
      }

      &.features-sharing-gutenberg {
        border-radius: 28px 28px 28px 4px;

        @media (min-width: 768px) {
          border-radius: 56px 56px 56px 8px;
        }

        img {
          width: 80px;
          height: 80px;

          @media (min-width: 768px) {
            width: 140px;
            height: 140px;
          }

          @media (min-width: 992px) {
            width: 224px;
            height: 224px;
          }
        }
      }

      &.features-sharing-elementor {
        border-radius: 28px 4px 28px 28px;
        margin-right: 8px;

        @media (min-width: 768px) {
          border-radius: 56px 8px 56px 56px;
          margin-right: 16px;
        }

        @media (min-width: 992px) {
          margin-right: 24px;
        }

        svg {
          width: 80px;
          height: 80px;

          @media (min-width: 768px) {
            width: 140px;
            height: 140px;
          }

          @media (min-width: 992px) {
            width: 224px;
            height: 224px;
          }
        }
      }

      &.features-sharing-shortcode {
        border-radius: 4px 24px 24px 24px;

        @media (min-width: 768px) {
          border-radius: 8px 32px 32px 32px;
        }

        svg {
          width: 64px;
          height: 64px;

          @media (min-width: 768px) {
            width: 120px;
            height: 120px;
          }

          @media (min-width: 992px) {
            width: 168px;
            height: 168px;
          }

          path {
            fill: #fff;
          }
        }
      }
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (max-width: 575px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-red);
      @include shape-xs(32px, -0%, 40%, auto, auto);
      @include shape-lg(64px, -15%, 5%, auto, auto);
      @include shape-xl(64px, -15%, 5%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-blue);
      @include shape-xs(80px, auto, 10%, 20%, auto);
      @include shape-md(120px, auto, 10%, 0%, auto);
      @include shape-lg(160px, auto, -25%, 0, auto);
    }
  }
}
