section.sdk-blog-intro {
  .container {
    @media (min-width: 768px) {
      background-image: url(../images/sdk-blog/intro.svg);
      background-size: 240px auto;
      background-position: right 24px bottom;
      background-repeat: no-repeat;
    }

    @media (min-width: 992px) {
      background-size: 360px auto;
      background-position: right 24px bottom;
    }

    @media (min-width: 1200px) {
      background-size: 400px auto;
      background-position: right 40px bottom;
    }
  }

  p {
    padding-bottom: 40px;

    @media (min-width: 768px) {
      width: 83%;
    }

    @media (min-width: 992px) {
      padding-bottom: 48px;
    }

    @media (min-width: 1200px) {
      width: 70%;
    }
  }

  a {
    margin-bottom: 60px;

    @media (min-width: 992px) {
      margin-bottom: 80px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
