section.form-faces-face {
  padding-bottom: 64px;

  @media (min-width: 992px) {
    padding-bottom: 120px;
  }

  &.form-faces-face-autoscroll {
    padding-top: 64px;

    @media (min-width: 992px) {
      padding-top: 120px;
    }

    .container-content {
      p {
        &:after {
          @include shape(circle, $palette-turquoise);
          @include shape-xs(60px, -40px, 40px, auto, auto);
          @include shape-md(120px, -40px, -120px, auto, auto);
          @include shape-lg(180px, -60px, -180px, auto, auto);
          @include shape-xl(240px, -100px, -240px, auto, auto);
        }

        @media (min-width: 1200px) {
          width: 98%;
        }
      }
    }
  }

  &.form-faces-face-chat {
    .container-content {
      p {
        &:after {
          @include shape(circle, $palette-purple);
          @include shape-xs(40px, auto, 40px, 0px, auto);
          @include shape-md(40px, auto, -40px, 20px, auto);
          @include shape-lg(56px, auto, -60px, 20px, auto);
          @include shape-xl(64px, auto, -100px, 20px, auto);
        }

        @media (min-width: 768px) {
          width: 95%;
        }
      }
    }
  }

  &.form-faces-face-classic {
    .container-content {
      p {
        &:after {
          @include shape(circle, $palette-red);
          @include shape-xs(40px, -60px, 40px, auto, auto);
          @include shape-md(80px, -80px, 60px, auto, auto);
          @include shape-lg(80px, -100px, 0px, auto, auto);
          @include shape-xl(96px, -100px, 0px, auto, auto);
        }

        @media (min-width: 768px) {
          width: 92%;
        }

        @media (min-width: 992px) {
          width: 94%;
        }

        @media (min-width: 1200px) {
          width: 92%;
        }
      }
    }
  }

  .container-content {
    .form-faces-face-intro {
      display: flex;
      align-items: center;

      .form-faces-face-title {
        padding-left: 16px;

        @media (min-width: 992px) {
          padding-left: 32px;

          h2 {
            margin-top: 8px;
          }
        }
      }
    }

    p {
      padding-top: 32px;

      @media (min-width: 1200px) {
        padding-top: 56px;
      }
    }
  }

  .form-face {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 56px;
    }
  }
}
