section.form-faces-intro {
  .container {
    padding-top: 40px;
    background-image: url(../images/form-faces/intro.svg);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: right 8px bottom;

    @media (min-width: 768px) {
      background-size: 300px;
    }

    @media (min-width: 992px) {
      padding-top: 60px;
      background-size: 480px;
      background-position: right 16px bottom;
    }

    @media (min-width: 1200px) {
      padding-top: 92px;
      background-size: 560px;
    }
  }

  h1 {
    font-size: 40px;
    line-height: 1em;
    letter-spacing: -2px;

    @media (min-width: 992px) {
      font-size: 72px;
      letter-spacing: -4px;
    }

    @media (min-width: 1200px) {
      font-size: 80px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.7em;
    padding-top: 32px;
    padding-bottom: 16px;

    @media (min-width: 768px) {
      padding-bottom: 24px;
    }

    @media (min-width: 992px) {
      width: 86%;
      font-size: 24px;
      padding-top: 48px;
      padding-bottom: 48px;
    }

    @media (min-width: 1200px) {
      font-size: 28px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 80px;
    margin-bottom: 0px;

    @media (min-width: 992px) {
      margin-top: 100px;
    }

    @media (min-width: 1200px) {
      margin-top: 160px;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-purple);
      @include shape-xs(40px, -50px, auto, auto, 60px);
      @include shape-lg(64px, -70px, auto, auto, 140px);
      @include shape-xl(64px, -80px, auto, auto, 140px);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-green);
      @include shape-xs(40px, auto, 30px, -40px, auto);
      @include shape-md(64px, auto, 40px, -60px, auto);
      @include shape-lg(96px, auto, -30px, -60px, auto);
      @include shape-xl(128px, auto, -90px, -80px, auto);
    }
  }
}
