section.black-friday-intro {
  .row {
    justify-content: center;
    text-align: center;
  }

  h1 {
    font-size: 40px;

    @media (min-width: 768px) {
      font-size: 64px;
    }

    @media (min-width: 992px) {
      font-size: 80px;
    }

    @media (min-width: 1200px) {
      font-size: 96px;
    }
  }


  p {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 24px;

    @media (min-width: 992px) {
      font-size: 24px;
      padding-bottom: 40px;
    }
  }

  hr {
    border-color: $splitter-dark;
    margin-top: 40px;
    margin-bottom: 0px;

    @media (min-width: 992px) {
      margin-top: 144px;
    }
  }
}
