section.black-friday-subscribe {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 60px;
    }

    @media (min-width: 1200px) {
      padding-top: 112px;
    }
  }

  .row {
    justify-content: center;
    text-align: center;
  }

  h2 {
    font-size: 26px;
    line-height: 1.2em;

    @media (min-width: 768px) {
      font-size: 48px;
      letter-spacing: -2px;
    }

    @media (min-width: 992px) {
      font-size: 64px;
      letter-spacing: -3px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 500;
    padding-top: 24px;

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 32px;
    }

    a {
      color: $text-white;
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
    margin-top: 40px;

    @media (min-width: 992px) {
      margin-top: 112px;
    }
  }
}
