section.sdk-producthunt-components {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 40px;
    padding-bottom: 80px;

    @media (min-width: 768px) {
      padding-top: 80px;
    }

    @media (min-width: 992px) {
      padding-bottom: 120px;
    }

    @media (min-width: 1200px) {
      padding-top: 120px;
    }
  }

  .sdk-producthunt-components-intro {
    justify-content: center;
    text-align: center;

    small {
      display: block;
      font-family: $font-secondary;
      font-size: 28px;
      color: $palette-red;
      letter-spacing: -1px;
      line-height: 1em;
      transform: rotate(-2deg);
      margin-bottom: 8px;

      @media (min-width: 768px) {
        font-size: 32px;
      }

      @media (min-width: 992px) {
        font-size: 48px;
        letter-spacing: -3px;
        margin-bottom: 16px;
      }
    }

    h2 {
      @media (max-width: 575px) {
        font-size: 30px;
      }

      @media (min-width: 992px) {
        font-size: 48px;
        letter-spacing: -2px;
      }
    }

    p {
      padding-top: 16px;
      padding-bottom: 48px;

      @media (min-width: 992px) {
        width: 98%;
        padding-left: 1%;
      }

      @media (min-width: 1200px) {
        width: 96%;
        padding-left: 2%;
      }
    }
  }

  .sdk-carousel-components-buttons {
    display: flex;
    justify-content: center;
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 48px;
    }
  }

  .carousel-slides {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }
}
