section.sdk-producthunt-implementation {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  .content {
    h2 {
      @media (min-width: 1200px) {
        width: 92%;
      }
    }

    p {
      padding-top: 32px;

      @media (min-width: 768px) {
        width: 94%;
      }

      @media (min-width: 992px) {
        padding-top: 48px;
      }

      @media (min-width: 1200px) {
        width: 100%;
      }
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .sdk-producthunt-implementation-languages {
    .col-6 {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;

      .sdk-producthunt-implementation-option {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s ease-out;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        margin-top: 32px;

        @media (min-width: 768px) {
          width: 100px;
          height: 100px;
        }

        @media (min-width: 992px) {
          margin-top: 48px;
          width: 196px;
          height: 196px;
        }

        @media (min-width: 1200px) {
          margin-top: 64px;
          width: 240px;
          height: 240px;
        }

        &:hover {
          transform: scale(1.03);
        }

        svg {
          width: 64px;
          height: 64px;

          @media (min-width: 768px) {
            width: 80px;
            height: 80px;
          }

          @media (min-width: 992px) {
            width: 160px;
            height: 160px;
          }

          @media (min-width: 1200px) {
            width: 176px;
            height: 176px;
          }
        }

        &.sdk-producthunt-implementation-javascript {
          background-color: #f0db4e;
        }

        &.sdk-producthunt-implementation-react {
          background-color: #222;
        }

        &.sdk-producthunt-implementation-angular {
          background-color: #eff2f6;
        }

        &.sdk-producthunt-implementation-html5 {
          background-color: #fa8846;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: -0.2px;
        margin-bottom: auto;
        padding-top: 16px;

        @media (min-width: 992px) {
          font-size: 18px;
        }
      }

      .hyperlink {
        margin-top: 16px;

        @media (min-width: 992px) {
          margin-top: 32px;
        }
      }
    }
  }
}
