section.sdk-producthunt-jumbo {
  .jumbo-holder {
    cursor: pointer;

    @media (min-width: 992px) {
      transition: transform 0.2s ease-out;

      &:hover {
        transform: scale(1.01);
      }
    }

    &.palette-producthunt {
      background-color: $palette-producthunt-modern;
      color: #fff;

      @media (min-width: 768px) {
        background-image: url(../images/producthunt/product-hunt.png);
        background-size: auto 180px;
        background-position: right 30px bottom 60px;
      }

      @media (min-width: 992px) {
        background-size: auto 320px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1200px) {
        padding: 64px 30px;
        background-size: auto 420px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1300px) {
        padding: 96px;
        background-position: right 60px bottom 60px;
      }

      .jumbo-content {
        width: 100%;

        @media (min-width: 768px) {
          h1 {
            width: 80%;
          }

          p {
            width: 65%;
          }
        }

        @media (min-width: 992px) {
          h1 {
            width: 72%;
          }

          p {
            width: 60%;
          }
        }

        @media (min-width: 1200px) {
          p {
            width: 50%;
          }
        }
      }
    }

    &.palette-producthunt-launch {
      background-color: $palette-producthunt-modern;
      color: #fff;

      @media (min-width: 768px) {
        background-image: url(../images/producthunt/product-hunt.png);
        background-size: auto 240px;
        background-position: right 30px bottom 30px;
      }

      @media (min-width: 992px) {
        background-size: auto 380px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1200px) {
        padding: 64px 30px;
        background-size: auto 480px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1300px) {
        padding: 96px;
        background-size: auto 520px;
        background-position: right 60px bottom 60px;
      }

      .jumbo-content {
        width: 100%;

        h1 {
          font-size: 40px;
          letter-spacing: -2px;

          @media (min-width: 768px) {
            font-size: 60px;
            letter-spacing: -3px;
          }

          @media (min-width: 992px) {
            font-size: 72px;
          }

          @media (min-width: 1200px) {
            font-size: 80px;
            letter-spacing: -4px;
          }
        }

        @media (min-width: 768px) {
          h1 {
            width: 96%;
          }

          p {
            width: 60%;
          }
        }

        @media (min-width: 992px) {
          h1 {
            width: 70%;
          }

          p {
            width: 55%;
          }
        }

        @media (min-width: 1200px) {
          h1 {
            width: 60%;
          }

          p {
            width: 46%;
          }
        }
      }
    }

    &.palette-producthunt-after {
      background-color: $palette-producthunt-modern;
      color: #fff;

      @media (min-width: 768px) {
        background-image: url(../images/producthunt/product-hunt.png);
        background-size: auto 200px;
        background-position: right 30px bottom 30px;
      }

      @media (min-width: 992px) {
        background-size: auto 300px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1200px) {
        padding: 64px 30px;
        background-size: auto 400px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1300px) {
        padding: 96px;
        background-size: auto 400px;
        background-position: right 60px bottom 60px;
      }

      .jumbo-content {
        width: 100%;

        h1 {
          font-size: 40px;
          letter-spacing: -2px;

          @media (min-width: 768px) {
            font-size: 60px;
            letter-spacing: -3px;
          }

          @media (min-width: 992px) {
            font-size: 72px;
          }

          @media (min-width: 1200px) {
            font-size: 80px;
            letter-spacing: -4px;
          }
        }

        @media (min-width: 768px) {
          h1 {
            width: 82%;
          }

          p {
            width: 61%;
          }
        }

        @media (min-width: 992px) {
          h1 {
            width: 70%;
          }

          p {
            width: 57%;
          }
        }

        @media (min-width: 1200px) {
          h1 {
            width: 63%;
          }

          p {
            width: 48%;
          }
        }
      }
    }
  }
}
