section.sdk-producthunt-storage {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  .content {
    h2 {
      @media (min-width: 576px) {
        width: 96%;
      }

      @media (min-width: 768px) {
        width: 100%;
      }

      @media (min-width: 992px) {
        width: 96%;
      }
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
      }

      @media (min-width: 1200px) {
        width: 97%;
      }
    }
  }

  .sdk-storage {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (max-width: 575px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }
}
