section.launch-intro {
  .shape-before {
    &:before {
      @include shape(diamond, $palette-purple);
      @include shape-xs(100px, 0%, auto, auto, 15%);
      @include shape-md(100px, 0%, auto, auto, 10%);
      @include shape-lg(160px, -5%, auto, auto, 2%);
      @include shape-xl(200px, -5%, auto, auto, -6%);
    }
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-green);
      @include shape-xs(100px, auto, 10%, 0%, auto);
      @include shape-sm(100px, auto, 10%, 0%, auto);
      @include shape-md(100px, auto, 10%, 0%, auto);
      @include shape-lg(160px, auto, -10%, -15%, auto);
      @include shape-xl(200px, auto, -10%, -15%, auto);
    }
  }

  .launch-row-intro {
    display: flex;
    justify-content: center;
    text-align: center;

    h1 {
      @media (min-width: 1200px) {
        font-size: 136px;
        line-height: 0.95em;
      }
    }

    p {
      padding-bottom: 16px;

      @media (min-width: 992px) {
        padding-bottom: 24px;
      }

      @media (min-width: 1200px) {
        padding-left: 18px;
        padding-right: 18px;
      }
    }

    a {
      margin-bottom: 32px;

      @media (min-width: 992px) {
        margin-bottom: 8px;
      }
    }
  }
}


