section.calculator-features-matrix {
  .container {
    padding-top: 140px;

    @media (min-width: 768px) {
      padding-top: 160px;
    }

    @media (min-width: 992px) {
      padding-top: 180px;
    }

    @media (min-width: 1200px) {
      padding-top: 200px;
    }

    .matrix-hint {
      &:before {
        content: "Then pick and set your desired operations";
        display: inline-block;
        position: absolute;
        left: 24px;
        top: -74px;
        font-family: $font-secondary;
        color: $palette-red;
        font-size: 24px;
        letter-spacing: -1px;
        line-height: 0.8em;
        transform: rotate(-4deg);
        width: 220px;
        height: 56px;
        background-image: url(../images/scenes/hint.svg);
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: bottom left;
        padding-left: 30px;

        @media (min-width: 576px) {
          font-size: 28px;
          width: 240px;
        }

        @media (min-width: 768px) {
          font-size: 32px;
          width: 300px;
          height: 72px;
          left: 32px;
          top: -92px;
          background-size: 32px;
          padding-left: 44px;
        }

        @media (min-width: 992px) {
          width: 340px;
          height: 72px;
          font-size: 36px;
          top: -100px;
          background-size: 32px;
          padding-left: 44px;
          letter-spacing: -1.5px;
        }
      }
    }

    .matrix-hyperlink {
      padding-top: 16px;
      padding-bottom: 8px;

      @media (min-width: 992px) {
        padding-top: 48px;
        padding-bottom: 16px;
      }
    }
  }
}
