section.support-chat {
  .container {
    padding-top: 80px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 80px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  p {
    padding-top: 16px;
    font-size: 18px;
    line-height: 1.9em;
  }

  #SupportCrisp {
    margin-top: 40px;
    border-radius: 8px;

    @media (min-width: 992px) {
      margin-top: 56px;
    }

    > iframe {
      width: 100%;
      height: 70vh;
      border: none;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
    }
  }
}
