section.support-form {
  .container {
    padding-top: 40px;
    padding-bottom: 20px;
    min-height: 460px;
    background-image: url(../images/support/form.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 140px;

    @media (min-width: 576px) {
      background-size: 180px;
    }

    @media (min-width: 768px) {
      background-size: 260px;
    }

    @media (min-width: 992px) {
      background-size: 300px;
      padding-top: 80px;
      padding-bottom: 60px;
    }

    @media (min-width: 1200px) {
      background-size: 340px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  p {
    padding-top: 16px;
    font-size: 18px;
    line-height: 1.9em;

    a {
      color: $palette-purple;
    }
  }

  #TripettoRunner {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 56px;
    }
  }
}
