section.support-hero {
  p {
    @media (min-width: 1200px) {
      font-size: 28px;
      padding-bottom: 104px;
      width: 96%;
    }

    a {
      color: $palette-purple;
    }
  }

  form.help-search {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 96px;
    }
  }


  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-green);
      @include shape-xs(120px, -10%, auto, auto, 10%);
      @include shape-md(180px, -10%, auto, auto, 10%);
      @include shape-lg(200px, -10%, auto, auto, 10%);
      @include shape-xl(256px, -10%, auto, auto, 10%);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-blue);
      @include shape-xs(64px, auto, 10%, 15%, auto);
      @include shape-sm(64px, auto, 10%, 15%, auto);
      @include shape-md(64px, auto, 10%, 15%, auto);
      @include shape-lg(128px, auto, 0%, 25%, auto);
      @include shape-xl(128px, auto, 0%, 25%, auto);
    }
  }
}
