section.sdk-usage-intro {
  .container {
    @media (min-width: 576px) {
      background-image: url(../images/sdk-usage/angular.svg);
      background-size: 72px auto;
      background-position: right 24px bottom 24px;
      background-repeat: no-repeat;
    }

    @media (min-width: 768px) {
      background-size: 180px auto;
      background-position: right 24px bottom 40px;
    }

    @media (min-width: 992px) {
      background-size: 320px auto;
      background-position: right 8px bottom 80px;
    }

    @media (min-width: 1200px) {
      background-size: 400px auto;
    }
  }

  h1 {
    > span {
      color: $palette-sdk-angular;
      background: linear-gradient(72deg, #F11653 10%, #F736E3 60%, #8514F5 99%);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;

      > span {
        letter-spacing: 0px;
      }
    }
  }

  p {
    @media (min-width: 992px) {
      width: 90%;
    }

    @media (min-width: 1200px) {
      width: 100%;
    }
  }

  .button-angular {
    background-color: $palette-sdk-angular;
    border-color: $palette-sdk-angular;
    color: $text-white;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(233, 4, 100, 0.35);
    }

    &:hover {
      background-color: lighten($palette-sdk-angular, 2%);
    }
  }
}
