section.blog-filter {
  h1 {
    span {
      display: block;
      font-size: 24px;
      letter-spacing: -1px;
      line-height: 1em;
      padding-top: 8px;
      padding-bottom: 40px;

      @media (min-width: 768px) {
        font-size: 32px;
        padding-bottom: 60px;
      }

      @media (min-width: 992px) {
        font-size: 48px;
        letter-spacing: -2px;
        padding-top: 16px;
      }

      @media (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 96px;
      }
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(60px, -20%, 25%, auto, auto);
      @include shape-md(80px, -20%, 25%, auto, auto);
      @include shape-lg(104px, -20%, 30%, auto, auto);
      @include shape-xl(128px, -20%, 30%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-blue);
      @include shape-xs(40px, auto, auto, 10%, 35%);
      @include shape-md(64px, auto, auto, 10%, 35%);
      @include shape-lg(64px, auto, auto, 10%, 35%);
      @include shape-xl(88px, auto, auto, 10%, 35%);
    }
  }
}
