section.blog-intro {
  .container {
    @media (min-width: 768px) {
      background-image: url(../images/blog/intro.svg);
      background-repeat: no-repeat;
      background-size: 200px;
      background-position: right bottom;
    }

    @media (min-width: 992px) {
      background-size: 320px;
    }

    @media (min-width: 1200px) {
      background-size: 420px;
    }
  }

  p {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      width: 92%;
      padding-bottom: 48px;
    }

    @media (min-width: 1200px) {
      width: 100%;
    }
  }

  a {
    margin-bottom: 60px;

    @media (min-width: 992px) {
      margin-bottom: 80px;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-red);
      @include shape-xs(80px, -5%, 10%, auto, auto);
      @include shape-sm(80px, -5%, 10%, auto, auto);
      @include shape-md(80px, -5%, 10%, auto, auto);
      @include shape-lg(104px, -5%, 10%, auto, auto);
      @include shape-xl(128px, -5%, 10%, auto, auto);
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
