ul.anchors-icons {
  list-style: none;
  padding-left: 0;
  margin: 0;

  > li {
    display: inline-block;
    margin: 4px;
    vertical-align: top;

    @media (min-width: 992px) {
      margin-left: 8px;
      margin-right: 8px;
    }

    a {
      .icon-chapter,
      .studio-icon-chapter,
      .sdk-icon-chapter {
        transition: transform 0.2s ease-out;
      }

      span {
        font-size: 16px;
        font-weight: 600;
        display: block;
        padding-top: 6px;
        color: $text-dark;

        @media (min-width: 992px) {
          padding-top: 16px;
        }
      }

      span+span {
        font-weight: 500;
        padding-top: 0px !important;
        color: $text-dark;
      }

      small {
        display: block;
        color: $text-dark-48;
        padding-top: 4px;
      }

      &:hover {
        text-decoration: none;

        span {
          &:first-of-type {
            text-decoration: underline;
          }
        }

        .icon-chapter,
        .studio-icon-chapter,
        .sdk-icon-chapter {
          transform: scale(1.02);
        }
      }
    }
  }
}
