section.article-content {
  padding-top: 40px;

  @media (min-width: 992px) {
    padding-top: 56px;
  }

  @mixin style-figure {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;

    @media (min-width: 1200px) {
      margin-left: -16px;
      margin-right: -16px;
    }

    &.inline {
      @media (min-width: 768px) {
        display: inline-block;
        width: 50%;
        float: left;
        margin-right: 32px;
      }

      @media (min-width: 1200px) {
        margin-left: -16px;
      }
    }

    &.inline-right {
      @media (min-width: 768px) {
        display: inline-block;
        width: 50%;
        float: right;
        margin-left: 32px;
      }

      @media (min-width: 1200px) {
        margin-right: -16px;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
      border-radius: 8px;

      &.no-shadow {
        box-shadow: none;
      }

      &.no-radius {
        border-radius: 0px;
      }
    }

    .video-embed {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
      border-radius: 8px;

      iframe,
      object,
      embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }

    .youtube-player {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
      border-radius: 8px;

      div {
        &:hover {
          .play {
            transform: scale(1.1);
          }
        }
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
      }

      img {
        object-fit: cover;
        display: block;
        left: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
      }

      .play {
        height: 64px;
        width: 64px;
        left: 50%;
        top: 50%;
        margin-left: -32px;
        margin-top: -32px;
        position: absolute;
        background: url("../images/youtube-play.png") no-repeat;
        background-size: cover;
        cursor: pointer;
        transition: transform 0.2s ease-out;
      }
    }

    figcaption {
      padding-top: 16px;
      font-size: 13px;
      letter-spacing: -0.3px;
      line-height: 1.5em;
      color: $text-dark-48;
      display: block;

      > code {
        font-size: 12px;
        top: 0px;
      }

      > a {
        text-decoration: underline;
      }
    }
  }

  font-size: 18px;
  font-weight: 500;
  line-height: 1.8em;

  .article-preface {
    figure {
      @include style-figure;
      margin-top: 8px;
      margin-bottom: 40px;
    }

    .pills {
      padding-bottom: 32px;

      @media (min-width: 992px) {
        padding-bottom: 48px;
      }
    }

    h1 {
      font-weight: normal;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -2px;
      line-height: 1.15em;
      padding-bottom: 16px;

      @media (min-width: 768px) {
        font-size: 40px;
      }

      @media (min-width: 992px) {
        font-size: 64px;
        letter-spacing: -3px;
      }
    }

    p {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.5em;
      padding-bottom: 32px;

      @media (min-width: 768px) {
        font-size: 22px;
      }

      @media (min-width: 992px) {
        font-size: 24px;
        padding-bottom: 48px;
      }

      a {
        color: $text-link;

        &:hover {
          color: $text-link;
        }
      }
    }

    .author {
      padding-bottom: 24px;

      @media (min-width: 992px) {
        padding-bottom: 32px;
      }
    }

    hr {
      border-color: $splitter;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .article-content-core {
    padding-top: 32px;

    h2 {
      font-size: 24px;
      letter-spacing: -1px;
      line-height: 1.2em;
      padding-top: 24px;
      padding-bottom: 16px;

      @media (min-width: 768px) {
        font-size: 26px;
      }
    }

    h3 {
      font-size: 20px;
      line-height: 1.2em;
      padding-top: 24px;
      padding-bottom: 20px;

      @media (min-width: 768px) {
        font-size: 22px;
      }

      &.title-logo {
        img {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          margin-top: -4px;
        }
      }
    }

    h4 {
      font-size: 18px;
      line-height: 1.2em;
      padding-top: 24px;
      padding-bottom: 16px;

      i {
        margin-right: 6px;
      }

      &.title-logo {
        img {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          margin-top: -4px;
        }
      }
    }

    h5 {
      font-size: 18px;
      line-height: 1.2em;
      padding-top: 24px;
      padding-bottom: 8px;

      i {
        margin-right: 6px;
      }
    }

    p {
      padding-bottom: 16px;
      line-height: 1.8em;
    }

    a {
      color: $text-link !important;
      text-decoration: none !important;

      &:hover {
        text-decoration: underline !important;
      }
    }

    ul,
    ol {
      margin: 0px;
      padding-bottom: 16px;

      li {
        padding-bottom: 8px;

        h4 {
          padding-bottom: 4px;
        }
      }
    }

    ul.related {
      margin-left: 32px;
      padding-bottom: 0px;

      i {
        color: $text-link;
      }

      .related-current {
        display: inline;
        white-space: nowrap;
        position: relative;
        top: -1px;
        margin-left: 6px;
        font-size: 14px;
        background-color: $background-medium;
        padding: 4px;
        border-radius: 4px;
      }
    }

    p,
    li,
    figcaption {
      code {
        display: inline-block;
        background-color: $background-light;
        font-size: 16px;
        padding: 0px 6px;
        border-radius: 4px;
        line-height: 1.6em;
        position: relative;
        top: -1px;
      }

      a {
        color: $text-dark;
        text-decoration: underline;

        &:hover {
          color: #000;
        }
      }
    }

    table {
      table-layout: fixed;
      word-wrap: break-word;
      color: $text-dark;

      th,
      td {
        width: 50%;
        background-clip: padding-box;

        @media (min-width: 768px) {
          width: 60%;

          &:last-child {
            width: 40%;
          }
        }
      }

      thead {
        background-color: #eff2f6;

        th {
          border: none;
        }
      }

      tbody {
        tr {
          th,
          td {
            border-bottom: 1px solid $splitter;
          }
        }
      }
    }

    blockquote {
      font-size: 16px;
      line-height: 1.8em;
      margin: 16px 0 32px 0;
      padding: 16px;
      border-radius: 6px;
      background-color: $palette-lighter;
      border-left: 4px solid $text-dark-64;

      > h2,
      > h3,
      > h4 {
        padding-top: 10px;
        padding-bottom: 0px;
      }

      > p {
        padding-top: 10px;
        padding-bottom: 10px;

        > em {
          font-style: normal;
        }
      }

      > figure {
        @media (min-width: 768px) {
          margin-left: 0px;
          margin-right: 0px;
        }

        > figcaption {
          font-style: normal;
        }
      }

      code {
        font-size: 14px;
        font-style: normal;
        background-color: #fff;
      }
    }

    a.blocklink {
      display: block;
      padding: 16px;
      margin-top: 16px;
      margin-bottom: 24px;
      border: 1px solid #dfe4ea;
      border-radius: 8px;
      line-height: 1.5em;
      color: $text-dark !important;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @media (min-width: 1200px) {
        margin-left: -16px;
        margin-right: -16px;
      }

      &:hover {
        text-decoration: none !important;

        span.title {
          text-decoration: underline !important;
        }

        img {
          transform: scale(1.05);
        }
      }

      span {
        display: block;
      }

      span.title {
        font-size: 18px;
        font-weight: bold;

        i {
          padding-left: 8px;
          font-size: 14px;
          position: relative;
          top: -2px;
        }
      }

      span.description {
        font-size: 14px;
        color: $text-dark-64;
        line-height: 1.5em;
      }

      span.url {
        font-size: 14px;
        color: #fa3a69;
      }

      img {
        width: 60px;
        height: auto;
        margin-left: 16px;
        transition: transform 0.2s ease-out;

        @media (min-width: 768px) {
          width: 80px;
        }
      }
    }

    small {
      color: $text-dark-64;
      display: block;
      text-align: center;
      padding-bottom: 24px;

      > a {
        color: $text-dark-64;
        text-decoration: underline;

        &:hover {
          color: $text-dark;
        }
      }
    }

    pre {
      display: block;
      margin-bottom: 24px;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;

      @media (min-width: 1200px) {
        margin-left: -16px;
        margin-right: -16px;
      }
    }

    div.gist {
      margin-bottom: 24px;

      @media (min-width: 1200px) {
        margin-left: -16px;
        margin-right: -16px;
      }
    }

    hr {
      clear: both;
      border: none;
      text-align: center;
      font-size: 36px;
      margin: 0;
      height: 64px;

      &:before {
        display: block;
        content: "...";
        text-indent: 0.6em;
        letter-spacing: 0.6em;
        padding-bottom: 32px;
      }
    }

    i.fa-arrow-right {
      font-size: 12px;
      margin-left: 6px;
      margin-right: 6px;
      position: relative;
      top: -2px;
    }

    figure {
      @include style-figure;
    }

    .tenor-gif-embed {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
      margin-top: 8px;
      margin-bottom: 40px;

      @media (min-width: 1200px) {
        margin-left: -16px;
        margin-right: -16px;
      }
    }

    .article-form-embed {
      background-color: $background-light;
      padding: 16px 16px 16px 16px;
      border-radius: 8px;
      margin-bottom: 16px;
      font-size: 16px;

      @media (min-width: 768px) {
        font-size: 18px;
      }

      @media (min-width: 1200px) {
        margin-left: -16px;
        margin-right: -16px;
      }

      .form-embed {
        margin-top: 8px;
        margin-bottom: 40px;
        margin-left: -5px;
        margin-right: -5px;
      }
    }

    a.article-more-info {
      margin-left: 10px;
    }
  }
}
