.article-info {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1.5em;

  div.article-info-avatar {
    img {
      width: 45px;
      height: 48px;

      @media (min-width: 992px) {
        width: 60px;
        height: 64px;
      }
    }
  }

  div.article-info-content {
    color: $text-dark-64;
    padding-left: 8px;
    font-weight: 600;

    div {
      display: block;

      a {
        color: $text-dark-64;
        text-decoration: underline;
      }

      span.article-info-divider {
        padding: 0px 6px;

        &:after {
          content: "\00B7";
        }
      }
    }

    > small {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
