.automations-visual {
    @mixin automation-bubble($color) {
      background-color: $color;
    }

    @mixin automation-bubble-position($size, $top, $left) {
      width: $size;
      height: $size;
      top: $top;
      left: $left;
    }

    @mixin automation-bubble-xs($size, $top, $left) {
      @include automation-bubble-position($size, $top, $left);
    }

    @mixin automation-bubble-sm($size, $top, $left) {
      @media (min-width: 576px) {
        @include automation-bubble-position($size, $top, $left);
      }
    }

    @mixin automation-bubble-md($size, $top, $left) {
      @media (min-width: 768px) {
        @include automation-bubble-position($size, $top, $left);
      }
    }

    @mixin automation-bubble-lg($size, $top, $left) {
      @media (min-width: 992px) {
        @include automation-bubble-position($size, $top, $left);
      }
    }

    @mixin automation-bubble-xl($size, $top, $left) {
      @media (min-width: 1200px) {
        @include automation-bubble-position($size, $top, $left);
      }
    }

    position: relative;
    margin-top: 32px;
    margin-left: 15px;
    height: 160px;

    @media (min-width: 576px) {
      height: 272px;
    }

    @media (min-width: 768px) {
      height: 420px;
    }

    @media (min-width: 992px) {
      margin-top: 64px;
      height: 490px;
    }

    @media (min-width: 1200px) {
      height: 580px;
    }

    .automation-bubble {
      border-radius: 50%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.2s ease-out;

      img {
        width: 66%;
        height: auto;
      }

      &:hover {
        transform: scale(1.03);
      }

      &.automation-slack {
        @include automation-bubble(#9ce6c6);
        @include automation-bubble-xs(43px, 15%, 0px);
        @include automation-bubble-sm(77px, 47px, 0px);
        @include automation-bubble-md(115px, 69px, 0px);
        @include automation-bubble-lg(136px, 82px, 0px);
        @include automation-bubble-xl(160px, 96px, 0px);
      }

      &.automation-email {
        @include automation-bubble(#38cc8e);
        @include automation-bubble-xs(40px, 0px, 20%);
        @include automation-bubble-sm(62px, 0px, 117px);
        @include automation-bubble-md(92px, 0px, 173px);
        @include automation-bubble-lg(108px, 0px, 206px);
        @include automation-bubble-xl(128px, 0px, 240px);
      }

      &.automation-webhooks {
        @include automation-bubble(#38cc8e);
        @include automation-bubble-xs(40px, 88px, 4%);
        @include automation-bubble-sm(56px, 160px, 14px);
        @include automation-bubble-md(72px, 220px, 20px);
        @include automation-bubble-lg(92px, 280px, 24px);
        @include automation-bubble-xl(96px, 340px, 30px);

        img {
          position: relative;
          top: -2%;
        }
      }

      &.automation-zapier {
        @include automation-bubble(#bdeed9);
        @include automation-bubble-xs(86px, 42%, 20%);
        @include automation-bubble-sm(155px, 118px, 86px);
        @include automation-bubble-md(230px, 172px, 108px);
        @include automation-bubble-lg(272px, 205px, 150px);
        @include automation-bubble-xl(320px, 240px, 176px);
      }

      &.automation-make {
        @include automation-bubble(#def7ec);
        @include automation-bubble-xs(64px, 0px, 64%);
        @include automation-bubble-sm(116px, 0px, 358px);
        @include automation-bubble-md(172px, 0px, 512px);
        @include automation-bubble-lg(204px, 0px, 628px);
        @include automation-bubble-xl(240px, 0px, 736px);
      }

      &.automation-google-analytics {
        @include automation-bubble(#7bddb3);
        @include automation-bubble-xs(75px, 6%, 40%);
        @include automation-bubble-sm(136px, 12px, 210px);
        @include automation-bubble-md(201px, 18px, 291px);
        @include automation-bubble-lg(238px, 20px, 368px);
        @include automation-bubble-xl(280px, 24px, 432px);

        img {
          width: 60%;
        }
      }

      &.automation-facebook-pixel {
        @include automation-bubble(#acead0);
        @include automation-bubble-xs(48px, 72%, 47%);
        @include automation-bubble-sm(80px, 200px, 270px);
        @include automation-bubble-md(120px, 290px, 380px);
        @include automation-bubble-lg(140px, 350px, 480px);
        @include automation-bubble-xl(160px, 420px, 548px);
      }

      &.automation-google-tag-manager {
        @include automation-bubble(#acead0);
        @include automation-bubble-xs(49px, 50%, 66%);
        @include automation-bubble-sm(89px, 142px, 372px);
        @include automation-bubble-md(132px, 211px, 528px);
        @include automation-bubble-lg(156px, 252px, 648px);
        @include automation-bubble-xl(184px, 296px, 754px);
      }
    }
  }
