nav.breadcrumb-navigation {
  @mixin breadcrumb-color($color) {
    color: $color;
  }

  border-top: 1px solid $splitter;

  ol {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin: 16px 0px;

    li {
      display: block;
      font-size: 14px;

      > a,
      > span {
        font-weight: 500;
        padding: 6px 0px;
      }

      > a {
        text-decoration: underline;

        &.back {
          > i {
            font-size: 10px;
            margin-right: 6px;
          }
        }
      }

      > span {
        color: $palette-main;
        font-weight: 600;

        &.palette-wordpress-basics,
        &.palette-wordpress-licensing,
        &.palette-studio-basics,
        &.palette-studio-licensing,
        &.palette-videos {
          @include breadcrumb-color($palette-basics);
        }

        &.palette-build {
          @include breadcrumb-color($palette-build);
        }

        &.palette-customization {
          @include breadcrumb-color($palette-customization);
        }

        &.palette-logic {
          @include breadcrumb-color($palette-logic);
        }

        &.palette-automations {
          @include breadcrumb-color($palette-automations);
        }

        &.palette-sharing {
          @include breadcrumb-color($palette-sharing);
        }

        &.palette-hosting {
          @include breadcrumb-color($palette-hosting);
        }
      }

      &:not(:last-child):after {
        font-family: "Font Awesome 6 Solid";
        font-size: 10px;
        content: "\f054";
        margin: 0px 10px;
      }

      &.dropdown {
        span.dropdown-button {
          cursor: pointer;

          &:after {
            font-family: "Font Awesome 6 Solid";
            font-size: 10px;
            content: "\f078";
            margin-left: 8px;
          }

          &:hover {
            > span {
              text-decoration: underline;
            }
          }
        }

        .dropdown-menu {
          padding: 8px 16px;
          margin-top: 8px;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;

          .dropdown-item {
            color: $text-dark;
            padding: 8px 4px 8px 0px;
            line-height: 1.2em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid $splitter;
            font-weight: 600;

            @media (min-width: 992px) {
              min-width: 224px;
            }

            small {
              display: block;
              font-size: 12px;
              font-weight: 500;
            }

            &:last-child {
              border-bottom: none;
            }

            .icon-chapter,
            .icon-product,
            .icon-alternative,
            .icon-face {
              transition: transform 0.2s ease-out;
              margin-right: 16px;
            }

            .icon-alternative {
              width: 32px;
              height: 32px;
            }

            &:hover,
            &:active {
              background-color: transparent;
              text-decoration: none;
              color: $text-dark;

              .icon-chapter,
              .icon-product,
              .icon-alternative,
              .icon-face {
                transform: scale(1.05);
              }
            }
          }

          .dropdown-title {
            font-size: 20px;
            color: $text-dark;
            display: block;
            white-space: nowrap;
            padding: 8px 8px 8px 0px;
            font-weight: 700;
            border-bottom: 1px solid $splitter;

            &.dropdown-title-padding {
              padding-top: 32px;
            }
          }
        }

        &.show {
          .dropdown-button {
            > span {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &.template-dark {
    border-color: $splitter-dark;

    * {
      color: #fff;
    }
  }
}
