.content-small {
  @mixin title-color($color) {
    > span {
      color: $color;
    }
  }

  h2 {
    padding-bottom: 24px;

    @media (min-width: 992px) {
      padding-bottom: 64px;
    }
  }

  h3 {
    line-height: 1.2em;
    margin-top: 16px;
    margin-bottom: 16px;

    @media (min-width: 992px) {
      margin-top: 32px;
    }

    > span {
      display: block;
      color: $palette-main;
    }

    &.palette-sdk-custom {
      @include title-color($palette-sdk-custom);
    }
  }

  p {
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: -0.2px;

    @media (min-width: 992px) {
      font-size: 18px;
      letter-spacing: -0.5px;
      width: 90%;
    }
  }

  ul.buttons {
    margin-top: 24px;

    @media (min-width: 992px) {
      margin-top: 48px;
    }
  }

  a.hyperlink {
    margin-top: 16px;

    @media (min-width: 992px) {
      margin-top: 32px;
    }
  }

  img.content-small-video {
    width: 100%;
    height: auto;
    transition: transform 0.2s ease-out;
    cursor: pointer;
    margin-top: 24px;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      margin-top: 0px;
    }

    @media (min-width: 992px) {
      margin-bottom: 32px;
    }

    &:hover {
      transform: scale(1.01);
    }
  }
}
