.content {
  @mixin title-color($color) {
    > span {
      color: $color;
    }
  }

  h1 {
    font-size: 60px;
    line-height: 1em;
    font-weight: 800;
    letter-spacing: -3px;

    @media (min-width: 768px) {
      font-size: 80px;
    }

    @media (min-width: 992px) {
      font-size: 110px;
      letter-spacing: -6px;
    }

    @media (min-width: 1200px) {
      font-size: 120px;
    }
  }

  h2 {
    font-size: 32px;
    line-height: 1em;
    letter-spacing: -2px;

    @media (min-width: 768px) {
      font-size: 40px;
    }
    @media (min-width: 992px) {
      font-size: 74px;
      letter-spacing: -4px;
    }

    @media (min-width: 1200px) {
      font-size: 80px;
    }

    > span {
      display: block;
      color: $palette-main;

      &.palette-inline {
        display: inline;
      }
    }

    &.palette-build {
      @include title-color($palette-build);
    }

    &.palette-customization {
      @include title-color($palette-customization);
    }

    &.palette-logic {
      @include title-color($palette-logic);
    }

    &.palette-automations {
      @include title-color($palette-automations);
    }

    &.palette-sharing {
      @include title-color($palette-sharing);
    }

    &.palette-hosting {
      @include title-color($palette-hosting);
    }

    &.palette-purple {
      @include title-color($palette-purple);
    }

    &.palette-yellow {
      @include title-color($palette-yellow);
    }

    &.palette-red {
      @include title-color($palette-red);
    }

    &.palette-sdk-builder {
      @include title-color($palette-sdk-builder);
    }

    &.palette-sdk-runners {
      @include title-color($palette-sdk-runners);
    }

    &.palette-sdk-blocks {
      @include title-color($palette-sdk-blocks);
    }

    &.palette-sdk-hybrid {
      @include title-color($palette-sdk-hybrid);
    }

    &.palette-sdk-standard {
      @include title-color($palette-sdk-standard);
    }

    &.palette-sdk-custom {
      @include title-color($palette-sdk-custom);
    }

    &.palette-sdk-a-team {
      @include title-color($palette-sdk-a-team);
    }
  }

  h3 {
    font-size: 22px;
    line-height: 1.5em;
    letter-spacing: -1px;

    @media (min-width: 992px) {
      font-size: 30px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.7em;

    @media (min-width: 992px) {
      font-size: 24px;
    }

    @media (min-width: 1200px) {
      font-size: 28px;
    }
  }
}
