.countdown-large {
  .countdown {
    display: flex;
    justify-content: center;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 72px;
      text-align: center;
      margin: 0px 4px;

      @media (min-width: 768px) {
        width: 120px;
        margin: 0px 8px;
      }

      @media (min-width: 992px) {
        width: 160px;
      }
    }

    span.countdown-clock {
      font-size: 32px;
      font-weight: 700;
      background-color: $palette-red;
      border-radius: 8px;
      height: 72px;
      line-height: 1em;

      @media (min-width: 768px) {
        font-size: 60px;
        height: 120px;
      }

      @media (min-width: 992px) {
        font-size: 80px;
        height: 160px;
      }
    }

    span.countdown-label {
      margin-top: 8px;
      font-size: 12px;
      font-weight: 600;
      opacity: 0.64;

      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
  }
}
