.countdown-small {
  small {
    display: block;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.4px;
    margin-bottom: 8px;

    @media (min-width: 992px) {
      margin-bottom: 16px;
    }
  }

  .countdown {
    display: flex;
    justify-content: flex-start;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      text-align: center;
      margin: 0px 4px;

      &:first-child {
        margin-left: 0px;
      }
    }

    span.countdown-clock {
      font-size: 32px;
      font-weight: 700;
      background-color: $palette-red;
      color: #fff;
      border-radius: 8px;
      height: 64px;
      line-height: 1em;
    }

    span.countdown-label {
      margin-top: 8px;
      font-size: 12px;
      font-weight: 600;
    }
  }
}
