section.cta {
  border-top: 1px solid $splitter;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 104px;
      padding-bottom: 96px;
    }
  }

  .cta-row {
    display: flex;
    justify-content: center;
    text-align: center;

    small {
      display: inline-block;
      font-family: $font-secondary;
      font-size: 28px;
      color: $palette-red;
      letter-spacing: -1px;
      line-height: 1em;
      transform: rotate(-2deg);
      padding-bottom: 16px;

      &.cta-small {
        @media (max-width: 575px) {
          font-size: 20px;
        }
      }

      @media (min-width: 768px) {
        font-size: 32px;
      }

      @media (min-width: 992px) {
        font-size: 48px;
        letter-spacing: -3px;
        padding-bottom: 24px;
      }
    }

    h2 {
      font-size: 32px;
      line-height: 1em;
      letter-spacing: -2px;
      padding-bottom: 40px;

      @media (min-width: 576px) {
        font-size: 40px;
      }

      @media (min-width: 768px) {
        font-size: 44px;
      }

      @media (min-width: 992px) {
        font-size: 74px;
        letter-spacing: -4px;
        padding-bottom: 64px;
      }

      @media (min-width: 1200px) {
        font-size: 80px;
      }

      > span {
        display: block;
        color: $palette-main;
      }
    }
  }
}
