section.error-404 {
  .container {
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-bottom: 104px;
    }
  }

  p {
    padding-bottom: 48px;
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-blue);
      @include shape-xs(80px, -8%, auto, auto, 10%);
      @include shape-md(80px, -4%, auto, auto, 15%);
      @include shape-lg(160px, -15%, auto, auto, 15%);
      @include shape-xl(160px, -10%, auto, auto, 15%);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(100px, auto, 10%, 5%, auto);
      @include shape-sm(100px, auto, 10%, 5%, auto);
      @include shape-md(100px, auto, -10%, 0%, auto);
      @include shape-lg(200px, auto, -40%, -10%, auto);
      @include shape-xl(200px, auto, -40%, -10%, auto);
    }
  }
}
