.faq {
  .accordion {
    padding-top: 20px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 56px;
      padding-bottom: 104px;
    }

    .card {
      border: none;
      background-color: transparent;
      padding: 11px 0px;

      .card-header {
        border: none;
        background-color: transparent;
        border-radius: 0;
        padding: 0px;

        a {
          color: $text-dark;

          h3 {
            display: inline;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.3em;

            @media (min-width: 768px) {
              font-size: 20px;
            }

            @media (min-width: 992px) {
              font-size: 24px;
            }
          }

          i {
            transition: transform 0.2s ease-out;
            transform: rotate(90deg);
            position: relative;
            top: -1px;
            margin-left: 6px;
            font-size: 14px;

            @media (min-width: 768px) {
              top: -2px;
            }

            @media (min-width: 992px) {
              font-size: 18px;
              margin-left: 10px;
            }
          }

          &.collapsed {
            i {
              transform: rotate(0deg);
            }
          }
        }
      }

      .card-body {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        padding: 8px 0px 16px 0px;

        @media (min-width: 768px) {
          font-size: 18px;
        }

        a {
          color: $text-link;
          font-weight: 600;
        }

        ul {
          margin: 0;
        }

        i.fa-arrow-right {
          font-size: 12px;
          margin-left: 6px;
          margin-right: 6px;
          position: relative;
          top: -2px;
        }
      }
    }
  }
}
