.flip {
  -webkit-perspective: 5000;
  -moz-perspective: 5000;
  -o-perspective: 5000;
  perspective: 5000;

  .flipper {
    width: 100%;
    -webkit-transition: 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.5s;
    -o-transform-style: preserve-3d;
    transition: 0.5s;
    transform-style: preserve-3d;

    .flipper-front,
    .flipper-back {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity 0.4s ease-out;
      overflow: hidden;
    }

    .flipper-back {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
      opacity: 0;
    }
  }

  &.flipped {
    .flipper {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);

      .flipper-front {
        opacity: 0;
      }

      .flipper-back {
        opacity: 1;
      }
    }
  }
}
