div.form-face {
  background-color: #fff;

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
  }

  .form-face-list {
    @media (min-width: 1200px) {
      padding-left: 32px;
    }

    h3 {
      padding-top: 16px;
      padding-bottom: 12px;

      @media (min-width: 992px) {
        padding-top: 0px;
      }
    }

    p {
      @media (min-width: 1200px) {
        width: 80%;
      }
    }

    ul {
      padding-top: 16px;
      list-style: none;
      padding-left: 0;
      margin: 0;

      li {
        border-bottom: 1px solid $splitter;

        &:last-child {
          border-bottom: none;
        }

        > a {
          display: flex;
          align-items: center;
          padding: 12px 4px 11px 4px;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: -0.4px;
          line-height: 1em;

          svg {
            width: 24px;
            height: 24px;
            margin-right: 12px;
            transition: transform 0.2s ease-out;

            path {
              fill: $palette-customization;
            }
          }

          &:hover {
            svg {
              transform: scale(1.1);
            }
          }
        }
      }

      &.palette-autoscroll {
        svg {
          path {
            fill: $palette-autoscroll !important;
          }
        }
      }

      &.palette-chat {
        svg {
          path {
            fill: $palette-chat !important;
          }
        }
      }

      &.palette-classic {
        svg {
          path {
            fill: $palette-classic !important;
          }
        }
      }
    }
  }
}
