.frame {
  border: 1px solid $palette-light;
  border-radius: 8px;
  padding: 16px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding: 24px;
  }

  @media (min-width: 992px) {
    align-items: center;
    padding: 28px 36px;
  }

  a {
    svg {
      transition: transform 0.2s ease-out;

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  svg {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;

    @media (min-width: 768px) {
      width: 72px;
      height: 72px;
      margin-bottom: 0px;
      margin-right: 24px;
    }

    @media (min-width: 992px) {
      width: 96px;
      height: 96px;
      margin-right: 36px;
    }
  }

  h3 {
    font-size: 18px;
    letter-spacing: -1px;
    padding-bottom: 8px;

    @media (min-width: 768px) {
      font-size: 20px;
    }

    @media (min-width: 992px) {
      font-size: 26px;
    }
  }

  p {
    font-weight: 500;
    line-height: 1.6em;

    a {
      text-decoration: underline;
    }
  }
}
