section.gdpr {
  .gdpr-quote {
    h2 {
      font-size: 26px;
      letter-spacing: -2px;
      line-height: 1.2em;

      @media (min-width: 768px) {
        font-size: 48px;
      }

      @media (min-width: 992px) {
        font-size: 64px;
        letter-spacing: -3px;
      }
    }

    p {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.5em;
      padding-top: 24px;
      padding-bottom: 40px;

      @media (min-width: 992px) {
        font-size: 24px;
        letter-spacing: -1px;
        width: 96%;
        padding-top: 32px;
        padding-bottom: 56px;
      }
    }
  }

  .gdpr-blog {
    div.gdpr-blog-article {
      cursor: pointer;
      background-color: $palette-hosting;
      border-radius: 8px;
      transition: transform 0.2s ease-out;
      overflow: hidden;

      * {
        color: #fff;
      }

      &:hover {
        transform: scale(1.01);

        a {
          text-decoration: underline;
        }
      }

      @media (min-width: 992px) {
        background-image: url(../images/gdpr/cover.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: right -60px center;
      }

      @media (min-width: 1200px) {
        background-position: right center;
      }

      > img {
        width: 100%;
        height: auto;

        @media (min-width: 992px) {
          display: none;
        }
      }

      > div {
        padding: 24px 16px;

        @media (min-width: 992px) {
          padding: 24px 32px;
        }

        @media (min-width: 1200px) {
          padding: 36px 48px;
        }

        a {
          h3 {
            font-size: 20px;
            font-weight: 600;

            @media (min-width: 992px) {
              font-size: 22px;
            }

            @media (min-width: 1200px) {
              font-size: 24px;
            }
          }
        }

        p {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.55em;
          margin-top: 8px;

          @media (min-width: 992px) {
            font-size: 18px;
          }

          a {
            text-decoration: underline;
          }
        }

        .article-info {
          padding-top: 16px;
        }
      }
    }
  }
}
