form.help-search {
  @media (min-width: 576px) {
    display: flex;
    flex-wrap: nowrap;
  }

  .form-input {
    width: 100%;
    margin-bottom: 8px;

    @media (min-width: 576px) {
      width: auto;
      flex-grow: 1;
      margin-bottom: 0px;
      margin-right: 16px;
    }

    @media (min-width: 992px) {
      margin-right: 32px;
    }
  }

  button {
    @media (max-width: 575px) {
      width: 100%;
    }
  }
}
