ul.help-tiles {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;

  @media (min-width: 992px) {
    justify-content: flex-start;
  }

  li {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 48%;
    min-height: 96px;
    margin-bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
    border-radius: 8px;
    transition: transform 0.2s ease-out;
    cursor: pointer;
    padding: 16px;
    background-color: $palette-dark;

    @media (min-width: 768px) {
      width: 49%;
      padding: 24px;
    }

    @media (min-width: 992px) {
      width: 46%;
      margin-right: 24px;
      margin-bottom: 24px;
      padding: 32px;
    }

    @media (min-width: 1200px) {
      padding: 48px;
      width: 42%;
      margin-right: 30px;
      margin-bottom: 30px;
    }

    &:hover {
      transform: scale(1.01);
    }

    a {
      display: block;
      text-decoration: none;

      h3 {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 1.2em;
        color: #fff;

        @media (min-width: 768px) {
          font-size: 20px;
          padding-left: 8px;
          border-left: 4px solid #fff;
        }

        @media (min-width: 992px) {
          padding-left: 16px;
          font-size: 30px;
        }

        @media (min-width: 1200px) {
          padding-left: 24px;
        }
      }
    }

    p {
      color: #fff;
      opacity: 0.64;
      font-size: 13px;
      line-height: 1.8em;
      margin-top: 16px;
      font-weight: 400;

      @media (min-width: 768px) {
        font-size: 14px;
      }

      @media (min-width: 992px) {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.6em;
        margin-top: 24px;
      }
    }
  }
}
