a.help-video-quickstart {
  display: block;
  width: 100%;
  transition: transform 0.2s ease-out;
  margin-bottom: 16px;
  cursor: pointer;

  @media (min-width: 992px) {
    width: 903px;
    margin-bottom: 32px;
  }

  @media (min-width: 1200px) {
    width: 1072px;
  }

  &:hover {
    transform: scale(1.005);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}
