ul.help-videos {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;

    @media (min-width: 992px) {
      justify-content: flex-start;
    }

    li {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-bottom: 16px;
      transition: transform 0.2s ease-out;
      width: 48%;

      &:hover {
        transform: scale(1.01);
      }

      @media (min-width: 768px) {
        width: 49%;
      }

      @media (min-width: 992px) {
        margin-right: 16px;
        width: 23%;
      }

      @media (min-width: 1200px) {
        width: 256px;
      }

      a {
        cursor: pointer;
      }

      img {
          width: 100%;
          height: auto;
      }
    }
}
