div.hosting-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
  padding: 48px 32px 0px 32px;
  border-radius: 8px;
  text-align: center;

  @media (min-width: 1200px) {
    max-width: 480px;
  }

  &.palette-studio {
    background-color: $palette-studio;
    color: #fff;
  }

  &.palette-wordpress {
    background-color: $palette-wordpress;
  }

  &.palette-sdk-hybrid {
    background-color: $palette-light;
  }

  &.palette-sdk-custom {
    background-color: $palette-black;
    color: #fff;

    img {
      position: relative;
      bottom: -6px;

      @media (min-width: 992px) {
        bottom: -10px;
      }
    }
  }

  h3 {
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 1.2em;

    @media (min-width: 992px) {
      font-size: 64px;
      letter-spacing: -3px;
    }
  }

  p {
    opacity: 0.64;
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding-top: 40px;
    padding-left: 0;
    margin: 0;

    li {
      display: block;
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1em;
      letter-spacing: -0.5px;
    }
  }

  img {
    width: auto;
    height: 120px;
    margin-top: 40px;

    @media (min-width: 768px) {
      height: 120px;
    }

    @media (min-width: 992px) {
      height: 180px;
    }

    @media (min-width: 1200px) {
      height: 240px;
    }
  }
}
