.icon-chapter {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 96px;
    height: 96px;
  }

  &.icon-chapter-radius-medium {
    border-radius: 8px;

    @media (min-width: 992px) {
      border-radius: 16px;
    }
  }

  &.icon-chapter-radius-large {
    border-radius: 16px;

    @media (min-width: 992px) {
      border-radius: 32px;
    }
  }

  &.icon-chapter-build {
    background-color: $palette-build;
  }

  &.icon-chapter-customization {
    background-color: $palette-customization;
  }

  &.icon-chapter-logic {
    background-color: $palette-logic;
  }

  &.icon-chapter-automations {
    background-color: $palette-automations;
    overflow: visible;

    img {
      position: relative;
      top: 4px;
    }
  }

  &.icon-chapter-sharing {
    background-color: $palette-sharing;
    overflow: visible;

    img {
      position: relative;
      top: 6px;
    }
  }

  &.icon-chapter-hosting {
    background-color: $palette-hosting;
    overflow: visible;

    img {
      position: relative;
      top: 6px;
      left: 0px;
    }
  }

  &.icon-chapter-small {
    width: 48px;
    height: 48px;

    img {
      width: 48px;
      height: 48px;
    }
  }

  &.icon-chapter-small-medium {
    width: 64px;
    height: 64px;

    img {
      width: 64px;
      height: 64px;
    }

    @media (min-width: 992px) {
      width: 96px;
      height: 96px;

      img {
        width: 96px;
        height: 96px;
      }
    }
  }

  &.icon-chapter-medium {
    width: 48px;
    height: 48px;

    img {
      width: 48px;
      height: 48px;
    }

    @media (min-width: 992px) {
      width: 64px;
      height: 64px;

      img {
        width: 64px;
        height: 64px;
      }
    }
  }

  &.icon-chapter-big {
    width: 128px;
    height: 128px;

    img {
      width: 128px;
      height: 128px;
    }
  }

  &.icon-chapter-xl {
    width: 88px;
    height: 88px;

    img {
      width: 88px;
      height: 88px;
    }

    @media (min-width: 768px) {
      width: 128px;
      height: 128px;

      img {
        width: 128px;
        height: 128px;
      }
    }

    @media (min-width: 992px) {
      width: 160px;
      height: 160px;

      img {
        width: 160px;
        height: 160px;
      }
    }
  }
}
