.icon-paragraph {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 8px;

  img {
    width: 48px;
    height: 48px;
  }

  @media (min-width: 992px) {
    width: 64px;
    height: 64px;
    border-radius: 16px;

    img {
      width: 64px;
      height: 64px;
    }
  }

  &.icon-paragraph-build {
    background-color: $palette-build;
  }

  &.icon-paragraph-logic {
    background-color: $palette-logic;
  }

  &.icon-paragraph-automations {
    background-color: $palette-automations;
  }

  &.icon-paragraph-sdk-custom {
    background-color: $palette-sdk-custom;
  }

  &.icon-paragraph-hosting {
    background-color: $palette-hosting;
  }

  &.icon-paragraph-hosting-tripetto {
    overflow: visible;

    img {
      position: relative;
      bottom: -1px;
    }
  }

  &.icon-paragraph-hosting-self {
    overflow: visible;

    img {
      position: relative;
      bottom: -2px;
    }
  }
}
