.icon-product {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;

  &.icon-product-studio {
    background-color: $palette-studio;
  }

  &.icon-product-wordpress {
    background-color: $palette-wordpress;
  }

  > img {
    width: auto;
    height: 40px;
  }
}
