.icon-face {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  &.icon-face-radius-medium {
    border-radius: 8px;

    @media (min-width: 992px) {
      border-radius: 16px;
    }
  }

  &.icon-face-radius-large {
    border-radius: 16px;

    @media (min-width: 992px) {
      border-radius: 32px;
    }
  }

  span {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    position: relative;
    top: 8px;

    @media (min-width: 992px) {
      font-size: 16px;
      top: 16px;
      font-weight: 500;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    height: 60%;
  }

  &.icon-face-autoscroll {
    background-color: $palette-autoscroll;

    img {
      bottom: 0;
      max-width: 100%;
      height: 64%;
    }
  }

  &.icon-face-chat {
    background-color: $palette-chat;

    img {
      bottom: 0;
      max-width: 100%;
      height: 64%;
    }
  }

  &.icon-face-classic {
    background-color: $palette-classic;

    img {
      top: 10%;
      right: 0;
      height: 80%;
    }
  }

  &.icon-face-xs {
    width: 48px;
    height: 48px;
  }

  &.icon-face-small {
    width: 48px;
    height: 48px;

    @media (min-width: 992px) {
      width: 64px;
      height: 64px;
    }
  }

  &.icon-face-medium {
    width: 72px;
    height: 72px;

    @media (min-width: 992px) {
      width: 96px;
      height: 96px;
    }

    span {
      font-size: 12px;
      top: 8px;

      @media (min-width: 992px) {
        top: 12px;
      }
    }
  }

  &.icon-face-big {
    width: 72px;
    height: 72px;

    @media (min-width: 992px) {
      width: 128px;
      height: 128px;
    }
  }

  &.icon-face-xl {
    width: 88px;
    height: 88px;

    @media (min-width: 768px) {
      width: 128px;
      height: 128px;
    }

    @media (min-width: 992px) {
      width: 160px;
      height: 160px;
    }

    span {
      font-size: 16px;

      @media (min-width: 992px) {
        font-size: 22px;
      }
    }
  }

  &.icon-face-background {
    background-repeat: no-repeat;

    &.icon-face-autoscroll {
      background-image: url(../images/icons-faces/autoscroll-background.svg);
      background-size: auto 100%;
      background-position: center top;
    }

    &.icon-face-chat {
      background-image: url(../images/icons-faces/chat-background.svg);
      background-size: 80% auto;
      background-position: center 16%;
    }

    &.icon-face-classic {
      background-image: url(../images/icons-faces/classic-background.svg);
      background-size: 60% auto;
      background-position: center center;
    }
  }

  &.icon-face-sdk {
    &.icon-face-autoscroll {
      img {
        top: auto;
        right: auto;
        bottom: 0;
        left: 25%;
        width: 50%;
        height: auto;
      }
    }

    &.icon-face-chat {
      img {
        top: auto;
        right: auto;
        bottom: 0;
        left: 5%;
        width: 90%;
        height: auto;
      }
    }

    &.icon-face-classic {
      img {
        top: auto;
        right: auto;
        bottom: 0;
        left: 25%;
        width: 50%;
        height: auto;
      }
    }
  }
}
