.intro {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 60px;
    }

    @media (min-width: 1200px) {
      padding-top: 96px;
    }
  }

  &.intro-breadcrumb {
    .container {
      padding-top: 40px;

      @media (min-width: 992px) {
        padding-top: 60px;
      }

      @media (min-width: 1200px) {
        padding-top: 80px;
      }
    }
  }

  h1 {
    font-size: 48px;
    line-height: 1em;
    font-weight: 800;
    letter-spacing: -2px;

    @media (min-width: 768px) {
      font-size: 80px;
      letter-spacing: -3px;
    }

    @media (min-width: 992px) {
      font-size: 100px;
      letter-spacing: -6px;
    }

    @media (min-width: 1200px) {
      font-size: 120px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.7em;
    padding-top: 32px;
    padding-bottom: 60px;

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 48px;
      padding-bottom: 100px;
    }

    @media (min-width: 1200px) {
      font-size: 28px;
      padding-bottom: 144px;
    }
  }
}
