section.jumbo {
  .jumbo-container {
    padding-top: 24px;

    @media (min-width: 992px) {
      padding-top: 48px;
    }
  }

  .row {
    @media (max-width: 767px) {
      margin-left: 0px;
      margin-right: 0px;
    }

    @media (min-width: 1300px) {
      margin-left: -80px;
      margin-right: -80px;
    }
  }

  .jumbo-holder {
    padding: 40px 15px;
    border-radius: 8px;
    background-repeat: no-repeat;

    @media (min-width: 992px) {
      padding: 40px 30px;
      border-radius: 16px;
    }
  }

  h1 {
    font-size: 60px;
    line-height: 1em;
    font-weight: 800;
    letter-spacing: -3px;

    @media (min-width: 768px) {
      font-size: 80px;
    }

    @media (min-width: 992px) {
      font-size: 100px;
      letter-spacing: -6px;
    }

    @media (min-width: 1200px) {
      font-size: 120px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    padding-top: 32px;
    padding-bottom: 24px;
    letter-spacing: -1px;

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 64px;
      padding-bottom: 48px;
    }
  }

  .button {
    margin-top: 16px;

    &:first-child {
      margin-right: 12px;
    }
  }

  .jumbo-footer {
    padding-top: 12px;

    &.jumbo-footer-hyperlinks {
      @media (min-width: 768px) {
        display: flex;
        justify-content: center;
      }
    }

    &.jumbo-footer-text {
      display: flex;
      justify-content: center;

      small {
        text-align: center;
        display: block;
        font-size: 13px;
        color: $text-dark-48;
        letter-spacing: -0.3px;

        @media (min-width: 992px) {
          width: 70%;
          padding-top: 24px;
        }

        @media (min-width: 1200px) {
          width: 58%;
        }

        @media (min-width: 1300px) {
          width: 54%;
        }
      }
    }
  }
}
