ul.landing-help-list {
  @mixin item-color($color) {
    border-color: $color;
  }

  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    padding-bottom: 24px;
    vertical-align: top;

    @media (min-width: 992px) {
      padding-bottom: 32px;
    }

    &:last-child {
      padding-bottom: 0;
    }

    > div {
      padding: 0px 16px;
      border-left: 4px solid $palette-basics;
      cursor: pointer;
      transition: transform 0.2s ease-out;

      @media (min-width: 1200px) {
        padding: 0px 24px;
      }

      &.palette-build {
        @include item-color($palette-build);
      }

      &.palette-customization {
        @include item-color($palette-customization);
      }

      &.palette-logic {
        @include item-color($palette-logic);
      }

      &.palette-automations {
        @include item-color($palette-automations);
      }

      &.palette-sharing {
        @include item-color($palette-sharing);
      }

      &.palette-hosting {
        @include item-color($palette-hosting);
      }

      > a {
        color: $text-dark;

        h3 {
          font-size: 16px;
          font-weight: 700;
          letter-spacing: -0.5px;
          line-height: 1.3em;
          padding-top: 2px;

          @media (min-width: 992px) {
            font-size: 18px;
          }
        }
      }

      > p {
        color: $text-dark-72;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.5em;
        margin-top: 6px;
      }

      &:hover {
        transform: scale(1.01);

        > a {
          text-decoration: underline;
        }
      }
    }
  }

  &.landing-help-list-horizontal {
    li {
      @media (min-width: 992px) {
        display: inline-block;
        padding-bottom: 0px;
        padding-right: 8px;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &.landing-help-list-horizontal-4 {
      li {
        @media (min-width: 992px) {
          width: 24%;
        }
      }
    }

    &.landing-help-list-horizontal-2 {
      li {
        @media (min-width: 992px) {
          width: 48%;
        }

        @media (min-width: 1200px) {
          width: 40%;
        }
      }
    }
  }
}
