section.landing-overview {
  border-bottom: 1px solid $splitter;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: 992px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @media (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .landing-overview-intro {
    justify-content: center;
    text-align: center;

    h2 {
      font-size: 28px;
      letter-spacing: -1px;

      @media (min-width: 576px) {
        font-size: 30px;
      }

      @media (min-width: 768px) {
        font-size: 36px;
      }

      @media (min-width: 992px) {
        font-size: 48px;
        letter-spacing: -2px;
      }
    }

    small {
      display: block;
      font-family: $font-secondary;
      font-size: 16px;
      color: $text-red;
      line-height: 1em;
      transform: rotate(-1deg);
      margin-bottom: 8px;

      @media (min-width: 576px) {
        font-size: 20px;
      }

      @media (min-width: 768px) {
        font-size: 26px;
      }

      @media (min-width: 992px) {
        font-size: 30px;
        letter-spacing: -1.5px;
        margin-bottom: 16px;
      }
    }
  }

  div.landing-overview-anchors {
    display: flex;
    justify-content: center;
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 48px;
    }
  }
}
