ul.list-arrows {
  margin-left: 32px;

  li {
    display: block;
    min-height: 32px;
    margin-top: 9px;

    .fa-li {
      width: 32px;
      height: 32px;
      background-color: $palette-light;
      border-radius: 50%;

      i {
        font-size: 14px;
        padding-top: 9px;
      }
    }

    .list-arrows-text {
      display: block;
      font-weight: 800;
      font-size: 16px;
      line-height: 1em;
      padding-top: 9px;
      padding-left: 8px;

      @media (min-width: 576px) {
        font-size: 20px;
        padding-top: 7px;
        padding-left: 16px;
      }

      @media (min-width: 992px) {
        font-size: 22px;
        padding-top: 6px;
      }
    }
  }
}
