section.mailinglist {
  .container {
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-bottom: 104px;
    }
  }

  p {
    padding-bottom: 48px;
  }

  form {
    padding-top: 56px;
    padding-bottom: 32px;

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
    }

    .form-input {
      width: 100%;
      margin-bottom: 8px;

      @media (min-width: 768px) {
        width: auto;
        flex-grow: 1;
        margin-bottom: 0px;
        margin-right: 8px;
      }

      @media (min-width: 992px) {
        margin-right: 16px;
      }
    }
  }

  small {
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 1.5em;
    color: $text-grey;

    a {
        color: $text-link;
    }
  }
}
