section.matrix {
  table {
    &.matrix-head {
      thead {
        th {
          &.matrix-area {
            > div {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 24px;

              @media (min-width: 992px) {
                margin-bottom: 60px;
              }

              > div {
                width: 100%;
                border-radius: 8px;
                padding: 24px 16px;
                text-align: center;

                @media (min-width: 992px) {
                  padding: 32px 24px;
                }

                @media (min-width: 1200px) {
                  padding: 32px;
                }

                span {
                  display: block;
                  font-size: 36px;
                  letter-spacing: -2px;
                  line-height: 1.2em;

                  @media (min-width: 992px) {
                    font-size: 56px;
                    letter-spacing: -3px;
                  }

                  @media (min-width: 1200px) {
                    font-size: 64px;
                  }
                }

                small {
                  display: block;
                  font-size: 12px;
                  font-weight: 600;

                  @media (min-width: 768px) {
                    font-size: 14px;
                  }

                  @media (min-width: 992px) {
                    font-size: 16px;
                  }
                }

                ul {
                  display: none;
                  list-style: none;
                  padding-top: 32px;
                  padding-bottom: 32px;
                  padding-left: 0;
                  margin: 0;

                  @media (min-width: 992px) {
                    display: block;
                  }

                  @media (min-width: 1200px) {
                    padding-top: 40px;
                    padding-bottom: 40px;
                  }

                  li {
                    display: block;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1em;
                    letter-spacing: -0.5px;

                    @media (min-width: 1200px) {
                      font-size: 16px;
                    }
                  }
                }

                a {
                  display: none;

                  @media (min-width: 992px) {
                    display: inline-block;
                    font-size: 18px;
                  }

                  @media (min-width: 1200px) {
                    font-size: 20px;
                  }
                }
              }

              > a {
                display: none;

                @media (min-width: 992px) {
                  display: inline-block;
                  margin-top: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
