section.matrix {
  .matrix-title {
    background-color: $background-light;
    border-radius: 4px;
    padding: 14px 0.75rem 12px 0.75rem;

    &.matrix-title-red {
      background-color: $palette-red;
      color: $text-white;
    }

    h2,
    h3 {
      display: inline;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: -0.5px;
      line-height: 1em;

      @media (min-width: 768px) {
        font-size: 24px;
        letter-spacing: -1px;
        font-weight: 700;
      }

      @media (min-width: 992px) {
        font-size: 30px;
      }
    }

    span {
      font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.5px;
      line-height: 1em;
      padding-left: 4px;

      @media (min-width: 768px) {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -1px;
      }

      @media (min-width: 992px) {
        font-size: 24px;
        padding-left: 8px;
      }

    }
  }

  .table-responsive {
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }

    &::-webkit-scrollbar-thumb {
      height: 0;
      width: 0;
    }

    &::-webkit-scrollbar-track {
      height: 0;
      width: 0;
    }
  }

  table {
    table-layout: fixed;
    word-wrap: break-word;
    margin-bottom: 0px;

    th,
    td {
      width: 50%;
      background-clip: padding-box;

      &:first-child {
        position: sticky;
        left: 0px;
        background-color: #fff;
      }

      @media (min-width: 768px) {
        width: 66%;

        &:first-child {
          width: 34%;
        }
      }
    }

    &.matrix-body {
      margin-bottom: 16px;

      thead {
        th {
          border-top: none;
          border-bottom: 1px solid $background-light;
          padding-top: 12px;
          padding-bottom: 12px;
        }

        .products-label {
          font-weight: 600;
        }
      }

      tbody {
        tr {
          &:nth-child(1) {
            th,
            td {
              border: none;
            }
          }
        }

        td.matrix-body-row {
          h3,
          h4 {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5em;

            @media (min-width: 768px) {
              font-size: 18px;
            }

            img,
            svg {
              height: 20px;
              margin-left: 2px;
              margin-right: 4px;
              position: relative;
              top: -2px;
            }
          }

          small {
            display: inline-block;
            font-size: 12px;
            font-weight: normal;
            color: $text-dark-64;
            line-height: 1.3em;
            margin-top: 4px;

            @media (min-width: 768px) {
              font-size: 14px;
            }

            a {
              color: $text-link;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        td {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.5em;

          @media (min-width: 768px) {
            font-size: 16px;
          }

          .matrix-yes {
            i {
              color: $palette-green;
              margin-right: 2px;
            }

            span {
              margin-left: 4px;
            }
          }

          .matrix-no {
            i {
              color: $palette-red;
              margin-right: 2px;
            }

            span {
              margin-left: 4px;
            }
          }

          small {
            display: inline-block;
            font-size: 12px;
            font-weight: normal;
            color: $text-dark-48;
            line-height: 1.3em;
            margin-top: 4px;

            @media (min-width: 768px) {
              font-size: 14px;
            }

            &.premium {
              a {
                color: #ecb22e;

                i {
                  margin-right: 5px;
                }
              }
            }

            a {
              color: $text-link;

              &:hover {
                text-decoration: underline;
              }
            }

            span.list {
              display: block;
              padding-bottom: 4px;

              i {
                display: table-cell;
              }

              span {
                display: table-cell;
                padding-left: 4px;
              }
            }
          }
        }

        tr.matrix-cta {
          a {
            display: inline-block;
            color: $text-dark;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: -0.5px;
            margin-top: 8px;
            margin-bottom: 16px;

            i {
              font-size: 14px;
              margin-left: 6px;

              @media (min-width: 768px) {
                position: relative;
                top: -2px;
              }
            }
          }
        }
      }
    }
  }

}
