section.matrix {
  table {
    th,
    td {
      width: 46vw;

      @media (min-width: 576px) {
        width: 290px;

        &:first-child {
          width: 220px;
        }
      }

      @media (min-width: 768px) {
        width: 34%;

        &:first-child {
          width: 33%;
        }
      }
    }

    th.matrix-nav {
      text-align: right;

      span {
        color: $text-dark;
        font-size: 15px;
        display: inline-block;
        width: 32px;
        padding: 5px 0px;
        margin-left: 4px;
        text-align: center;
        vertical-align: middle;
        background-color: $background-light;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: $background-dark;
          color: #fff;
        }
      }
    }

    &.matrix-head {
      thead {
        th {
          border: none;
          padding-bottom: 0px;

          &.matrix-nav {
            > div {
              display: inline-block;
              padding-bottom: 24px;

              @media (min-width: 768px) {
                display: none;
              }
            }

            > img {
              display: none;
              max-width: 100%;
              height: auto;

              @media (min-width: 768px) {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
