section.matrix {
  table {
    &.matrix-head {
      thead {
        th {
          &.matrix-area {
            > div {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 24px;

              > div {
                width: 100%;
                border-radius: 8px;
                padding: 24px 16px;
                text-align: center;

                @media (min-width: 992px) {
                  padding: 32px 24px;
                }

                @media (min-width: 1200px) {
                  padding: 32px;
                }

                span {
                  display: block;
                  font-size: 16px;
                  letter-spacing: -0.4px;
                  line-height: 1.2em;

                  @media (min-width: 576px) {
                    font-size: 20px;
                  }

                  @media (min-width: 992px) {
                    font-size: 24px;
                  }

                  @media (min-width: 1200px) {
                    font-size: 30px;
                    letter-spacing: -1px;
                  }
                }

                small {
                  display: block;
                  font-size: 12px;
                  font-weight: 600;

                  @media (min-width: 768px) {
                    font-size: 14px;
                  }

                  @media (min-width: 992px) {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
