.mosaic {
  @media (min-width: 992px) {
    position: relative;
    height: 960px;
  }

  @media (min-width: 1200px) {
    height: 1200px;
  }

  &.shape-before {
    &:before {
      @include shape(circle, $palette-yellow);
      @include shape-xs(100px, -40px, auto, auto, 10%);
      @include shape-md(100px, -40px, auto, auto, 10%);
      @include shape-lg(160px, -64px, auto, auto, 15%);
    }
  }

  &.shape-after {
    &:after {
      @include shape(circle, $palette-purple);
      @include shape-xs(100px, auto, 8%, 40px, auto);
      @include shape-md(200px, auto, 8%, 40px, auto);
      @include shape-lg(250px, auto, 8%, 210px, auto);
      @include shape-xl(300px, auto, 8%, 260px, auto);
    }
  }

  .mosaic-block {
    position: relative;
    display: flex;
    padding: 15px 24px;
    border-radius: 16px;
    width: 100%;
    height: 160px;
    margin: 16px 0px;
    color: #fff;
    transition: transform 0.2s ease-out;

    @media (min-width: 992px) {
      position: absolute;
      display: inline-block;
      padding: 20px 28px;
      margin: 0px;
    }

    @media (min-width: 1200px) {
      padding: 26px 34px;

      h3 {
        width: 80%;
      }
    }

    > div {
      align-self: center;
      width: 70%;

      @media (min-width: 992px) {
        align-self: flex-start;
        width: 100%;
      }
    }

    h3 {
      line-height: 1.1em;

      @media (min-width: 992px) {
        font-size: 28px;
      }

      @media (min-width: 1200px) {
        font-size: 30px;
      }
    }

    p {
      font-size: 15px;
      line-height: 1.4em;
      letter-spacing: -0.2px;
      padding-top: 10px;

      @media (min-width: 992px) {
        line-height: 1.8em;
      }
    }

    &.mosaic-block-horizontal {
      @media (min-width: 992px) {
        width: 330px;
        height: 250px;
      }

      @media (min-width: 1200px) {
        width: 400px;
        height: 280px;
      }
    }

    &.mosaic-block-vertical {
      @media (min-width: 992px) {
        width: 250px;
        height: 330px;
      }

      @media (min-width: 1200px) {
        width: 280px;
        height: 400px;
      }
    }

    &.palette-build {
      background-color: $palette-build;
      background-image: url(../images/chapters/build.svg);
      background-repeat: no-repeat;
      background-size: 160px;
      background-position: bottom right;

      div {
        width: 60%;
      }

      @media (min-width: 992px) {
        top: 40px;
        left: 0px;
        background-size: 260px;
        background-position: bottom right 10px;

        div {
          width: 70%;
        }
      }

      @media (min-width: 1200px) {
        top: 60px;
        left: -18px;
        background-size: 320px;
        background-position: bottom right 20px;

        div {
          width: 60%;
        }
      }
    }

    &.palette-hosting {
      background-color: $palette-hosting;

      img {
        position: absolute;
        right: 0px;
        bottom: -13px;
        height: 120px;
      }

      @media (min-width: 992px) {
        top: 0px;
        left: 354px;

        h3 {
          width: 100%;
        }

        img {
          height: 160px;
          bottom: -16px;
        }
      }

      @media (min-width: 1200px) {
        top: 0px;
        left: 430px;

        img {
          height: 240px;
          bottom: -33px;
        }
      }
    }

    &.palette-customization {
      background-color: $palette-customization;
      background-image: url(../images/chapters/customization.svg);
      background-repeat: no-repeat;
      background-size: 130px;
      background-position: right bottom;

      @media (min-width: 768px) {
        p {
          width: 70%;
        }
      }

      @media (min-width: 992px) {
        top: 80px;
        left: 628px;
        background-size: auto 100px;
        background-position: right -10px bottom;


        h3 {
          width: 75%;
        }

        p {
          width: 75%;
        }
      }

      @media (min-width: 1200px) {
        top: 120px;
        left: 758px;
        background-size: auto 140px;

        p {
          width: 62%;
        }
      }
    }

    &.palette-sharing {
      background-color: $palette-sharing;

      img {
        position: absolute;
        height: 120px;
        right: 4px;
        bottom: -10px;
      }

      @media (min-width: 992px) {
        top: 314px;
        left: 80px;

        p {
          width: 58%;
        }

        img {
          height: 200px;
          bottom: -12px;
          right: 4px;
        }
      }

      @media (min-width: 1200px) {
        top: 388px;
        left: 102px;

        p {
          width: 52%;
        }

        img {
          height: 270px;
          bottom: -14px;
          right: 4px;
        }
      }
    }

    &.palette-logic {
      background-color: $palette-logic;
      background-image: url(../images/chapters/logic.svg);
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: right bottom;

      div {
        width: 73%;
      }

      @media (min-width: 768px) {
        background-size: 120px;

        div {
          width: 60%;
        }
      }

      @media (min-width: 992px) {
        top: 354px;
        left: 354px;
        background-size: 160px;

        div {
          width: 100%;
        }

        p {
          width: 79%;
        }
      }

      @media (min-width: 1200px) {
        top: 448px;
        left: 430px;
        background-size: 220px;

        p {
          width: 70%;
        }
      }
    }

    &.palette-automations {
      background-color: $palette-automations;
      background-image: url(../images/chapters/automations.svg);
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: right bottom;

      @media (min-width: 992px) {
        top: 628px;
        left: 354px;
        background-size: auto 190px;
        background-position: center bottom;

        h3 {
          width: 100%;
        }
      }

      @media (min-width: 1200px) {
        top: 776px;
        left: 430px;
        background-size: auto 250px;
      }
    }
  }

  a.mosaic-block {
    &:hover {
      text-decoration: none;
      transform: scale(1.01);
    }
  }
}
