section.notification {
  background-color: $background-dark;
  color: $text-white;

  .col {
    display: flex;
    justify-content: center;

    a {
      color: $text-white;
      text-decoration: underline;

      &.notification-secondary {
        color: $text-light;
      }
    }

    div {
      height: $notification-height;
      display: flex;
      align-items: center;
      font-size: 13px;

      @media (min-width: 768px) {
        font-size: 13px;
        letter-spacing: -0.3px;
      }

      &:first-child {
        padding-right: 6px;

        @media (min-width: 768px) {
          padding-right: 44px;
          background-image: url(../images/notification/relocate.svg);
          background-repeat: no-repeat;
          background-size: 32px;
          background-position: right 4px bottom;
          font-weight: 600;
        }
      }
    }
  }
}
