section.pricing-faq-reviews {
  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  .accordion {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 0px;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      display: inline-block;
      width: 100%;
      padding-bottom: 24px;

      @media (min-width: 768px) {
        padding-bottom: 30px;
      }

      > div {
        padding: 20px;
        border-radius: 12px;
        border: 1px solid $palette-light;
        display: flex;
        flex-direction: column;

        @media (min-width: 992px) {
          border-radius: 16px;
          padding: 24px 32px;
        }

        @media (min-width: 1200px) {
          padding: 32px 40px;
        }

        .review-rating {
          padding-bottom: 10px;

          i.fa-star {
            font-size: 22px;
            color: #feca2f;
            margin-right: 8px;

            &:last-child {
              margin-right: 0;
            }

            @media (min-width: 992px) {
              font-size: 26px;
            }
          }
        }

        .review-meta {
          span {
            display: block;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: -0.55px;

            @media (min-width: 992px) {
              font-size: 18px;
            }
          }

          small {
            display: block;
            font-size: 15px;
            font-weight: 500;
            opacity: 0.9;
          }
        }

        h4 {
          font-size: 20px;
          font-weight: 600;
          line-height: 1.25em;
          padding-top: 16px;
          padding-bottom: 12px;

          @media (min-width: 992px) {
            padding-top: 24px;
            font-size: 22px;
          }

          @media (min-width: 1200px) {
            font-size: 24px;
          }
        }

        p {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5em;

          @media (min-width: 992px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
