section.pricing-discount {
  .pricing-plan-discount {
    position: absolute;
    right: 40px;
    top: 24px;
    background-color: $palette-yellow;
    border-radius: 50%;
    transform: rotate(8deg);
    text-align: center;
    font-family: $font-secondary;
    color: $text-dark;
    width: 96px;
    height: 96px;
    padding-top: 24px;

    &.pricing-plan-discount-position {
      right: 40px;
      top: -40px;

      @media (min-width: 1200px) {
        right: 60px;
      }
    }

    &.pricing-plan-discount-dropdown {
      right: auto;
      left: 34px;
      top: 2px;
    }

    .pricing-plan-discount-title {
      display: block;
      letter-spacing: -2px;
      font-size: 56px;
      letter-spacing: -2px;
      line-height: 32px;
    }

    .pricing-plan-discount-subtitle {
      display: block;
      letter-spacing: -2px;
      font-size: 36px;
      line-height: 20px;
    }

    &.pricing-plan-discount-tiny {
      width: 40px;
      height: 40px;
      padding-top: 12px;

      .pricing-plan-discount-title {
        font-size: 22px;
        letter-spacing: 0px;
        line-height: 10px;
      }
    }

    @media (min-width: 1200px) {
      &.pricing-plan-discount-medium {
        width: 128px;
        height: 128px;
        padding-top: 32px;

        .pricing-plan-discount-title {
          font-size: 80px;
          letter-spacing: -3px;
          line-height: 48px;
        }

        .pricing-plan-discount-subtitle {
          font-size: 48px;
          line-height: 24px;
        }
      }

      &.pricing-plan-discount-large {
        width: 160px;
        height: 160px;
        padding-top: 40px;

        .pricing-plan-discount-title {
          font-size: 96px;
          letter-spacing: -4px;
          line-height: 56px;
        }

        .pricing-plan-discount-subtitle {
          font-size: 64px;
          line-height: 32px;
        }
      }
    }
  }

  .pricing-price-discounted {
    padding-top: 16px;
    padding-bottom: 4px !important;
  }
}
