div.pricing-price {
  * {
    line-height: 1em;
  }

  &.palette-purple {
    color: $palette-purple;
  }

  &.palette-yellow {
    color: $palette-yellow;
  }

  &.palette-red {
    color: $palette-red;
  }

  &.palette-dark {
    color: $palette-dark;
  }

  div.pricing-price-prefix {
    display: flex;
    align-items: center;
    line-height: 1em;

    .valuta {
      font-size: 40px;
      font-weight: 500;

      &.valuta-discounted {
        font-size: 32px;
      }
    }

    .amount {
      font-size: 96px;
      font-weight: 700;
      letter-spacing: -4px;
      padding-left: 6px;
      padding-right: 4px;

      @media (min-width: 992px) {
        font-size: 128px;
        letter-spacing: -6px;
      }

      &.amount-medium {
        font-size: 88px;
        padding-left: 0px;
      }

      &.amount-small {
        font-size: 70px;
        padding-left: 0px;
      }

      &.amount-discounted {
        font-size: 40px;
        font-weight: 400;
        text-decoration: line-through;
        padding-left: 0px;
      }
    }

    .conditions {
      font-size: 13px;
      padding-left: 8px;

      span {
        display: block;

        &.conditions-title {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: -0.4px;
        }

        &.conditions-subtitle {
          font-size: 12px;
          font-weight: 500;
          letter-spacing: -0.3px;
          margin-top: 6px;
        }
      }
    }
  }

  div.pricing-price-suffix {
    font-size: 13px;
    letter-spacing: -0.3px;
    padding-left: 32px;
    position: relative;
    top: -4px;

    .conditions-title {
      font-weight: 600;
    }

    .conditions-subtitle {
      padding-left: 6px;
      font-weight: 500;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      padding-left: 28px;
      height: 30px;

      .conditions-title,
      .conditions-subtitle {
        display: block;
        padding-left: 0px;
      }

      .conditions-title {
        padding-bottom: 4px;
      }
    }
  }
}
