section.pricing-plans-columns {
  color: $text-dark;

  .container {
    padding-bottom: 24px;
  }

  .row {
    @media (min-width: 1300px) {
      margin-left: -80px;
      margin-right: -80px;
    }
  }

  .pricing-plan {
    background-color: $background-light;
    border-radius: 8px;
    padding: 40px 15px 32px 15px;
    margin-bottom: 40px;

    @media (min-width: 992px) {
      padding: 48px 15px 32px 15px;
    }

    @media (min-width: 1200px) {
      padding: 48px 24px 32px 24px;
    }

    @media (min-width: 1300px) {
      padding: 48px 44px 32px 44px;
    }

    .pricing-plan-badge {
      position: absolute;
      right: 40px;
      top: -26px;
      background-color: $palette-yellow;
      width: 98px;
      height: 88px;
      border-radius: 16px;
      transform: rotate(8deg);
      text-align: center;
      padding: 12px;
      transition: transform 0.2s ease-out;

      &:hover {
        text-decoration: none;

        @media (min-width: 992px) {
          transform: rotate(8deg) scale(1.02);
        }
      }

      @media (min-width: 1200px) {
        right: 60px;
      }

      .pricing-plan-badge-title {
        padding-top: 1px;
        padding-bottom: 1px;
        display: block;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: -0.5px;
        width: 100%;
        border-bottom: 2px solid rgba(24, 33, 77, 0.08);
      }

      .pricing-plan-badge-subtitle {
        display: block;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: -0.2px;
        line-height: 1.4em;
        color: $text-grey;
        padding-top: 4px;
      }
    }

    .pricing-plan-pro {
      display: block;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.5px;
      padding-bottom: 8px;
    }

    h2 {
      font-size: 26px;
      letter-spacing: -1px;
      color: $palette-red;
      padding-bottom: 20px;
    }

    .pricing-price {
      padding-bottom: 34px;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.8em;
      letter-spacing: -0.5px;
      padding-top: 48px;
      padding-bottom: 16px;

      @media (min-width: 992px) {
        height: 192px;
      }

      @media (min-width: 1200px) {
        height: auto;
      }
    }

    .hyperlink {
      margin-top: 36px;

      i {
        transition: transform 0.2s ease-out;
        transform: rotate(0deg);
      }

      &.collapsed {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
}
