.prism-light {
code[class*="language-"],
pre[class*="language-"] {
  font-size: 15px;
  line-height: 1.5em;
  background: #eff2f6;

  .line-numbers-rows {
    border-right: none;
    font-size: 15px;
    line-height: 1.5em;
  }
  .line-numbers-rows > span:before {
    color: #656b7a;
    padding-right:.2em;
  }
}
}
