section.ranked {
  .ranked-content {
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 1.2em;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 48px;
    }

    @media (min-width: 992px) {
      font-size: 64px;
      letter-spacing: -3px;
    }
  }

  .ranked-rating {
    padding-top: 16px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 24px;
      padding-bottom: 64px;
    }

    i.fa-star {
      font-size: 32px;
      color: #feca2f;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }

      @media (min-width: 768px) {
        font-size: 48px;
      }

      @media (min-width: 992px) {
        font-size: 70px;
        margin-right: 12px;
      }
    }
  }

  ul {
    margin-bottom: 40px;

    @media (min-width: 992px) {
      justify-content: center;
      margin-bottom: 80px;
    }

    li {
      &:last-child {
        margin-right: 0px;
      }
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
