.sdk-carousel-components-buttons {
  ul.carousel-buttons {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid $palette-light;
      border-radius: 8px;
      padding: 8px;
      cursor: pointer;
      transition: transform 0.2s ease-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
      margin-right: 8px;
      width: 100px;
      min-height: 100px;

      @media (min-width: 768px) {
        padding: 15px 17px;
        border-radius: 16px;
        flex-direction: row;
        width: auto;
        min-height: auto;
      }

      @media (min-width: 992px) {
        margin-right: 16px;
        width: 280px;
      }

      @media (min-width: 1200px) {
        margin-right: 32px;
        width: 320px;
      }

      &:last-child {
        margin-right: 0px;
      }

      &:hover {
        transform: scale(1.02);
      }

      div + div {
        padding-top: 8px;

        @media (min-width: 768px) {
          padding-top: 0px;
          padding-left: 14px;
        }
      }

      .sdk-icon-component {
        transition: background-color 0.3s ease-in-out;
      }

      h3 {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: -0.25px;
        text-align: center;

        @media (min-width: 768px) {
          font-size: 16px;
          text-align: left;
        }

        > span {
          display: none;

          @media (min-width: 768px) {
            display: inline;
          }
        }
      }

      p {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.5em;
        color: $text-grey;
        padding-top: 2px;
        display: none;
        width: 95%;

        @media (min-width: 992px) {
          display: block;
        }
      }

      &.active {
        &.palette-sdk-builder {
          border-color: $palette-sdk-builder;
          background-color: $palette-sdk-builder;

          h3,span,p {
            color: #fff;
          }
        }

        &.palette-sdk-runners {
          border-color: $palette-sdk-runners;
          background-color: $palette-sdk-runners;
        }

        &.palette-sdk-blocks {
          border-color: $palette-sdk-blocks;
          background-color: $palette-sdk-blocks;
        }

        .sdk-icon-component {
          background-color: rgba(255, 255, 255, 0.32);
        }
      }
    }
  }
}
