.sdk-overview-contact {
  padding-top: 32px;
  padding-bottom: 32px;

  @media (min-width: 992px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 96px;
  }

  > div {
    @media (min-width: 992px) {
      background-size: auto 160px;
      background-position: center bottom;
      background-repeat: no-repeat;
      padding-bottom: 164px;
    }

    @media (min-width: 1200px) {
      background-size: auto 192px;
      padding-bottom: 200px;
    }

    > div {
      @media (min-width: 992px) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      p {
        @media (min-width: 992px) {
          padding-bottom: 48px;
        }

        @media (min-width: 1200px) {
          padding-bottom: 80px;
        }
      }
    }

    &.sdk-overview-contact-quote {
      @media (min-width: 992px) {
        background-image: url(../images/sdk-contact/quote.svg);
      }
    }

    &.sdk-overview-contact-chat {
      @media (min-width: 992px) {
        background-image: url(../images/sdk-contact/chat.svg);
      }
    }

    &.sdk-overview-contact-call {
      @media (min-width: 992px) {
        background-image: url(../images/sdk-contact/call.svg);
      }
    }
  }
}
