.sdk-carousel-industries-buttons {
  ul.carousel-buttons {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid $palette-light;
      border-radius: 8px;
      padding: 8px;
      cursor: pointer;
      transition: transform 0.2s ease-out, background-color 0.3s ease-in-out;
      margin-right: 8px;
      width: 80px;
      min-height: 80px;

      @media (min-width: 576px) {
        width: 100px;
        min-height: 100px;
      }

      @media (min-width: 768px) {
        padding: 16px;
        border-radius: 16px;
        flex-direction: row;
        width: auto;
        min-height: auto;
      }

      @media (min-width: 992px) {
        padding: 15px 24px;
        margin-right: 16px;
      }

      &:last-child {
        margin-right: 0px;
      }

      &:hover {
        transform: scale(1.02);
      }

      i + span {
        margin-top: 8px;

        @media (min-width: 768px) {
          margin-top: 0px;
          margin-left: 8px;
        }

        @media (min-width: 992px) {
          margin-left: 14px;
        }
      }

      > i {
        font-size: 24px;

        @media (min-width: 768px) {
          font-size: 26px;
        }

        @media (min-width: 992px) {
          font-size: 32px;
        }
      }

      > span {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: -0.5px;

        @media (min-width: 768px) {
          font-size: 16px;
        }

        @media (min-width: 992px) {
          font-size: 18px;
        }

        > span {
          display: none;

          @media (min-width: 768px) {
            display: inline;
          }
        }
      }

      &.active {
        background-color: $palette-light;
      }
    }
  }
}
