.sdk-icon-chapter {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 96px;
    height: 96px;
  }

  &.sdk-icon-chapter-radius-medium {
    border-radius: 8px;

    @media (min-width: 992px) {
      border-radius: 16px;
    }
  }

  &.sdk-icon-chapter-radius-large {
    border-radius: 16px;

    @media (min-width: 992px) {
      border-radius: 32px;
    }
  }

  &.sdk-icon-chapter-builder {
    background-color: $palette-sdk-builder;
  }

  &.sdk-icon-chapter-runners {
    background-color: $palette-sdk-runners;
  }

  &.sdk-icon-chapter-blocks {
    background-color: $palette-sdk-blocks;
  }

  &.sdk-icon-chapter-hybrid {
    background-color: $palette-sdk-hybrid;
  }

  &.sdk-icon-chapter-standard {
    background-color: $palette-sdk-standard;
  }

  &.sdk-icon-chapter-custom {
    background-color: $palette-sdk-custom;
  }

  &.sdk-icon-chapter-a-team {
    background-color: $palette-sdk-a-team;
  }

  &.sdk-icon-chapter-small {
    width: 48px;
    height: 48px;

    img {
      width: 48px;
      height: 48px;
    }
  }

  &.sdk-icon-chapter-medium {
    width: 48px;
    height: 48px;

    img {
      width: 48px;
      height: 48px;
    }

    @media (min-width: 992px) {
      width: 64px;
      height: 64px;

      img {
        width: 64px;
        height: 64px;
      }
    }
  }

  &.sdk-icon-chapter-big {
    width: 128px;
    height: 128px;

    img {
      width: 128px;
      height: 128px;
    }
  }

  &.sdk-icon-chapter-xl {
    width: 88px;
    height: 88px;

    img {
      width: 88px;
      height: 88px;
    }

    @media (min-width: 768px) {
      width: 128px;
      height: 128px;

      img {
        width: 128px;
        height: 128px;
      }
    }

    @media (min-width: 992px) {
      width: 160px;
      height: 160px;

      img {
        width: 160px;
        height: 160px;
      }
    }
  }
}
