.sdk-intro {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 56px;
    }
  }

  h1 {
    font-size: 40px;
    line-height: 1em;
    font-weight: 800;
    letter-spacing: -2px;

    @media (min-width: 768px) {
      font-size: 80px;
      letter-spacing: -3px;
    }

    @media (min-width: 992px) {
      font-size: 100px;
      letter-spacing: -6px;
    }

    @media (min-width: 1200px) {
      font-size: 120px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    padding-top: 16px;

    @media (min-width: 768px) {
      padding-top: 32px;
    }

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 48px;
    }

    a {
      color: $text-link;
    }
  }

  ul.buttons {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 40px;
    margin-bottom: 0px;

    @media (min-width: 992px) {
      margin-top: 96px;
    }
  }
}
