.sdk-code-snippet {
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;

  @media (min-width: 992px) {
    height: 578px;
  }

  @media (min-width: 1200px) {
    height: 650px;
  }

  ul.sdk-code-snippet-nav {
    background-color: $background-medium;
    border: none;

    > li {
      border-right: 1px solid #fff;

      &:last-of-type {
        border-right: none;
      }

      > a {
        border: none;
        border-radius: 0;
        transition: background-color 0.2s ease-out;

        &:hover {
          background-color: darken($background-medium, 2%);
        }

        &.active {
          background-color: $background-anthracite;
        }

        svg,img {
          width: 48px;
          height: 48px;
        }
      }
    }

    &.sdk-code-snippet-nav-single {
      > li {
        > a {
          width: 25%;
          cursor: default;
        }
      }
    }
  }

  ul.sdk-code-snippet-subnav {
    justify-content: center;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 64px;

    > li {
      > a {
        border: none;
        border-bottom: 2px solid #3e4462;
        border-radius: 0;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: -0.4px;
        color: #fff;
        padding: 12px 24px;
        transition: border-color 0.2s ease-out;

        &:hover {
          border-bottom: 2px solid #fff;
        }

        &.active {
          background-color: transparent;
          border-bottom: 2px solid #fff;
          color: #fff;
        }
      }
    }
  }

  .sdk-code-snippet-content {
    height: 100%;
    overflow: hidden;
    background-color: $background-anthracite;

    .tab-pane {
      &.active {
        height: 100%;
        overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    }

    .sdk-code-snippet-pane-code {
      padding: 16px 0px 8px 0px;
      height: auto;
      flex-grow: 1;
      overflow: hidden auto;

      pre {
        height: auto;
        overflow: hidden;
      }
    }

    .sdk-code-snippet-pane-buttons {
      padding: 32px 24px;

      @media (min-width: 576px) {
        padding: 32px;
      }
    }

    .sdk-code-snippet-subcontent {
      height: auto;
      flex-grow: 1;
      overflow: auto;

    }
  }

}
