section.sdk-discount {
  background-color: $palette-black;
  color: $text-white;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 72px;
      padding-bottom: 72px;
    }

    @media (min-width: 1200px) {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }

  .row {
    display: flex;
    justify-content: center;
    text-align: center;

    h2 {
      font-size: 26px;
      letter-spacing: -1px;
      line-height: 1.2em;

      @media (min-width: 576px) {
        font-size: 28px;
      }

      @media (min-width: 768px) {
        font-size: 48px;
        letter-spacing: -2px;
      }

      @media (min-width: 992px) {
        font-size: 60px;
        letter-spacing: -3px;
        line-height: 1.1em;
        padding-bottom: 8px;
      }

      @media (min-width: 1200px) {
        font-size: 64px;
        padding-bottom: 16px;
      }
    }

    p {
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 24px;

      @media (min-width: 576px) {
        font-size: 20px;
      }

      @media (min-width: 768px) {
        padding-bottom: 32px;
      }

      @media (min-width: 992px) {
        font-size: 24px;
        letter-spacing: -1px;
        padding-bottom: 48px;
      }

      @media (min-width: 1200px) {
        padding-bottom: 64px;
      }
    }

    small {
      display: block;
      padding-top: 8px;

      @media (min-width: 992px) {
        padding-top: 16px;
      }

      a {
        color: $text-white;
        text-decoration: underline;
      }
    }
  }
}
