.sdk-code-snippet-title {
  font-size: 16px !important;
  font-weight: 500;
  letter-spacing: -0.5px !important;
  padding-bottom: 8px;

  > strong {
    font-weight: 700;
  }

  @media (min-width: 992px) {
    font-size: 18px !important;
    padding-bottom: 16px;
  }
}
