ul.sdk-logos {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    display: inline-block;
  }

  li + li {
    padding-left: 8px;

    @media (min-width: 992px) {
      padding-left: 16px;
    }
  }

  a {
    &:hover {
      svg {
        transform: scale(1.05);
      }
    }
  }

  svg {
    transition: transform 0.2s ease-out;
    width: 40px;
    height: 40px;

    @media (min-width: 992px) {
      width: 48px;
      height: 48px;
    }
  }

  &.sdk-logos-large {
    svg {
      @media (min-width: 768px) {
        width: 48px;
        height: 48px;
      }

      @media (min-width: 992px) {
        width: 64px;
        height: 64px;
      }
    }
  }

  &.sdk-logos-large-single {
    svg {
      @media (min-width: 768px) {
        width: 80px;
        height: 80px;
      }

      @media (min-width: 992px) {
        width: 128px;
        height: 128px;
      }
    }
  }
}
