.sdk-storage {
  border: 2px dashed $background-medium;
  border-radius: 16px;
  padding: 24px 0px;

  .sdk-storage-security {
    justify-content: center;
    text-align: center;

    img {
      margin-top: 16px;
      margin-bottom: 16px;
      width: 80px;
      height: auto;

      @media (min-width: 768px) {
        width: 100px;
      }

      @media (min-width: 992px) {
        width: 140px;
        margin-top: 44px;
        margin-bottom: 24px;
      }

      @media (min-width: 1200px) {
        width: 160px;
      }
    }

    p {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.5px;
      padding: 0px 16px 12px 16px;
    }

    i {
      display: block;
      margin-top: 8px;
      margin-bottom: 16px;
      color: $palette-red;
      font-size: 48px;

      @media (min-width: 992px) {
        font-size: 72px;
      }

      @media (min-width: 1200px) {
        font-size: 96px;
      }
    }
  }

  .ticker-holder {
    margin: 16px 0px;

    @media (min-width: 992px) {
      margin: 20px 0px;
    }

    > div {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
