section.sdk-table {
  .sdk-table-title {
    background-color: $background-light;
    border-radius: 4px;
    padding: 14px 0.75rem 12px 0.75rem;

    @media (min-width: 1200px) {
      padding-top: 18px;
      padding-bottom: 16px;
    }

    h3 {
      display: inline;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: -0.5px;
      line-height: 1em;

      @media (min-width: 768px) {
        font-size: 24px;
        letter-spacing: -1px;
        font-weight: 700;
      }

      @media (min-width: 1200px) {
        font-size: 30px;
      }
    }
  }

  .table-responsive {
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }

    &::-webkit-scrollbar-thumb {
      height: 0;
      width: 0;
    }

    &::-webkit-scrollbar-track {
      height: 0;
      width: 0;
    }
  }

  table {
    table-layout: auto;
    word-wrap: break-word;
    margin-bottom: 0px;
    color: $text-dark;

    &.sdk-table-body {
      margin-bottom: 16px;

      tbody {
        tr {
          th,
          td {
            border-color: $splitter;

            &:first-child {
              white-space: nowrap;
            }

            &:last-child {
              width: auto;
            }
          }

          &:nth-child(1) {
            th,
            td {
              border: none;
            }
          }
        }

        td.sdk-table-body-row {
          h4 {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5em;

            @media (min-width: 768px) {
              font-size: 18px;
            }
          }
        }

        td {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.5em;

          @media (min-width: 768px) {
            font-size: 16px;
          }

          div {
            padding-top: 3px;
            a {
              color: $text-link;
            }
          }
        }
      }
    }
  }
}
