.sdk-mosaic {
  @media (min-width: 992px) {
    position: relative;
    height: 728px;
  }

  .mosaic-block {
    padding: 15px 24px;
    border-radius: 16px;
    width: 100%;
    height: 160px;
    margin: 16px 0px;
    background-color: #eff2f6;
    position: relative;
    display: flex;
    background-repeat: no-repeat;

    @media (min-width: 992px) {
      display: inline-block;
      position: absolute;
      padding: 20px 28px;
      margin: 0px;
    }

    @media (min-width: 1200px) {
      padding: 26px 34px;
    }

    > div {
      align-self: center;
      width: 80%;

      @media (min-width: 768px) {
        width: 68%;
      }

      @media (min-width: 992px) {
        align-self: flex-start;
        width: 100%;
      }
    }

    h3 {
      line-height: 1.1em;

      @media (min-width: 992px) {
        font-size: 28px;
      }

      @media (min-width: 1200px) {
        width: 97%;
        font-size: 30px;
      }
    }

    p {
      font-size: 15px;
      line-height: 1.4em;
      letter-spacing: -0.2px;
      padding-top: 10px;

      @media (min-width: 992px) {
        line-height: 1.6em;
      }
    }

    &.mosaic-block-horizontal {
      @media (min-width: 992px) {
        width: 330px;
        height: 250px;
      }

      @media (min-width: 1200px) {
        width: 400px;
        height: 280px;
      }
    }

    &.mosaic-block-vertical {
      @media (min-width: 992px) {
        width: 250px;
        height: 330px;
      }

      @media (min-width: 1200px) {
        width: 280px;
        height: 400px;
      }
    }

    &.mosaic-block-horizontal-wide {
      > div {
        width: 100%;

        @media (min-width: 576px) {
          width: 72%;
        }

        @media (min-width: 768px) {
          width: 52%;
        }

        @media (min-width: 992px) {
          width: 100%;
        }
      }

      @media (min-width: 992px) {
        width: 360px;
        height: 250px;
      }

      @media (min-width: 1200px) {
        width: 420px;
        height: 280px;
      }

      h3 {
        @media (min-width: 992px) {
          font-size: 22px;
        }

        @media (min-width: 1200px) {
          font-size: 24px;
        }
      }
    }

    &.mosaic-block-small {
      > div {
        width: 100%;

        @media (min-width: 576px) {
          width: 88%;
        }

        @media (min-width: 768px) {
          width: 58%;
        }

        @media (min-width: 992px) {
          width: 100%;
        }
      }

      @media (min-width: 992px) {
        width: 240px;
        height: 180px;
      }
    }

    &.mosaic-block-bordered {
      background-color: transparent;
      border: 1px solid #eff2f6;
    }

    &.mosaic-block-black {
      background-color: $palette-black;
      color: $text-white;
    }

    &.mosaic-block-builder {
      background-image: url(../images/sdk-mosaic/builder.svg);
      background-size: 64px;
      background-position: bottom right 8px;

      @media (min-width: 992px) {
        top: 0px;
        left: 199px;
        background-size: 100px;
        background-position: bottom right 12px;

        h3 {
          width: 82%;
        }

        p {
          width: 68%;
        }
      }

      @media (min-width: 1200px) {
        top: 0px;
        left: 183px;
        background-size: 160px;
        background-position: bottom right 24px;

        > div {
          width: 72%;

          p {
            width: 74%;
          }
        }
      }
    }

    &.mosaic-block-runners {
      background-image: url(../images/sdk-mosaic/runners.svg);
      background-size: 64px;
      background-position: bottom right;

      @media (min-width: 992px) {
        top: 274px;
        left: 279px;
        background-size: 96px;

        h3 {
          width: 99%;
        }

        p {
          width: 85%;
        }
      }

      @media (min-width: 1200px) {
        top: 328px;
        left: 303px;
        background-size: 180px;

        h3 {
          width: 98%;
        }

        p {
          width: 74%;
        }
      }
    }

    &.mosaic-block-blocks {
      background-image: url(../images/sdk-mosaic/blocks.svg);
      background-size: 80px;
      background-position: bottom right 8px;

      @media (min-width: 992px) {
        top: 0px;
        left: 553px;
        background-size: 108px;
        background-position: bottom right 16px;
      }

      @media (min-width: 1200px) {
        top: 0px;
        left: 631px;
        background-size: 168px;
      }
    }

    &.mosaic-block-typescript {
      @media (min-width: 992px) {
        top: 354px;
        left: 553px;
      }

      @media (min-width: 1200px) {
        top: 448px;
        left: 631px;
      }

      svg {
        display: none;

        @media (min-width: 992px) {
          display: block;
          width: 56px;
          height: 56px;
          margin-bottom: 24px;
        }

        @media (min-width: 1200px) {
          width: 96px;
          height: 96px;
          margin-bottom: 32px;
        }
      }

      p {
        @media (min-width: 992px) {
          width: 86%;
        }

        @media (min-width: 1200px) {
          width: 96%;
        }
      }
    }

    &.mosaic-block-documented {
      @media (min-width: 992px) {
        top: 274px;
        left: 15px;

        h3 {
          font-size: 18px;
        }

        p {
          font-size: 13px;
        }
      }

      @media (min-width: 1200px) {
        top: 328px;
        left: 15px;
      }
    }
  }

  a {
    transition: transform 0.2s ease-out;

    &:hover {
      text-decoration: none;
      transform: scale(1.01);
    }
  }
}
