.sdk-overview {
  @media (min-width: 992px) {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
  }

  > div {
    width: 100%;
    background-color: $palette-light;
    border-radius: 16px;
    margin-bottom: 16px;

    @media (min-width: 992px) {
      width: 32%;
    }

    @media (min-width: 1200px) {
      width: 30%;
    }

    > div {
      padding: 24px;

      @media (min-width: 992px) {
        padding: 32px;
      }

      h3 {
        font-size: 26px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 1.2em;
        padding-bottom: 16px;

        @media (min-width: 1200px) {
          font-size: 30px;
        }
      }

      p {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.2px;
        line-height: 24px;
        padding-bottom: 32px;
      }
    }
  }
}
