.sdk-features {
  .sdk-features-column {
    padding-top: 24px;

    @media (min-width: 992px) {
      padding-top: 0px;

      &:not(:first-child) {
        border-left: 1px solid $splitter;
      }
    }

    @media (min-width: 1200px) {
      &:not(:first-child) {
        > div {
          margin-left: 16px;
        }
      }

      > div {
        width: 200px;
      }
    }

    i {
      font-size: 32px;
      margin-bottom: 12px;

      @media (min-width: 992px) {
        font-size: 48px;
        margin-bottom: 16px;
      }

      &.palette-sdk-builder {
        color: $palette-sdk-builder;
      }

      &.palette-sdk-runners {
        color: $palette-sdk-runners;
      }

      &.palette-sdk-blocks {
        color: $palette-sdk-blocks;
      }
    }

    h3 {
      font-size: 16px;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }

    p {
      font-size: 13px;
      font-weight: 500;
      line-height: 1.5em;
      padding-top: 8px !important;
      padding-bottom: 6px;

      @media (min-width: 768px) {
        padding-top: 12px !important;
      }
    }

    a.hyperlink {
      margin-top: 0px !important;
      font-size: 14px;
    }
  }
}
