.sdk-icon-component {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  &.sdk-icon-component-radius-medium {
    border-radius: 8px;

    @media (min-width: 992px) {
      border-radius: 16px;
    }
  }

  &.sdk-icon-component-radius-large {
    border-radius: 16px;

    @media (min-width: 992px) {
      border-radius: 32px;
    }
  }

  span {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    position: relative;
    top: 8px;

    @media (min-width: 992px) {
      font-size: 16px;
      top: 16px;
      font-weight: 500;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    height: 60%;
  }

  &.sdk-icon-component-builder {
    background-color: $palette-sdk-builder;

    img {
      height: 80%;
      bottom: 0;
      left: 20%;
    }
  }

  &.sdk-icon-component-runners {
    background-color: $palette-sdk-runners;

    img {
      height: 80%;
      bottom: 0;
    }
  }

  &.sdk-icon-component-blocks {
    background-color: $palette-sdk-blocks;

    img {
      height: 80%;
      bottom: -1px;
      left: 20%;
    }
  }

  &.sdk-icon-component-xs {
    width: 48px;
    height: 48px;
  }

  &.sdk-icon-component-small {
    width: 48px;
    height: 48px;

    @media (min-width: 992px) {
      width: 64px;
      height: 64px;
    }
  }

  &.sdk-icon-component-medium {
    width: 72px;
    height: 72px;

    @media (min-width: 992px) {
      width: 96px;
      height: 96px;
    }

    span {
      font-size: 12px;
      top: 8px;

      @media (min-width: 992px) {
        top: 12px;
      }
    }
  }

  &.sdk-icon-component-big {
    width: 72px;
    height: 72px;

    @media (min-width: 992px) {
      width: 128px;
      height: 128px;
    }
  }

  &.sdk-icon-component-xl {
    width: 88px;
    height: 88px;

    @media (min-width: 768px) {
      width: 128px;
      height: 128px;
    }

    @media (min-width: 992px) {
      width: 160px;
      height: 160px;
    }

    span {
      font-size: 16px;

      @media (min-width: 992px) {
        font-size: 22px;
      }
    }
  }
}
