.sdk-device-code {
  @media (min-width: 992px) {
    position: relative;
    height: 650px;
  }

  @media (min-width: 1200px) {
    height: 720px;
  }

  .sdk-device-code-block {
    width: 100%;
    position: relative;

    @media (min-width: 992px) {
      position: absolute;
    }

    &.sdk-device-code-device {
      margin-bottom: 24px;
      height: auto;

      @media (min-width: 992px) {
        width: auto;
        height: 100%;
        margin-bottom: 0px;
      }
    }

    &.sdk-device-code-snippet {
      @media (min-width: 992px) {
        width: 460px;
        bottom: 0px;
      }
    }
  }

  &.sdk-device-code-left {
    .sdk-device-code-device {
      @media (min-width: 992px) {
        right: 0px;
      }
    }

    .sdk-device-code-snippet {
      @media (min-width: 992px) {
        left: 0px;
      }
    }
  }

  &.sdk-device-code-right {
    .sdk-device-code-snippet {
      @media (min-width: 992px) {
        right: 0px;
      }
    }
  }
}
