@mixin shape($shape, $color) {
  content: "";
  background-color: $color;
  position: absolute;
  z-index: -1;
  opacity: 0.16;

  @if $shape == circle {
    border-radius: 50%;
  } @else if $shape == diamond {
    transform: rotate(45deg);
  }
}

@mixin shape-position($size, $top, $right, $bottom, $left) {
  width: $size;
  height: $size;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin shape-xs($size, $top, $right, $bottom, $left) {
  @include shape-position($size, $top, $right, $bottom, $left);
}

@mixin shape-sm($size, $top, $right, $bottom, $left) {
  @media (min-width: 576px) {
    @include shape-position($size, $top, $right, $bottom, $left);
  }
}

@mixin shape-md($size, $top, $right, $bottom, $left) {
  @media (min-width: 768px) {
    @include shape-position($size, $top, $right, $bottom, $left);
  }
}

@mixin shape-lg($size, $top, $right, $bottom, $left) {
  @media (min-width: 992px) {
    @include shape-position($size, $top, $right, $bottom, $left);
  }
}

@mixin shape-xl($size, $top, $right, $bottom, $left) {
  @media (min-width: 1200px) {
    @include shape-position($size, $top, $right, $bottom, $left);
  }
}
