.studio-icon-chapter {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 96px;
    height: 96px;
  }

  &.studio-icon-chapter-features {
    background-color: $palette-purple;
  }

  &.studio-icon-chapter-help {
    background-color: $palette-green;
  }

  &.studio-icon-chapter-pricing {
    background-color: $palette-yellow;
  }


  &.studio-icon-chapter-small {
    width: 48px;
    height: 48px;

    img {
      width: 48px;
      height: 48px;
    }
  }

  &.studio-icon-chapter-big {
    width: 128px;
    height: 128px;

    img {
      width: 128px;
      height: 128px;
    }
  }
}
