.ticker-calculator {
  .mask {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .tickercontainer {
    margin: 2px 0px;

    @media (min-width: 992px) {
      margin: 10px 0px;
    }
  }

  .ticker-blocks {
    li {
      padding: 0px 8px;

      @media (min-width: 992px) {
        padding: 0px 16px;
      }

      > a {
        background-color: $palette-main;
        border-radius: 8px;
        color: #fff !important;
        font-size: 18px;
        font-weight: 600;
        line-height: 1em;
        letter-spacing: -1px;
        padding: 12px 20px;
        display: flex;
        align-items: center;
        transition: transform 0.2s ease-out;

        @media (min-width: 768px) {
          font-size: 20px;
          border-radius: 12px;
        }

        @media (min-width: 992px) {
          padding: 16px 32px;
          border-radius: 16px;
          font-size: 30px;
        }

        &:hover {
          text-decoration: none;
          transform: scale(1.02);
        }

        &.palette-dark {
          background-color: $palette-dark;
        }

        &.palette-yellow {
          background-color: $palette-yellow;
          color: $palette-dark !important;
        }

        &.palette-red {
          background-color: $palette-red;
        }

        img,svg {
          width: 32px;
          height: 32px;
          margin-right: 10px;

          path {
            fill: #fff;
          }

          @media (min-width: 768px) {
            width: 36px;
            height: 36px;
            margin-right: 16px;
          }

          @media (min-width: 992px) {
            width: 64px;
            height: 64px;
            margin-right: 24px;
          }
        }
      }
    }
  }
}
