ul.tiles-text {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid $palette-light;
    border-radius: 16px;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-out, background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;
    margin-right: 8px;
    width: 100px;
    min-height: 100px;

    @media (min-width: 768px) {
      padding: 15px 17px;
      flex-direction: row;
      width: auto;
      min-height: auto;
    }

    @media (min-width: 992px) {
      margin-right: 16px;
      width: 272px;
    }

    @media (min-width: 1200px) {
      margin-right: 32px;
    }

    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      transform: scale(1.02);
    }

    div + div {
      padding-top: 8px;

      @media (min-width: 768px) {
        padding-top: 0px;
        padding-left: 14px;
      }
    }

    > div {
      > img {
        width: 48px;
        height: 48px;

        @media (min-width: 992px) {
          width: 64px;
          height: 64px;
        }
      }
    }

    h3 {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: -0.25px;
      text-align: center;

      @media (min-width: 768px) {
        font-size: 16px;
        text-align: left;
      }

      > span {
        display: none;

        @media (min-width: 768px) {
          display: inline;
        }
      }

      > a {
        text-decoration: none;
      }
    }

    p {
      font-size: 13px;
      font-weight: 600;
      line-height: 1.5em;
      color: $text-grey;
      padding-top: 2px;
      display: none;
      width: 95%;

      @media (min-width: 992px) {
        display: block;
      }
    }
  }

  &.tiles-text-medium {
    li {
      @media (min-width: 992px) {
        width: 286px;
      }
    }
  }

  &.tiles-text-large {
    li {
      @media (min-width: 992px) {
        width: 312px;

        p {
          width: 100%;
        }
      }
    }
  }
}
