ul.tiles {
  @mixin tile-text($color) {
    * {
      color: $color;
    }
  }

  @mixin tile-background($color) {
    background-color: $color;
  }

  @mixin tile-border($color) {
    border-color: $color;
  }

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;

  &.tiles-two {
    li {
      @media (min-width: 1200px) {
        margin-right: 24px;
        width: 46%;
      }
    }
  }

  li {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    margin-bottom: 24px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
    border-radius: 8px;
    transition: transform 0.2s ease-out;
    cursor: pointer;

    @media (min-width: 768px) {
      margin-right: 24px;
      width: 46%;
    }

    @media (min-width: 1200px) {
      width: 30%;
      margin-right: 30px;
      margin-bottom: 30px;
    }

    &:hover {
      transform: scale(1.01);
    }

    .tile-title {
      padding: 24px;
      background-color: #fff;
      flex-grow: 1;
      min-height: 120px;

      @media (min-width: 992px) {
        padding: 32px;
        min-height: 152px;
      }

      &.tile-title-padding {
        padding-bottom: 8px;
      }

      &.palette-light {
        @include tile-background($palette-light);
      }

      &.palette-dark {
        @include tile-background($palette-dark);
        @include tile-text(#fff);
      }

      &.palette-build {
        @include tile-background($palette-build);
        @include tile-text(#fff);
      }

      &.palette-customization {
        @include tile-background($palette-customization);
        @include tile-text(#fff);
      }

      &.palette-logic {
        @include tile-background($palette-logic);
        @include tile-text(#fff);
      }

      &.palette-automations {
        @include tile-background($palette-automations);
        @include tile-text(#fff);
      }

      &.palette-sharing {
        @include tile-background($palette-sharing);
        @include tile-text(#fff);
      }

      &.palette-hosting {
        @include tile-background($palette-hosting);
        @include tile-text(#fff);
      }

      &.palette-studio {
        @include tile-background($palette-studio);
        @include tile-text(#fff);
      }

      &.palette-wordpress {
        @include tile-background($palette-wordpress);
      }

      &.palette-sdk {
        @include tile-background($palette-sdk);
        @include tile-text(#fff);
      }

      span {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4em;
        border-left: 3px solid #fff;
        padding-left: 8px;
        margin-bottom: 16px;

        &.palette-build {
          @include tile-border($palette-build);
        }

        &.palette-customization {
          @include tile-border($palette-customization);
        }

        &.palette-logic {
          @include tile-border($palette-logic);
        }

        &.palette-automations {
          @include tile-border($palette-automations);
        }

        &.palette-sharing {
          @include tile-border($palette-sharing);
        }

        &.palette-hosting {
          @include tile-border($palette-hosting);
        }

        &.palette-faded {
          opacity: 0.64;
        }
      }

      a {
        display: block;
        text-decoration: none;

        h3 {
          font-size: 18px;
          font-weight: 600;
          line-height: 1.3em;

          &.tile-title-border {
            padding-left: 8px;
            border-left: 4px solid $palette-basics;

            @media (min-width: 768px) {
              padding-left: 16px;
            }

            &.palette-wordpress-basics,
            &.palette-wordpress-licensing,
            &.palette-studio-basics,
            &.palette-studio-licensing {
              @include tile-border(#fff);
            }

            &.palette-build {
              @include tile-border($palette-build);
            }

            &.palette-customization {
              @include tile-border($palette-customization);
            }

            &.palette-logic {
              @include tile-border($palette-logic);
            }

            &.palette-automations {
              @include tile-border($palette-automations);
            }

            &.palette-sharing {
              @include tile-border($palette-sharing);
            }

            &.palette-hosting {
              @include tile-border($palette-hosting);
            }

            &.palette-studio {
              @include tile-border($palette-studio);
            }

            &.palette-wordpress {
              @include tile-border($palette-wordpress);
            }

            &.palette-sdk {
              @include tile-border($palette-sdk);
            }
          }
        }
      }

      p {
        color: $text-dark-64;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.8em;
        margin-top: 16px;
      }

      div.webhook-connection {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 16px;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 2px solid #fff;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
        }

        .webhook-connection-tripetto {
          background-color: $background-dark;
          width: 48px;
          height: 48px;

          img {
            width: 24px;
            height: 24px;
          }
        }

        .webhook-connection-service {
          width: 56px;
          height: 56px;
          position: relative;
          left: -10px;

          &.webhook-connection-service-chain {
            left: -20px;
          }

          img {
            width: 32px;
            height: 32px;
          }

          &.webhook-connection-google-sheets {
            background-color: #0fa763;
          }

          &.webhook-connection-google-docs {
            background-color: #4f8ef5;
          }

          &.webhook-connection-gmail {
            background-color: #dd4b39;
          }

          &.webhook-connection-mailchimp {
            background-color: #ffe01c;
          }

          &.webhook-connection-airtable {
            background-color: #18bfff;
          }

          &.webhook-connection-paypal {
            background-color: #00457c;
          }

          &.webhook-connection-activecampaign {
            background-color: #0d5cab;
          }

          &.webhook-connection-shopify {
            background-color: #96bf48;
          }

          &.webhook-connection-woocommerce {
            background-color: #a46497;
          }

          &.webhook-connection-zendesk {
            background-color: #03363d;
          }

          &.webhook-connection-stripe {
            background-color: #359ad5;
          }

          &.webhook-connection-microsoft-excel {
            background-color: #1d6f42;
          }

          &.webhook-connection-microsoft-to-do {
            background-color: #0078d7;
          }

          &.webhook-connection-wordpress {
            background-color: #00749a;
          }

          &.webhook-connection-elementor {
            background-color: #d63362;
          }

          &.webhook-connection-fluentcrm {
            background-color: #7742e6;
          }
        }
      }
    }

    .tile-pills {
      background-color: #fff;
      margin-top: auto;
      padding: 8px 24px 16px 24px;

      @media (min-width: 992px) {
        padding: 16px 32px 24px 32px;
      }

      &.palette-light {
        @include tile-background($palette-light);
      }

      &.palette-dark {
        @include tile-background($palette-dark);
      }

      &.palette-build {
        @include tile-background($palette-build);
      }

      &.palette-customization {
        @include tile-background($palette-customization);
      }

      &.palette-logic {
        @include tile-background($palette-logic);
      }

      &.palette-automations {
        @include tile-background($palette-automations);
      }

      &.palette-sharing {
        @include tile-background($palette-sharing);
      }

      &.palette-hosting {
        @include tile-background($palette-hosting);
      }
    }
  }

  &.tiles-two {
    li {
      @media (min-width: 992px) {
        width: 46%;
      }
    }
  }
}
