ul.tiles-logo {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;

  @media (min-width: 992px) {
    justify-content: flex-start;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    width: 48%;
    margin-bottom: 16px;
    border: 1px solid $palette-light;
    border-radius: 8px;
    transition: transform 0.2s ease-out;
    cursor: pointer;
    padding: 24px;

    @media (min-width: 768px) {
      width: 49%;
    }

    @media (min-width: 992px) {
      width: 30%;
      padding: 40px;
      margin-right: 24px;
      margin-bottom: 24px;
    }

    @media (min-width: 1200px) {
      width: 30%;
    }

    &:hover {
      transform: scale(1.01);
    }

    img {
      display: block;
      width: 100px;
      height: 100px;

      @media (min-width: 992px) {
        width: 160px;
        height: 160px;
      }
    }

    a {
      display: block;
      text-decoration: none;
      margin-top: 16px;
      text-align: center;

      h2,
      h3 {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.3em;

        @media (min-width: 768px) {
          font-size: 18px;
        }

        > span {
          display: none;

          @media (min-width: 768px) {
            display: inline;
          }
        }
      }
    }
  }

  &.tiles-logo-three {
    @media (max-width: 991px) {
      li {
        width: 31%;

        img {
          width: 64px;
          height: 64px;
        }
      }
    }
  }

  &.tiles-logo-four {
    @media (min-width: 1200px) {
      li {
        width: 22%;

        img {
          width: 140px;
          height: 140px;
        }
      }
    }
  }
}
