.versions {
  .versions-images {
    justify-content: center;

    > div {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      img {
        width: auto;
        height: 140px;

        @media (min-width: 768px) {
          height: 200px;
        }

        @media (min-width: 992px) {
          height: 100%;
        }
      }
    }
  }

  .versions-blocks {
    display: flex;
    justify-content: center;

    .versions-version {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;

      @media (min-width: 768px) {
        margin-bottom: 0px;
      }

      > div {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 32px;
        border-radius: 8px;
        margin-bottom: 16px;
        text-align: center;

        &.versions-version-studio {
          background-color: $palette-studio;
          color: #fff;
        }

        &.versions-version-wordpress {
          background-color: $palette-wordpress;
        }

        h2,
        h3 {
          font-size: 48px;
          letter-spacing: -2px;
          line-height: 1.2em;

          @media (min-width: 992px) {
            font-size: 64px;
            letter-spacing: -3px;
          }
        }

        p {
          opacity: 0.64;
          font-weight: 600;
        }

        ul {
          list-style: none;
          padding-top: 40px;
          padding-bottom: 40px;
          padding-left: 0;
          margin: 0;

          li {
            display: block;
            padding-top: 7px;
            padding-bottom: 7px;
            font-size: 18px;
            font-weight: 500;
            line-height: 1em;
            letter-spacing: -0.5px;
          }
        }
      }
    }
  }

  .versions-hint {
    &:before {
      content: "WordPressers go here";
      text-align: left;
      display: none;
      font-family: $font-secondary;
      color: $palette-red;
      font-size: 36px;
      letter-spacing: -1px;
      line-height: 0.8em;
      transform: rotate(9deg);
      position: absolute;
      width: 140px;
      height: 96px;
      background-image: url(../images/versions-cta/hint.svg);
      background-size: 60px;
      background-repeat: no-repeat;
      background-position: bottom right;

      @media (min-width: 768px) {
        display: inline-block;
        left: 10px;
        top: -114px;
      }

      @media (min-width: 992px) {
        left: 24px;
        top: -124px;
      }

      @media (min-width: 1200px) {
        left: 40px;
      }
    }
  }
}
