section.versions-cta-intro {
  border-top: 1px solid $splitter;

  .container {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 104px;
    }
  }

  .versions-intro {
    display: flex;
    justify-content: center;
    text-align: center;

    h2 {
      font-size: 60px;
      line-height: 1em;
      font-weight: 800;
      letter-spacing: -2px;

      @media (min-width: 768px) {
        font-size: 80px;
        letter-spacing: -3px;
      }

      @media (min-width: 992px) {
        font-size: 100px;
        letter-spacing: -6px;
      }

      @media (min-width: 1200px) {
        font-size: 136px;
        line-height: 0.95em;
      }
    }

    p {
      padding-bottom: 16px;

      @media (min-width: 992px) {
        padding-bottom: 24px;
      }

      @media (min-width: 1200px) {
        padding-left: 18px;
        padding-right: 18px;
      }
    }

    a {
      margin-bottom: 32px;

      @media (min-width: 992px) {
        margin-bottom: 8px;
      }
    }
  }
}

section.versions {
  .container {
    padding-bottom: 80px;
  }
}
