section.hosting-intro {
  p {
    font-size: 20px;
    line-height: 1.7em;
    padding-top: 32px;
    padding-bottom: 16px;

    @media (min-width: 768px) {
      width: 92%;
      padding-bottom: 24px;
    }

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 48px;
      padding-bottom: 48px;
      width: 95%;
    }

    @media (min-width: 1200px) {
      font-size: 28px;
      width: 93%;
    }
  }

  img {
    display: none;

    @media (min-width: 576px) {
      display: block;
      width: 380px;
      height: auto;
      position: relative;
      top: 19px;
      margin: 0px auto;
    }

    @media (min-width: 768px) {
      width: 480px;
      top: 24px;
    }

    @media (min-width: 992px) {
      width: 660px;
      top: 33px;
    }

    @media (min-width: 1200px) {
      width: 920px;
      top: 45px;
    }
  }

  hr {
    display: none;

    @media (min-width: 576px) {
      display: block;
      border-color: $splitter;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
