section.hosting-self {
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid $splitter;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .hosting-self-title {
    text-align: center;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 64px;
    }
  }

  .hosting-self-cards {
    justify-content: center;

    .col-md-6 {
      margin-bottom: 24px;
    }
  }

  .hosting-self-suffix {
    justify-content: center;
    text-align: center;

    p {
      padding-bottom: 16px;

      @media (min-width: 768px) {
        padding-top: 16px;
      }

      @media (min-width: 992px) {
        padding-top: 24px;
        padding-bottom: 32px;
      }

      @media (min-width: 1200px) {
        padding-top: 40px;
        width: 99%;
      }
    }

    small {
      display: block;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: -0.3px;
      padding-bottom: 16px;

      @media (min-width: 992px) {
        padding-bottom: 32px;
      }

      @media (min-width: 992px) {
        width: 96%;
      }
    }
  }
}
