section.hosting-tripetto {
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid $splitter;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .hosting-tripetto-title {
    text-align: center;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 64px;
    }
  }

  .content {
    p {
      padding-top: 24px;
      padding-bottom: 16px;

      @media (min-width: 768px) {
        padding-top: 16px;
      }

      @media (min-width: 992px) {
        padding-top: 36px;
        padding-bottom: 24px;
      }

      @media (min-width: 1200px) {
        width: 99%;
      }
    }
  }
}
