section.hosting-wordpress {
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid $splitter;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .hosting-wordpress-title {
    text-align: center;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 64px;
    }
  }

  .content {
    p {
      padding-top: 24px;
      padding-bottom: 16px;

      @media (min-width: 768px) {
        padding-top: 16px;
      }

      @media (min-width: 992px) {
        padding-top: 36px;
        padding-bottom: 32px;
      }

      @media (min-width: 1200px) {
        width: 99%;
      }
    }

    small {
      display: block;
      font-size: 16px;
      line-height: 1.5em;
      letter-spacing: -0.5px;
      padding-bottom: 16px;

      @media (min-width: 992px) {
        padding-bottom: 32px;
      }

      @media (min-width: 992px) {
        width: 96%;
      }
    }
  }
}
