section.studio-unlock-all-form {
  .container {
    padding-top: 40px;
    padding-bottom: 20px;
    min-height: 460px;

    @media (min-width: 992px) {
      padding-top: 80px;
      padding-bottom: 60px;
    }

    h2 {
      @media (min-width: 992px) {
        font-size: 48px;
        letter-spacing: -2px;
      }
    }

    p {
      padding-top: 16px;
      font-size: 18px;
      line-height: 1.9em;

      a {
        color: $palette-purple;
      }

      @media (min-width: 1200px) {
        width: 94%;
      }
    }

    #TripettoRunner {
      padding-top: 40px;

      @media (min-width: 992px) {
        padding-top: 56px;
      }
    }
  }
}
