section.studio-unlock-all-intro {
  .container {
    @media (min-width: 768px) {
      background-image: url(../images/studio-unlock-all/intro.svg);
      background-repeat: no-repeat;
      background-size: 220px;
      background-position: right 40px bottom;
    }

    @media (min-width: 992px) {
      background-size: 300px;
      background-position: right 60px bottom;
    }

    @media (min-width: 1200px) {
      background-size: 360px;
      background-position: right 100px bottom;
    }
  }

  p {
    @media (min-width: 768px) {
      width: 91%;
    }

    @media (min-width: 992px) {
      width: 92%;
    }

    @media (min-width: 1200px) {
      width: 91%;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
