:root {
  --fs-ds-theme-signal-bar-background-color: #fff;
  --fs-ds-appearance-signal-bar-height: 32px;
  --fs-ds-appearance-signal-bar-button-icon-size: 16px;
  --fs-ds-typography-font-base: "Poppins", sans-serif;
  --fs-ds-theme-text-color: #18214d;
  --fs-ds-theme-heading-text-color: #18214d;
  --fs-ds-theme-muted-text-color: #18214d;
  --fs-ds-theme-primary-accent-color: #18214d;
  --fs-ds-theme-primary-accent-color-hover: #18214d;
  --fs-ds-theme-background-shade: #fff;
  --fs-ds-theme-background-accented: #fff;
  --fs-ds-theme-cart-header-background-color: #eff2f6;
  --fs-ds-theme-cart-header-border-color: #eff2f6;
  --fs-ds-theme-divider-color: #eff2f6;
  --fs-ds-appearance-border-radius-lg: 8px;

  body.fs-checkout-dialog {
    .fs-checkout-wrapper {
      @media screen and (max-width: 660px) {
        justify-content: start;
      }
    }
  }

  #mode {
    fs-signal-bar {
      .fs-signal-bar__button--toggle-size,
      .fs-signal-bar__button--dummy {
        display: none;
      }

      .fs-signal-bar__button--close {
        background-color: transparent;
        color: #6b718d;

        .fs-svg {
          color: #9095aa;
        }
      }
    }

    #checkout_form {
      fs-cart-header {
        .fs-cart-header__body {
          .fs-cart-header__image {
            display: none;
          }

          .fs-cart-header__content {
            flex: 0 0 100%;
          }
        }
      }

      fs-upsell {
        display: none
      }

      fs-money-back-guarantee {
        .fs-money-back-guarantee {
          box-shadow: none;
        }
      }

      .fs-input-container__label {
        font-size: 1rem;
        cursor: default;
      }

      #billing_details {
        .fs-payment-method-chooser__radio:checked
          + .fs-payment-method-chooser__container {
          color: #8f68fb;
          border-color: #8f68fb;
          outline-color: #8f68fb;
        }
      }

      .fs-cta {
        background-color: #fa3a69;
        border-color: #fa3a69;

        &:active,
        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(250, 58, 105, 0.35);
        }

        &:hover {
          background-color: lighten(#fa3a69, 5%);
        }
      }
    }

    .fs-tooltip__content {
      background-color: #eff2f6;
      color: #18214d;
      border: 1px solid #dfe4ea;
    }
  }

  .fs-fulfillment-badge {
    @media screen and (max-width: 660px) {
      display: none;
    }

    a span {
      color: var(--fs-ds-theme-footer-text-color);
    }

    .fs-fulfillment-badge__custom {
      display: none;
    }
  }
}
