section.contact-intro {
  h1 {
    @media (max-width: 575px) {
      font-size: 40px;
    }
  }

  p {
    padding-bottom: 60px;

    @media (min-width: 576px) {
      width: 94%;
    }

    @media (min-width: 1200px) {
      width: 92%;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-green);
      @include shape-xs(120px, -10%, auto, auto, 10%);
      @include shape-md(180px, -10%, auto, auto, 10%);
      @include shape-lg(200px, -10%, auto, auto, 10%);
      @include shape-xl(256px, -10%, auto, auto, 10%);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-blue);
      @include shape-xs(64px, auto, 10%, 15%, auto);
      @include shape-sm(64px, auto, 10%, 15%, auto);
      @include shape-md(64px, auto, 10%, 15%, auto);
      @include shape-lg(128px, auto, 0%, 25%, auto);
      @include shape-xl(128px, auto, 0%, 25%, auto);
    }
  }
}
