section.contact-support {
  @mixin support($color) {
    a {
      i {
        color: $color;
      }

      &:hover {
        color: $color;
      }
    }
  }

  .container {
    padding-top: 48px;
    padding-bottom: 40px;


    @media (min-width: 768px) {
      padding-bottom: 60px;
      background-image: url(../images/contact/support.svg);
      background-repeat: no-repeat;
      background-size: 240px;
      background-position: right 8px bottom;
    }

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 80px;
      background-size: 400px;
      background-position: right 16px bottom;
    }

    @media (min-width: 1200px) {
      background-size: 480px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  .contact-support-list {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 56px;
      padding-bottom: 40px;
    }

    h3 {
      font-size: 22px;
      margin-bottom: 16px;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;

      li {
        padding-top: 8px;
        padding-bottom: 8px;

        a {
          display: inline-block;
          font-weight: 600;
          transition: color 0.2s ease-out;
          display: flex;
          align-items: center;

          i {
            font-size: 24px;
            margin-right: 10px;
            transition: transform 0.1s ease-out;
          }

          &:hover {
            text-decoration: none;

            i {
              transform: scale(1.05);
            }
          }
        }
      }

      &.palette-purple {
        @include support($palette-purple);
      }

      &.palette-red {
        @include support($palette-red);
      }

      &.palette-green {
        @include support($palette-green);
      }
    }
  }
}
