body.rw-context-pricing {
  *:not([class*="fa"]) {
    font-family: "Poppins", sans-serif;
  }

  a {
    cursor: pointer;
    color: $palette-dark;
    text-decoration: underline;
  }

  button {
    &.btn-primary,
    &.btn-secondary,
    &.btn-tertiary {
      font-weight: 500;
      text-shadow: none;
      text-transform: none;
      border: none;

      i {
        margin-right: 4px;
      }
    }

    &.btn-primary {
      background: $palette-main;
      color: #fff;
      background-image: none !important;

      &:hover {
        background-color: lighten($palette-main, 2%);
        outline: none;
      }

      &:active,
      &:focus {
        background-color: lighten($palette-main, 2%);
        box-shadow: 0 0 0 0.2rem $palette-main-shadow;
        outline: none;
      }
    }

    &.btn-secondary,
    &.btn-tertiary {
      display: none;
    }
  }

  #header {
    background-color: $palette-dark !important;
  }

  #money_back_guarantee {
    h1 {
      * {
        color: $palette-dark !important;
      }
    }
  }

  #currencies_dropdown {
    display: none;
  }

  #packages ul > li article.featured h2 {
    color: #18214d;
    background: #feca2f;
  }

  .licenses {
    height: 120px !important;

    li.selected {
      background: $palette-dark;

      * {
        color: #fff !important;
      }
    }
  }

  .cta {
    height: 120px !important;
  }

  li.plan {
    h2 {
      text-transform: none !important;
    }
  }

  article.featured {
    .offer {
      .price,
      .period {
        color: $palette-dark !important;

        * {
          color: $palette-dark !important;
        }
      }
    }
  }
}
