section.sdk-call-form {
  .container {
    padding-top: 48px;
    padding-bottom: 32px;
    min-height: 460px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 60px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }

  p {
    padding-top: 16px;
    font-size: 18px;
    line-height: 1.9em;

    @media (min-width: 1200px) {
      width: 95%;
    }

    a {
      color: $text-link;
    }
  }

  #TripettoRunner {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 56px;
    }
  }
}
