section.sdk-call-intro {
  .container {
    @media (min-width: 768px) {
      background-image: url(../images/sdk-call/intro.svg);
      background-size: 140px auto;
      background-position: right 24px bottom;
      background-repeat: no-repeat;
    }

    @media (min-width: 992px) {
      background-size: 240px auto;
      background-position: right 24px bottom;
    }

    @media (min-width: 1200px) {
      background-size: 380px auto;
      background-position: right 80px bottom;
    }
  }

  h1 {
    @media (min-width: 1200px) {
      width: 95%;
    }
  }

  p {
    @media (min-width: 576px) {
      width: 94%;
    }

    @media (min-width: 768px) {
      width: 96%;
    }

    @media (min-width: 992px) {
      width: 100%;
    }

    @media (min-width: 1200px) {
      width: 98%;
    }
  }
}
