section.sdk-usage-builder {
  .content {
    p {
      @media (min-width: 992px) {
        width: 93%;
      }

      @media (min-width: 1200px) {
        width: 100%;
      }
    }
  }
}
