section.sdk-usage-intro {
  .container {
    @media (min-width: 576px) {
      background-image: url(../images/sdk-usage/html.svg);
      background-size: 72px auto;
      background-position: right 24px bottom 24px;
      background-repeat: no-repeat;
    }

    @media (min-width: 768px) {
      background-size: 180px auto;
      background-position: right 24px bottom 40px;
    }

    @media (min-width: 992px) {
      background-size: 340px auto;
      background-position: right 8px bottom 80px;
    }

    @media (min-width: 1200px) {
      background-size: 400px auto;
    }
  }

  h1 {
    span {
      color: $palette-sdk-html;
    }
  }

  .button-html {
    background-color: $palette-sdk-html;
    border-color: $palette-sdk-html;
    color: $text-white;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(227, 76, 38, 0.35);
    }

    &:hover {
      background-color: lighten($palette-sdk-html, 2%);
    }
  }
}
