section.automations-connections {
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid $splitter;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container-intro {
    p {
      padding-top: 32px;

      @media (min-width: 768px) {
        width: 92%;
      }

      @media (min-width: 1200px) {
        padding-top: 56px;
      }
    }
  }

  .container-content {
    hr {
      border-color: $splitter;
      margin-top: 40px;
      margin-bottom: 0px;

      @media (min-width: 992px) {
        margin-top: 64px;
      }
    }

    .automations-connections-column {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      p {
        padding-top: 40px;
        margin-bottom: auto;

        @media (min-width: 992px) {
          padding-top: 64px;
          width: 90%;
        }
      }

      .hyperlink {
        margin-top: 16px;

        @media (min-width: 992px) {
          margin-top: 32px;
        }
      }
    }
  }

  .container-fluid {
    padding-top: 32px;
    padding-bottom: 32px;

    @media (min-width: 992px) {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }
}
