section.automations-intro {
  .container {
    @media (min-width: 768px) {
      background-image: url(../images/automations/intro.png);
      background-repeat: no-repeat;
      background-size: 320px;
      background-position: right 8px bottom;
    }

    @media (min-width: 992px) {
      background-size: 460px;
      background-position: right 16px bottom;
    }

    @media (min-width: 1200px) {
      background-size: 560px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.7em;
    padding-top: 32px;
    padding-bottom: 16px;

    @media (min-width: 768px) {
      padding-bottom: 80px;
      width: 94%;
    }

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 48px;
      padding-bottom: 120px;
      width: 100%;
    }

    @media (min-width: 1200px) {
      font-size: 28px;
      padding-bottom: 160px;
    }
  }
}
