section.automations-notifications {
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid $splitter;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container-intro {
    p {
      padding-top: 32px;

      @media (min-width: 768px) {
        width: 92%;
      }

      @media (min-width: 1200px) {
        padding-top: 56px;
      }
    }
  }

  .container-content {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    hr {
      border-color: $splitter;
      margin-top: 24px;
      margin-bottom: 24px;

      @media (min-width: 992px) {
        display: none;
      }
    }

    .automations-notifications-column {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-end;

      p {
        padding-top: 16px;

        @media (min-width: 992px) {
          padding-top: 32px;
          width: 90%;
        }
      }

      .hyperlink {
        margin-top: 16px;

        @media (min-width: 992px) {
          margin-top: 32px;
        }
      }

      &.automations-notifications-slack {
        img {
          width: 80px;
          height: auto;

          @media (min-width: 992px) {
            width: 180px;
          }

          @media (min-width: 1200px) {
            width: 240px;
          }
        }
      }

      &.automations-notifications-email {
        img {
          width: 64px;
          height: auto;

          @media (min-width: 992px) {
            width: 104px;
          }

          @media (min-width: 1200px) {
            width: 160px;
          }
        }
      }
    }

    .automations-notifications-help {
      justify-content: flex-start;

      @media (min-width: 992px) {
        border-left: 1px solid $splitter;
      }

      ul.landing-help-list {
        @media (min-width: 992px) {
          padding-left: 8px;
        }

        @media (min-width: 1200px) {
          padding-left: 16px;
        }
      }
    }
  }
}
