section.automations-tracking {
  padding-top: 64px;
  padding-bottom: 64px;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container-intro {
    p {
      padding-top: 32px;

      @media (min-width: 768px) {
        width: 88%;
      }

      @media (min-width: 1200px) {
        padding-top: 56px;
      }
    }
  }

  .container-help {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    hr {
      border-color: $splitter;
      margin-top: 40px;
      margin-bottom: 0px;

      @media (min-width: 992px) {
        margin-top: 64px;
      }
    }
  }

  .container-content {
    .automations-tracking-column {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-end;

      img {
        margin-top: 40px;

        @media (min-width: 992px) {
          margin-top: 64px;
        }
      }

      p {
        padding-top: 16px;

        @media (min-width: 992px) {
          padding-top: 32px;
          width: 90%;
        }
      }

      .hyperlink {
        margin-top: 16px;

        @media (min-width: 992px) {
          margin-top: 32px;
        }
      }

      &.automations-tracking-analytics {
        img {
          width: 80px;
          height: auto;

          @media (min-width: 992px) {
            width: 120px;
          }

          @media (min-width: 1200px) {
            width: 160px;
          }
        }
      }

      &.automations-tracking-tagmanager {
        img {
          width: 80px;
          height: auto;

          @media (min-width: 992px) {
            width: 180px;
          }

          @media (min-width: 1200px) {
            width: 240px;
          }
        }
      }

      &.automations-tracking-facebook {
        img {
          width: 80px;
          height: auto;

          @media (min-width: 992px) {
            width: 100px;
          }

          @media (min-width: 1200px) {
            width: 120px;
          }
        }
      }
    }
  }
}
