section.sdk-alternative-surveyjs-features-contact {
  .container {
    padding-top: 48px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -2px;
    }
  }
}
