section.sdk-alternative-surveyjs-features-intro {
  .container {
    @media (min-width: 576px) {
      background-image: url(../images/sdk-alternative-surveyjs-features/intro.svg);
      background-size: 120px auto;
      background-position: right 16px bottom;
      background-repeat: no-repeat;

    }

    @media (min-width: 768px) {
      background-size: 280px auto;
    }

    @media (min-width: 992px) {
      background-size: 420px auto;
    }

    @media (min-width: 1200px) {
      background-size: 536px auto;
      background-position: right 32px bottom;
    }
  }

  h1 {
    @media (min-width: 768px) {
      font-size: 40px;
    }

    @media (min-width: 992px) {
      font-size: 72px;
      letter-spacing: -4px;
    }

    @media (min-width: 1200px) {
      font-size: 80px;
    }
  }

  p {
    @media (min-width: 1200px) {
      width: 86%;
      padding-bottom: 80px;
    }
  }
}
