section.sdk-alternative-surveyjs-features-matrix {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 52px;
      padding-bottom: 80px;
    }

    table {
      @mixin features-area($background, $text) {
        background-color: $background;
        color: $text;

        span {
          color: $text;
        }

        small {
          color: rgba($text, 0.64);
        }
      }

      &.matrix-head {
        thead {
          th {
            padding-top: 20px;

            @media (min-width: 992px) {
              padding-top: 40px;
            }

            &.matrix-area {
              > div {
                > div {
                  &.palette-surveyjs {
                    @include features-area($palette-surveyjs, #fff);
                  }

                  &.palette-sdk {
                    @include features-area($palette-sdk, #fff);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
