section.sdk-components-blocks {
  .container-content {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
    }

    h2 {
      @media (min-width: 1200px) {
        width: 92%;
      }
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
        width: 98%;
      }

      @media (min-width: 1200px) {
        width: 96%;
      }
    }
  }

  .container-visual {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    .sdk-components-blocks-block {
      h3 {
        font-size: 26px;
        letter-spacing: -2px;
        line-height: 1em;
        padding-top: 4px;

        @media (min-width: 992px) {
          font-size: 48px;
        }
      }

      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6em;
        padding-top: 24px;

        @media (min-width: 992px) {
          font-size: 18px;
          letter-spacing: -0.5px;
          padding-top: 32px;
        }
      }

      p + p {
        padding-top: 16px;
      }

      ul.hyperlinks-list {
        margin-top: 48px;
      }

      &.sdk-components-blocks-stock {
        background-color: $background-light;
        border-radius: 16px;
        padding: 24px;
        margin-bottom: 24px;

        @media (min-width: 992px) {
          display: flex;
          align-items: center;
          padding: 48px;
          margin-bottom: 30px;
        }

        @media (min-width: 1200px) {
          margin-bottom: 48px;
        }

        h3 {
          @media (min-width: 992px) {
            width: 90%;
          }
        }

        p {
          @media (min-width: 992px) {
            width: 92%;
          }

          @media (min-width: 1200px) {
            width: 100%;
          }
        }

        > div {
          width: 100%;

          &:first-of-type {
            border-bottom: 1px solid $splitter;
            padding-bottom: 24px;

            @media (min-width: 992px) {
              width: 60%;
              border-bottom: none;
              border-right: 1px solid $splitter;
              padding-bottom: 0px;
            }

            img {
              margin-bottom: 16px;

              @media (min-width: 992px) {
                margin-bottom: 32px;
              }
            }
          }

          &:last-of-type {
            padding-top: 24px;

            @media (min-width: 992px) {
              width: 40%;
              padding-left: 48px;
              padding-top: 0px;
            }

            ul {
              list-style: none;
              padding-left: 0;
              margin: 0;

              li {
                display: flex;
                align-items: center;
                padding: 8px 0px;

                @media (min-width: 992px) {
                  padding: 16px 0px;
                }

                img {
                  margin-right: 16px;
                }

                h4 {
                  font-size: 14px;
                  font-weight: 700;
                  letter-spacing: -0.25px;

                  @media (min-width: 768px) {
                    font-size: 16px;
                  }
                }

                small {
                  display: block;
                  font-size: 13px;
                  font-weight: 500;
                  line-height: 20px;
                  padding-top: 2px;
                }
              }
            }
          }
        }
      }

      &.sdk-components-blocks-custom {
        background-color: $background-light;
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: 24px;

        @media (min-width: 1200px) {
          width: 522px;
        }

        > div {
          padding: 24px;

          @media (min-width: 992px) {
            padding: 48px;
          }

          ul.sdk-components-blocks-custom-examples {
            list-style: none;
            padding-left: 0;
            margin: 0;
            padding-top: 32px;

            @media (min-width: 992px) {
              padding-top: 48px;
            }

            li {
              display: inline-block;
              padding: 0px;
              margin-right: 8px;
              text-align: center;

              @media (min-width: 992px) {
                margin-right: 16px;
              }

              &:last-child {
                margin-right: 0px;
              }

              img {
                width: 52px;
                height: 52px;

                @media (min-width: 768px) {
                  width: 60px;
                  height: 60px;
                }

                @media (min-width: 1200px) {
                  width: 72px;
                  height: 72px;
                }
              }

              h4 {
                display: block;
                font-size: 13px;
                font-weight: 600;
                margin-top: 8px;
              }
            }
          }
        }

        > img {
          width: 100%;
        }
      }
    }

    .sdk-components-blocks-typescript {
      padding-bottom: 24px;

      @media (min-width: 992px) {
        padding-bottom: 40px;
      }

      .frame {
        @media (min-width: 768px) {
          flex-direction: column;
          align-items: start;
        }

        svg {
          @media (min-width: 768px) {
            margin-right: 0px;
            margin-bottom: 24px;
          }

          @media (min-width: 992px) {
            margin-bottom: 36px;
          }
        }
      }
    }

    .sdk-components-blocks-payoff {
      display: none;

      @media (min-width: 768px) {
        display: block;
        font-family: $font-secondary;
        letter-spacing: -1.5px;
        color: $palette-red;
        font-size: 30px;
        line-height: 0.9em;
      }

      @media (min-width: 992px) {
        width: 90%;
        font-size: 36px;
      }
    }
  }

  .container-hyperlink {
    padding-top: 32px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 128px;
    }
  }
}
