section.sdk-components-builder {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  .content {
    h2 {
      @media (min-width: 1200px) {
        width: 92%;
      }
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
        width: 95%;
      }

      @media (min-width: 1200px) {
        width: 93%;
      }
    }
  }

  .sdk-components-builder-visual {
    padding-top: 48px;

    @media (min-width: 992px) {
      padding-top: 92px;
    }
  }

  .sdk-features {
    padding-top: 24px;

    @media (min-width: 992px) {
      padding-top: 80px;
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (max-width: 575px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }
}
