section.sdk-components-hero {
  color: $text-white;
  background: $palette-black;

  .container {
    padding-top: 40px;

    @media (min-width: 576px) {
      background-image: url(../images/sdk-components/hero.svg);
      background-size: 160px auto;
      background-position: right 8px bottom 80px;
      background-repeat: no-repeat;
    }

    @media (min-width: 768px) {
      background-size: 230px auto;
      background-position: right 24px bottom 140px;
    }

    @media (min-width: 992px) {
      padding-top: 80px;
      background-size: 369px auto;
      background-position: right 8px bottom 166px;
    }

    @media (min-width: 1200px) {
      padding-top: 120px;
      background-size: 540px auto;
      background-position: right 8px bottom 168px;
    }
  }

  h1 {
    font-size: 40px;
    line-height: 1em;
    letter-spacing: -2px;

    @media (min-width: 768px) {
      font-size: 56px;
    }

    @media (min-width: 992px) {
      font-size: 80px;
      letter-spacing: -4px;
    }

    @media (min-width: 1200px) {
      font-size: 120px;
      letter-spacing: -6px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    padding-top: 24px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 32px;
      padding-bottom: 64px;
      width: 88%;
    }

    @media (min-width: 1200px) {
      padding-bottom: 64px;
      width: 100%;
    }
  }

  small {
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: $text-white-48;
    padding-top: 40px;
    padding-bottom: 24px;

    a {
      color: $text-white-48;
    }

    @media (min-width: 576px) {
      width: 60%;
    }

    @media (min-width: 768px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      width: 100%;
      padding-top: 64px;
      padding-bottom: 32px;
    }

    @media (min-width: 1200px) {
      padding-top: 96px;
    }
  }

  .sdk-components-hero-logos {
    padding-bottom: 24px;

    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    @media (min-width: 992px) {
      padding-bottom: 32px;
    }
  }
}

section.sdk-components-anchors {
  .container {
    display: none;
    padding-top: 40px;

    @media (min-width: 768px) {
      display: block;
      padding-top: 56px;
    }

    .row {
      text-align: center;
      display: flex;
      justify-content: center;

      ul.anchors-icons {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
