section.sdk-components-runners {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  .content {
    h2 {
      @media (min-width: 1200px) {
        width: 92%;
      }
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
        width: 97%;
      }

      @media (min-width: 1200px) {
        width: 95%;
      }
    }
  }

  .sdk-carousel-runners-buttons {
    display: flex;
    justify-content: center;
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 48px;
    }
  }

  .carousel-slides {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .sdk-features {
    padding-top: 24px;

    @media (min-width: 992px) {
      padding-top: 80px;
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }
}
