section.subscribe-form {
  .shape-before {
    &:before {
      @include shape(circle, $palette-red);
      @include shape-xs(64px, -8%, auto, auto, 20%);
      @include shape-md(64px, -4%, auto, auto, 25%);
      @include shape-lg(128px, -15%, auto, auto, 30%);
      @include shape-xl(128px, -10%, auto, auto, 30%);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(100px, auto, 10%, 5%, auto);
      @include shape-sm(100px, auto, 10%, 5%, auto);
      @include shape-md(100px, auto, -10%, 0%, auto);
      @include shape-lg(200px, auto, -20%, 0%, auto);
      @include shape-xl(200px, auto, -20%, 0%, auto);
    }
  }
}
