section.sdk-index-components {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 40px;
    padding-bottom: 80px;

    @media (min-width: 768px) {
      padding-top: 80px;
    }

    @media (min-width: 992px) {
      padding-bottom: 120px;
    }

    @media (min-width: 1200px) {
      padding-top: 120px;
    }
  }

  .sdk-index-components-intro {
    justify-content: center;
    text-align: center;

    small {
      display: block;
      font-family: $font-secondary;
      font-size: 16px;
      color: $text-red;
      line-height: 1em;
      transform: rotate(-1deg);
      margin-bottom: 8px;

      @media (min-width: 576px) {
        font-size: 20px;
      }

      @media (min-width: 768px) {
        font-size: 26px;
      }

      @media (min-width: 992px) {
        font-size: 30px;
        letter-spacing: -1.5px;
        margin-bottom: 16px;
      }
    }

    p {
      padding-top: 16px;
      padding-bottom: 48px;

      @media (min-width: 992px) {
        width: 98%;
        padding-left: 1%;
      }

      @media (min-width: 1200px) {
        width: 96%;
        padding-left: 2%;
      }
    }
  }

  .sdk-carousel-components-buttons {
    display: flex;
    justify-content: center;
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 48px;
    }
  }

  .carousel-slides {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .sdk-index-components-fortune-500 {
    padding-top: 48px;

    @media (min-width: 992px) {
      padding-top: 96px;
    }

    .frame {
      p {
        @media (min-width: 992px) {
          width: 68%;
        }

        @media (min-width: 1200px) {
          width: 55%;
        }
      }
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }
}
