section.sdk-index-hero {
  color: $text-white;
  background-color: $palette-sdk;
  background-image: linear-gradient(90deg, $palette-sdk 50%, $palette-main 50%);

  .sdk-index-hero-background {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 576px) {
      background-image: url(../images/sdk-index/hero.svg);
      background-size: 120px auto;
      background-position: right 12px bottom;
      background-repeat: no-repeat;
    }

    @media (min-width: 768px) {
      background-size: 240px auto;
    }

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 80px;
      background-size: 360px auto;
      background-position: right 48px bottom;
    }

    @media (min-width: 1200px) {
      padding-top: 96px;
      padding-bottom: 100px;
      background-size: 540px auto;
      background-position: right 24px bottom;
    }
  }

  .container {
    background: linear-gradient(72deg, $palette-sdk 50%, $palette-main 50%);

    @media (min-width: 576px) {
      background: linear-gradient(
        72deg,
        $palette-sdk 355px,
        $palette-main 355px
      );
    }

    @media (min-width: 768px) {
      background: linear-gradient(
        72deg,
        $palette-sdk 474px,
        $palette-main 474px
      );
    }

    @media (min-width: 992px) {
      background: linear-gradient(
        72deg,
        $palette-sdk 585px,
        $palette-main 585px
      );
    }

    @media (min-width: 1200px) {
      background: linear-gradient(
        72deg,
        $palette-sdk 675px,
        $palette-main 675px
      );
    }
  }

  .sdk-logos {
    padding-bottom: 24px;

    @media (min-width: 992px) {
      padding-bottom: 36px;
    }
  }

  h1 {
    font-size: 40px;
    line-height: 1em;
    letter-spacing: -2px;

    @media (min-width: 576px) {
      background: linear-gradient(72deg, #fff 255px, $palette-sdk 255px);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }

    @media (min-width: 768px) {
      font-size: 56px;
      width: 96%;
      background: linear-gradient(72deg, #fff 372px, $palette-sdk 372px);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }

    @media (min-width: 992px) {
      font-size: 72px;
      letter-spacing: -4px;
      width: 100%;
      background: linear-gradient(72deg, #fff 448px, $palette-sdk 448px);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }

    @media (min-width: 1200px) {
      font-size: 80px;
      width: 94%;
      background: linear-gradient(72deg, #fff 522px, $palette-sdk 522px);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }

  p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    padding-top: 24px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
      width: 96%;
    }

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 36px;
      padding-bottom: 64px;
    }

    @media (min-width: 1200px) {
      padding-bottom: 96px;
    }
  }
}
