section.sdk-index-implementation {
  border-bottom: 1px solid $splitter;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  .content {
    h2 {
      @media (min-width: 1200px) {
        width: 92%;
      }
    }

    p {
      padding-top: 32px;

      @media (min-width: 768px) {
        width: 94%;
      }

      @media (min-width: 992px) {
        padding-top: 48px;
      }

      @media (min-width: 1200px) {
        width: 100%;
      }
    }
  }

  .sdk-index-implementation-visual {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    .sdk-index-implementation-visual-top {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin-bottom: 8px;

      @media (min-width: 576px) {
        margin-bottom: 16px;
      }

      @media (min-width: 992px) {
        margin-bottom: 24px;
      }
    }

    .sdk-index-implementation-visual-bottom {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 20px;

      @media (min-width: 576px) {
        margin-left: 40px;
      }
    }

    .sdk-index-implementation-option {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.2s ease-out;
      padding: 24px;

      @media (min-width: 992px) {
        padding: 48px;
      }

      &:hover {
        transform: scale(1.03);
      }

      &.sdk-index-implementation-javascript {
        background-color: #f0db4e;
        border-radius: 32px 32px 4px 32px;
        margin-right: 8px;

        @media (min-width: 576px) {
          border-radius: 64px 64px 8px 64px;
          margin-right: 16px;
        }

        @media (min-width: 992px) {
          margin-right: 24px;
        }

        svg {
          width: 100px;
          height: 100px;

          @media (min-width: 576px) {
            width: 180px;
            height: 180px;
          }

          @media (min-width: 992px) {
            width: 264px;
            height: 264px;
          }
        }
      }

      &.sdk-index-implementation-react {
        background-color: #222;
        border-radius: 28px 28px 28px 4px;

        @media (min-width: 576px) {
          border-radius: 48px 48px 48px 8px;
        }

        svg {
          width: 80px;
          height: 80px;

          @media (min-width: 576px) {
            width: 140px;
            height: 140px;
          }

          @media (min-width: 992px) {
            width: 224px;
            height: 224px;
          }
        }
      }

      &.sdk-index-implementation-angular {
        background-color: #eff2f6;
        border-radius: 28px 4px 28px 28px;
        margin-right: 8px;

        @media (min-width: 576px) {
          border-radius: 48px 8px 48px 48px;
          margin-right: 16px;
        }

        @media (min-width: 992px) {
          margin-right: 24px;
        }

        svg {
          width: 80px;
          height: 80px;

          @media (min-width: 576px) {
            width: 140px;
            height: 140px;
          }

          @media (min-width: 992px) {
            width: 224px;
            height: 224px;
          }
        }
      }

      &.sdk-index-implementation-html5 {
        background-color: #fa8846;
        border-radius: 4px 24px 24px 24px;

        @media (min-width: 576px) {
          border-radius: 8px 32px 32px 32px;
        }

        svg {
          width: 64px;
          height: 64px;

          @media (min-width: 576px) {
            width: 120px;
            height: 120px;
          }

          @media (min-width: 992px) {
            width: 168px;
            height: 168px;
          }
        }
      }
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .sdk-index-implementation-languages {
    .col-6 {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;

      p {
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: -0.2px;
        margin-bottom: auto;
        padding-top: 32px;

        @media (min-width: 992px) {
          font-size: 18px;
          padding-top: 48px;
        }
      }

      .hyperlink {
        margin-top: 16px;

        @media (min-width: 992px) {
          margin-top: 32px;
        }
      }
    }
  }

  .sdk-index-implementation-typescript {
    padding-top: 48px;

    @media (min-width: 992px) {
      padding-top: 96px;
    }
  }
}
