section.sdk-index-mosaic {
  .container-content {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 128px;
    }

    p {
      padding-top: 32px;

      @media (min-width: 768px) {
        width: 96%;
      }

      @media (min-width: 992px) {
        padding-top: 48px;
      }

      @media (min-width: 1200px) {
        width: 94%;
      }
    }
  }

  .container-mosaic {
    padding-top: 48px;

    @media (min-width: 992px) {
      padding-top: 72px;
    }
  }

  .container-hyperlink {
    padding-top: 32px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 128px;
    }
  }
}
